<%
=begin
	params: @position
=end
%>

<section class="heading">
	<h3 class="title">
		<%= @position.real_estate.block_group.display_name %>
		<span class="sub">
			Mã <%= @position.label %>
		</span>
		<span class="sub">
			<%= @position.real_estate.block_floor.display_name %>
		</span>
	</h3>
</section>

<section class="body">

	<%
		# Register info
		if signed?
			register_info = ContactRequest.where(user_type: 'user', user_id: current_user.id, request_type: 'register', object_type: 'real_estates/floor', object_id: @position.id).first_or_initialize request_type: 'register', object_type: 'real_estates/floor', object_id: @position.id
		else
			register_info = ContactRequest.new request_type: 'register', object_type: 'real_estates/floor', object_id: @position.id
		end
	%>
	<% if signed? %>
		<article class="register-button">
			<a aria-click="register" data-value="<%= register_info.to_json only: [:id, :request_type, :object_type, :object_id, :message] %>">
				<% if register_info.new_record? %>
					Đăng ký sản phẩm
				<% else %>
					Đã đăng ký sản phẩm
				<% end %>
			</a>
		</article>
	<% end %>

	<article class="info list">
		<% if @position.floor.present? %>
			<article class="list-item">
				<span class="text">Sàn</span>
				<span class="value"><%= @position.floor %></span>
			</article>
		<% end %>
		<% if @position.real_estate.bedroom_number.present? %>
			<article class="list-item">
				<span class="text">Phòng ngủ</span>
				<span class="value"><%= @position.real_estate.bedroom_number %></span>
			</article>
		<% end %>
		<% if @position.real_estate.restroom_number.present? %>
			<article class="list-item">
				<span class="text">Phòng tắm</span>
				<span class="value"><%= @position.real_estate.restroom_number %></span>
			</article>
		<% end %>
		<% if @position.real_estate.campus_area.present? %>
			<article class="list-item">
				<span class="text">Diện tích</span>
				<span class="value"><%= @position.real_estate.campus_area %>m<sup>2</sup></span>
			</article>
		<% end %>
		<% if @position.real_estate.direction_id.present? %>
			<article class="list-item">
				<span class="text">Hướng</span>
				<span class="value"><%= t "direction.text.#{@position.real_estate.direction.name}" %></span>
			</article>
		<% end %>
		<% if @position.display_sell_price.present? %>
			<article class="list-item">
				<span class="text">Giá bán</span>
				<span class="value sell-price-text"><%= @position.display_sell_price %></span>
			</article>
		<% end %>
		<% if @position.display_rent_price.present? %>
			<article class="list-item">
				<span class="text">Giá thuê</span>
				<span class="value rent-price-text"><%= @position.display_rent_price %></span>
			</article>
		<% end %>
	</article>

	<article class="info">
		Các sản phẩm cùng nhóm
		<ul>
			<% @position.real_estate.block_group.real_estates.each do |re| %>
				<%
					next if re.id == @position.real_estate.id
				%>
				<li>
					<a aria-click="interact" data-type="real_estate" data-value="<%= re.id %>"><%= re.short_label %></a>
				</li>
			<% end %>
		</ul>
	</article>

	<article class="info">
		Các sản phẩm cùng sàn
		<ul>
			<% @position.real_estate.block_floor.real_estates.each do |re| %>
				<%
					next if re.id == @position.real_estate.id
				%>
				<li>
					<a aria-click="interact" data-type="real_estate" data-value="<%= re.id %>"><%= re.short_label %></a>
				</li>
			<% end %>
		</ul>
	</article>

</section>