<p id="notice"><%= notice %></p>

<h1>Listing Real Estate Images</h1>

<table>
  <thead>
    <tr>
      <th>Real estate</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @real_estate_images.each do |real_estate_image| %>
      <tr>
        <td><%= real_estate_image.real_estate_id %></td>
        <td><%= real_estate_image.image_id %></td>
        <td><%= link_to 'Show', real_estate_image %></td>
        <td><%= link_to 'Edit', edit_real_estate_image_path(real_estate_image) %></td>
        <td><%= link_to 'Destroy', real_estate_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Real estate image', new_real_estate_image_path %>
