<%
=begin
	params: requests(*)
=end

%>

<% requests.each do |request| %>

	<tr>
		<td class="hightlight-cell"></td>
		<td class="type min-width-cell">
			<%= request.display_request_type %>
		</td>
		<td class="object min-width-cell">
			<% case request.object_type %>
			<% when 'real_estate' %>
				<% if request.real_estate.present? %>
					<a href="/bat-dong-san/<%= request.real_estate.full_slug %>"><%= request.real_estate.display_id %></a>
				<% end %>
			<% end %>
		</td>
		<td class="message">
			<%= request.message %>
		</td>
		<td class="user min-width-cell">
			<% case request.user_type %>
			<% when 'user' %>
				<% if request.user.present? %>
					<a href="javascript:" data-value="<%= request.user.id %>" data-type="user">
						<%= request.user.full_name %>
					</a>
				<% else %>
					Không có dữ liệu
				<% end %>
			<% when 'contact_user' %>
				<% if request.contact_user.present? %>
					<a href="javascript:" data-value="<%= request.contact_user.id %>" data-type="contact_user">
						<%= request.contact_user.name || request.contact_user.email %>
					</a>
				<% else %>
					Không có dữ liệu
				<% end %>
			<% else %>
				Không có dữ liệu
			<% end %>
		</td>
		<td class="min-width-cell">
			<span aria-time="<%= request.created_at %>"></span>
		</td>
	</tr>
	<tr>
		<td class="status" colspan="3">
			<select class="form-control" name="request[status]">
				<option value="" hidden>Chưa xác định</option>
				<option value="1" <%= 'selected' if request.status == 1 %>>Chờ liên hệ</option>
				<option value="2" <%= 'selected' if request.status == 2 %>>Chờ liên hệ lại</option>
				<option value="3" <%= 'selected' if request.status == 3 %>>Bỏ qua</option>
				<option value="4" <%= 'selected' if request.status == 4 %>>Đã liên hệ</option>
			</select>
		</td>
		<td class="note" colspan="2">
			<textarea class="form-control" style="height: 34px; resize: vertical;" name="request[note]"><%= request.note %></textarea>
		</td>
		<td class="min-width-cell">
			<input type="hidden" name="request[id]" value="<%= request.id %>" />
			<button type="submit" class="btn btn-default btn-flat btn-block">
				Cập nhật
			</button>
		</td>
	</tr>

<% end %>