<% res.each do |re| %>
  <tr data-value="<%= re.id %>">
    <td>
      <a class="view" href="/real_estates/<%= re.id %>">
        <div><span class="label label-primary"><%= ApplicationHelper.id_format re.id, 'RE'%></span></div>                
        <%= real_estate_avatar re %>
      </a>
    </td>
    <td><%= re.title %></td>
    <td><%= t 'purpose.name.' + re.purpose.name unless re.purpose.nil? %></td>
    <td><%= t 'real_estate_type.name.' + re.real_estate_type.name unless re.real_estate_type.nil? %></td>
    <% 
      info = re.appraisal_companies_real_estates.where(appraisal_company_id: AppraisalCompany.current.id).first
    %>
    <td aria-object="sell_price"><%= info.sell_price unless info.nil? %></td>
    <td aria-object="rent_price"><%= info.rent_price unless info.nil? %></td>
    <td>
      <div class="dropdown">
        <button id="drop_down_button_<%= re.id %>" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          <%= t 'real_estate.view.pending.control' %>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop_down_button_<%= re.id %>">
          <li role="presentation">
            <a data-type="<%= re.purpose.code %>" aria-click="appraise" href="javascript:void(0)"><%= t 'appraisal_company.view.appraise.appraise' %></a>
          </li>
          <li role="presentation">
            <a aria-click="report" href="javascript:void(0)"><%= t 'appraisal_company.view.appraise.report' %></a>
          </li>
          <li role="presentation">
            <a aria-click="deny" href="javascript:void(0)"><%= t 'appraisal_company.view.appraise.deny' %></a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>