<%
=begin
	params: blogs
=end
%>

<% blogs.each do |blog| %>
	<tr>
		<td>
			<%= blog.title %>
		</td>
		<td>
			<%= blog.category.display_name %>
		</td>
		<td>
			<span aria-time="<%= blog.created_at %>"></span>
		</td>
		<td>
			<a class="btn btn-default" href="<%= edit_blog_path blog %>">
				<%= t 'global.text.edit' %>
			</a>
		</td>
	</tr>
<% end %>