<% content_for :stylesheets do %>
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/blogs/edit.js"></script>
<% end %>

<% 
=begin
	params: @blog
=end

	@_title				= 
	@_content_header 	=	t '.page_title'
%>

<%= form_for(
	@blog,
	url: 			'/blogs/edit/' + @blog.id.to_s,
	method: 		'POST',
	html: 			{
						id: 		'blog_form',
						class: 		'form'
					}
) do |f| %>

	<div class="box box-primary">
		<div class="box-body">
			<%= f.field(
				'text',
				:title,
				{
					'data-constraint':	'required'
				},
				{
					label:		Blog.i18n_attribute('title')
				}
			) %>
			<%= f.field(
				'editor',
				:content,
				{
					'data-constraint':	'required',
					'data-editor-extra-plugins': 'font,uploadimage,filebrowser,image2,youtube'
				},
				{
					label:		Blog.i18n_attribute('content')
				}
			) %>
			<%= f.field(
				'select',
				:category_id,
				{},
				{
					label:					Blog.i18n_attribute('category'),
					select_options_list:	BlogCategory.all.map do |cat|
												[
													cat.name,
													cat.id
												]
											end
				}
			) %>
			<%= f.field(
				'autocomplete',
				:relative_re_ids,
				{
					multiple: 			true,
					'data-url': 		'/real_estates/get_by_keyword'
				},
				{
					label: 				Blog.i18n_attribute('relative_res'),
					text_method:		lambda { |re| "[#{re.display_id}] #{re.title}" }
				}
			) %>
			<%= f.field(
				'tags',
				:tags,
				{},
				{
					label:		Blog.i18n_attribute('tags')
				}
			) %>
			<%= f.field(
				'image',
				:image
			) %>
		</div>
		<div class="box-footer text-center">
			<%= f.submit t('global.text.submit'), class: 'btn btn-primary' %>
		</div>
	</div>

<% end %>