<p id="notice"><%= notice %></p>

<h1>Listing Property Utilities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @property_utilities.each do |property_utility| %>
      <tr>
        <td><%= property_utility.name %></td>
        <td><%= property_utility.code %></td>
        <td><%= property_utility.options %></td>
        <td><%= link_to 'Show', property_utility %></td>
        <td><%= link_to 'Edit', edit_property_utility_path(property_utility) %></td>
        <td><%= link_to 'Destroy', property_utility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property utility', new_property_utility_path %>
