<%
=begin
	params: mail
=end
	
	scope = 'mails._form.'

	mail ||= SystemMail.new
%>

<%= form_for(
	mail,
	url: 		'/mails/save',
	method: 	'POST',
	as: 		'mail',
	html: 		{
					class: 	'form box box-primary'
				}
) do |f| %>
	<div class="box-header with-border">
		<h2 class="box-title">
			<% if mail.reply_id.present? %>
				<%= t scope + 'reply' %>
			<% else %>
				<%= t scope + 'compose' %>
			<% end %>
		</h2>
	</div>
	<div class="box-body">
		<% if mail.reply_id.present? %>
			<p>
				<b><%= t scope + 'from' %>:</b>
				<% case mail.replied_mail.sender_type %>
				<% when 'user' %>
					<%= mail.replied_mail.sender.full_name %>
				<% when 'contact_user' %>
					<%= mail.replied_mail.contact_sender.name %>
				<% end %>
			</p>
			<%= f.field(
				'hidden',
				:reply_id
			) %>
			<%= fields_for(
				'mail[receivers_attributes][]',
				SystemMailReceiver.new({
					receiver_type: mail.replied_mail.sender_type,
					receiver_id: mail.replied_mail.sender_id
				})
			) do |receiver_form| %>
				<%= receiver_form.field(
					'hidden',
					'receiver_type'
				) %>
				<%= receiver_form.field(
					'hidden',
					'receiver_id'
				) %>
			<% end %>
		<% else %>
			<%= f.field(
				'autocomplete',
				:receiver_ids,
				{
					multiple: 				true,
					'data-url': 			'/users/autocomplete',
					placeholder: 			t(scope + 'receiver_placeholder'),
					'data-constraint': 		'required',
					'data-default_except': 	(current_user_type == 'user' ? current_user_id : '')
				}
			) %>
		<% end %>
		<%= f.field(
			'text',
			:subject,
			placeholder: 		t(scope + 'subject_placeholder'),
			'data-constraint': 	'required'
		) %>
		<%= f.field(
			'textarea',
			:content,
			placeholder: 		t(scope + 'content_placeholder'),
			rows: 				5,
			'data-constraint': 	'required'
		) %>
	</div>
	<div class="box-footer text-right">
		<button type="button" class="btn btn-default" aria-click="close-popup"><%= t 'global.text.close' %></button>
		<button type="submit" class="btn btn-primary"><%= t 'global.text.send' %></button>
	</div>
<% end %>