<%
=begin
	params: mail
=end
	mail ||= SystemMail.new
%>

<%= form_for(
	mail,
	url: 		'/mails/save',
	method: 	'POST',
	as: 		'mail',
	html: 		{
					class: 	'form box box-primary'
				}
) do |f| %>
	<div class="box-header with-border">
		<h2 class="box-title">
			<% if mail.reply_id.present? %>
				Trả lời thư
			<% else %>
				Soạn thư
			<% end %>
		</h2>
	</div>
	<div class="box-body">
		<% if mail.reply_id.present? %>
			<%= f.field(
				'hidden',
				:reply_id
			) %>
			<%= fields_for(
				'mail[receivers_attributes][]',
				SystemMailReceiver.new({
					receiver_type: mail.replied_mail.sender_type,
					receiver_id: mail.replied_mail.sender_id
				})
			) do |receiver_form| %>
				<%= receiver_form.field(
					'hidden',
					'receiver_type'
				) %>
				<%= receiver_form.field(
					'hidden',
					'receiver_id'
				) %>
			<% end %>
		<% else %>
			<%= f.field(
				'autocomplete',
				:receiver_ids,
				{
					multiple: 			true,
					'data-url': 		'/users/autocomplete',
					placeholder: 		'Người nhận',
					'data-constraint': 	'required'
				}
			) %>
		<% end %>
		<%= f.field(
			'text',
			:subject,
			placeholder: 		'Chủ đề',
			'data-constraint': 	'required'
		) %>
		<%= f.field(
			'textarea',
			:content,
			placeholder: 		'Nội dung',
			rows: 				5,
			'data-constraint': 	'required'
		) %>
	</div>
	<div class="box-footer text-right">
		<button type="button" class="btn btn-default" aria-click="close-popup">Đóng</button>
		<button type="submit" class="btn btn-primary">Gửi</button>
	</div>
<% end %>