<%
=begin
	mail
=end
	scope = 'mails._view.'

	can_reply = mail.sender_id != current_user_id || mail.sender_type != current_user_type
%>

<div class="box box-primary">
	<div class="box-body no-padding">
		<div class="mailbox-read-info">
			<h3>
				<%= mail.subject %>
			</h3>
			<h5>
				<% if mail.sender_id != current_user_id || mail.sender_type != current_user_type %>
					<%= t scope + 'from' %>: <%= case mail.sender_type
					when 'user'
						mail.sender.full_name + " <#{mail.sender.email}>"
					when 'contact_user'
						mail.contact_sender.name + " <#{mail.contact_sender.email}>"
					end %>
				<% else %>
					<%= mail.receivers.map{ |receiver|
						case receiver.receiver_type
						when 'user'
							receiver.receiver.full_name + " <#{receiver.receiver.email}>"
						when 'contact_user'
							receiver.contact_receiver.name + " <#{receiver.contact_receiver.email}>"
						end
					}.join(', ') %>
				<% end %>
				<span class="mailbox-read-time pull-right" aria-titme="<%= mail.created_at %>"></span>
			</h5>
		</div>
		<div class="mailbox-controls with-border text-center">
			<button data-action="delete" type="button" class="btn btn-default btn-sm" title="<%= t scope + 'delete' %>"><i class="fa fa-trash-o"></i></button>
			<% if can_reply %>
				<button data-action="reply" type="button" class="btn btn-default btn-sm" title="<%= t scope + 'reply' %>"><i class="fa fa-reply"></i></button>
			<% end %>
		</div>
		<div class="mailbox-read-message">
			<%= mail.content %>
		</div>
	</div>
	<div class="box-footer">
		<% if can_reply %>
			<div class="pull-right">
				<button data-action="reply" type="button" class="btn btn-default"><i class="fa fa-reply"></i> <%= t scope + 'reply' %></button>
			</div>
		<% end %>
		<button data-action="delete" type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> <%= t scope + 'delete' %></button>
	</div>
</div>