<% users.each do |user| %>
  <article class="col-lg-3 col-md-4 col-ss-6 no-padding">
    <a class="item" href="/users/<%= user.id %>" target="_blank">
      <section class="avatar-panel">
        <%= user_avatar user, style: 'thumb' %>
      </section>
      <section class="info-panel">
        <article class="name info">
          <%= user.full_name %>
        </article>
        <article class="info">
          <%= user.last_interact_at.strftime '%d/%m/%Y %H:%M' %>
        </article>
        <article class="info">
          Số BĐS/dự án: <b><%= user.real_estate_count %></b>/<b><%= user.project_count %></b>
        </article>
      </section>
    </a>
  </article>
<% end %>