<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/users/create.js"></script>
<% end %>

<% 
=begin
	params: @user
=end

    breadcrumb = []
    if @user.new_record?
        breadcrumb <<   {
                            text: t('.page_title.create')
                        }
    else
        breadcrumb <<   {
                            text: @user.full_name,
                            url: view_user_path(@user)
                        }
        breadcrumb <<   {
                            text: t('.page_title.edit')
                        }
    end
    @_main_navigator = {
        list: breadcrumb
    }

    @_hide_search_box = true
%>

<div class="container">
    <%= form_for(
        @user,
        url:    '/users/save/',
        method: 'POST',
        html:   {
                    id:     'user_form',
                    class:  'form'
                }
    ) do |f| %>
        <%= f.field('hidden', :id) %>
        <div class="container-box container-box-transparent">
            <div class="container-box-header">
                <h2 class="container-box-title">
                    <%= breadcrumb.last[:text] %>
                </h2>
            </div>
            <div class="container-box-body">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-form">
                            <div class="box-header">
                                <h3 class="box-title">
                                    <%= t '.account_box.box_title' %>
                                </h3>
                            </div>
                            <div class="box-body">
                                <% if @user.new_record? %>
                                    <!-- Full name -->
                                    <%= f.field(
                                        'text',
                                        :account,
                                        {
                                            title:          t('.account_box.full_name_title'),
                                            autofocus:      true,
                                            id:             'account'
                                        },
                                        {
                                            label:          User.human_attr('account'),
                                            require:        true,
                                            input_group:    {
                                                                left: '<i class="fa fa-user"></i>'
                                                            }
                                        }
                                    ) %>
                                    <!-- Password -->
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <%= f.field(
                                                'password',
                                                :password,
                                                {
                                                    title:  t('.account_box.password_title'),
                                                    id:     'password'
                                                },
                                                {
                                                    label:          User.human_attr('password'),
                                                    require:        true,
                                                    input_group:    {
                                                                        left: '<i class="fa fa-lock"></i>'
                                                                    }
                                                }
                                            ) %>
                                        </div>
                                        <div class="col-xs-12 col-md-6">
                                            <%= f.field(
                                                'password',
                                                :repeat_password,
                                                {
                                                    title:  t('.account_box.repeat_password_title'),
                                                    id:     'repeat_password'
                                                },
                                                {
                                                    label:          t('.account_box.repeat_password_label'),
                                                    require:        true,
                                                    input_group:    {
                                                                        left: '<i class="fa fa-lock"></i>'
                                                                    }
                                                }
                                            ) %>
                                        </div>
                                    </div>
                                <% elsif @user.provider.blank? %>
                                    <!-- Change password -->
                                    <div class="form-group">
                                        <button type="button" data-action="change_password" class="btn btn-block">
                                            <%= t '.account_box.change_password' %>
                                        </button>
                                    </div>
                                <% end %>
                                <!-- Full name -->
                                <%= f.field(
                                    'text',
                                    :full_name,
                                    {
                                        title:          t('.account_box.full_name_title'),
                                    },
                                    {
                                        label:          User.human_attr('full_name'),
                                        require:        true,
                                        input_group:    {
                                                            left: '<i class="fa fa-font"></i>'
                                                        }
                                    }
                                ) %>
                                <!-- Email -->
                                <% if @user.provider.blank? %>
                                    <%
                                        input_options = {
                                            title:  t('.account_box.email_title'),
                                            id:     'email'
                                        }
                                        input_params = {
                                            label:          User.human_attr('email'),
                                            require:        true,
                                            input_group:    {
                                                                left: '<i class="fa fa-envelope"></i>'
                                                            }
                                        }

                                        if !@user.new_record?
                                            input_options[:title] = t('.account_box.change_email_title')
                                        elsif left_contact?
                                            input_options[:value] = current_left_contact.email
                                        end
                                    %>
                                    <% if @user.active_status == 2 || @user.active_status == 3 %>
                                        <%
                                            input_params[:wrapper] ||= {
                                                attributes: 'style="display: none" data-name="email"',
                                            }
                                        %>
                                        <article class="form-group">
                                            <p>
                                                <%= t(
                                                    '.account_box.active_email_alert', 
                                                    new_email: @user.params['new_email'],
                                                    active_email: @user.active_status == 2 ? @user.email : @user.params['new_email']
                                                ) %>
                                            </p>
                                            <p class="text-center">
                                                <a href="/users/resend_active_account/<%= @user.id %>" target="_blank" class="btn btn-default btn-flat"><%= t 'global.text.resend' %></a>
                                                <button data-action="cancel_change_mail" type="button" class="btn btn-default btn-flat"><%= t 'global.text.cancel' %></button>
                                            </p>
                                        </article>
                                    <% end %>

                                    <%= f.field(
                                        'email',
                                        :email,
                                        input_options,
                                        input_params
                                    ) %>
                                <% end %>
                                <!-- Phone number -->
                                <%
                                    input_options = {
                                        title:                  t('.account_box.phone_number_title'),
                                        :'data-constraint'  =>  'multi-phone'
                                    }
                                    if @user.new_record? && left_contact?
                                        input_options[:value] = current_left_contact.phone_number
                                    end
                                %>
                                <%= f.field(
                                    'text',
                                    :phone_number,
                                    input_options,
                                    {
                                        label:          User.human_attr('phone_number'),
                                        require:        true,
                                        input_group:    {
                                                            left: '<i class="fa fa-phone"></i>'
                                                        }
                                    }
                                ) %>
                            </div>
                            <div class="box-footer text-center hidden-xs hidden-sm">
                                <%= f.submit t('global.text.finish'),
                                    class:          'btn btn-green btn-large'
                                %>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="box box-form">
                            <div class="box-header">
                                <h3 class="box-title">
                                    <%= t '.addition_box.box_title' %>
                                </h3>
                            </div>
                            <div class="box-body">
                                <!-- Birthday -->
                                <%= f.field(
                                    'integer',
                                    :birthday,
                                    {
                                        title:      t('.addition_box.birthday_title'),
                                        value:      @user.birthday.present? ? @user.birthday.strftime('%Y') : nil,
                                    },
                                    {
                                        constraints:    {
                                                            range: {
                                                                min: 1900,
                                                                max: Date.today.strftime('%Y')
                                                            }
                                                        },
                                        label:          User.human_attr('birthday'),
                                        input_group:    {
                                                            left: '<i class="fa fa-calendar"></i>'
                                                        }
                                    }
                                ) %>
                                <!-- Business name -->
                                <%= f.field(
                                    'text',
                                    :business_name,
                                    {
                                        title:      t('.addition_box.business_name_title')
                                    },
                                    {
                                        label:          User.human_attr('business_name'),
                                        input_group:    {
                                                            left: '<i class="fa fa-group"></i>'
                                                        }
                                    }
                                ) %>
                                <!-- Address -->
                                <%= f.field(
                                    'textarea',
                                    :address,
                                    {
                                        title:      t('.addition_box.address_title')
                                    },
                                    {
                                        label:          User.human_attr('address'),
                                        input_group:    {
                                                            left: '<i class="fa fa-home"></i>'
                                                        }
                                    }
                                ) %>
                                <!-- Avatar -->
                                <%= f.field(
                                    'image',
                                    :avatar,
                                    {},
                                    {
                                        label:          User.human_attr('avatar'),
                                        ratio:          '1'
                                    }
                                ) %>
                            </div>
                            <div class="box-footer text-center hidden-md hidden-lg">
                                <%= f.submit t('global.text.finish'),
                                    class:          'btn btn-green btn-large'
                                %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>