<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/shared/form_back.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/cropper.min.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/shared/form_back.js"></script>
  <script type="text/javascript" src="/assets/users/create.js"></script>
	<script type="text/javascript" src="/assets/shared/cropper.min.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'user.view.create.page_title' %>
<% end %>

<% content_for :navigator do %>
  <li class="active"><%= t 'user.view.create.page_title' %></li>
<% end %>

<form class="row form" id="create_user" data-entertotab>
	<div class="col-md-6">
		<article class="box box-default">
			<section class="box-header with-border">
				<h2 class="box-title">
					<%= t 'user.attribute.account_box' %>
				</h2>
			</section>
			<section class="box-body">

				<!-- Account name -->

		    <article class="form-group">
		      <label for="account"><%= t 'user.attribute.account' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user"></i>
            </div>
            <input name="user[account]" data-constraint="required" type="text" class="form-control" id="account" />
          </div>
		    </article>

				<!-- / Account name -->

				<!-- Password -->

				<div class="row">
			    <article class="form-group col-md-6">
			      <label for="password"><%= t 'user.attribute.password' %></label>
			      <div class="input-group">
	            <div class="input-group-addon">
	              <i class="fa fa-lock"></i>
	            </div>
	            <input name="user[password]" data-constraint="required" class="form-control" type="password" id="password" />
	          </div>
			    </article>
			    <article class="form-group col-md-6">
			      <label for="repeat_password"><%= t 'user.view.create.repeat_password' %></label>
			      <div class="input-group">
	            <div class="input-group-addon">
	              <i class="fa fa-lock"></i>
	            </div>
	            <input name="repeat_password" data-constraint="required" class="form-control" type="password" id="repeat_password" />
	          </div>
			    </article>
				</div>

		    <!-- / Password -->

		    <!-- Email -->

		    <article class="form-group">
		      <label for="email"><%= t 'user.attribute.email' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-envelope"></i>
            </div>
            <input name="user[email]" data-constraint="required email" type="text" class="form-control" id="email" />
          </div>
		    </article>

		    <!-- / Email -->

		    <!-- Full name -->

		    <article class="form-group">
		      <label for="full_name"><%= t 'user.attribute.full_name' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-font"></i>
            </div>
            <input name="user[full_name]" data-constraint="required" type="text" class="form-control" id="full_name" />
          </div>
		    </article>

		    <!-- / Full name -->

		    <!-- Birthday -->

		    <article class="form-group">
		      <label for="birthday"><%= t 'user.attribute.birthday' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input name="user[birthday]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="birthday" />
          </div>
		    </article>

		    <!-- / Birthday -->

			</section>
		</article>	
	</div>

	<div class="col-md-12 hidden-md hidden-lg">

		<!-- Button -->

    <article class="box box-solid">
      <section class="box-body row">
        <div class="margin-top-bottom-5 col-md-12">
          <button type="submit" class="btn btn-default btn-block btn-flat"><%= t('user.view.create.half_finish').html_safe %></button>
        </div>
      </section>
    </article>

    <!-- /Button -->

	</div>

	<div class="col-md-6">
		<article class="box box-default">
			<section class="box-header with-border">
				<h2 class="box-title">
					<%= t 'user.view.create.addition_box' %>
				</h2>
			</section>
			<section class="box-body">

		    <!-- Bussiness name -->

		    <article class="form-group">
		      <label for="business_name"><%= t 'user.attribute.business_name' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-group"></i>
            </div>
            <input name="user[business_name]" type="text" class="form-control" id="business_name" />
          </div>
		    </article>

		    <!-- / Bussiness name -->

		    <!-- Phone number -->

		    <article class="form-group">
		      <label for="phone_number"><%= t 'user.attribute.phone_number' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-phone"></i>
            </div>
            <input name="user[phone_number]" data-constraint="integer" type="text" class="form-control" id="phone_number" />
          </div>
		    </article>

		    <!-- / Phone number -->

		    <!-- Address -->

		    <article class="form-group">
		      <label for="address"><%= t 'user.attribute.address' %></label>
		      <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-home"></i>
            </div>
            <textarea name="user[address]" class="form-control" id="address"></textarea>
          </div>
		    </article>

		    <!-- Address -->

		    <!-- Avatar -->

		    <article class="form-group">
		      <label><%= t 'user.attribute.avatar_image' %></label>
          <input name="user[avatar_image_id]" class="file-upload" type="file" data-type="jpg jpeg png" data-ratio="1" />
		    </article>

		    <!-- / Avatar -->

			</section>
		</article>	
	</div>

	<div class="col-md-12">

		<!-- Button -->

    <article class="box box-solid">
      <section class="box-body row">
        <div class="margin-top-bottom-5 col-md-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'user.view.create.finish' %></b></button>
        </div>
      </section>
    </article>

    <!-- /Button -->

	</div>
</form>