<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/users/view.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/shared/cropper.min.js"></script>
<% end %>

<% 
=begin
	params: @user
=end

	@title = @user.full_name 
%>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-0">
	<div class="box box-primary">
		<div class="box-body box-profile">
			<%= user_avatar @user, style: :thumb, style_class: 'profile-user-img img-responsive img-circle' %>

			<h3 class="profile-username text-center margin-bottom-15"><%= @user.full_name %></h3>

			<ul class="list-group list-group-unbordered">
				<li class="list-group-item clearfix">
					<b>Email</b> <span class="pull-right"><%= @user.email %></span>
				</li>
				<li class="list-group-item clearfix">
					<b>Phone</b> <span class="pull-right"><%= @user.phone_number %></span>
				</li>
				<li class="list-group-item clearfix">
					<b>Address</b> <span class="pull-right"><%= @user.address %></span>
				</li>
			</ul>

			<a href="<%= update_info_path %>" class="btn btn-primary btn-block"><b><%= t '.update_info' %></b></a>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="small-box bg-aqua">
				<% if current_user.id == @user.id %>
					<div class="inner">
						<span class="count"><%= RealEstate.my_search_with_params.count %></span>
						<p><%= t '.re_count' %></p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="<%= my_res_path %>" class="small-box-footer">
						<%= t '.view_all' %> <i class="fa fa-arrow-circle-right"></i>
					</a>
				<% else %>
					<div class="inner">
						<span class="count"><%= RealEstate.user_search_with_params('user', @user.id).count %></span>
						<p><%= t '.re_count' %></p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="<%= re_list_of_path user_id: @user.id %>" class="small-box-footer">
						<%= t '.view_all' %> <i class="fa fa-arrow-circle-right"></i>
					</a>
				<% end %>
			</div>
		</div>
		<% if current_user.id == @user.id %>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="small-box bg-purple">
					<div class="inner">
						<span class="count"><%= RealEstate.my_favorite_search_with_params.count %></span>
						<p><%= t '.favorite_re_count' %></p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="<%= my_favorite_res_path %>" class="small-box-footer">
						<%= t '.view_all' %> <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		<% end %>
	</div>
</div>