<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/users/view.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/shared/cropper.min.js"></script>
<% end %>

<% 
=begin
	params: @user
=end

	@title = @user.full_name 
%>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-sm-offset-3 col-md-offset-0">
	<div class="box box-primary">
		<div class="box-body box-profile">
			<%= user_avatar @user, style: :thumb, style_class: 'profile-user-img img-responsive img-circle' %>

			<h3 class="profile-username text-center margin-bottom-15"><%= @user.full_name %></h3>

			<ul class="list-group list-group-unbordered">
				<li class="list-group-item">
					<b>Email</b> <span class="pull-right"><%= @user.email %></span>
				</li>
				<li class="list-group-item">
					<b>Phone</b> <span class="pull-right"><%= @user.phone_number %></span>
				</li>
				<li class="list-group-item">
					<b>Address</b> <span class="pull-right"><%= @user.address %></span>
				</li>
			</ul>

			<a href="/users/create/<%= @user.id %>" class="btn btn-primary btn-block"><b>Cập nhật thông tin</b></a>
		</div>
	</div>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
			<div class="small-box bg-aqua">
				<% if current_user.id == @user.id %>
					<div class="inner">
						<span class="count"><%= RealEstate.my_search_with_params.count %></span>
						<p>Tin bất động sản</p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="/bat-dong-san/cua-toi" class="small-box-footer">
						Xem danh sách <i class="fa fa-arrow-circle-right"></i>
					</a>
				<% else %>
					<div class="inner">
						<span class="count"><%= RealEstate.user_search_with_params('user', @user.id).count %></span>
						<p>Tin bất động sản</p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="/bat-dong-san/cua-thanh-vien/<%= @user.id %>" class="small-box-footer">
						Xem danh sách <i class="fa fa-arrow-circle-right"></i>
					</a>
				<% end %>
			</div>
		</div>
		<% if current_user.id == @user.id %>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="small-box bg-purple">
					<div class="inner">
						<span class="count"><%= RealEstate.my_favorite_search_with_params.count %></span>
						<p>Tin BĐS đang quan tâm</p>
					</div>
					<div class="icon">
						<i class="ico-home"></i>
					</div>
					<a href="/bat-dong-san/quan-tam-cua-toi" class="small-box-footer">
						Xem danh sách <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
				<div class="small-box bg-orange">
					<div class="inner">
						<span class="count"><%= ContactRequest.my_request.count %></span>
						<p>Yêu cầu</p>
					</div>
					<div class="icon">
						<i class="ico-git-pull-request"></i>
					</div>
					<a href="/yeu-cau/cua-toi" class="small-box-footer">
						Xem danh sách <i class="fa fa-arrow-circle-right"></i>
					</a>
				</div>
			</div>
		<% end %>
	</div>
</div>