<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/users/view.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/shared/cropper.min.js"></script>
<% end %>

<% 
=begin
	params: @user
=end

	@title = @user.full_name 
%>

<div class="row">
	<article class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-ss-6 col-ss-offset-3">
		<div class="box box-widget widget-user">
		  <!-- Add the bg color to the header using any of the bg-* classes -->
		  <div class="widget-user-header bg-aqua-active">
		    <h3 class="widget-user-username"><%= @user.full_name %></h3>
		    <div class="widget-user-desc"><span class="fa fa-fw fa-envelope"></span> <%= @user.email %></div>
		    <% if @user.phone_number.present? %>
		    	<div class="widget-user-desc"><span class="fa fa-fw fa-phone"></span> <%= @user.phone_number %></div>
		    <% end %>
		    <% if @user.address.present? %>
		    	<div class="widget-user-desc"><span class="fa fa-fw fa-map-marker"></span> <%= @user.address %></div>
		    <% end %>
			  <div class="widget-user-image">
			  	<%= user_avatar @user, style: :thumb %>
			  </div>
		  </div>
		  <div class="box-footer">
		    <div class="row">
		      <div class="col-xs-6">
		        <div class="description-block">
		          <div class="description-header"><%= @user.real_estate_count %></div>
		          <span class="description-text">Bất động sản</span>
		        </div>
		      </div>
		      <div class="col-xs-6">
		        <div class="description-block">
		          <div class="description-header"><%= @user.project_count %></div>
		          <span class="description-text">Dự án</span>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="box-footer padding-10">
		  	<% if can? :edit, @user %>
		    	<a href="/users/create/<%= @user.id %>" class="btn btn-primary btn-block"><b>Cập nhật thông tin</b></a>
		    <% end %>
		  </div>
		</div>
	</article>
</div>