<%
=begin
	params: reg
=end
	scope = 'registrations._form.'
%>

<%= form_for(
	reg,
	url: 			"/registrations/create/#{reg.id}",
	method: 		'POST',
	html: 			{
						id: 		'register_form',
						class: 		'form box box-primary'
					}
) do |f| %>
	<%= f.field('hidden', :id) %>
	<section class="box-header with-border">
		<h2 class="box-title">
			<%= t scope + '.box_title' %>
		</h2>
	</section>
	<section class="box-body">
		<%= f.field(
			'select',
			:purpose_id,
			{
				class:		'form-control input-toggle'
			},
			{
				label: 					ReRegistration.i18n_attribute('purpose'),
				select_options_list: 	[
											[
												t('global.text.all'),
												'',
												{
													'data-on':	'sell rent'
												}
											]
										] +
										Purpose.all.map do |purpose|
											[
												purpose.display_name(true),
												purpose.id,
												case purpose.code
												when 'sell'
													{
														'data-on':	'sell',
														'data-off':	'rent'
													}
												when 'rent'
													{
														'data-on':	'rent',
														'data-off':	'sell'
													}
												when 'sell_rent'
													{
														'data-on':	'sell rent'
													}
												when 'transfer'
													{
														'data-on':	'rent',
														'data-off':	'sell'
													}
												end
											]
										end
			}
		) %>
		<%= f.field(
			'autocomplete',
			:real_estate_type_ids,
			{
				multiple: 			true,
				'data-url': 		'/real_estate_types/get_by_keyword',
				'data-init-values': RealEstateType.all.map do |type|
										[ type.id, type.display_name ]
									end.to_h.to_json,
				'data-value':		reg.real_estate_types.map do |type|
										{
											value:	type.id,
											text:	type.display_name
										}
									end.to_json
			},
			{
				label: 				ReRegistration.i18n_attribute('real_estate_type')
			}
		) %>
		<div class="row" data-toggled-element="sell">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'money',
					:min_sell_price,
					{},
					{
						label: 			ReRegistration.i18n_attribute('min_sell_price'),
						input_group:	{
											left: t('global.unit.range.from')
										}
					}
				) %>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'money',
					:max_sell_price,
					{},
					{
						label: 			ReRegistration.i18n_attribute('max_sell_price'),
						input_group:	{
											left: t('global.unit.range.to')
										}
					}
				) %>
			</div>
		</div>
		<div class="row" data-toggled-element="rent">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'money',
					:min_rent_price,
					{},
					{
						label: 			ReRegistration.i18n_attribute('min_rent_price'),
						input_group:	{
											left: t('global.unit.range.from')
										}
					}
				) %>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'money',
					:max_rent_price,
					{},
					{
						label: 			ReRegistration.i18n_attribute('max_rent_price'),
						input_group:	{
											left: t('global.unit.range.to')
										}
					}
				) %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'area',
					:min_area,
					{},
					{
						label: 			ReRegistration.i18n_attribute('min_area'),
						input_group:	{
											left: t('global.unit.range.from'),
											right: t('global.unit.square_meter_html')
										}
					}
				) %>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<%= f.field(
					'area',
					:max_area,
					{},
					{
						label: 			ReRegistration.i18n_attribute('max_area'),
						input_group:	{
											left: t('global.unit.range.to'),
											right: t('global.unit.square_meter_html')
										}
					}
				) %>
			</div>
		</div>
		<!-- Location -->

			<div>

				<%
					location_list = ''
				%>
				<% reg.locations.each do |location| %>
					<% location_list += f.fields_for :locations, location, index: nil do |l_f| %>
						<%
							address = []
							case location.object_type
							when 'province'
								address << location.province.name
							when 'district'
								address << location.district.name
								address << location.district.province.name
							when 'street'
								address << location.street.name
								address << location.street.district.name
								address << location.street.district.province.name
							end
							address = address.join ', '
						%>
						<article class="item" data-text="<%= address %>">
							<%= l_f.field(
								'hidden',
								:id
							) %>
							<span class="text"><%= address %></span>
							<a class="remove">×</a>
						</article>
					<% end %>
				<% end %>

				<!-- Template -->
				<%= f.field(
					'hidden',
					nil,
					{
						'data-name': 	"#{f.object_name}[new_locations][][type]",
						name: 			nil,
						value: 			nil,
						id: 			'type_input'
					}
				) %>
				<%= f.field(
					'hidden',
					nil,
					{
						'data-name': 	"#{f.object_name}[new_locations][][province]",
						name: 			nil,
						value: 			nil,
						id: 			'province_input'
					}
				) %>
				<%= f.field(
					'hidden',
					nil,
					{
						'data-name': 	"#{f.object_name}[new_locations][][district]",
						name: 			nil,
						value: 			nil,
						id: 			'district_input'
					}
				) %>
				<%= f.field(
					'hidden',
					nil,
					{
						'data-name': 	"#{f.object_name}[new_locations][][street]",
						name: 			nil,
						value: 			nil,
						id: 			'street_input'
					}
				) %>

				<%= f.field(
					'text',
					:locations,
					{
						'data-input-type'	=>	'location',
						value: 			nil,
						name: 			nil,
						id: 			'location_input',
						placeholder: 	''
					},
					{
						label: 			'Vị trí',
						label_for:		'location_input',
						before: 		'<section class="tags-ctn" id="locations_list">' + location_list + '</section>'
					}
				) %>					
			</div>
		
		<!-- / Location -->

		<div id="map" style="height: 300px" class="hidden"></div>
	</section>
	<!-- Contact info -->
		<% unless signed? %>
			<section class="box-header with-border">
				<h2 class="box-title">
					<%= t '.contact_box_title' %>
				</h2>
			</section>
			<section class="box-body">
				<%=
					fields_for(
						'contact_info',
						current_left_contact
					) do |contact_form|
				%>
					<%= contact_form.field(
						'text',
						:name,
						{},
						{
							label:  		t('.name_placeholder')
						}
					) %>

					<div class="row">
						<article class="col-xs-6">
							<%= contact_form.field(
								'email',
								:email,
								{},
								{
									label:  		t('.email_placeholder')
								}
							) %>
						</article>
						<article class="col-xs-6">
							<%= contact_form.field(
								'phone',
								:phone_number,
								{},
								{
									label:  		t('.phone_placeholder')
								}
							) %>
						</article>
					</div>
				<% end %>
			</section>
		<% end %>
	<!-- Contact info -->
	<section class="box-footer text-center">
		<%= f.submit t('global.text.finish'), class: 'btn btn-green btn-large' %>
	</section>
<% end %>