<!-- page, per, total -->
<%
	page ||= 1
	page = page.to_i
	page_count = (total + per - 1) / per

	return if page_count <= 1

	min_page = page - 3
	if min_page < 1
		min_page = 1
	end
	max_page = page + 3
	if max_page > page_count
		max_page = page_count
	end
%>

<nav class="paginator"><!--
	<% if min_page != 1 %>
		--><a aria-click="paging" data-page="<%= 1 %>"><%= t 'global.paginator.first' %></a><!--
	<% end %>
	<% (min_page..max_page).each do |i| %>
		<% if i == page %>
			--><a class="active"><%= i %></a><!--
		<% else %>
			--><a aria-click="paging" data-page="<%= i %>"><%= i %></a><!--
		<% end %>
	<% end %>
	<% if max_page != page_count %>
		--><a aria-click="paging" data-page="<%= page_count %>"><%= t 'global.paginator.last' %></a><!--
	<% end %>
--></nav>