<%
	search_scope = 'front_layout.'
	search_params = params[:search]
	search_params = {} if search_params.blank? || !search_params.is_a?(Hash)
%>
<article class="search-box-container">
	<div class="search-box">
		<h2 class="box-title">
			<span class="icon ico-search"></span><span class="text"><%= t search_scope + '.search_box.title' %></span>
		</h2>
		<section class="box-content">
			<form class="form" action="<%= search_res_path %>" method="get">
				<div class="row">
					<article class="form-group col-xs-12">
						<input
							class="form-control" 
							title="<%= t search_scope + 'search_box.keyword_title' %>" 
							name="search[keyword]" 
							placeholder="<%= t search_scope + 'search_box.keyword_placeholder' %>" 
							value="<%= search_params[:keyword] %>"
						/>
					</article>
					<%
						purposes = Purpose.all.map { |purpose|
							[
								purpose.display_name,
								purpose.id,
								case purpose.code
								when 'sell', 'sell_rent'
									{
										'data-on': 'sell',
										'data-off': 'rent'
									}
								when 'rent', 'transfer'
									{
										'data-on': 'rent',
										'data-off': 'sell'
									}
								end
							]
						}
					%>
					<article class="form-group col-xs-12 col-lg-6">
						<select 
							class="form-control input-toggle" 
							name="search[purpose]"
							title="<%= t search_scope + 'search_box.purpose_title' %>"
						>
							<option data-on="sell" data-off="rent" value="" hidden><%= Purpose.display_name %></option>
							<option data-on="sell" data-off="rent" value=""><%= t 'global.text.all' %></option>
							<%= options_for_select purposes, search_params[:purpose] %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<select
							class="form-control"
							name="search[real_estate_type]"
							title="<%= t search_scope + 'search_box.re_type_title' %>"
						>
							<option value="" hidden><%= RealEstateType.display_name %></option>
							<option value=""><%= t search_scope + 'search_box.all_types' %></option>
							<%= options_from_collection_for_select RealEstateType.all, :id, :display_name, search_params[:real_estate_type] %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<select
							class="form-control"
							name="search[province]"
							title="<%= t search_scope + 'search_box.province_title' %>"
						>
							<option value="" hidden><%= Province.display_name %></option>
							<option value=""><%= t search_scope + 'search_box.all_provinces' %></option>
							<%= options_from_collection_for_select Province.all, :id, :name, search_params[:province] %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<select
							class="form-control"
							name="search[district]"
							title="<%= t search_scope + 'search_box.district_title' %>"
							<%= 'disabled' if search_params[:province].blank? %>
						>
							<option value="" hidden><%= District.display_name %></option>
							<option value=""><%= t search_scope + 'search_box.all_districts' %></option>
							<% if search_params[:province].present? %>
								<%= options_from_collection_for_select District.where(province_id: search_params[:province]), :id, :name, search_params[:district] %>
							<% end %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<%
							prices = [
								[
									t(search_scope + 'search_box.from_billion', count: 1),
									1000
								],
								[
									t(search_scope + 'search_box.from_billion', count: 1.5),
									1500
								],
								[
									t(search_scope + 'search_box.from_billion', count: 2),
									2000
								],
								[
									t(search_scope + 'search_box.from_billion', count: 3),
									3000
								],
								[
									t(search_scope + 'search_box.from_billion', count: 5),
									5000
								],
								[
									t(search_scope + 'search_box.from_billion', count: 10),
									10000
								]
							]
						%>
						<select
							data-toggled-element="sell"
							class="form-control"
							name="search[price_from]"
							title="<%= t search_scope + 'search_box.from_price_title' %>"
						>
							<option value=""><%= t search_scope + 'search_box.from_price_text' %></option>
							<%= options_for_select prices, search_params[:price_from] %>
						</select>
						<%
							prices = [
								[
									t(search_scope + 'search_box.from_million', count: 1),
									1
								],
								[
									t(search_scope + 'search_box.from_million', count: 1.5),
									1.5
								],
								[
									t(search_scope + 'search_box.from_million', count: 2),
									2
								],
								[
									t(search_scope + 'search_box.from_million', count: 3),
									3
								],
								[
									t(search_scope + 'search_box.from_million', count: 5),
									5
								],
								[
									t(search_scope + 'search_box.from_million', count: 10),
									10
								]
							]
						%>
						<select
							data-toggled-element="rent"
							class="form-control"
							name="search[price_from]"
							title="<%= t search_scope + 'search_box.from_price_title' %>"
						>
							<option value=""><%= t search_scope + 'search_box.from_price_text' %></option>
							<%= options_for_select prices, search_params[:price_from] %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<%
							prices = [
								[
									t(search_scope + 'search_box.to_billion', count: 1),
									1000
								],
								[
									t(search_scope + 'search_box.to_billion', count: 1.5),
									1500
								],
								[
									t(search_scope + 'search_box.to_billion', count: 2),
									2000
								],
								[
									t(search_scope + 'search_box.to_billion', count: 3),
									3000
								],
								[
									t(search_scope + 'search_box.to_billion', count: 5),
									5000
								],
								[
									t(search_scope + 'search_box.to_billion', count: 10),
									10000
								]
							]
						%>
						<select 
							data-toggled-element="sell"
							class="form-control"
							name="search[price_to]"
							title="<%= t search_scope + 'search_box.to_price_title' %>"
						>
							<option value="" hidden><%= t search_scope + 'search_box.to_price_text' %></option>
							<%= options_for_select prices, search_params[:price_to] %>
							<option value=""><%= t search_scope + 'search_box.to_price_text' %></option>
						</select>
						<%
							prices = [
								[
									t(search_scope + 'search_box.to_million', count: 1),
									1
								],
								[
									t(search_scope + 'search_box.to_million', count: 1.5),
									1.5
								],
								[
									t(search_scope + 'search_box.to_million', count: 2),
									2
								],
								[
									t(search_scope + 'search_box.to_million', count: 3),
									3
								],
								[
									t(search_scope + 'search_box.to_million', count: 5),
									5
								],
								[
									t(search_scope + 'search_box.to_million', count: 10),
									10
								]
							]
						%>
						<select
							data-toggled-element="rent"
							class="form-control"
							name="search[price_to]"
							title="<%= t search_scope + 'search_box.to_price_title' %>"
						>
							<option value="" hidden><%= t search_scope + 'search_box.to_price_text' %></option>
							<%= options_for_select prices, search_params[:price_to] %>
							<option value=""><%= t search_scope + 'search_box.to_price_text' %></option>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<%
							areas = [
								[
									t(search_scope + 'search_box.from_square_meter', count: 50),
									50
								],
								[
									t(search_scope + 'search_box.from_square_meter', count: 100),
									100
								],
								[
									t(search_scope + 'search_box.from_square_meter', count: 150),
									150
								],
								[
									t(search_scope + 'search_box.from_square_meter', count: 200),
									200
								],
								[
									t(search_scope + 'search_box.from_square_meter', count: 300),
									300
								],
								[
									t(search_scope + 'search_box.from_square_meter', count: 500),
									500
								]
							]
						%>
						<select
							class="form-control"
							name="search[area_from]"
							title="<%= t search_scope + 'search_box.from_area_title' %>"
						>
							<option value=""><%= t search_scope + 'search_box.from_area_text' %></option>
							<%= options_for_select areas, search_params[:area_from] %>
						</select>
					</article>
					<article class="form-group col-xs-12 col-lg-6">
						<%
							areas = [
								[
									t(search_scope + 'search_box.to_square_meter', count: 50),
									50
								],
								[
									t(search_scope + 'search_box.to_square_meter', count: 100),
									100
								],
								[
									t(search_scope + 'search_box.to_square_meter', count: 150),
									150
								],
								[
									t(search_scope + 'search_box.to_square_meter', count: 200),
									200
								],
								[
									t(search_scope + 'search_box.to_square_meter', count: 300),
									300
								],
								[
									t(search_scope + 'search_box.to_square_meter', count: 500),
									500
								]
							]
						%>
						<select
							class="form-control"
							name="search[area_to]"
							title="<%= t search_scope + 'search_box.to_area_title' %>"
						>
							<option value="" hidden><%= t search_scope + 'search_box.to_area_text' %></option>
							<%= options_for_select areas, search_params[:area_to] %>
							<option value=""><%= t search_scope + 'search_box.to_area_text' %></option>
						</select>
					</article>
				</div>
				<article class="text-center">
					<button type="submit" class="btn btn-green"><%= t 'global.text.view_result' %></button>
				</article>
			</form>
		</section>
	</div>
</article>