<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/home/index.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/Pe-icon-7-stroke.css">	
<% end %>

<% content_for :scripts do %>
	<script src="/assets/home/index.js"></script>
<% end %>

<% 
	per = get_value_by_width_type([1, 2, 3, 4]) 
%>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-rent"></i><span>Nhà Thuê</span></label>       
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start Interested Project -->
<section class="container block">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Dự án được quan tâm</span>
		</a>
	</article>
	<article class="content">
		<section class="slick project-is-interested">
			<div class="content">
				<% 
					projects = Project.search_with_params.random.limit 3
				%>
				<% projects.each do |p| %>
					<div class="item-lg">
						<div class="row">
							<div class="col-md-8 picture">
								<%= project_avatar p, style_class: 'thumbnail img-responsive', style: 'slide' %>
							</div>
							<div class="col-md-4">
								<div class="name">
									<%= p.title %>
								</div>
								<div class="status">							
									<% if p.display_deadline %>
										<i class="fa fa-circle done"></i>
										<span>Đã hoàn thành</span>
									<% else %>
										<i class="fa fa-circle working"></i>
										<span>Chưa hoàn thành</span>
									<% end %>
								</div>
								<div class="address">
									<i class="icon-16 icon-position"></i>
									<span><%= p.display_address %></span>
								</div>
								<% if p.unit_price_text.present? %>
									<div class="price">
										<i class="icon-16 icon-dollar"></i>
										<p class="number sale"><%= p.display_unit_price %></p>
									</div>
								<% end %>
								<div class="function">
									<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
									<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
									<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
									<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
								</div>
								<div class="detail" data-dot>
									<%= plain_content p.description %>
								</div>
								<div class="btn-more">
									<a href="/projects/<%= p.id %>">Xem chi tiết</a>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<button class="slider-control prev" id="project-prev"></button>
			<button class="slider-control next" id="project-next"></button>
		</section>
	</article>
</section>

<section class="other-project container">
	<div class="list">
		<a class="btn btn-success btn-sm">Dự án nhà ở xã hội</a>
		<a class="btn btn-success btn-sm">Dự án văn phòng cho thuê</a>
		<a class="btn btn-success btn-sm">Dự án cao cấp</a>
		<a class="btn btn-success btn-sm">Dự án tại một số Quận/Huyện</a>
		<a class="btn btn-success btn-sm">Dự án đất nền</a>
	</div>
</section>
<!-- end The Care of Project -->

<!-- start suggest project -->
<section class="suggest-project container">
	<div class="title">Xem dự án dành cho bạn</div>
	<div class="content" id="suggest_project" aria-pagination data-url="/projects/search" data-data='{"per":<%= per %>}' data-list="#suggest_project > .row" data-pagination="#suggest_project > .paging">
		<div class="row">
			<% 
				projects = Project.search_with_params
			%>
			<%= render partial: 'projects/item_list', locals: { projects: projects.limit(per) } %>
		</div>
		<div class="paging">
			<%= render partial: 'shared/pagination_2', locals: { per: per, total: projects.count, page: 1 } %>						
		</div>	
	</div>
</section>
<!-- end suggest project -->

<!-- start favorite-property -->
<section class="container block">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Bất động sản được yêu thích</span>
		</a>
	</article>
	<article class="content">
		<section class="slick favorite-property">
			<div class="content">
				<%
					res = RealEstate.search_with_params.random.limit 3
				%>
				<% res.each do |re| %>
					<div class="item-lg">
						<div class="row">
							<div class="col-sm-8 col-sm-push-4 picture">
								<%= real_estate_avatar re, style_class: 'img-responsive img-thumbnail', style: 'slide' %>
							</div>
							<div class="col-sm-4 col-sm-pull-8">
								<div class="name">
									<%= re.title %>
								</div>
								<div class="convenient">
									<% if re.fields.include? :restroom %>
										<div class="bathroom">
											<i class="icon-bathroom"></i>
											<span><%= re.display_restroom %></span>						
										</div>
									<% end %>
									<% if re.fields.include? :bedroom %>
										<div class="bedroom">
											<i class="icon-bedroom"></i>
											<span><%= re.display_bedroom %></span>
										</div>
									<% end %>
									<div class="area">
										<i class="icon-area"></i>
										<span><%= re.display_area.to_i %>m<sup>2</sup></span>
									</div>
								</div>
								<div class="address">
									<i class="icon-16 icon-position"></i>
									<span><%= re.display_address %></span>
								</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<% if current_purpose == 'r' %>
										<p class="number rent"><%= re.display_rent_price_text %></p>
									<% else %>
										<p class="number sale"><%= re.display_sell_price_text %></p>
									<% end %>
								</div>
								<div class="function">
									<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
									<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
									<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
									<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá dự án này"></a>
								</div>
								<div class="detail" data-dot>
									<%= re.description %>
								</div>
								<div class="btn-more">
									<a href="/real_estates/<%= re.id %>">Xem chi tiết</a>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<button class="slider-control prev" id="favor-prev"></button>
			<button class="slider-control next" id="favor-next"></button>
		</section>
		<section class="user-property">		
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a href="#suggest_property" role="tab" data-toggle="tab">
						Có thể bạn quan tâm
					</a>
				</li>
				<li>
					<a href="#new_property" role="tab" data-toggle="tab">
						Căn hộ mới rao
					</a>
				</li>
			</ul>
			<!-- end -->

			<!-- Tab panes -->
			<div class="tab-content">
				<div aria-pagination data-url="/real_estates/search" data-data='{"per":<%= per %>}' data-list="#suggest_property > .row" data-pagination="#suggest_property > .paging" class="tab-pane fade in active" id="suggest_property">
					<%
						res = RealEstate.search_with_params
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"per":<%= per %>}' data-list="#new_property > .row" data-pagination="#new_property > .paging" class="tab-pane fade" id="new_property">
					<%
						res = RealEstate.search_with_params
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
			</div>
			<!-- end -->
		</section>
	</article>
</section>

<section class="other-project other-property container">
	<div class="list">
		<a class="btn btn-success btn-sm">Văn phòng cho thuê giá rẻ</a>
		<a class="btn btn-success btn-sm">Villa - Biệt thự cần hoàn thành</a>
		<a class="btn btn-success btn-sm">Căn hộ chung cư giá rẻ</a>
		<a class="btn btn-success btn-sm">Đất thổ cư cần bán</a>
	</div>
</section>
<!-- end favorite-property -->

<!-- start propensity property -->
<section class="propensity-property container block">
	<article class="title">
		<a>
			<span>Gợi ý tìm nhà</span>
		</a>
	</article>
	<div class="row">
		<div class="col-lg-6">
			<div class="title">
				<a href="/real_estates">Nhà vừa rao</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(real_estate_type: 'house').limit 3
				%>
				<a href="/real_estates">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="/real_estates">Danh sách mới</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(newest: nil).limit(3)
				%>
				<a href="/real_estates">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="/real_estates">Biệt thự giá rẻ</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(real_estate_type: 'villa', cheapest: nil).limit 3
				%>
				<a href="/real_estates">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="/real_estates">Nhà ở xã hội</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(real_estate_type: 'town_house').limit 3
				%>
				<a href="/real_estates">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
	</div>
</section>
<!-- end propensity property -->

<!-- start contact -->
<section class="contact block container">
	<article class="title">
		<a class="link" href="#">
			<i class="fa fa-link"></i>
			<span>Liên hệ MuaNhaOnline.vn</span>
		</a>
	</article>
	<article class="content">
		<div class="row">
			<div class="col-md-2 col-sm-3">
				<img src="/assets/contact/contact01.jpg" class="img-responsive">
			</div>
			<div class="col-md-3 col-sm-3">
				<%= render partial: 'questions/form_front' %>
			</div>
			<div class="col-md-7 question col-sm-6">
				<div class="panel-group" id="accordion">
					<% 
						questions = Question.get_pinned 
					%>
					<%= render partial: 'questions/item_list_front', locals: { questions: questions } %>
				</div>
			</div>
	</article>
</section>
<!-- end contact -->

<!-- start agent -->
<section class="block agent container">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Đối tác Muanhaonline.vn</span>
		</a>	
	</article>
	<article class="content">
		<ul class="slick-agent">
			<div class="item-agent"></div>
			<div class="item-agent"></div>
			<div class="item-agent"></div>
			<div class="item-agent"></div>
			<div class="item-agent"></div>
			<div class="item-agent"></div>
		</ul>
	</article>
</section>
<!-- end agent -->