<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/home/index.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<script type="text/javascript" src="/assets/home/index.js"></script>
<% end %>

<%
=begin
	params: 
=end

	@_title = 'Trang chủ'
	@_description = 'MuanhaOnline - Đăng tin nhà đất miễn phí. Tìm kiếm nhà đất chính chủ, liên hệ dự án trực tiếp với chủ đầu tư.'
%>

<!-- Search -->

	<article class="search-ctn">
		<section class="background lazyload sizeload"
			data-sizeload="<%=
				{
					xs: '/assets/home/index/filter_400.jpg',
					sm: '/assets/home/index/filter_768.jpg',
					md: '/assets/home/index/filter_992.jpg',
					lg: '/assets/home/index/filter_1200.jpg'
				}.to_json
			%>"></section>
		<div class="container no-horizontal-padding">
			<h2 class="title">
				<%= t '.search.title_html' %>
			</h2>
			<div class="form-ctn" data-object="search-box-container">
				<form class="form" action="/tim_kiem" method="get" data-object="search-form">
					<div class="btn-ctn">
						<input class="form-control" name="search[keyword]" placeholder="<%= t '.search.placeholder' %>" value="" id="search_keyword" />
						<button class="fa fa-search btn btn-green"></button>
					</div>
				</form>
				<!-- <a href="javascript:;" class="search-type map-search">
					<span class="icon ico-map-o"></span> Theo vị trí với bản đồ
				</a> -->
			</div>
		</div>
	</article>

	<input class="form-control hidden" id="search_map_input" placeholder="Địa điểm bạn muốn..." />
	<article id="search_map" class="map-search-ctn hidden">
		
	</article>

<!-- / Search -->

<!-- Info intro -->

	<article class="info-intro-ctn">
		<h2 class="box-title">
			<%= t '.info.title' %>
		</h2>
		<article class="items-list">
			<a class="item" href="/bat-dong-san">
				<img class="image lazyload" data-original="/assets/home/index/owner.jpg">
				<h3 class="title">
					<%= t '.info.re_title' %>
				</h3>
				<p>
					<%= t '.info.re_content' %>
				</p>
			</a>
			<a class="item" href="/du-an">
				<img class="image lazyload" data-original="/assets/home/index/direct.png">
				<h3 class="title">
					<%= t '.info.pj_title' %>
				</h3>
				<p>
					<%= t '.info.pj_content' %>
				</p>
			</a>
		</article>
	</article>

<!-- / Info intro -->

<!-- Post -->

	<article class="post-ctn">
		<section class="background lazyload sizeload"
			data-sizeload="<%=
				{
					xs: '/assets/home/index/add_new_400.jpg',
					sm: '/assets/home/index/add_new_768.jpg',
					md: '/assets/home/index/add_new_992.jpg',
					lg: '/assets/home/index/add_new_1200.jpg'
				}.to_json
			%>"
		></section>
		<h2 class="box-title">
			<%= t '.post.title' %>
			<span class="sub-title">
				<%= t '.post.subtitle' %>
			</span>
		</h2>
		<section class="callout-text">
			<%= t '.post.callout1' %>
		</section>
		<section class="purposes-list">
			<a href="/bat-dong-san/dang-tin?p=s">
				<%= t '.post.sell' %>
			</a>
			<a href="/bat-dong-san/dang-tin?p=r">
				<%= t '.post.rent' %>
			</a>
			<a href="/bat-dong-san/dang-tin?p=t">
				<%= t '.post.transfer' %>
			</a>
		</section>
		<section class="callout-text">
			<%= t '.post.callout2' %>
		</section>
		<section class="btn-ctn">
			<a href="/bat-dong-san/dang-tin" class="btn btn-green">
				<%= t '.post.action' %>
			</a>
		</section>
	</article>

<!-- / Post -->

<!-- Contact -->

	<article class="contact-ctn">
		<h2 class="box-title">
			<%= t '.contact.title' %>
			<span class="sub-title">
				<%= t '.contact.subtitle' %>
			</span>
		</h2>
		<!-- <div class="container no-horizontal-padding">
			<div class="row">
				<div class="col-xs-12 col-md-4"> -->
					<%
						request_mail = SystemMail.new({
							subject: 			'Liên hệ',
							system_mail_type: 	2,
							requested_info: 	RequestedSystemMail.new({
													object_type: 	'real_estate',
													requested_type: 3
												})
						})
					%>
					<%=
						form_for(
							request_mail,
							as: 		'mail',
							url: 		'/mail/save',
							method: 	'POST',
							html: 		{
											id: 		'contact_form',
											class: 		'form'
										}
						) do |f|
					%>
						<!-- Subject -->
						<%= f.field(
							'hidden',
							:subject
						)  %>
						<!-- Mail type -->
						<%= f.field(
							'hidden',
							:system_mail_type
						)  %>
						<article class="background lazyload" data-original="/assets/home/index/help.png"></article>

						<!-- Request info -->
						<%=
							fields_for(
								'mail[requested_info]',
								request_mail.requested_info 
							) do |requested_info_form|
						%>
							<!-- Requested type -->
							<%= requested_info_form.field(
								'hidden',
								:requested_type
							) %>

							<!-- Object type -->
							<article class="types-list">
								<label>
									<%= requested_info_form.radio_button :object_type, 'real_estate' %><span class="text">
										<%= t '.contact.real_estate' %>
									</span>
								</label>
								<label>
									<%= requested_info_form.radio_button :object_type, 'finance' %><span class="text">
										<%= t '.contact.finance' %>
									</span>
								</label>
								<label>
									<%= requested_info_form.radio_button :object_type, 'law' %><span class="text">
										<%= t '.contact.law' %>
									</span>
								</label>
								<label>
									<%= requested_info_form.radio_button :object_type, 'architecture' %><span class="text">
										<%= t '.contact.architecture' %>
									</span>
								</label>
							</article>
						<% end %>

						<!-- Content -->
						<%= f.field(
							'textarea',
							:content,
							{
								placeholder: 	t('.contact.content_placeholder')
							},
							{
								label: 			false
							}
						) %>

						<% unless signed? %>
							<!-- Contact info -->
							<%=
								fields_for(
									'contact_info',
									current_left_contact
								) do |contact_form|
							%>
								<%= contact_form.field(
									'text',
									:name,
									{
										placeholder: 	t('.contact.name_placeholder')
									},
									{
										label:  		false
									}
								) %>

								<div class="row">
									<article class="col-xs-6">
										<%= contact_form.field(
											'email',
											:email,
											{
												placeholder: 	t('.contact.email_placeholder')
											},
											{
												label:  		false
											}
										) %>
									</article>
									<article class="col-xs-6">
										<%= contact_form.field(
											'number',
											:phone_number,
											{
												placeholder: 	t('.contact.phone_placeholder')
											},
											{
												label:  		false
											}
										) %>
									</article>
								</div>
							<% end %>
						<% end %>

						<div class="form-group text-center">
							<%= f.submit t('global.text.submit'), class: 'btn' %>
						</div>

						<p class="callout-text">
							<%= t '.contact.callout' %>
						</p>
					<% end %>
				</div>
				<!-- <div class="col-xs-12 col-md-8">
				</div>
			</div>
		</div> -->
	</article>

<!-- / Contact -->

<!-- Concept -->

	<article class="concept-ctn">
		<h2 class="box-title">
			<%= t '.concept.title' %>
			<span class="sub-title">
				<%= t '.concept.subtitle' %>
			</span>
		</h2>
		<img class="content-image lazyload" data-original="/assets/home/index/calculator.png">
		<section class="content">
			<%= t '.concept.content_html' %>
		</section>
		<section class="btn-ctn">
			<a class="btn" href="/bat-dong-san/dang-tin-tham-dinh">
				<%= t '.concept.action' %>
			</a>
		</section>
	</article>

<!-- / Concept -->

<!-- Rating -->

	<article class="rating-ctn">
		<img class="lazyload sizeload"
			data-sizeload="<%= 
				{
					xs: '/assets/home/index/coop_400.jpg',
					sm: '/assets/home/index/coop_768.jpg',
					md: '/assets/home/index/coop_992.jpg',
					lg: '/assets/home/index/coop_1200.jpg'
				}.to_json
			%>">
		<h2 class="box-title">
			<%= t '.rating.title' %>
			<span class="sub-title">
				<%= t '.rating.subtitle' %>
			</span>
		</h2>
		<section class="buttons-list">
			<button class="btn btn-5"><%= t '.rating.vote1' %></button>
			<button class="btn btn-4"><%= t '.rating.vote2' %></button>
			<button class="btn btn-3"><%= t '.rating.vote3' %></button>
			<button class="btn btn-2"><%= t '.rating.vote4' %></button>
			<button class="btn btn-1"><%= t '.rating.vote5' %></button>
		</section>
	</article>

<!-- / Rating -->