<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/home/index.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<script type="text/javascript" src="/assets/home/index.js"></script>
<% end %>

<%
=begin
	params: 
=end

	@_title = 'Trang chủ'
	@_description = 'MuanhaOnline - Đăng tin nhà đất miễn phí. Tìm kiếm nhà đất chính chủ, liên hệ dự án trực tiếp với chủ đầu tư.'
%>

<!-- Post -->

	<article class="post-ctn">
		<section class="background lazyload sizeload"
			data-sizeload="<%=
				{
					xs: '/assets/home/index/post_new_400.jpg',
					sm: '/assets/home/index/post_new_768.jpg',
					md: '/assets/home/index/post_new_992.jpg',
					lg: '/assets/home/index/post_new_1200.jpg'
				}.to_json
			%>"
		></section>
		<h2 class="box-title">
			Đăng tin miễn phí
			<span class="sub-title">
				Bạn có thể đăng tin nhanh chóng và hoàn toàn miễn phí.
			</span>
		</h2>
		<section class="callout-text">
			BẠN ĐANG MUỐN
		</section>
		<section class="purposes-list">
			<a href="/bat-dong-san/dang-tin?p=s">
				Bán
			</a>
			<a href="/bat-dong-san/dang-tin?p=r">
				Cho thuê
			</a>
			<a href="/bat-dong-san/dang-tin?p=t">
				Sang nhượng
			</a>
		</section>
		<section class="callout-text">
			KHÔNG CẦN ĐĂNG KÝ
		</section>
		<section class="btn-ctn">
			<a href="/bat-dong-san/dang-tin" class="btn btn-green">
				Đăng ngay
			</a>
		</section>
	</article>

<!-- / Post -->

<!-- Info intro -->

	<article class="info-intro-ctn">
		<h2 class="box-title">
			Tiếp cận thông tin chính chủ, trực tiếp
		</h2>
		<article class="items-list">
			<a class="item" href="/bat-dong-san">
				<img class="image lazyload" data-original="/assets/home/index/owner.jpg">
				<h3 class="title">
					Nhà chính chủ
				</h3>
				<!-- <p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud.
				</p> -->
			</a>
			<a class="item" href="/du-an">
				<img class="image lazyload" data-original="/assets/home/index/direct.png">
				<h3 class="title">
					Liên hệ trực tiếp với chủ đầu tư
				</h3>
				<!-- <p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.
				</p> -->
			</a>
		</article>
	</article>

<!-- / Info intro -->

<!-- Search -->

	<article class="search-ctn">
		<section class="background lazyload sizeload"
			data-sizeload="<%=
				{
					xs: '/assets/home/index/filter_400.jpg',
					sm: '/assets/home/index/filter_768.jpg',
					md: '/assets/home/index/filter_992.jpg',
					lg: '/assets/home/index/filter_1200.jpg'
				}.to_json
			%>"></section>
		<div class="container no-horizontal-padding">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
					<h2 class="title">
						Tìm kiếm <br class="hidden-md hidden-lg" />theo nhu cầu
						<span class="sub-title">
							Bạn có thể tìm kiếm các bất động sản theo tiêu chí mà bạn muốn bằng các công cụ sẵn có của hệ thống.
						</span>
					</h2>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
					<div class="form-ctn" data-object="search-box-container">
						<form class="form" action="/tim_kiem" method="get" data-object="search-form">
							<a href="javascript::" class="search-type map-search">
								<span class="icon ico-map-o"></span> Theo vị trí với bản đồ
							</a>
							<label class="search-type" for="search_keyword">
								<span class="icon ico-filter"></span> Theo tiêu chí cụ thể
							</label>
							<div class="row">
								<article class="form-group col-xs-12">
									<input class="form-control" name="search[keyword]" placeholder="Mã, tên, mô tả bất động sản..." value="" />
								</article>
								<article class="form-group col-xs-6">
									<select class="form-control input-toggle" name="search[purpose]">
										<option data-on="sell" data-off="rent" value="" hidden>Loại hình giao dịch</option>
										<option data-on="sell" data-off="rent" value="sell">Bán</option>
										<option data-on="rent" data-off="sell" value="rent">Cho thuê</option>
										<option data-on="sell" data-off="rent" value="">Bán hoặc cho thuê</option>
										<option data-on="rent" data-off="sell" value="transfer">Sang nhượng</option>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select class="form-control" name="search[real_estate_type]">
										<option value="" hidden>Loại bất động sản</option>
										<option value="">Tất cả loại</option>
										<% RealEstateType.all.each do |type| %>
											<option value="<%= type.id %>"><%= type.display_name %></option>
										<% end %>
									</select>
								</article>
								<%
									hcm_province = Province.where(name: 'Tp. Hồ Chí Minh').first_or_initialize
								%>
								<article class="form-group col-xs-6">
									<select class="form-control input-toggle" name="search[province]">
										<option value="" data-off="district" hidden>Tỉnh/thành phố</option>
										<option value="" data-off="district">Tất cả tỉnh/thành phố</option>
										<% Province.all.each do |province| %>
											<option value="<%= province.id %>" data-on="district" <%= 'selected' if province.id == hcm_province.id %>><%= province.name %></option>
										<% end %>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select class="form-control disabled-only" name="search[district]" data-toggled-element="district">
										<option value="" hidden>Quận/huyện</option>
										<option value="">Tất cả quận/huyện</option>
										<% District.where(province_id: hcm_province.id).each do |district| %>
											<option value="<%= district.id %>"><%= district.name %></option>
										<% end %>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select data-toggled-element="sell" class="form-control" name="search[price_from]">
										<option value="">Giá thấp nhất</option>
										<option value="1000">Từ 1 tỷ</option>
										<option value="1500">Từ 1.5 tỷ</option>
										<option value="2000">Từ 2 tỷ</option>
										<option value="3000">Từ 3 tỷ</option>
										<option value="5000">Từ 5 tỷ</option>
										<option value="10000">Từ 10 tỷ</option>
									</select>
									<select data-toggled-element="rent" class="form-control" name="search[price_from]">
										<option value="">Giá thấp nhất</option>
										<option value="1">Từ 1 triệu</option>
										<option value="1.5">Từ 1.5 triệu</option>
										<option value="2">Từ 2 triệu</option>
										<option value="3">Từ 3 triệu</option>
										<option value="5">Từ 5 triệu</option>
										<option value="10">Từ 10 triệu</option>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select data-toggled-element="sell" class="form-control" name="search[price_to]">
										<option value="" hidden>Giá cao nhất</option>
										<option value="1000">Đến 1 tỷ</option>
										<option value="1500">Đến 1.5 tỷ</option>
										<option value="2000">Đến 2 tỷ</option>
										<option value="3000">Đến 3 tỷ</option>
										<option value="5000">Đến 5 tỷ</option>
										<option value="10000">Đến 10 tỷ</option>
										<option value="">Giá cao nhất</option>
									</select>
									<select data-toggled-element="rent" class="form-control" name="search[price_to]">
										<option value="" hidden>Giá cao nhất</option>
										<option value="1">Đến 1 triệu</option>
										<option value="1.5">Đến 1.5 triệu</option>
										<option value="2">Đến 2 triệu</option>
										<option value="3">Đến 3 triệu</option>
										<option value="5">Đến 5 triệu</option>
										<option value="10">Đến 10 triệu</option>
										<option value="">Giá cao nhất</option>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select class="form-control" name="search[area_from]">
										<option value="">Diện tích thấp nhất</option>
										<option value="50">Từ 50m2</option>
										<option value="100">Từ 100m2</option>
										<option value="150">Từ 150m2</option>
										<option value="200">Từ 200m2</option>
										<option value="300">Từ 300m2</option>
										<option value="500">Từ 500m2</option>
									</select>
								</article>
								<article class="form-group col-xs-6">
									<select class="form-control" name="search[area_to]">
										<option value="" hidden>Diện tích cao nhất</option>
										<option value="50">Đến 50m2</option>
										<option value="100">Đến 100m2</option>
										<option value="150">Đến 150m2</option>
										<option value="200">Đến 200m2</option>
										<option value="300">Đến 300m2</option>
										<option value="500">Đến 500m2</option>
										<option value="">Diện tích cao nhất</option>
									</select>
								</article>
							</div>
							<article class="form-group margin-top-15">
								<button type="submit" class="btn btn-block btn-green">
									Tìm kiếm
								</button>
							</article>
						</form>
					</div>
				</div>
			</div>
		</div>
	</article>

	<article id="search_map" class="map-search-ctn hidden">
		
	</article>

<!-- / Search -->

<!-- Contact -->

	<article class="contact-ctn">
		<h2 class="box-title">
			Bạn đang cần gì?
			<span class="sub-title">
				Hãy để lại thông tin, chúng tôi sẽ tư vấn giúp bạn.
			</span>
		</h2>
		<!-- <div class="container no-horizontal-padding">
			<div class="row">
				<div class="col-xs-12 col-md-4"> -->
					<%
						# Register info
						register_info = nil
						if signed?
							register_info = ContactRequest.where(user_type: 'user', user_id: current_user.id, request_type: 'advisory').first
						else
							if left_contact?
								register_info = ContactRequest.where(user_type: 'contact_user', user_id: current_left_contact.id, request_type: 'advisory').first
							end
						end

						if register_info.blank?
							register_info = ContactRequest.new request_type: 'advisory', object_type: 'real_estate'
						end
					%>
					<form id="contact_form" class="form" 
						data-request_info="<%= register_info.to_json only: [:id, :request_type, :object_type, :message] %>" 
						<%= "data-contact_info='#{current_left_contact.to_json only: [:id, :name, :email, :phone_number]}'".html_safe unless signed? %>
					>
						<article class="background lazyload" data-original="/assets/home/index/help.png"></article>
						<input data-toggled-element="default-contact" type="hidden" name="request[id]" value="" />
						<input type="hidden" name="request[request_type]" value="" />
						<article class="types-list">
							<label>
								<input type="radio" name="request[object_type]" value="real_estate" /><span class="text">BĐS</span>
							</label>
							<label>
								<input type="radio" name="request[object_type]" value="finance" /><span class="text">Tài chính</span>
							</label>
							<label>
								<input type="radio" name="request[object_type]" value="law" /><span class="text">Luật</span>
							</label>
							<label>
								<input type="radio" name="request[object_type]" value="architecture" /><span class="text">Kiến trúc</span>
							</label>
						</article>
						<% unless signed? %>
							<% if left_contact? %>
								<div data-toggled-element="default-contact">
									<input type="hidden" name="contact[id]" />
									<article class="form-group">
										<input class="form-control" name="contact[default_name]" readonly="true" tabindex="-1" />
									</article>
									<div class="row">
										<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input data-nonvalid class="form-control" name="contact[default_email]" readonly="true" tabindex="-1" />
										</article>
										<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input data-nonvalid class="form-control" name="contact[default_phone_number]" readonly="true" tabindex="-1" />
										</article>
										<article class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
											<div class="radio margin-0">
												<label>
													<input data-nonvalid class="input-toggle sr-only" data-on="new-contact" data-off="default-contact" type="radio" name="use_default_contact" value="" />
													<a style="color: inherit;">Không phải tôi</a>
												</label>
											</div>
										</article>
									</div>
								</div>
								<div class="off" data-toggled-element="new-contact">
									<article class="form-group">
										<input class="form-control" name="contact[name]" placeholder="Tên của bạn" />
									</article>
									<div class="row">
										<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input data-constraint="required email" class="form-control" name="contact[email]" placeholder="Email của bạn" />
										</article>
										<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<input data-constraint="required phone" class="form-control" name="contact[phone_number]" placeholder="Điện thoại của bạn" />
										</article>
										<article class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
											<div class="radio margin-0">
												<label>
													<input data-nonvalid class="input-toggle sr-only" data-on="default-contact" data-off="new-contact" type="radio" name="use_default_contact" value="t" checked />
													<a style="color: inherit;">Quay lại</a>
												</label>
											</div>
										</article>
									</div>
								</div>
							<% else %>
								<article class="form-group">
									<input class="form-control" placeholder="Tên của bạn" />
								</article>
								<div class="row">
									<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<input data-constraint="required email" class="form-control" placeholder="Email của bạn" name="contact[email]" />
									</article>
									<article class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<input data-constraint="required phone" class="form-control" placeholder="Điện thoại của bạn" name="contact[phone_number]" />
									</article>
								</div>
							<% end %>
						<% end %>
						<article class="form-group">
							<textarea class="form-control" name="request[message]" placeholder="Bạn đang cần gì?"></textarea>
						</article>
						<article class="form-group text-center">
							<button type="submit" class="btn">
								Gửi
							</button>
						</article>
						<p class="callout-text">
							Chúng tôi sẽ liên hệ bạn trong thời gian sớm nhất
						</p>
					</form>
				</div>
				<!-- <div class="col-xs-12 col-md-8">
				</div>
			</div>
		</div> -->
	</article>

<!-- / Contact -->

<!-- Gallery -->

	<!-- <article class="gallery-ctn">
		<article class="images-list">
			<img src="/assets/home/index/gallery_1.png">
			<img class="active" src="/assets/home/index/gallery_2.png">
			<img src="/assets/home/index/gallery_3.png">
		</article>
	</article>
 -->
<!-- / Gallery -->

<!-- Concept -->

	<article class="concept-ctn">
		<h2 class="box-title">
			Thẩm định giá trực tuyến
			<span class="sub-title">
				Bạn có biết?
			</span>
		</h2>
		<img class="content-image lazyload" data-original="/assets/home/index/calculator.png">
		<!-- <section class="content">
			<p>
				Thẩm định giá là .....
			</p>
			<p>
				Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam.
			</p>
			<p>
				At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
			</p>
		</section> -->
		<section class="btn-ctn">
			<a class="btn" href="/bat-dong-san/dang-tin-tham-dinh">
				Đăng ký thẩm định
			</a>
		</section>
	</article>

<!-- / Concept -->

<!-- Rating -->

	<article class="rating-ctn">
		<img class="lazyload sizeload"
			data-sizeload="<%= 
				{
					xs: '/assets/home/index/coop_400.jpg',
					sm: '/assets/home/index/coop_768.jpg',
					md: '/assets/home/index/coop_992.jpg',
					lg: '/assets/home/index/coop_1200.jpg'
				}.to_json
			%>">
		<h2 class="box-title">
			Cám ơn bạn đã ghé thăm
			<span class="sub-title">
				Bạn có thích website của chúng tôi không?
			</span>
		</h2>
		<section class="buttons-list">
			<button class="btn btn-5">Rất thích</button>
			<button class="btn btn-4">Thích</button>
			<button class="btn btn-3">Tạm được</button>
			<button class="btn btn-2">Chưa tốt</button>
			<button class="btn btn-1">Rất tệ</button>
		</section>
	</article>

<!-- / Rating -->