<article id="build_form" class="block-build">
  <ul id="groups_list" class="groups">
    <% @block.item_groups.each do |item_group| %>
      <li class="item" data-width="<%= item_group.width_x %>" data-group="<%= item_group.id %>">
        <%= item_group.name %>
      </li>
    <% end %>
    <li class="button" data-function="create-item-group">+</li>
  </ul>
  <section class="buttons">
    <a href="javascript:void(0)" data-function="create-floor">Tạo tầng mới</a>
  </section>
  <ul id="building" class="building">
    <%
    if @block.floor_number > 0
      (1..@block.floor_number).each do |floor_number|
    %>
        <li class="floor-container">
          <ul class="floor" data-width="0">
            <% @block.items.where(floor_number: floor_number).order(position: 'ASC').each do |item| %>
              <li class="item" data-width="<%= item.item_group.width_x %>" data-group="<%= item.item_group_id %>" data-value="<%= item.id %>">
                <%= item.item_group.name %>
              </li>
            <% end %>
          </ul>
          <a class="open-functions-button">
          </a>
          <ul class="functions-container">
            <li>
              <a data-function="copy" href="javascript:void(0)">Sao chép</a>
            </li>
            <li>
              <a data-function="delete" href="javascript:void(0)">Xóa</a>
            </li>
          </ul>
        </li>
    <% 
      end 
    else
    %>
      <li class="floor-container">
        <ul class="floor">
        </ul>
        <a class="open-functions-button">
        </a>
        <ul class="functions-container">
          <li>
            <a data-function="copy" href="javascript:void(0)">Sao chép</a>
          </li>
          <li>
            <a data-function="delete" href="javascript:void(0)">Xóa</a>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
  <div style="margin: 10px; text-align: center;">
    <button class="btn btn-primary" data-function="save-building">Lưu</button>
  </div>
</article>