<% 
	# Use in create details

	# params: @block, @project

  # Image
  image_init_value = ''
  unless @block.new_record?
    _images = []
    @block.images.each do |block_image|
      _images << { 'id'=> block_image.id, 'url'=> block_image.image.url, 'description'=> block_image.description, 'is_avatar'=> block_image.is_avatar, 'order' => block_image.order }
    end
    image_init_value = _images.to_json
  end
%>

<article class="box box-default">
	<section class="box-header">
		<h2 class="box-title">
			Thông tin block
		</h2>
	</section>
	<section class="box-body">
		<form class="form">

			<!-- Id -->

				<input type="hidden" name="block[id]" value="<%= @block.id %>" />

			<!-- / Id -->

			<!-- Project -->

				<input type="hidden" name="block[project_id]" value="<%= @project.id %>" />

			<!-- Project -->

			<!-- Name -->

				<article class="form-group">
					<label class="control-label" for="block_name">
						Tên
						<sup class="required-label"></sup>
					</label>
					<input class="form-control" name="block[name]" id="block_name" value="<%= @block.name %>" />
				</article>

			<!-- / Name -->

			<!-- Image -->

				<article class="form-group margin-0">
					<label class="control-label">
						Hình ảnh
						<sup class="required-label"></sup>
					</label>
	        <input class="file-upload" data-constraint="required" type="file" multiple name="block[images][]" aria-name="image_upload" data-amount="5" data-init-value="<%= image_init_value %>" data-has_description data-has_avatar data-has_order />
	      </article>

	     <!-- / Image -->

      <!-- Button -->

        <section class="box-body">
        	<div class="row">
	          <div class="margin-top-bottom-5 col-sm-6">
	            <button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'form.finish' %></b></button>
	          </div>
	          <div class="margin-top-bottom-5 col-sm-6">
	            <button type="button" aria-click="close-popup" class="btn btn-default btn-block btn-flat"><b><%= t 'form.cancel' %></b></button>
	          </div>
        	</div>
        </section>

      <!-- / Button -->

		</form>
	</section>
</article>