<%
=begin
	params: permissions, first
=end
	
	first ||= false
%>

<% permissions.each do |permission| %>
	<% if first %>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	<% end %>
		<article class="item <%= 'has-child' if permission.has_child && permission.childs.present?  %>">
			<label class="permission">
				<article>
					<input name="permission_ids[]" type="checkbox" value="<%= permission.id %>" />
				</article>
				<article class="name">
					<span><%= permission.name %></span> <span class="description" title="<%= permission.description %>">- <%= permission.description %></span>
				</article>
				<% if permission.has_child && permission.childs.present? %>
					<a class="fa fa-fw fa-caret-left" aria-click="toggle_childs"></a>
				<% end %>
			</label>
			<% if permission.has_child && permission.childs.present? %>
				<%= render partial: 'permission_items', locals: { permissions: permission.childs } %>
			<% end %>
		</article>
	<% if first %>
		</div>
	<% end %>
<% end %>
