<% 
=begin
	params: 
		projects
		type: 1
=end
	type ||= 1
%>

<% if type == 3 %>
	<% projects.each do |p| %>
		<div class="item-lg" data-value="<%= p.id %>">
			<div class="row">
				<div class="col-md-8 picture">
					<a href="/projects/<%= p.id %>">
						<%= project_avatar p, style_class: 'thumbnail img-responsive', style: 'slide' %>
					</a>
				</div>
				<div class="col-md-4">
					<a href="/projects/<%= p.id %>" style="outline: none">
						<div class="name" data-toggle="tooltip" data-placement="auto" title="<%= p.project_name %>">
								<%= p.project_name %>
						</div>
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span><%= t 'project_type.text.' + p.project_type.name %></span>
						</div>
						<div class="status">						
							<% if p.display_deadline %>
								<i class="fa fa-circle done"></i>
								<span>Đã hoàn thành</span>
							<% else %>
								<i class="fa fa-circle working"></i>
								<span>Đang thực hiện</span>
							<% end %>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="<%= p.display_address %>">
							<i class="icon-16 icon-position"></i>
							<span><%= p.display_address %></span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale"><%= p.display_unit_price %></p>
						</div>
					</a>
					<div class="function">
						<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor <%= p.is_current_user_favorite ? 'active' : '' %>"></a>
						<a href="javascript:void(0)" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua" data-popup="coming-soon"></a>
						<a href="javascript:void(0)" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội" data-popup="coming-soon"></a>
						<a href="javascript:void(0)" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này" data-popup="coming-soon"></a>
					</div>
					<a href="/projects/<%= p.id %>">
						<div class="detail" data-dot><%= p.description.html_safe %></div>
					</a>
					<div class="btn-more">
						<a href="/projects/<%= p.id %>">Xem chi tiết</a>
					</div>
				</div>
			</div>
		</div>
	<% end %>
<% else %>
	<% projects.each do |p| %>
		<% if type == 2 %>
			<div class="col-lg-4 col-md-6 col-sm-6">
		<% else %>
			<div class="col-lg-3 col-md-4 col-sm-6">
		<% end %>
			<li class="item-sm" data-value="<%= p.id %>">
				<a href="/projects/<%= p.id %>">
					<div class="picture">
						<%= project_avatar p %>
					</div>
					<div class="info">
						<div class="title" data-toggle="tooltip" data-placement="auto" title="<%= p.project_name %>">
							<span><%= p.project_name %></span>
						</div>				
						<div class="type-real">
							<i class="fa fa-home"></i>
							<span><%= t 'project_type.text.' + p.project_type.name %></span>
						</div>		
						<div class="status">							
							<% if p.display_deadline %>
								<i class="fa fa-circle done"></i>
								<span>Đã hoàn thành</span>
							<% else %>
								<i class="fa fa-circle working"></i>
								<span>Đang thực hiện</span>
							<% end %>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="<%= p.display_address %>">
							<i class="icon-16 icon-position"></i>
							<span><%= p.display_address %></span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<% if p.unit_price_text.present? %>
								<p class="number sale"><%= p.display_unit_price %></p>
							<% else %>
								<p class="number sale">Chưa có giá</p>
							<% end %>
						</div>
					</div>
				</a>
				<div class="function">
					<a href="javascript:void(0)" aria-click="user_favorite" data-type="project" class="icon-favor <%= p.is_current_user_favorite ? 'active' : '' %>"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
					<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định gía căn nhà này"></a>
				</div>
			</li>
		</div>
	<% end %>
<% end %>