<% 
=begin
	params: 
		projects
		type (1)
			1: medium list
			2: large list
				Force: has_container: true
		has_container (true)
			whether include container
		list_id
		paging_id
		paging (false) - numeric (number of page)
			whether include paging
		paging_attrs - string
		page_href - proc
		current_page - numeric
=end

	return if projects.blank?
	
	type ||= 1
	type = type.to_i

	case type
	when 1
	when 2
		has_container = true
		paging = true
	end

	has_container ||= true
	paging ||= false
	current_page ||= 1
	paging_attrs ||= ''
	page_href ||= nil
	list_id ||= ''
	paging_id ||= ''
%>

<% if has_container %>
	<% case type %>
	<% when 1 %>
		<article id="<%= list_id %>" class="medium-items-list">
			<section class="list">
				<div class="row">
	<% when 2 %>
		<article id="<%= list_id %>" class="large-items-list">
			<section class="list-container">
				<article class="list">
	<% end %>
<% end %>

<% case type %>
<% when 1 %>
	<% projects.each do |project| %>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<article class="item">
				<section class="image">
					<a href="/du-an/<%= project.full_slug %>">
						<%= project_avatar project %>
					</a>
				</section>
				<section class="title">
					<h3>
						<a href="/du-an/<%= project.full_slug %>">
							<%= project.project_name %>
						</a>
					</h3>
				</section>
				<section class="address">
					<span class="ico-location"></span> <%= project.display_short_address %>
				</section>
				<section class="type">
					<span class="ico-home"></span> <%= project.display_project_type %>
				</section>
				<% if project.display_unit_price.present? %>
					<section class="price">
						<article class="sell-price-text"><%= project.display_unit_price %></article>
					</section>
				<% end %>
			</article>
		</div>
	<% end %>
<% when 2 %>
	<!--
	<% projects.each do |project| %>
		--><article class="item" data-value="<%= project.id %>">
			<div class="container no-horizontal-padding">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
						<section class="images-container hidden-xs hidden-sm">
							<section class="image">
								<img src="<%= project.images[0].image.url :slide if project.images.present? %>">
							</section>
							<% if project.images.count > 1 %>
								<article class="circle-paging white-circle-paging">
									<% project.images.each_with_index do |re_image, index| %>
										<%
											data = {
												original: re_image.image.url,
												slide: re_image.image.url(:slide)
											}
										%>
										<a class="<%= 'active' if index == 0 %>" data-data="<%= data.to_json %>">
											<span></span>
										</a>
									<% end %>
								</article>
							<% end %>
						</section>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 infos-container-background" style="<%= "background-image: url('#{project.images[0].image.url}')".html_safe if project.images.present? %>">
						<section class="infos-container">
							<article class="content">
								<section class="title">
									<h3>
										<a href="/du-an/<%= project.full_slug %>"><%= project.project_name %></a>
									</h3>						
								</section>
								<% if project.display_unit_price.present? %>
									<section class="price">
										<article class="sell-price-text"><%= project.display_unit_price %></article>
									</section>
								<% end %>
								<section class="infos">
									<div class="row no-horizontal-padding">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
											<section class="info-item">
												<section class="icon">
													<span class="ico-location"></span>
												</section>
												<section class="text">
													<section class="name">
														Địa chỉ
													</section>
													<section class="value">
														<%= project.display_short_address %>
													</section>
												</section>
											</section>
										</div>
										<div class="hidden"></div>
										<div class="hidden"></div>
										<div class="hidden"></div>
										<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
											<article class="info-item">
												<section class="icon">
													<span class="ico-hash"></span>
												</section>
												<section class="text">
													<section class="name">
														Mã
													</section>
													<section class="value">
														<%= project.display_id %>
													</section>
												</section>
											</article>
										</div>
										<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
											<article class="info-item">
												<section class="icon">
													<span class="ico-clock"></span>
												</section>
												<section class="text">
													<section class="name">
														Thời gian đăng
													</section>
													<section class="value" aria-time="<%= project.created_at %>">
													</section>
												</section>
											</article>
										</div>
										<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
											<article class="info-item">
												<section class="icon">
													<span class="ico-home"></span>
												</section>
												<section class="text">
													<section class="name">
														Loại
													</section>
													<section class="value">
														<%= project.display_project_type %>
													</section>
												</section>
											</article>
										</div>
										<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
											<article class="info-item">
												<section class="icon">
													<span class="ico-area"></span>
												</section>
												<section class="text">
													<section class="name">
														Diện tích
													</section>
													<section class="value">
														<%= project.display_campus_area %><span class="unit">m<sup>2</sup></span>
													</section>
												</section>
											</article>
										</div>
									</div>
								</section>
							</article>
						</section>
						<section class="buttons-container">
							<a href="/du-an/<%= project.id %>" class="btn btn-orange">
								Xem chi tiết
							</a>
						</section>
					</div>
				</div>
			</div>
		</article><!--
	<% end %>
	-->
<% end %>


<% if has_container %>
	<% case type %>
	<% when 1 %>
				</div>
			</section>
			<% if paging %>
				<section id="<%= paging_id %>" class="numeric-paging" <%= paging_attrs.html_safe %>>
					<% (1..paging).each do |num| %>
						<a href="<%= page_href.call(num) if page_href.present? %>" class="<%= 'active' if num == current_page %>" data-page="<%= num %>" aria-click="paging"><%= num %></a>
					<% end %>
				</section>
			<% end %>
		</article>
	<% when 2 %>
				</article>
			</section>
			<% if paging && projects.count > 1 %>
				<section id="<%= paging_id %>" class="circle-paging" <%= paging_attrs.html_safe %>>
					<% projects.each_with_index do |project, index| %>
						<a class="<%= 'active' if index + 1 == current_page %>"><span></span></a>
					<% end %>
				</section>
			<% end %>
		</article>
	<% end %>
<% end %>