<% 
=begin
	params: 
		projects
		type: 1
=end
	type ||= 1
%>

<% projects.each do |p| %>
	<% if type != 1 %>
		<div class="col-lg-4 col-md-6 col-sm-6">
	<% else %>
		<div class="col-lg-3 col-md-4 col-sm-6">
	<% end %>
		<li class="item-sm">
			<div class="picture">
				<%= project_avatar p %>
			</div>
			<a href="/projects/<%= p.id %>">
				<div class="title">
					<span><%= p.project_name %></span>
				</div>						
				<div class="status">							
					<% if p.display_deadline %>
						<i class="fa fa-circle done"></i>
						<span>Đã hoàn thành</span>
					<% else %>
						<i class="fa fa-circle working"></i>
						<span>Chưa hoàn thành</span>
					<% end %>
				</div>
				<div class="address" data-toggle="tooltip" data-placement="top" title="<%= p.display_address %>">
					<i class="icon-16 icon-position"></i>
					<span><%= p.display_address %></span>
				</div>
				<div class="price">
					<i class="icon-16 icon-dollar"></i>
					<% if p.unit_price_text.present? %>
						<p class="number sale"><%= p.display_unit_price %></p>
					<% else %>
						<p class="number sale">Chưa có giá</p>
					<% end %>
				</div>
			</a>
			<div class="function">
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định gía căn nhà này"></a>
			</div>
		</li>
	</div>
<% end %>


