<% projects.each do |project| %>
  <% 
    # Get status
    status = '';

    if project.is_force_hide
      status += 'force_hide '
    end

    if project.is_favorite
      status += 'favorite'
    end
  %>

  <article class="col-lg-3 col-md-4 col-sm-4 col-ss-6 col-xs-12">
    <article class="item" data-value="<%= project.id %>" data-status="<%= status %>">
      <section class="top">
        <a href="/du-an/<%= project.full_slug %>">
          <%= project_avatar project %>
        </a>
        <section class="left">
          <article class="node">
            <span><b><%= project.display_id %></b></span>
          </article>
        </section>
        <section class="right circle-node" aria-name="status">
        </section>
      </section>
      <section class="bottom">
        <p class="title" title="<%= project.project_name %>">
          <%= project.project_name %>
        </p>
        <p class="small text-muted">
          <span class="pull-left">
            <%= project.created_at.strftime '%d/%m/%Y' %>
          </span>
          <span class="pull-right">
            <%= project.view_count %> lượt xem
          </span>
        </p>
        <p>
          <span class="fa fa-fw fa-home"></span> <%= t 'project_type.text.' + project.project_type.name unless project.project_type.nil? %>
        </p>
        <p class="address">
          <span class="fa fa-fw fa-map-marker"></span> <%= project.display_address %>
        </p>
      </section>
      <section class="control">
        <span class="node">
          <a aria-click="change-favorite-status" href="javascript:void(0)" class="fa fa-lg"></a>
        </span>
        <span class="node">
          <a aria-click="change-force-hide-status" href="javascript:void(0)" class="fa fa-lg"></a>
        </span>
        <span class="node">
          <a aria-click="delete" href="javascript:void(0)" class="fa fa-trash-o fa-lg"></a>
        </span>
      </section>
    </article>
  </article>
<% end %>