<% projects.each do |p| %>
  <!-- Get status -->
  <% 
    status = '';
    if p.is_draft == 1
      status = 'draft '
    else
      if p.is_pending == 1
        status = 'pending '
      end

      if p.is_show == 1
        status += 'show'
      end
    end
  %>

  <tr data-value="<%= p.id %>" data-status="<%= status %>">
    <td class="min-width-cell">
      <a class="view" href="/projects/<%= p.id %>">
        <div><span class="label label-primary"><%= ApplicationHelper.id_format p.id, 'PR'%></span></div>                
        <%= real_estate_avatar p %>
      </a>
    </td>
    <td><%= p.title %></td>
    <td class="min-width-cell"><%= p.investor.name unless p.investor.nil? %></td>
    <td class="min-width-cell"><%= t 'project_type.text.' + p.project_type.name unless p.project_type.nil? %></td>
    <td class="min-width-cell text-center" aria-object="status"></td>
    <td class="min-width-cell">
      <div class="dropdown">
        <button id="drop_down_button_<%= p.id %>" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
          <%= t 'project.view.my.control' %>
        </button>
        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="drop_down_button_<%= p.id %>">
          <li role="presentation">
            <a aria-click="change-show-status" href="javascript:void(0)"></a>
          </li>
          <li role="presentation">
            <a aria-click="edit" href="/projects/create/<%= p.id %>"></a>
          </li>
          <li role="presentation">
            <a aria-click="delete" href="javascript:void(0)"><%= t 'project.view.my.delete' %></a>
          </li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>