<% projects.each do |project| %>
  <article class="col-lg-3 col-md-4 col-sm-4 col-ss-6 col-xs-12">
    <article class="item" data-value="<%= project.id %>">
      <section class="top">
        <a href="/projects/<%= project.id %>">
          <%= project_avatar project %>
        </a>
        <section class="left">
          <article class="node">
            <span><b><%= project.display_id %></b></span>
          </article>
        </section>
      </section>
      <section class="bottom">
        <p class="title">
          <%= project.project_name %>
        </p>
        <p>
          <span class="fa fa-fw fa-home"></span> <%= t 'project_type.text.' + project.project_type.name if project.project_type.present? %>
        </p>
        <p class="address">
          <span class="fa fa-fw fa-map-marker"></span> <%= project.display_address %>
        </p>
      </section>
      <section class="control">
        <span class="node">
          <a aria-click="unfavorite" href="javascript:void(0)" class="fa fa-heart-o fa-lg"></a>
        </span>
      </section>
    </article>
  </article>
<% end %>