<% projects.each do |p| %>
  <article class="col-md-3 col-sm-4 col-ss-6 col-xs-12">
    <article class="item" data-value="<%= p.id %>">
      <section class="top">
        <a href="/projects/<%= p.id %>">
          <%= project_avatar p %>
        </a>
        <section class="left">
          <article class="node">
            <span><b><%= p.display_id %></b></span>
          </article>
        </section>
      </section>
      <section class="bottom">
        <p class="title">
          <%= p.title %>
        </p>
        <p>
          <span class="fa fa-fw fa-user"></span> <a href="/users/#{p.user.id}"><%= p.user.full_name %></a>
        </p>
        <p class="address">
          <span class="fa fa-fw fa-map-marker"></span> <%= p.display_address %>
        </p>
      </section>
      <section class="control">
        <span class="node">
          <a aria-click="approve" href="javascript:void(0)" class="fa fa-check"></a>
        </span>
        <span class="node">
          <a aria-click="delete" href="javascript:void(0)" class="fa fa-trash-o fa-lg"></a>
        </span>
      </section>
    </article>
  </article>
<% end %>