<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/shared/form_back.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/shared/form_back.js"></script>
  <script type="text/javascript" src="/assets/projects/create.js"></script>
  <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
  <script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'project.view.create.page_title' %>
<% end %>

<% content_for :navigator do %>
  <li class="active"><%= t 'project.view.create.page_title_nav' %></li>
<% end %>

<% 
  # Init image
  image_ids = ''
  @p.images.each do |i|
    image_ids += ',' + i.id.to_s
  end  
  image_ids[0] = '' unless image_ids === ''
%>


<form id="create_p" class="row form" data-entertotab>

  <!-- Id (if edit) -->

  <% unless @p.id.blank? %>
    <input type="hidden" name="project[id]" value="<%= @p.id %>" />
  <% end %>

  <!-- / Id (if edit) -->
    
  <!-- Position -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.position_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Location -->

        <article class="form-group">
          <label for="location"><%= t 'project.attribute.address' %></label>
          <input data-constraint="required" class="form-control" id="location" type="text" /> 
          <input value="<%= @p.street.name unless @p.street.nil? %>" name="project[street]" type="hidden" id="street" />
          <input value="<%= @p.ward.name unless @p.ward.nil? %>" name="project[ward]" type="hidden" id="ward" />
          <input value="<%= @p.district.name unless @p.district.nil? %>" name="project[district]" type="hidden" id="district" />
          <input value="<%= @p.province unless @p.province.nil? %>" name="project[province]" type="hidden" id="province" />
          <input value="<%= @p.lat || '10.771528380460218' %>" name="project[lat]" type="hidden" id="lat" />
          <input value="<%= @p.long || '106.69838659487618' %>" name="project[long]" type="hidden" id="long" />
        </article>

        <article class="form-group">
          <label for="address_number"><%= t 'project.attribute.address_number' %></label>
          <input value="<%= @p.address_number %>" class="form-control" name="project[street_number]" type="text" id="address_number" />
        </article>

        <!-- / Location -->

        <!-- Map -->

        <article class="form-group">
          <div id="map"></div>
        </article>

        <!-- / Map -->

      </section>
    </article>
  </div>

  <!-- / Position -->
    
  <!-- Architecture -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.architecture_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Project type -->

        <article class="form-group">
          <label for="project_type"><%= t 'project.attribute.project_type' %></label>
          <select class="form-control" id="project_type" name="project[project_type]">
            <% ProjectType.get_options.each do |t| %>
              <option value="<%= t.id %>" <%= 'selected' if @p.project_type_id === t.id %>><%= t.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Project type -->

        <!-- Campus area -->

        <article class="form-group">
          <label for="campus_area"><%= t 'project.attribute.campus_area' %></label>
          <div class="input-group">
            <input data-constraint="required real" class="form-control" name="project[campus_area]" id="campus_area" value="<%= @p.campus_area %>" />
            <div class="input-group-addon">m<sup>2</sup></div>
          </div>
        </article>

        <!-- / Campus area -->

        <!-- Width -->

        <div class="row">

          <article class="form-group col-md-6">
            <label for="width_x"><%= t 'project.attribute.width_x' %></label>
            <div class="input-group">
              <input data-constraint="required real" class="form-control" name="project[width_x]" id="width_x" value="<%= @p.width_x %>" />
              <div class="input-group-addon">m</div>
            </div>
          </article>

          <article class="form-group col-md-6">
            <label for="width_y"><%= t 'project.attribute.width_y' %></label>
            <div class="input-group">
              <input data-constraint="required real" class="form-control" name="project[width_y]" id="width_y" value="<%= @p.width_y %>" />
              <div class="input-group-addon">m</div>
            </div>
          </article>

          <article class="col-md-12" id="area_alert">
            <article class="callout callout-warning">
              <%= t 'project.view.create.area_alert' %>
            </article>
          </article>

        </div>

        <!-- / Width -->

        <!-- Using ratio -->

        <article class="form-group">
          <label for="using_ratio"><%= t 'project.attribute.using_ratio' %></label>
          <div class="input-group">
            <input data-constraint="required real" class="form-control" name="project[using_ratio]" id="using_ratio" value="<%= @p.using_ratio %>" />
            <div class="input-group-addon">%</div>
          </div>
        </article>

        <!-- / Using ratio -->

      </section>
    </article>
  </div>

  <!-- / Architecture -->

  <!-- Progress -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.progress_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <div class="row">

          <!-- Estimate starting date -->

          <article class="form-group col-md-6">
            <label for="estimate_starting_date"><%= t 'project.attribute.estimate_starting_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[estimate_starting_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="estimate_starting_date" />
            </div>
          </article>

          <!-- / Estimate starting date -->

          <!-- Estimate finishing date -->

          <article class="form-group col-md-6">
            <label for="estimate_finishing_date"><%= t 'project.attribute.estimate_finishing_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[estimate_finishing_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="estimate_finishing_date" />
            </div>
          </article>

          <!-- / Estimate finishing date -->

        </div>

        <div class="row">

          <!-- Starting date -->

          <article class="form-group col-md-6">
            <label for="starting_date"><%= t 'project.attribute.starting_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[starting_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="starting_date" />
            </div>
          </article>

          <!-- / Starting date -->

          <!-- Finished base date -->

          <article class="form-group col-md-6">
            <label for="finished_base_date"><%= t 'project.attribute.finished_base_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[finished_base_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="finished_base_date" />
            </div>
          </article>

          <!-- / Finished base date -->

        </div>

        <div class="row">

          <!-- Transfer date -->

          <article class="form-group col-md-6">
            <label for="transfer_date"><%= t 'project.attribute.transfer_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[transfer_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="transfer_date" />
            </div>
          </article>

          <!-- / Transfer date -->

          <!-- Docs issue date -->

          <article class="form-group col-md-6">
            <label for="docs_issue_date"><%= t 'project.attribute.docs_issue_date' %></label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input name="project[docs_issue_date]" data-constraint="required" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" id="docs_issue_date" />
            </div>
          </article>

          <!-- / Docs issue date -->
          
        </div>

      </section>
    </article>
  </div>

  <!-- / Progress -->

  <!-- Human resource -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.human_resource_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Currency -->

        <article class="form-group">
          <label for="currency_id"><%= t 'project.attribute.investor' %></label>
          <select name="project[investor_id]" class="form-control">
            <% Investor.get_options.each do |i| %>
                <option value="<%= i.id %>" <%= 'selected' if @p.investor_id === i.id %>><%= i.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Currency -->

        <!-- Execute unit -->

        <article class="form-group">
          <label for="execute_unit"><%= t 'project.attribute.execute_unit' %></label>
          <input value="<%= @p.execute_unit %>" name="project[execute_unit]" class="form-control" id="execute_unit">
        </article>

        <!-- / Execute unit -->

        <!-- Desgin unit -->

        <article class="form-group">
          <label for="design_unit"><%= t 'project.attribute.design_unit' %></label>
          <input value="<%= @p.design_unit %>" name="project[design_unit]" class="form-control" id="design_unit">
        </article>

        <!-- / Desgin unit -->

        <!-- Manager unit -->

        <article class="form-group">
          <label for="manage_unit"><%= t 'project.attribute.manage_unit' %></label>
          <input value="<%= @p.manage_unit %>" name="project[manage_unit]" class="form-control" id="manage_unit">
        </article>

        <!-- / Manager unit -->

      </section>
    </article>
  </div>

  <!-- / Human resource -->

  <!-- Payment info -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.payment_info_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Currency -->

        <article class="form-group">
          <label for="currency_id"><%= t 'project.attribute.currency' %></label>
          <select name="project[currency_id]" class="form-control" id="currency_id">
            <% Currency.get_options.each do |c| %>
              <option value="<%= c.id %>" <%= 'selected' if c.id == @p.currency_id || (!c.options_hash.nil? && c.options_hash.has_key?('default') && @p.currency_id.blank?) %> <%= c.options_hash['html']['attributes'] %>><%= c.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Currency -->

        <!-- Price -->

        <article class="form-group">
          <label for="unit_price"><%= t 'project.attribute.unit_price' %></label>
          <div class="input-group">
            <input data-constraint="integer" value="<%= @p.unit_price %>" name="project[unit_price]" class="form-control" id="unit_price">
            <div class="input-group-addon">/ VNĐ</div>
          </div>
        </article>

        <!-- / Price -->

        <!-- Payment method -->

        <article class="form-group">
          <label for="payment_method"><%= t 'project.attribute.payment_method' %></label>
          <textarea name="project[payment_method]" class="form-control" id="payment_method"><%= @p.payment_method %></textarea>
        </article>

        <!-- / Payment method -->

      </section>
    </article>
  </div>

  <!-- / Payment info -->

  <!-- Description -->

  <div class="col-md-6">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'project.attribute.description_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Title -->

        <article class="form-group">
          <label for="title"><%= t 'project.attribute.title' %></label>
          <input data-constraint="required" value="<%= @p.title %>" name="project[title]" class="form-control" id="title">
        </article>

        <!-- / Title -->

        <!-- Description -->

        <article class="form-group">
          <label for="description"><%= t 'project.attribute.description' %></label>
          <textarea name="project[description]" class="form-control" id="description"><%= @p.description %></textarea>
        </article>

        <!-- / Description -->

      </section>
    </article>
  </div>

  <!-- / Description -->

  <!-- Images -->

  <div class="col-md-12">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'project.attribute.image' %>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
        <article class="form-group margin-0">
          <input class="file-upload" data-constraint="required" type="file" multiple name="project[image_ids]" data-init-value="<%= image_ids %>" />
        </article>
      </section>
    </article>
  </div>

  <!-- / Images -->

  <!-- Button -->

  <div class="col-md-12">
    <article class="box box-solid">
      <section class="box-body row">
        <div class="margin-top-bottom-5 col-sm-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'project.view.create.finish' %></b></button>
        </div>
        <div class="margin-top-bottom-5 col-sm-6">
          <button type="button" class="btn btn-default btn-block btn-flat" aria-click="save-draft"><b><%= t 'project.view.create.save_draft' %></b></button>
        </div>
      </section>
    </article>
  </div>

  <!-- / Button -->

</form>