<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/projects/create_details.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/projects/create_details.js"></script>
	<script type="text/javascript">
		project_id = <%= @project.id %>;
	</script>
<% end %>

<% 
=begin
	params: @project
=end
	
	@title = "Đăng chi tiết - #{@project.project_name}"

%>

<section class="form-progress-container container-fluid">
	<ul class="row">
		<li class="col-xs-3 success">
			<section class="icon"></section>
			<a class="text" href="/du-an/chinh-sua/<%= @project.id %>">Đăng thông tin cơ bản</a>
		</li>
		<li class="col-xs-3 active">
			<section class="icon"></section>
			<section class="text">Đăng thông tin chi tiết</section>
		</li>
		<% if @project.create_step > 2 %>
			<li class="col-xs-3 success">
				<section class="icon"></section>
				<a class="text" href="/du-an/thiet-lap-hinh-anh/<%= @project.id %>">Thiết lập hình ảnh</a>
			</li>
		<% else %>
		<li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Thiết lập hình ảnh</section>
		</li>
		<% end %>
		<!-- <li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Tùy biến giao diện</section>
		</li> -->
		<li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Hoàn tất đăng tin</section>
		</li>
	</ul>
</section>

<!-- View -->

	<div id="view_part" class="view-part">

		<section class="content-part">

			<!-- Block -->

				<article class="blocks-container box box-primary">

					<section class="box-header">
						<h2 class="box-title">Các block trong dự án <%= @project.project_name %></h2>
						<div class="box-tools pull-right">
							<button class="btn btn-box-tool" aria-click="create_block"><i class="fa fa-plus"></i> Thêm block</button>
						</div>
					</section>
					<section class="box-body">
						<div class="horizontal-list-container padding-bottom-10">
							<div id="block_list" class="horizontal-list item-list block-list">
								<%= render partial: 'blocks/item_list', locals: { blocks: @project.blocks } %>
							</div>
						</div>
					</section>
					<article class="real-estate-container">
						<section class="box-header">
							<h2 class="box-title" id="selected_block_name"></h2>
							<div class="box-tools pull-right">
								<button class="btn btn-box-tool" aria-click="create_real_estate"><i class="fa fa-plus"></i> Thêm loại</button>
							</div>
						</section>
						<section class="box-body">
							<section id="real_estate_list">
							</section>
						</section>
					</article>
				</article>

			<!-- / Block -->

			<!-- Finish -->

				<article class="text-center">
					<article class="box box-solid" style="display: inline-block; width: auto;">
						<article class="box-body">
							<section class="text-center">
								<p>Hoàn thành và tiếp tục </p>
								<p><a class="btn btn-primary" href="/du-an/thiet-lap-hinh-anh/<%= @project.id %>">Thiết lập hình ảnh</a></p>
							</section>
						</article>
					</article>
					
				</article>

			<!-- / Finish -->
			
		</section>

	</div>

<!-- / View -->
