<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/projects/create.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap-colorpicker.min.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/projects/create.js"></script>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<!-- <script type="text/javascript" src="/assets/shared/jscolor.js"></script>  -->
	<script type="text/javascript" src="/assets/shared/bootstrap-colorpicker.js"></script>
<% end %>

<% 
=begin
	params: @project
=end

	@title = t 'project.view.create.page_title'

	# Project type
	project_types = ProjectType.get_options
	selected_project_type_parent = ''
	if !@project.new_record? && @project.project_type.present? && @project.project_type.options['parent']
		selected_project_type_parent = @project.project_type.options['parent']
	end

	# Unit options
	price_unit_html = ''
	current_price_unit = nil
	Unit.get_options.each do |u|
		if u.options_hash['group'] == 'project'
			if u.id == @project.price_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @project.price_unit_id.blank?)
				current_price_unit = u
			end

			price_unit_html += "<li><a data-value='#{u.id}' href='javascript:void(0)' aria-click='change-unit'>#{t 'unit.text.' + u.name}</a>"
		end
	end

	# Logo
	logo_init_value = ''
	if !@project.new_record? && @project.logo.present?
		logo_init_value = { 'url': @project.logo.url }.to_json
	end
	full_logo_init_value = ''
	if !@project.new_record? && @project.full_logo.present?
		full_logo_init_value = { 'url': @project.full_logo.url }.to_json
	end

	# Image
	image_init_value = ''
	unless @project.new_record?
		_images = []
		@project.images.each do |p_image|
			_images << { 'id': p_image.id, 'url': p_image.image.url, 'description': p_image.description, 'is_avatar': p_image.is_avatar, 'order' => p_image.order }
		end
		image_init_value = _images.to_json
	end

	# Cover image
	cover_image_init_value = ''
	if !@project.new_record? && @project.cover_image.present?
		cover_image_init_value = { 'url': @project.cover_image.url }.to_json
	end

	# Attachment
	attachment_init_value = ''
	unless @project.new_record?
		attachments = []
		@project.payment_attachments.each do |attachment|
			attachments << { 'id': attachment.id, 'file_name': attachment.file_file_name, 'url': attachment.file.url, 'description': attachment.description, 'order' => attachment.order }
		end
		attachment_init_value = attachments.to_json
	end
%>

<section class="form-progress-container container-fluid">
	<ul class="row">
		<li class="col-xs-3 active">
			<section class="icon"></section>
			<section class="text">Đăng thông tin cơ bản</section>
		</li>
		<% if @project.create_step > 1 %>
			<li class="col-xs-3 success">
				<section class="icon"></section>
				<a class="text" href="/du-an/dang-chi-tiet/<%= @project.id %>">Đăng thông tin chi tiết</a>
			</li>
		<% else %>
			<li class="col-xs-3">
				<section class="icon"></section>
				<section class="text">Đăng thông tin chi tiết</section>
			</li>
		<% end %>
		<% if @project.create_step > 2 %>
			<li class="col-xs-3 success">
				<section class="icon"></section>
				<a class="text" href="/du-an/thiet-lap-hinh-anh/<%= @project.id %>">Thiết lập hình ảnh</a>
			</li>
		<% else %>
		<li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Thiết lập hình ảnh</section>
		</li>
		<% end %>
		<!-- <li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Tùy biến giao diện</section>
		</li> -->
		<li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Hoàn tất đăng tin</section>
		</li>
	</ul>
</section>

<form id="create_p" class="form create-form-project" data-entertotab>

	<section class="form-navigator">
		<article id="form_navigator" class="items-container">
			<a aria-name="description" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-info fa-lg "></i></div><div class="text">Giới thiệu</div>
			</a>
			<a aria-name="position" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-map-marker fa-lg "></i></div><div class="text"><%= t 'project.attribute.position_box' %></div>
			</a>
			<a aria-name="architecture" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-home fa-lg "></i></div><div class="text"><%= t 'project.attribute.architecture_box' %></div>
			</a>
			<a aria-name="utility" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-yelp fa-lg "></i></div><div class="text">Tiện ích - Tính năng</div>
			</a>
			<a aria-name="progress" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-calendar fa-lg "></i></div><div class="text"><%= t 'project.attribute.progress_box' %></div>
			</a>
			<a aria-name="human_resource" href="javascript:void(0)" class="item until-full">
				<div class="icon"><i class="fa fa-users fa-lg "></i></div><div class="text"><%= t 'project.attribute.human_resource_box' %></div>
			</a>
			<a aria-name="payment_info" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-money fa-lg "></i></div><div class="text"><%= t 'project.attribute.payment_info_box' %></div>
			</a>
			<a aria-name="image" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-picture-o fa-lg "></i></div><div class="text"><%= t 'project.attribute.image' %></div>
			</a>
			<a aria-name="display" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-desktop fa-lg "></i></div><div class="text">Giao diện</div>
			</a>
			<a aria-name="button" href="javascript:void(0)" class="item">
				<div class="icon"><i class="fa fa-check fa-lg "></i></div><div class="text">
			</a>
		</article>
	</section>

	<section style="width: 100%">

		<section class="row">

			<section class="col-md-6 col-sm-8">

				<!-- Id (if edit) -->

					<% unless @project.id.blank? %>
						<input type="hidden" name="project[id]" value="<%= @project.id %>" />
					<% end %>

				<!-- / Id (if edit) -->

				<!-- Project basic info -->

					<article aria-name="description" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title">Giới thiệu</h2>
						</section>
						<section class="box-body">

							<!-- Project name -->
							
								<article class="form-group">
									<label class="control-label" for="project_name">
										<%= t 'project.attribute.project_name' %>
										<sup class="required-label"></sup>
									</label>
									<input data-constraint="required" value="<%= @project.project_name %>" class="form-control" id="project_name" name="project[project_name]" autofocus />
								</article>
							
							<!-- / Project name -->

							<!-- Logo -->

								<article class="form-group">
									<label class="control-label">
										Logo dự án rút gọn
										<sup class="required-label"></sup>
									</label>
									<input data-constraint="required" data-init-value="<%= logo_init_value %>" name="project[logo]" class="file-upload" type="file" data-types="image" />
								</article>

								<article class="form-group">
									<label class="control-label">
										Logo dự án đầy đủ
									</label>
									<input data-init-value="<%= full_logo_init_value %>" name="project[full_logo]" class="file-upload" type="file" data-types="image" />
								</article>

							<!-- / Logo -->

							<!-- Slogan -->

								<article class="form-group">
									<label class="control-label" for="slogan">
										Khẩu hiệu (slogan)
									</label>
									<input value="<%= @project.slogan %>" name="project[slogan]" class="form-control" id="slogan">
								</article>

							<!-- / Slogan -->

							<!-- Description -->

								<article class="form-group">
									<label class="control-label" for="description">Giới thiệu</label>
									<sup class="required-label"></sup>
									<textarea data-editor-extra-plugins=",uploadimage,filebrowser,image2" data-constraint="required" name="project[description]" class="form-control" id="description" aria-input-type="editor"><%= @project.description %></textarea>
								</article>

							<!-- / Description -->

						</section>
					</article>

				<!-- / Project basic info -->
				
				<!-- Position -->

					<article aria-name="position" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title"><%= t 'project.attribute.position_box' %></h2>
						</section>
						<section class="box-body">

							<!-- Location -->

								<article class="form-group">
									<label class="control-label" for="address_number"><%= t 'project.attribute.address_number' %></label>
									<input value="<%= @project.address_number %>" class="form-control" name="project[address_number]" type="text" id="address_number" />
								</article>

								<input value="<%= @project.street.name unless @project.street.nil? %>" name="project[street]" type="hidden" id="street" data-nonvalid />
								<input value="<%= @project.ward.name unless @project.ward.nil? %>" name="project[ward]" type="hidden" id="ward" data-nonvalid />
								<input value="<%= @project.district.name unless @project.district.nil? %>" name="project[district]" type="hidden" id="district" data-nonvalid />
								<input value="<%= @project.province unless @project.province.nil? %>" name="project[province]" type="hidden" id="province" data-nonvalid />
								<input value="<%= @project.lat %>" name="project[lat]" type="hidden" id="lat" data-nonvalid />
								<input value="<%= @project.long %>" name="project[long]" type="hidden" id="long" data-nonvalid />

								<article class="form-group">
									<label class="control-label" for="location"><%= t 'project.attribute.address' %></label>
									<sup class="required-label"></sup>
									<input data-constraint="required" name="location" class="form-control" id="location" data-new="<%= @project.new_record? %>" placeholder="" type="text" /> 
								</article>

							<!-- / Location -->

							<!-- Map -->

								<article class="form-group">
									<div id="map"></div>
								</article>

							<!-- / Map -->

							<!-- Position description -->

								<article class="form-group">
									<label class="control-label" for="position_description">
										Mô tả vị trí
									</label>
									<textarea data-editor-extra-plugins=",uploadimage,filebrowser,image2" class="form-control" aria-input-type="editor" name="project[position_description]" id="position_description"><%= @project.position_description %></textarea>
								</article>

							<!-- / Position description -->

						</section>
					</article>

				<!-- / Position -->
					
				<!-- Architecture -->

					<article aria-name="architecture" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title"><%= t 'project.attribute.architecture_box' %></h2>
						</section>
						<section class="box-body">

							<!-- Project type (user cannot edit) -->

								<% if true || @project.new_record? || @project.project_type.blank? %>

									<div class="row">
										<article class="form-group col-ss-6">
											<label class="control-label" for="project_type">
												<%= t 'project.attribute.project_type' %>
												<sup class="required-label"></sup>
											</label>
											<select data-constraint="required" class="form-control input-toggle" id="project_type" name="project[project_type_id]" %>>
												<option hidden value data-off="un-apartment un-complex_apartment un-adjacent_house un-office un-land un-complex">Chọn loại</option>
												<% project_types.each do |t| %>
													<% next if t.options.has_key? 'parent' %>
													<option value="<%= t.id %>" <%= 'selected' if @project.project_type_id == t.id || t.name == selected_project_type_parent %> <%= t.options.has_key?('html') ? t.options['html']['attributes'].html_safe : '' %>><%= t 'project_type.text.' + t.name %></option>
												<% end %>
											</select>
										</article>
										<article class="form-group col-ss-6">
											<label class="control-label" for="project_type">&nbsp;</label>
											<select class="form-control" name="project[detail_project_type_id]" data-toggled-element="apartment un-complex_apartment un-adjacent_house un-office un-land un-complex">
												<option value hidden>Chọn chi tiết</option>
												<% project_types.each do |t| %>
													<% if t.options['parent'] == 'apartment' %>
														<option value="<%= t.id %>" <%= 'selected' if @project.project_type_id == t.id %>><%= t 'project_type.text.' + t.name %></option>
													<% end %>
												<% end %>
											</select>
											<select class="form-control" name="project[detail_project_type_id]" data-toggled-element="adjacent_house un-complex_apartment un-office un-apartment un-complex un-land un-complex">
												<option value hidden>Chọn chi tiết</option>
												<% project_types.each do |t| %>
													<% if t.options['parent'] == 'adjacent_house' %>
														<option value="<%= t.id %>" <%= 'selected' if @project.project_type_id == t.id %>><%= t 'project_type.text.' + t.name %></option>
													<% end %>
												<% end %>
											</select>
										</article>
									</div>

								<% else %>

									<article class="form-group">
										<label class="control-label">
											Loại dự án
										</label>
										<input class="form-control" readonly="true" value="<%= @project.display_project_type %>" />
									</article>

								<% end %>

							<!-- / Project type -->

							<div class="row">

								<!-- Campus area -->

									<article class="form-group col-xs-12 col-ss-4">
										<label class="control-label" for="campus_area">Tổng diện tích</label>
										<sup class="required-label"></sup>
										<div class="input-group">
											<input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="project[campus_area]" id="campus_area" value="<%= @project.display_campus_area %>" />
											<div class="input-group-addon">m<sup>2</sup></div>
										</div>
									</article>

								<!-- / Campus area -->

								<!-- Constructional area -->

									<article class="form-group col-xs-12 col-ss-4">
										<label class="control-label" for="constructional_area">Diện tích xây dựng</label>
										<sup class="required-label"></sup>
										<div class="input-group">
											<input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="project[constructional_area]" id="constructional_area" value="<%= @project.display_constructional_area %>" />
											<div class="input-group-addon">m<sup>2</sup></div>
										</div>
									</article>

								<!-- / Constructional area -->

								<!-- Using ratio -->

									<article class="form-group col-xs-12 col-ss-4">
										<label class="control-label" for="using_ratio"><%= t 'project.attribute.using_ratio' %></label>
										<div class="input-group">
											<input data-constraint="real range" data-minvalue="0" data-maxvalue="100" class="form-control" name="project[using_ratio]" id="using_ratio" value="<%= @project.display_using_ratio if @project.using_ratio != 0 %>" />
											<div class="input-group-addon">%</div>
										</div>
									</article>

								<!-- / Using ratio -->

							</div>

						</section>
					</article>

				<!-- / Architecture -->

				<!-- Ultitity -->

					<article aria-name="utility" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title">Tiện ích - Tính năng</h2>
						</section>
						<section class="box-body">

							<!-- Project -->
						
								<article class="margin-bottom-15">
									<label>
										Tiện ích - Tính năng dự án
									</label>
									<article class="tab-container input">
										<section class="tab-list">
											<section class="list horizontal-list-container text-left">
												<ul class="horizontal-list">
												</ul>
											</section>
											<section class="add-button">
												<a href="javascript:void(0)" aria-click="add_tab" class="fa fa-plus"></a>
											</section>
										</section>
										<section class="tab-content-list">

											<% if @project.new_record? || @project.utilities.blank? %>

												<article class="tab-content" aria-name="new">

													<input type="hidden" value="" name="project[utilities][tab_name][id]" />

													<article class="form-group">
														<label class="control-label">
															Nhãn
															<sup class="required-label"></sup>
														</label>
														<input data-constraint="required" type="text" class="form-control" name="project[utilities][tab_name][title]">
													</article>

													<article class="form-group">
														<label class="control-label">
															Mô tả
														</label>
														<textarea class="form-control" name="project[utilities][tab_name][description]"></textarea>
													</article>

													<article class="form-group">
														<label class="control-label">
															Hình ảnh
															<sup class="required-label"></sup>
														</label>
														<input data-constraint="required" type="file" multiple class="file-upload" class="form-control" name="project[utilities][tab_name][images][]" data-amount="3" data-has_order data-has_description data-types="image">
													</article>

												</article>

											<% else %>

												<% @project.utilities.each do |utility| %>

													<article class="tab-content" aria-name="new_<%= utility.id %>">

														<input type="hidden" value="<%= utility.id %>" name="project[utilities][tab_name][id]" />
														
														<article class="form-group">
															<label class="control-label">
																Nhãn
															</label>
															<input type="text" value="<%= utility.title %>" class="form-control" name="project[utilities][tab_name][title]">
														</article>

														<article class="form-group">
															<label class="control-label">
																Mô tả
															</label>
															<textarea class="form-control" name="project[utilities][tab_name][description]"><%= ApplicationHelper.decode_plain_text utility.description %></textarea>
														</article>

														<% 
															utility_image_init_value = ''
															_images = []
															utility.images.each do |utility_image|
																_images << { 'id'=> utility_image.id, 'url'=> utility_image.image.url, 'description'=> utility_image.description }
															end
															utility_image_init_value = _images.to_json
														%>

														<article class="form-group">
															<label class="control-label">
																Hình ảnh
																<sup class="required-label"></sup>
															</label>
															<input data-constraint="required" type="file" multiple class="file-upload" class="form-control" name="project[utilities][tab_name][images][]" data-amount="3" data-has_order data-has_description data-types="image" data-init-value="<%= utility_image_init_value %>">
														</article>

													</article>

												<% end %>

											<% end %>

										</section>
									</article>
								</article>      
						
							<!-- / Project -->

							<!-- Region -->
						
								<article class="margin-bottom-15">
									<label>
										Tiện ích - Tính năng khu vực
									</label>
									<article class="tab-container input">
										<section class="tab-list">
											<section class="list horizontal-list-container text-left">
												<ul class="horizontal-list">
												</ul>
											</section>
											<section class="add-button">
												<a href="javascript:void(0)" aria-click="add_tab" class="fa fa-plus"></a>
											</section>
										</section>
										<section class="tab-content-list">

											<% if @project.new_record? || @project.region_utilities.blank? %>

												<article class="tab-content" aria-name="new">

													<input type="hidden" value="" name="project[region_utilities][tab_name][id]" />

													<article class="form-group">
														<label class="control-label">
															Nhãn
															<sup class="required-label"></sup>
														</label>
														<input data-constraint="required" type="text" class="form-control" name="project[region_utilities][tab_name][title]">
													</article>

													<article class="form-group">
														<label class="control-label">
															Mô tả
														</label>
														<textarea class="form-control" name="project[region_utilities][tab_name][description]"></textarea>
													</article>

													<article class="form-group">
														<label class="control-label">
															Hình ảnh
															<sup class="required-label"></sup>
														</label>
														<input data-constraint="required" type="file" multiple class="file-upload" class="form-control" name="project[region_utilities][tab_name][images][]" data-amount="3" data-has_order data-has_description data-types="image">
													</article>

												</article>

											<% else %>

												<% @project.region_utilities.each do |utility| %>

													<article class="tab-content" aria-name="new_<%= utility.id %>">

														<input type="hidden" value="<%= utility.id %>" name="project[region_utilities][tab_name][id]" />
														
														<article class="form-group">
															<article class="form-group">
																<label class="control-label">
																	Nhãn
																	<sup class="required-label"></sup>
																</label>
																<input data-constraint="required" type="text" value="<%= utility.title %>" class="form-control" name="project[region_utilities][tab_name][title]">
															</article>
														</article>

														<article class="form-group">
															<label class="control-label">
																Mô tả
															</label>
															<textarea class="form-control" name="project[region_utilities][tab_name][description]"><%= ApplicationHelper.decode_plain_text utility.description %></textarea>
														</article>

														<% 
															utility_image_init_value = ''
															_images = []
															utility.images.each do |utility_image|
																_images << { 'id'=> utility_image.id, 'url'=> utility_image.image.url, 'description'=> utility_image.description }
															end
															utility_image_init_value = _images.to_json
														%>

														<article class="form-group">
															<label class="control-label">
																Hình ảnh
																<sup class="required-label"></sup>
															</label>
															<input data-constraint="required" type="file" multiple class="file-upload" class="form-control" name="project[region_utilities][tab_name][images][]" data-amount="3" data-has_order data-has_description data-types="image" data-init-value="<%= utility_image_init_value %>">
														</article>

													</article>

												<% end %>

											<% end %>

										</section>
									</article>
								</article>      
							
							<!-- / Region -->

						</section>
					</article>

				<!-- / Ultitity -->

				<!-- Progress -->

					<article aria-name="progress" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title"><%= t 'project.attribute.progress_box' %></h2>
						</section>
						<section class="box-body">
							<article class="form-group">
								<label class="control-label">
									<%= t 'project.attribute.date_display_type' %>
									<sup class="required-label"></sup>
								</label>
								<div>
									<label class="radio-inline"><input data-constraint="required" name="project[date_display_type]" type="radio" value="1" <%= 'checked' if @project.date_display_type == 1 %> />Ngày</label>
									<label class="radio-inline"><input name="project[date_display_type]" type="radio" value="2" <%= 'checked' if @project.new_record? || @project.date_display_type == 2 %> />Quý</label>
									<label class="radio-inline"><input name="project[date_display_type]" type="radio" value="3" <%= 'checked' if @project.date_display_type == 3 %> />Năm</label>
								</div>
							</article>

							<div class="row">

								<!-- Estimate starting date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="estimate_starting_date"><%= t 'project.attribute.estimate_starting_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[estimate_starting_date]" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.estimate_starting_date.strftime '%d/%m/%Y' unless @project.estimate_starting_date.blank? %>" id="estimate_starting_date" />
										</div>
									</article>

								<!-- / Estimate starting date -->

								<!-- Estimate finishing date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="estimate_finishing_date"><%= t 'project.attribute.estimate_finishing_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[estimate_finishing_date]" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.estimate_finishing_date.strftime '%d/%m/%Y' unless @project.estimate_finishing_date.blank? %>" id="estimate_finishing_date" />
										</div>
									</article>

								<!-- / Estimate finishing date -->

							</div>

							<div class="row">

								<!-- Starting date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="starting_date"><%= t 'project.attribute.starting_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[starting_date]" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.starting_date.strftime '%d/%m/%Y' unless @project.starting_date.blank? %>" id="starting_date" />
										</div>
									</article>

								<!-- / Starting date -->

								<!-- Finished base date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="finished_base_date"><%= t 'project.attribute.finished_base_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[finished_base_date]" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.finished_base_date.strftime '%d/%m/%Y' unless @project.finished_base_date.blank? %>" id="finished_base_date" />
										</div>
									</article>

								<!-- / Finished base date -->

							</div>

							<div class="row">

								<!-- Transfer date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="transfer_date"><%= t 'project.attribute.transfer_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[transfer_date]" class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.transfer_date.strftime '%d/%m/%Y' unless @project.transfer_date.blank? %>" id="transfer_date" />
										</div>
									</article>

								<!-- / Transfer date -->

								<!-- Docs issue date -->

									<article class="form-group col-ss-6">
										<label class="control-label" for="docs_issue_date"><%= t 'project.attribute.docs_issue_date' %></label>
										<div class="input-group">
											<div class="input-group-addon">
												<i class="fa fa-calendar"></i>
											</div>
											<input name="project[docs_issue_date]"  class="form-control" data-provide="datepicker" data-date-format="dd/mm/yyyy" value="<%= @project.docs_issue_date.strftime '%d/%m/%Y' unless @project.docs_issue_date.blank? %>" id="docs_issue_date" />
										</div>
									</article>

								<!-- / Docs issue date -->
								
							</div>

						</section>
					</article>

				<!-- / Progress -->

				<!-- Human resource -->

					<article aria-name="human_resource" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title"><%= t 'project.attribute.human_resource_box' %></h2>
						</section>
						<section class="box-body">

							<!-- Investor -->

								<article class="form-group">
									<label class="control-label" for="investor_id"><%= t 'project.attribute.investor' %></label>
									<input class="form-control" data-url="/investors/autocomplete" aria-input-type="autocomplete" <%= "value=\"#{@project.investor.name}\" data-value=\"#{@project.investor.id}\"".html_safe if @project.investor.present? %> data-free name="project[investor_id]" id="investor_id" />
								</article>

							<!-- / Investor -->

							<!-- Unit description -->

								<article class="form-group">
									<label class="control-label" for="unit_description"><%= t 'project.attribute.unit_description' %></label>
									<textarea name="project[unit_description]" class="form-control" id="unit_description"><%= @project.unit_description %></textarea>
								</article>

							<!-- / Unit description -->

						</section>
					</article>

				<!-- / Human resource -->

				<!-- Payment info -->

					<article aria-name="payment_info" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title"><%= t 'project.attribute.payment_info_box' %></h2>
						</section>
						<section class="box-body">

							<!-- Currency -->

								<article class="form-group">
									<label class="control-label" for="currency_id"><%= t 'project.attribute.currency' %></label>
									<select name="project[currency_id]" class="form-control" id="currency_id">
										<% Currency.get_options.each do |c| %>
											<option value="<%= c.id %>" <%= 'selected' if c.id == @project.currency_id || (!c.options_hash.nil? && c.options_hash.has_key?('default') && @project.currency_id.blank?) %> <%= c.options_hash['html']['attributes'] %>><%= c.name %></option>
										<% end %>
									</select>
								</article>

							<!-- / Currency -->

							<!-- Price -->

								<article class="form-group" data-toggled-element="sell un-rent">
									<label class="control-label" for="unit_price">
										Đơn giá
									</label>
									<div class="input-group">
										<input data-constraint="integer range" data-maxvalue="1000000000000" value="<%= @project.unit_price.to_i unless @project.unit_price.blank? %>" name="project[unit_price]" class="form-control separate-number" id="unit_price">
										<div class="input-group-btn">
											<input type="hidden" name="project[price_unit_id]" value="<%= current_price_unit.id %>" />
											<button type="button" class="btn btn-flat btn-default dropdown-toggle unit-label" data-toggle="dropdown" aria-expanded="false"><span class="text"><%= t 'unit.text.' + current_price_unit.name %></span><span class="fa fa-caret-down margin-left-5"></span></button>
											<ul class="dropdown-menu pull-right">
												<%= price_unit_html.html_safe %>
											</ul>
										</div>
									</div>
									<section class="money-text font-size-12"><%= @project.unit_price_text %></section>
								</article>

							<!-- / Price -->

							<!-- Payment method -->

								<article class="form-group">
									<label class="control-label" for="payment_method"><%= t 'project.attribute.payment_method' %></label>
									<textarea data-editor-extra-plugins=",uploadimage,filebrowser,image2" aria-input-type="editor" name="project[payment_method]" class="form-control" id="payment_method"><%= @project.payment_method %></textarea>
								</article>

								<article class="form-group">
									<label class="control-label" for="payment_attachment">Đính kèm</label>
									<input class="file-upload" type="file" multiple name="project[payment_attachment_ids][]" aria-name="image_upload" data-amount="5" data-init-value="<%= attachment_init_value %>" data-has_description data-has_order id="payment_attachment" />
								</article>

							<!-- / Payment method -->

						</section>
					</article>

				<!-- / Payment info -->

				<!-- Images -->

					<article aria-name="image" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title">
								<%= t 'project.attribute.image' %>
							</h2>
						</section>
						<section class="box-body">
							<article class="form-group">
								<label class="control-label">Hình ảnh</label>
								<sup class="required-label"></sup>
								<p>Bạn có thể đăng 10 ảnh mô tả dự án của mình</p>
								<p>Hãy chọn <b>hình đại diện</b> bằng cách click vào hình</p>
								<input class="file-upload" data-constraint="required" type="file" multiple name="project[image_ids][]" aria-name="image_upload" data-amount="10" data-types="image" data-init-value="<%= image_init_value %>" data-has_description data-has_avatar data-has_order />
							</article>
						</section>
					</article>

				<!-- / Images -->

				<!-- Display -->

					<article aria-name="display" class="box box-default">
						<section class="box-header with-border">
							<h2 class="box-title">
								Giao diện
							</h2>
						</section>
						<section class="box-body">
							<article class="form-group">
								<label class="control-label">
									Ảnh bìa
									<sup class="required-label"></sup>
								</label>
								<input data-constraint="required" data-init-value="<%= cover_image_init_value %>" name="project[cover_image]" class="file-upload" type="file" data-types="image" />
							</article>
							<article class="form-group">
								<label class="control-label">
									Màu chủ đạo
									<sup class="required-label"></sup>
								</label>
								<input data-constraint="required" aria-input-type="color" name="project[main_color]" class="form-control" value="<%= @project.main_color %>" />
							</article>
						</section>
					</article>

				<!-- / Display -->

				<!-- Button -->

					<article aria-name="button" class="box box-solid">
						<section class="box-body row">
							<% if @project.new_record? %>
								<div class="margin-top-bottom-5 col-xs-12 col-sm-6">
									<button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'project.view.create.finish' %></b></button>
								</div>
								<div class="margin-top-bottom-5 col-xs-12 col-sm-6">
									<button type="button" class="btn btn-default btn-block btn-flat" aria-click="save-draft"><b><%= t 'project.view.create.save_draft' %></b></button>
								</div>
							<% else %>
								<div class="margin-top-bottom-5 col-xs-12">
									<button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'project.view.create.finish' %></b></button>
								</div>
							<% end %>
						</section>
					</article>

				<!-- / Button -->

			</section>
				
		</section>
	
	</section>

</form>

<section id="project_document" class="form-document-container">
	<section class="close-button">
		<span class="fa fa-question"></span>
	</section>
	<section class="form-document-content">
		<p class="title">
			Hướng dẫn đăng dự án
		</p>
		<p>
			Đăng dự án gồm 3 bước:
		</p>
		<ul>
			<li>
				<p>
					<u>Đăng thông tin cơ bản</u>: Cung cấp các thông tin cơ bản về dự án.
				</p>
			</li>
			<li>
				<p>
					<u>Đăng thông tin chi tiết</u>: Cung cấp các thông tin về block, sản phẩm cũng như cấu tạo của dự án
				</p>
			</li>
			<li>
				<p>
					<u>Thiết lập hình ảnh</u>: Sử dụng cách hình ảnh đã có, ghép nối các đối tượng với nhau
				</p>
			</li>
		</ul>
		<p class="title">
			Mục đích
		</p>
		<p>
			Hãy nhập các thông tin theo từng đề mục. Các thông tin không có dấu <b>*</b> là không bắt buộc
		</p>
		<p class="title">
			Các thông tin
		</p>
		<p>
			<b>Tên dự án</b>: Được sử dụng để làm tiêu đề.
		</p>
		<p>
			<b>Logo</b>: Gồm logo rút gọn và logo đầy đủ. Các bạn có thể chỉ cung cấp logo rút gọn.
		</p>
		<p>
			<b>Slogan</b>: Khẩu hiệu của dự án.
		</p>
		<p>
			<b>Giới thiệu</b>: Giới thiệu sơ bộ về dự án.
		</p>
		<p>
			<b>Địa chỉ</b>: Cung cấp thông tin vị trí đường, phường, quận, thành phố của dự án thông qua Google Máp.
		</p>
		<p>
			<b>Mô tả vị trí</b>: Sử dụng văn bản, hình ảnh để mô tả thêm về vị trí thuận lợi của dự án.
		</p>
		<p>
			<b>Loại dự án</b>: Gồm
			<ul>
				<li>
					<p>
						<u>Căn hộ</u>: Là dự án chỉ gồm các block căn hộ cao cấp, trung bình, thu nhập thấp hoặc nhà ở xã hội.
					</p>
					<p>
						Trong trường hợp dự án gồm nhiều block căn hộ nhưng các tính chất block khác nhau (ví dụ block A là căn hộ cao cấp, block B là căn hộ trung bình) thì các bạn chỉ cần chọn loại dự án là "Căn hộ", không cần chọn chi tiết (khi cung cấp thông tin block sẽ chọn).
					</p>
				</li>
				<li>
					<p>
						<u>Căn hộ phức hợp</u>: Là dự án gồm các block có nhiều loại sản phẩm như căn hộ, văn phòng (loại sản phẩm sẽ được cung cấp riêng theo từng sản phẩm).
					</p>
				</li>
				<li>
					<p>
						<u>Nhà liền kề</u>: Là dự án chi gồm các block nhà phố hoặc biệt thự liền kề.
					</p>
					<p>
						Trong trường hợp dự án gồm nhiều block nhà liền kề nhưng bao gồm cả nhà phố và biệt thự thì các bạn chỉ cần chọn "Nhà liền kề", không cần chọn chi tiết.
					</p>
				</li>
				<li>
					<p>
						<u>Cao ốc văn phòng</u>: Là dự án chỉ gồm các block cao ốc văn phòng.
					</p>
				</li>
				<li>
					<p>
						<u>Đất nền</u>: Là dự án chỉ gồm các block đất nền.
					</p>
				</li>
				<li>
					<p>
						<u>Phức hợp</u>: Là dự án gồm nhiều block với tính chất khác nhau, tính chất này sẽ được xác định ở từng block.
					</p>
				</li>
			</ul>
		</p>
		<p>
			<b>Diện tích</b>: Diện tích tổng quát, diện tích xây dựng và mật độ xây dựng của dự án.
		</p>
		<p>
			<b>Tiện ích</b>: Thông tin về các tiện ích của dự án.
		</p>
		<p>
			<b>Tiến độ thực hiện</b>: Thông tin về tiến độ thực hiện dự án.
		</p>
		<p>
			<b>Đơn vị tham gia</b>: Thông tin nhà đầu tư dự án và các đơn vị khác.
		</p>
		<p>
			<b>Thông tin thanh toán</b>:
			<ul>
				<li>
					<p>
						<u>Loại tiền tệ</u>: Loại tiền tệ sẽ được sử dụng trong toàn bộ dự án.
					</p>
					<p>
						<u>Đơn gía</u>: Đơn gía tham khảo của dự án.
					</p>
					<p>
						<u>Phương thức thanh toán, đính kèm</u>: Các thông tin về cách thức thanh toán của dự án. Các bạn có thể nhập liệu hoặc đính kèm tập tin để cung cấp thông tin cho người dùng.
					</p>
				</li>
			</ul>
		</p>
		<p>
			<b>Hình ảnh</b>: Hình ảnh của dự án. Cần có hình ảnh hiển thị các block để tiện cho bước "Thiết lập hình ảnh"
		</p>
		<p>
			<b>Ảnh bìa, màu chủ đạo</b>: Hình bìa, màu sắc chính hiển thị trên giao diện dự án
		</p>
	</section>
</section>