<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/projects/index.css" />
		<link rel="stylesheet" href="/assets/shared/ion.rangeSlider.skinFlat.css" />
		<link rel="stylesheet" href="/assets/shared/ion.rangeSlider.css" />
		<link rel="stylesheet" href="/assets/shared/normalize.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/shared/ion.rangeSlider.min.js"></script>
	<script type="text/javascript" src="/assets/projects/index.js"></script>
<% end %>

<% 
	per = get_value_by_width_type [1, 2, 3, 4]
	per_2_row = get_value_by_width_type [2, 4, 4, 6]
%>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm dự án giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-sale"></i><span>Dự án Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-rent"></i><span>Dự án Thuê</span></label>
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... dự án tại Quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li class="active">Danh sách dự án</li>
	</ol>
</section>
<!-- end navigator -->

<!-- start favorite-property -->
<section class="container block favorite-project">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>DỰ ÁN NỔI BẬT</span>
		</a>
	</article>
	<article class="content">
		<section class="favorite">
			<article class="slick" id="slick-favorite">
				<% 
					projects = Project.search_with_params.limit 3 
				%>
				<% projects.each do |p| %>
					<div class="">
						<div class="item-lg">
							<div class="row">
								<div class="col-md-8 picture">
									<%= project_avatar p, style_class: 'thumbnail img-responsive', style: 'slide' %>
								</div>
								<div class="col-md-4">
									<div class="name">
										<%= p.project_name %>
									</div>
									<div class="status">						
										<% if p.display_deadline %>
											<i class="fa fa-circle done"></i>
											<span>Đã hoàn thành</span>
										<% else %>
											<i class="fa fa-circle working"></i>
											<span>Chưa hoàn thành</span>
										<% end %>
									</div>
									<div class="address" data-toggle="tooltip" data-placement="top" title="Số 55 đường Nguyễn Hữu Thọ, phường Tân Quy, Quận 7">
										<i class="icon-16 icon-position"></i>
										<span><%= p.display_address %></span>
									</div>
									<% if p.unit_price_text.present? %>
										<div class="price">
											<i class="icon-16 icon-dollar"></i>
											<p class="number sale"><%= p.display_unit_price %></p>
										</div>
									<% end %>
									<div class="function">
										<a href="javascript:void(0)" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích" data-popup="coming-soon"></a>
										<a href="javascript:void(0)" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua" data-popup="coming-soon"></a>
										<a href="javascript:void(0)" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội" data-popup="coming-soon"></a>
										<a href="javascript:void(0)" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này" data-popup="coming-soon"></a>
									</div>
									<div class="detail pre" data-dot><%= p.description %></div>
									<div class="btn-more">
										<a href="/projects/<%= p.id %>">Xem chi tiết</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</article>
			<button class="slider-control prev" id="favor-prev"></button>
			<button class="slider-control next" id="favor-next"></button>			
		</section>
		<section class="user-projects">		
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a href="#suggest_property" role="tab" data-toggle="tab">
						Dự án có thể bạn quan tâm
					</a>
				</li>
				<li>
					<a href="#new_property" role="tab" data-toggle="tab">
						Dự án gần bạn nhất
					</a>
				</li>
				<li>
					<a href="#recently_action" role="tab" data-toggle="tab">
						Dự án tương tác gần đây
					</a>
				</li>
			</ul>
			<!-- end -->

			<!-- Tab panes -->
			<div class="tab-content">
				<div aria-pagination data-url="/projects/search" data-data='{"per":<%= per %>}' data-list="#suggest_property > .row" data-pagination="#suggest_property > .paging" data-init_list="showPopup($list)" class="tab-pane fade in active" id="suggest_property">
					<% 
						projects = Project.search_with_params.limit per
					%>
					<div class="row">
						<%= render partial: 'projects/item_list', locals: { projects: projects } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: projects.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/projects/search" data-data='{"per":<%= per %>}' data-list="#suggest_property > .row" data-pagination="#suggest_property > .paging" data-init_list="showPopup($list)" class="tab-pane fade" id="new_property">
					<% 
						projects = Project.search_with_params.limit per
					%>
					<div class="row">
						<%= render partial: 'projects/item_list', locals: { projects: projects } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: projects.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/projects/search" data-data='{"per":<%= per %>}' data-list="#recently_action > .row" data-pagination="#recently_action > .paging" data-init_list="showPopup($list)" class="tab-pane fade" id="recently_action">
					<% 
						projects = Project.search_with_params.limit per
					%>
					<div class="row">
						<%= render partial: 'projects/item_list', locals: { projects: projects } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: projects.count, page: 1 } %>						
					</div>
				</div>
			</div>
			<!-- end -->
		</section>
	</article>
</section>
<!-- end favorite-property -->

<!-- start seo-word -->
<section class="container">
	<section class="seo-word">
		<article class="title">đang nổi trên thị trường</article>
		<article class="row content">
			<div class="col-md-4 col-sm-6 seo-item">
				<a href="#">
					<img src="/assets/product/BDS01.jpg" class="img-circle img-responsive">
					<span>Dự án giá 1 tỷ</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 seo-item">
				<a href="#">
					<img src="/assets/product/BDS09.jpg" class="img-circle img-responsive">
					<span>Dự án biệt thự nghĩ dưỡng</span>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 seo-item">
				<a href="#">
					<img src="/assets/product/BDS03.jpg" class="img-circle img-responsive">
					<span>Dự án căn hộ cao cấp</span>
				</a>
			</div>			
		</article>
	</section>	
</section>
<!-- end -->

<!-- start list-project -->
<section class="list-project container">
	<!-- start tab -->
	<article class="tabs-wrapper">
		<ul class="nav nav-pills nav-sm nav-justified tabs-scroll" role="tab-list-project">
			<li class="active">
				<a href="#apartment">Khu căn hộ</a>
			</li>
			<li>
				<a href="#office">Cao ốc văn phòng</a>
			</li>
			<li>
				<a href="#residental">Khu dân cư</a>
			</li>
			<li>
				<a href="#residental">Khu công nghiệp</a>
			</li>
			<li>
				<a href="#residental">Khu thương mại</a>
			</li>
		</ul>
	</article>
	<!-- end -->

	<!-- start content -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="apartment">
			<div class="row">
				<div class="col-md-3">
					<article class="panel-left-box scrollspy">
						<ul class="panel-left nav hidden-xs hidden-sm">
							<li>
								<a href="#new_project">Dự án mới nhất</a>
							</li>
							<li>
								<a href="#price_project">Dự án theo giá</a>
							</li>
							<li>
								<a href="#position_project">Dự án theo vị trí</a>
							</li>
						</ul>
					</article>
				</div>
				<div class="col-md-9">
					<section class="item new-project" id="new_project">
						<article class="title">
							<span>Khu căn hộ mới nhất</span>
						</article>
						<article aria-pagination data-url="/projects/search" data-data='{"list_type":2,"per":<%= per_2_row %>}' data-list="#newest_apartment > .row" data-init_list="showPopup($list)" data-pagination="#newest_apartment > .paging" class="content" id="newest_apartment">
							<% 
								projects = Project.search_with_params(newest: nil).limit per_2_row
							%>
							<div class="row">
								<%= render partial: 'projects/item_list', locals: { projects: projects, type: 2 } %>
							</div>
							<div class="paging">
								<%= render partial: 'shared/pagination_2', locals: { per: per_2_row, total: projects.count } %>
							</div>
						</article>
					</section>
					<section class="item price-project" id="price_project" >
						<article class="title">
							<span>Khu căn hộ theo giá</span>
						</article>
						<article class="content">
							<ul class="suggest">
								<li>
									<a href="#" class="suggest-item">Khu căn hộ giá 1tỷ</a>
								</li>
								<li>
									<a href="#">Khu căn hộ giá 1tỷ - 2tỷ</a>
								</li>
								<li>
									<a href="#">Khu căn hộ giá 2tỷ - 5tỷ</a>
								</li>						
							</ul>
							<input type="text" id="slider" data-from="0" data-to="2000000000" data-min="0" data-max="3000000000" data-step="1000000" data-keyboard_step="500000000" data-min_interval="300000000" data-per="<%= per_2_row %>" />
							<% 
								projects = Project.search_with_params price: '0;2000000000'
							%>
							<ul id="price_list" class="row" style="margin-top: 15px;">			
								<%= render partial: 'projects/item_list', locals: { projects: projects.take(per_2_row), type: 2 } %>
							</ul>
							<div id="price_pagination">
								<%= render partial: 'shared/pagination_2', locals: { per: per_2_row, total: projects.count } %>
							</div>
						</article>
					</section>
					<section class="item position-project" id="position_project">
						<article class="title">
							<span>Khu căn hộ tại </span>
							<div class="btn-group">
								<a class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thành phố Hồ Chí Minh<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="">Hà Nội</a></li>
									<li><a href="">Đà Nẵng</a></li>
									<li><a href="">Hội An</a></li>
									<li><a href="">Hải Phòng</a></li>
									<li><a href="">Cần Thơ</a></li>
									<li><a href="">Tiền Giang</a></li>
									<li><a href="">Bến Tre</a></li>
								</ul>
							</div>
							<div class="dropdown-district">
								<% 
									# districts = District.order name: 'asc'
									districts = District.all
								%>
								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span aria-name="district_name"><%= districts[0].name %></span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu pull-right">
										<li>
											<div class="row-fluid dropdown-box">
												<div class="col-sm-6">
													<ul class="unstyled span4">
														<% districts.take((districts.count / 2.0).ceil).each do |district| %>
															<li><a aria-click="position_change" data-value="<%= district.id %>" href="javascript:void(0)"><%= district.name %></a></li>
														<% end %>
													</ul>
												</div>
												<div class="col-sm-6">
													<ul class="unstyled span4">
														<% districts.offset((districts.count / 2.0).ceil).each do |district| %>
															<li><a aria-click="position_change" data-value="<%= district.id %>" href="javascript:void(0)"><%= district.name %></a></li>
														<% end %>
													</ul>
												</div>										
											</div>
										</li>
									</ul>
								</div>
							</div>
						</article>
						<article class="content">
							<% 
								projects = Project.search_with_params(district: districts[0].id).limit per_2_row
							%>
							<div id="position_list" class="row">
								<%= render partial: 'projects/item_list', locals: { projects: projects, type: 2 } %>
							</div>
							<div id="position_pagination" class="paging">
								<%= render partial: 'shared/pagination_2', locals: { per: per_2_row, total: projects.count } %>
							</div>
						</article>
					</section>
				</div>
			</div>
		</div>		
	</div>
	<!-- end -->
</section>
<!-- end -->

<!-- start distributor project  -->
<section class="container block distributor-project">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>DỰ ÁN THEO CHỦ ĐẦU TƯ</span>
		</a>
	</article>
	<article class="content">
		<div class="wrapper">
			<div class="single-logo">
				<div class="item-logo">
					<img src="/assets/logo/logo-novaland.png">
				</div>
				<div class="item-logo">
					<img src="/assets/logo/logo-khaihoan.png">
				</div>
				<div class="item-logo">
					<img src="/assets/logo/logo-vingroup.png">
				</div>				
			</div>
			<i class="fa fa-chevron-left slick-left" data-button="previous"></i>
			<i class="fa fa-chevron-right slick-right" data-button="next"></i>
		</div>
		<ul class="content-logo">
			<li class="item-content">
				<section class="nav-project">
					<div class="slide-nav">
						<ul>
							<li class="active" role="navaland" data-switch-object="sunrise-city">
								<span>SUNRISE CITY</span>
							</li>
							<li role="navaland" data-switch-object="tresor">
								<span>THE TRESOR</span>
							</li>
							<li role="navaland" data-switch-object="avenue">
								<span>THE PARK AVENUE</span>
							</li>
							<li role="navaland" data-switch-object="gardengate">
								<span>GARDENGATE</span>
							</li>
							<li role="navaland" data-switch-object="golden">
								<span>GOLDEN MANSION</span>
							</li>
						</ul>
					</div>
					<div class="content" role="navaland">
						<ul>
							<li data-object="sunrise-city" class="active">
								<a href="#"><img src="/assets/product/DuAn02.jpg" class="img-responsive"></a>
							</li>
							<li data-object="tresor">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="avenue">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
							<li data-object="gardengate">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="golden">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
						</ul>						
					</div>
				</section>
			</li>
			<li class="item-content">
				<section class="nav-project">
					<div class="slide-nav">
						<ul>
							<li class="active" role="khaihoanland" data-switch-object="a">
								<span>SUNRISE CITY</span>
							</li>
							<li role="khaihoanland" data-switch-object="b">
								<span>THE TRESOR</span>
							</li>
							<li role="khaihoanland" data-switch-object="c">
								<span>THE PARK AVENUE</span>
							</li>
							<li role="khaihoanland" data-switch-object="d">
								<span>GARDENGATE</span>
							</li>
							<li role="khaihoanland" data-switch-object="e">
								<span>GOLDEN MANSION</span>
							</li>
						</ul>
					</div>
					<div class="content" role="khaihoanland">
						<ul>
							<li data-object="a" class="active">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
							<li data-object="b">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="c">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
							<li data-object="d">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="e">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
						</ul>						
					</div>
				</section>
			</li>
			<li class="item-content">
				<section class="nav-project">
					<div class="slide-nav">
						<ul>
							<li class="active" role="vingroup" data-switch-object="f">
								<span>SUNRISE CITY</span>
							</li>
							<li role="vingroup" data-switch-object="g">
								<span>THE TRESOR</span>
							</li>
							<li role="vingroup" data-switch-object="h">
								<span>THE PARK AVENUE</span>
							</li>
							<li role="vingroup" data-switch-object="i">
								<span>GARDENGATE</span>
							</li>
							<li role="vingroup" data-switch-object="j">
								<span>GOLDEN MANSION</span>
							</li>
						</ul>
					</div>
					<div class="content" role="vingroup">
						<ul>
							<li data-object="f" class="active">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
							<li data-object="g">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="h">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
							<li data-object="i">
								<img src="/assets/product/DuAn01.jpg" class="img-responsive">
							</li>
							<li data-object="j">
								<img src="/assets/product/DuAn02.jpg" class="img-responsive">
							</li>
						</ul>						
					</div>
				</section>
			</li>			
		</ul>
	</article>
</section>
<!-- end -->