<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/projects/index.css" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/projects/index.js"></script>
<% end %>

<%
=begin
	@favorite_projects, @projects
=end
 
	@_title = 'Dự án'
	@_description = 'Danh sách dự án'
	@_main_navigator = {
		background: '/assets/shared/main_navigator/main_2.jpeg',
		list: [
			{
				url: '/du-an',
				text: 'Dự án'
			}
		]
	}
	@_main_class = 'projects-index'

	page = params[:page].present? ? params[:page].to_i : 1
%>

<% if @favorite_projects.present? %>
	<article class="container-box container-box-transparent">
		<section class="container-box-header">
			<h2 class="container-box-title">
				Dự án đang được yêu thích
			</h2>
		</section>
		<section class="container-box-body">
			<%
				per = 3
			%>
			<%= render partial: 'projects/items_list', locals: { type: 2, projects: @favorite_projects.random.limit(per), list_id: 'favorite_projects_list' } %>
		</section>
	</article>
<% end %>

<article class="container-box container-box-transparent">
	<section class="container-box-header">
		<h2 class="container-box-title">
			Dự án dành cho bạn
		</h2>
	</section>
	<section class="container-box-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<%
						per = 12
						
						page_href = Proc.new do |page| 
							request.GET['page'] = page
							'?' + request.GET.to_query
						end
					%>
					<%=
						render(
							partial: 'projects/items_list',
							locals: { 
								projects: @projects.page(page, per), 
								paging: (@projects.count / per.to_f).ceil,
								list_id: 'projects_list',
								page_href: page_href,
								current_page: page
							}
						)
					%>
				</div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
					<article class="search-box-container">
						<div class="search-box">
							<h2 class="box-title">
								<span class="icon ico-search"></span><span class="text">Tìm kiếm</span>
							</h2>
							<section class="box-content">
								<form class="form" action="/tim_kiem" method="get">
									<div class="row">
										<article class="form-group col-sm-12 col-md-12 col-lg-12">
											<input class="form-control" name="search[keyword]" placeholder="Mã, tên, mô tả bất động sản..." value="" />
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control input-toggle" name="search[purpose]">
												<option data-on="sell" data-off="rent" value="" hidden>Loại hình giao dịch</option>
												<option data-on="sell" data-off="rent" value="sell">Bán</option>
												<option data-on="rent" data-off="sell" value="rent">Cho thuê</option>
												<option data-on="sell" data-off="rent" value="">Bán hoặc cho thuê</option>
												<option data-on="rent" data-off="sell" value="transfer">Sang nhượng</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[real_estate_type]">
												<option value="" hidden>Loại bất động sản</option>
												<option value="">Tất cả loại</option>
												<% RealEstateType.all.each do |type| %>
													<option value="<%= type.id %>"><%= type.display_name %></option>
												<% end %>
											</select>
										</article>
										<%
											hcm_province = Province.where(name: 'Tp. Hồ Chí Minh').first_or_initialize
										%>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control input-toggle" name="search[province]">
												<option value="" data-off="district" hidden>Tỉnh/thành phố</option>
												<option value="" data-off="district">Tất cả tỉnh/thành phố</option>
												<% Province.all.each do |province| %>
													<option value="<%= province.id %>" data-on="district" <%= 'selected' if province.id == hcm_province.id %>><%= province.name %></option>
												<% end %>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control disable-only" name="search[district]" data-toggled-element="district">
												<option value="" hidden>Quận/huyện</option>
												<option value="">Tất cả quận/huyện</option>
												<% District.where(province_id: hcm_province.id).each do |district| %>
													<option value="<%= district.id %>"><%= district.name %></option>
												<% end %>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select data-toggled-element="sell" class="form-control" name="search[price_from]">
												<option value="">Giá thấp nhất</option>
												<option value="1000">Từ 1 tỷ</option>
												<option value="1500">Từ 1.5 tỷ</option>
												<option value="2000">Từ 2 tỷ</option>
												<option value="3000">Từ 3 tỷ</option>
												<option value="5000">Từ 5 tỷ</option>
												<option value="10000">Từ 10 tỷ</option>
											</select>
											<select data-toggled-element="rent" class="form-control" name="search[price_from]">
												<option value="">Giá thấp nhất</option>
												<option value="1">Từ 1 triệu</option>
												<option value="1.5">Từ 1.5 triệu</option>
												<option value="2">Từ 2 triệu</option>
												<option value="3">Từ 3 triệu</option>
												<option value="5">Từ 5 triệu</option>
												<option value="10">Từ 10 triệu</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select data-toggled-element="sell" class="form-control" name="search[price_to]">
												<option value="" hidden>Giá cao nhất</option>
												<option value="1000">Đến 1 tỷ</option>
												<option value="1500">Đến 1.5 tỷ</option>
												<option value="2000">Đến 2 tỷ</option>
												<option value="3000">Đến 3 tỷ</option>
												<option value="5000">Đến 5 tỷ</option>
												<option value="10000">Đến 10 tỷ</option>
												<option value="">Giá cao nhất</option>
											</select>
											<select data-toggled-element="rent" class="form-control" name="search[price_to]">
												<option value="" hidden>Giá cao nhất</option>
												<option value="1">Đến 1 triệu</option>
												<option value="1.5">Đến 1.5 triệu</option>
												<option value="2">Đến 2 triệu</option>
												<option value="3">Đến 3 triệu</option>
												<option value="5">Đến 5 triệu</option>
												<option value="10">Đến 10 triệu</option>
												<option value="">Giá cao nhất</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[area_from]">
												<option value="">Diện tích thấp nhất</option>
												<option value="50">Từ 50m2</option>
												<option value="100">Từ 100m2</option>
												<option value="150">Từ 150m2</option>
												<option value="200">Từ 200m2</option>
												<option value="300">Từ 300m2</option>
												<option value="500">Từ 500m2</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[area_to]">
												<option value="" hidden>Diện tích cao nhất</option>
												<option value="50">Đến 50m2</option>
												<option value="100">Đến 100m2</option>
												<option value="150">Đến 150m2</option>
												<option value="200">Đến 200m2</option>
												<option value="300">Đến 300m2</option>
												<option value="500">Đến 500m2</option>
												<option value="">Diện tích cao nhất</option>
											</select>
										</article>
									</div>
									<article class="form-group text-center margin-top-15">
										<button type="submit" class="btn btn-green">Tìm kiếm</button>
									</article>
								</form>
							</section>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</article>