<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/projects/index.css" />
<% end %>

<% content_for :scripts do %>

<% end %>

<!-- #start slide-picture -->
<section class="slide-picture">
  <ul class="details">
    <li>
      <div class="picture">
        <img src="/assets/product/DuAn01.jpg">
      </div>
      <div class="title">Dự án Riverside</div>
      <div class="state">Đang hoàn thành</div>
      <div class="address">Đường Lê Văn Lương, Phường Tân Quy, Quận 7</div>
    </li>
  </ul>
  <ul class="scroll">
    <li class="inactive"></li>
    <li class="active"></li>
    <li class="inactive"></li>
    <li class="inactive"></li>
    <li class="inactive"></li>
  </ul>
</section>
<!-- #end slide-picture -->
<!-- #start separator -->
<section class="separator">
</section>
<!-- #end separator -->
<!-- #start projects block -->
<section class="block-box">
  <article class="block-content">
    <ul class="project-list row">
      <% @projects.each do |project| %>
        <li class="col-sm-6">
          <section class="project-item">
            <a href="/projects/<%= project.id %>">
              <article class="details">
                <div class="image">
                  <img src="<%= project.images.length != 0 ? "/images/#{project.images[0].id}" : '/assets/product/BDS09.jpg' %>" />
                </div>
                <div class="content">
                  <h4><%= project.title %></h4>
                  <div class="investor"><span><%= project.investor.name %></span></div>
                  <div class="state">Đang hoàn thành</div>
                  <div class="properties">
                    <%= project.description %>
                  </div>
                </div>
                <div class="favorite-button"></div>
              </article>
            </a>
            <article class="link">
              <a href="#">Xem tất cả bất động sản</a>
              <a href="#" class="share-button"></a>
            </article>
          </section>
        </li>
      <% end %>
    </ul>
  </article>
</section>
<!-- #end projects block -->