<% 
  @title = t 'project.view.my.page_title'
%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/assets/projects/my.css" />
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/my.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'project.view.my.form_title' %>
<% end %>

<%
  total = @projects.count
  per = Rails.application.config.item_per_page
%>

<section class="box box-solid">
  <section class="box-body">
    <form id="search_form">
      <article class="form-group">
        <div class="input-group margin">
          <input data-nonvalid name="keyword" type="text" class="form-control" placeholder="<%= t 'form.search_placeholder' %>" />
          <span class="input-group-btn">
            <button data-nonvalid class="btn btn-default" type="submit"><%= t 'form.search' %></button>
          </span>
        </div>
      </article>
      <article class="form-group no-margin text-center">
        <a href="javascript:void(0)" aria-click="order" data-name="id" data-sort="asc" class="no-underline text-muted" title="Mã">
          <span class="font-bold">#</span>
          <i class="fa fa-sort" aria-name="sort"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" aria-click="order" data-name="view" data-sort="desc" class="no-underline text-muted" title="Lượt xem">
          <i class="fa fa-eye"></i>
          <i class="fa fa-sort" aria-name="sort"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" aria-click="order" data-name="interact" data-sort="desc" data-now class="no-underline text-muted" title="Có tương tác">
          <i class="fa fa-mail-reply-all"></i>
          <i class="fa fa-sort-desc" aria-name="sort"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:void(0)" aria-click="order" data-name="favorite" data-sort="desc" class="no-underline text-muted" title="Yêu thích">
          <i class="fa fa-heart"></i>
          <i class="fa fa-sort" aria-name="sort"></i>
        </a>
      </article>
    </form>
  </section>
</section>

<section>
  <article id="project_list" class="row item-list">
    <% if total != 0 %>
      <%= render partial: 'projects/my_list', locals: { projects: @projects.page(1, per) } %>
    <% else %>
      <div class="alert alert-warning alert-dismissible" style="width: 80%; margin: 0 auto;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4 class="no-margin"><i class="icon fa fa-warning"></i> Chưa có tin nào</h4></div>
    <% end %>
  </article>
  <nav class="text-center" id="pagination">
    <% if total != 0 %>
      <%= render partial: 'shared/pagination', locals: { total: total, per: per } %>
    <% end %>
  </nav>
</section>