<% 
  @title = t 'project.view.my.page_title'
%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/assets/projects/my.css" />
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/my.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'project.view.my.form_title' %>
<% end %>

<%
  total = @projects.count
  per = Rails.application.config.item_per_page
%>

<section class="box box-solid">
  <section class="box-body">
    <form id="search_form">
      <div class="input-group margin">
        <input name="keyword" type="text" class="form-control" placeholder="<%= t 'project.view.my.search_placeholder' %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><%= t 'project.view.my.search' %></button>
        </span>
      </div>
    </form>
  </section>
</section>

<section class="box box-default">
  <section class="box-body no-padding table-responsive">
    <table class="table table-striped project-content">
      <thead>
        <th><%= t 'project.attribute.id' %></th>
        <th><%= t 'project.attribute.title' %></th>
        <th><%= t 'project.attribute.investor' %></th>
        <th><%= t 'project.attribute.project_type' %></th>
        <th><%= t 'project.attribute.status' %></th>
        <th>&nbsp;</th>
      </thead>
      <tbody id="project_list">
        <% if total != 0 %>
          <%= render partial: 'projects/my_list', locals: { projects: @projects.page(1, per) } %>
        <% end %>
      </tbody>
    </table>
    <div><% if total == 0 %>Bạn chưa đăng tin nào<% end %></div>
  </section>
  <nav class="text-center" id="pagination">
    <% if total != 0 %>
      <%= render partial: 'shared/pagination', locals: { total: total, per: per } %>
    <% end %>
  </nav>
</section>