<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/assets/projects/pending.css" />
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/projects/pending.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'project.view.pending.form_title' %>
<% end %>

<%
=begin
  params: @projects
=end

  @title = t 'project.view.pending.page_title'

  total = @projects.count
  per = Rails.application.config.item_per_page
%>

<section class="box box-solid">
  <section class="box-body">
    <form id="search_form">
      <div class="input-group margin">
        <input name="keyword" type="text" class="form-control" placeholder="<%= t 'project.view.pending.search_placeholder' %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><%= t 'project.view.pending.search' %></button>
        </span>
      </div>
    </form>
  </section>
</section>

<section class="box box-default">
  <section class="box-body no-padding table-responsive">
    <table class="table table-striped re-content">
      <thead>
        <th><%= t 'project.attribute.id' %></th>
        <th><%= t 'project.attribute.name' %></th>
        <th><%= t 'project.attribute.investor' %></th>
        <th><%= t 'project.attribute.project_type' %></th>
        <th>&nbsp;</th>
      </thead>
      <tbody id="project_list">
        <% if total != 0 %>
          <%= render partial: 'projects/pending_list', locals: { projects: @projects.page(1, per) } %>
        <% end %>
      </tbody>
    </table>
    <div><% if total == 0 %>Không có tin đang chờ duyệt<% end %></div>
  </section>
  <nav class="text-center" id="pagination">
    <% if total != 0 %>
      <%= render partial: 'shared/pagination', locals: { total: total, per: per } %>
    <% end %>
  </nav>
</section>