<% 
=begin
	params: @project
=end

%>

<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/projects/setup_interact_images.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/projects/setup_interact_images.js"></script>
	<script type="text/javascript">
		project_id = <%= @project.id %>;
	</script>
	<script type="text/javascript">
		$(function () {
			_initTabContainer($('.free-style-tab-container'));
			_initManualHorizontalList($('.manual-horizontal-list'));
		})
	</script>
<% end %>

<section class="form-progress-container container-fluid">
	<ul class="row">
		<li class="col-xs-3 success">
			<section class="icon"></section>
			<a class="text" href="/du-an/chinh-sua/<%= @project.id %>">Đăng thông tin cơ bản</a>
		</li>
		<li class="col-xs-3 success">
			<section class="icon"></section>
			<a class="text" href="/du-an/dang-chi-tiet/<%= @project.id %>">Đăng thông tin chi tiết</a>
		</li>
		<li class="col-xs-3 active">
			<section class="icon"></section>
			<section class="text">Thiết lập hình ảnh</section>
		</li>
		<!-- <li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Tùy biến giao diện</section>
		</li> -->
		<li class="col-xs-3">
			<section class="icon"></section>
			<section class="text">Hoàn tất đăng tin</section>
		</li>
	</ul>
</section>

<!-- Design -->

	<section class="setup-container">
		<article class="select-description-container">
			<article class="close-popup"></article>
			<aricle class="select-description">

				<!-- Content -->

					<article class="free-style-tab-container">
						<section class="tab-list text-left">
							<ul id="group_description_list">
								<li aria-name="block">
									<a aria-click="change_tab">Block</a>
								</li>
								<li aria-name="block_floor">
									<a aria-click="change_tab">Mặt cắt</a>
								</li>
								<li aria-name="real_estate">
									<a aria-click="change_tab">Bất động sản</a>
								</li>
								<li aria-name="text_image">
									<a aria-click="change_tab">Mô tả <small>&amp;</small> hình ảnh</a>
								</li>
							</ul>
						</section>
						<section class="tab-content-list">

							<!-- Block -->

								<article class="tab-content" aria-name="block">
									<div class="row item-list" id="block_description_list">
									</div>
								</article>

							<!-- / Block -->

							<!-- Block floor -->

								<article class="tab-content" aria-name="block_floor">
									<div class="row item-list" id="block_floor_description_list">
									</div>
								</article>

							<!-- / Block floor -->

							<!-- Real-estate -->

								<article class="tab-content" aria-name="real_estate" id="real_estate_description_list">
								</article>

							<!-- / Real-estate -->

							<!-- Image & text -->

								<article class="tab-content" aria-name="text_image" id="text_image_description_form_container">
								</article>

							<!-- / Image & text -->

						</section>
					</article>

				<!-- / Content -->

				<!-- Button -->

					<article class="buttons-container">
						<a aria-click="save" class="fa fa-check fa-3x text-light-blue low-opacity-button"></a>
						<a aria-click="close" class="fa fa-times fa-3x text-red low-opacity-button"></a>
					</article>

				<!-- / Button -->

			</aricle>
		</article>

		<section id="view" class="view-container">
			<svg id="svg">
				<g>
					<g id="g">
					</g>
				</g>
			</svg>
		</section>
		<section class="toolbox-container">
			<div class="top">
				<a aria-type="tool" aria-click="mouse" class="node"><span class="fa fa-mouse-pointer fa-lg"></span></a>
				<a aria-type="tool" aria-click="polyline" class="node"><span class="fa fa-pencil fa-lg"></span></a>
				<a aria-type="tool" aria-click="cut" class="node"><span class="fa fa-cut fa-lg"></span></a>
			</div>
			<div class="bottom">
				<a aria-click="save" class="node"><span class="fa fa-check-circle-o fa-2x text-light-blue" title="Lưu và thoát"></span></a>
				<a aria-click="exit" class="node"><span class="fa fa-times-circle-o fa-2x text-red" title="Thoát"></span></a>
			</div>
		</section>
		<section class="images-container">
			<article class="image-container horizontal-list-container show">
				<div class="image-list horizontal-list">
					<article class="item horizontal-item"></article>
				</div>
			</article>
		</section>
	</section>

<!-- / Design -->

<!-- View -->

	<section class="view-container">
		<article class="box box-primary">
			<section class="box-header">
				<h2 class="box-title">
					<span aria-object="project-error-icon" class="error-icon fa fa-exclamation fa-lg text-red" style="display: none; margin-left: 5px;"></span>
					<%= @project.project_name %>
				</h2>
			</section>
			<section class="box-body">
				<p aria-object="project-error-text" class="error-text text-red"></p>
				<article class="manual-horizontal-list">
					<section class="list-wrapper">
						<article class="list items-list" data-value="<%= @project.id %>" data-type="project">
							<% @project.images.each do |image| %>
								<article class="col item" data-value="<%= image.id %>">
									<img src="<%= image.image.url('thumb') %>">
									<section class="controls">
										<article class="nodes-list">
											<a class="node fa fa-pencil" title="Thiết lập" aria-click="setup_interact">
											</a>
										</article>
									</section>
								</article>
							<% end %>
						</article>
					</section>
				</article>
			</section>

			<section class="box-body">
				<article class="free-style-tab-container">
					<section class="tab-list">
						<ul>
							<% @project.blocks.each do |block| %>
								<li aria-name="block<%= block.id %>">
									<a aria-click="change_tab">
										<span aria-object="block<%= block.id %>-error-icon" class="error-icon fa fa-exclamation fa-lg text-red" style="display: none; margin-left: 5px;"></span>
										<%= block.name %>
									</a>
								</li>
							<% end %>
						</ul>
					</section>
					<section class="tab-content-list">
						<% @project.blocks.each do |block| %>
							<article class="tab-content" aria-name="block<%= block.id %>">
								<article class="item-container">
									<p aria-object="block<%= block.id %>-error-text" class="error-text text-red"></p>
									<section class="manual-horizontal-list">
										<section class="list-wrapper">
											<article class="list items-list" data-value="<%= block.id %>" data-type="block">
												<% block.images.each do |image| %>
													<article class="col item" data-value="<%= image.id %>">
														<img src="<%= image.image.url('thumb') %>">
														<section class="controls">
															<article class="nodes-list">
																<a class="node fa fa-pencil" title="Thiết lập" aria-click="setup_interact">
																</a>
															</article>
														</section>
													</article>
												<% end %>
											</article>
										</section>
									</section>
									<article class="free-style-tab-container" style="margin-top: 15px;">
										<section class="tab-list">
											<ul>
												<li aria-name="real_estate_group">
													<a aria-click="change_tab">Nhóm sản phẩm</a>
												</li>
												<li aria-name="surface">
													<a aria-click="change_tab">
														<span aria-object="surface<%= block.id %>-error-icon" class="error-icon fa fa-exclamation fa-lg text-red" style="display: none; margin-left: 5px;"></span>
														Mặt cắt sàn
													</a>
												</li>
											</ul>
										</section>
										<section class="tab-content-list">
											<article class="tab-content" aria-name="real_estate_group">
												<article class="free-style-tab-container">
													<section class="tab-list">
														<ul>
															<% block.real_estate_groups.each do |group| %>
																<li aria-name="group<%= group.id %>">
																	<a aria-click="change_tab"><%= group.name %></a>
																</li>
															<% end %>
														</ul>
													</section>
													<section class="tab-content-list">
														<% block.real_estate_groups.each do |group| %>
															<artical class="tab-content" aria-name="group<%= group.id %>">
																<article class="manual-horizontal-list">
																	<section class="list-wrapper">
																		<article class="list items-list" data-value="<%= group.id %>" data-type="real_estates/group">
																			<% group.images.each do |image| %>
																				<article class="col item" data-value="<%= image.id %>">
																					<img src="<%= image.image.url('thumb') %>">
																					<section class="controls">
																						<article class="nodes-list">
																							<a class="node fa fa-pencil" title="Thiết lập" aria-click="setup_interact">
																							</a>
																						</article>
																					</section>
																				</article>
																			<% end %>
																		</article>
																	</section>
																</article>
															</artical>
														<% end %>
													</section>
												</article>
											</article>
											<article class="tab-content" aria-name="surface">
												<p aria-object="surface<%= block.id %>-error-text" class="error-text text-red"></p>
												<article class="manual-horizontal-list">
													<section class="list-wrapper">
														<article class="list items-list" data-value="<%= block.id %>" data-type="blocks/floor">
															<% block.floors.each do |floor| %>
																<article class="col item" data-value="<%= floor.id %>">
																	<img src="<%= floor.surface.url('thumb') %>">
																	<section class="controls">
																		<article class="nodes-list">
																			<a class="node fa fa-pencil" title="Thiết lập" aria-click="setup_interact">
																			</a>
																		</article>
																	</section>
																</article>
															<% end %>
														</article>
													</section>
												</article>
											</article>
										</section>
									</article>
								</article>
							</article>
						<% end %>
					</section>
				</article>
			</section>
		</article>
		<!-- Finish -->

			<article class="text-center">
				<article class="box box-solid" style="display: inline-block; width: auto;">
					<article class="box-body">
						<section class="text-center">
							<p><a class="btn btn-primary" href="/du-an/cua-toi">Hoàn tất</a></p>
						</section>
					</article>
				</article>
			</article>

		<!-- / Finish -->
	</section>	

<!-- / View -->
