<% 
  @title = @project.name 
%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/assets/projects/view.css" />
<% end %>

<% content_for :scripts do %>

<% end %>

<% content_for :aside do %>
    <article class="block-box highlight">
      <section class="block-title">
        <span>Đơn vị phân phối</span>
      </section>
      <section class="block-content poster">
        <article class="left">
          <div class="picture">
            <img src="/assets/product/avatar.JPG">
          </div>
          <span>Mrs.Chi</span>
        </article>
        <article class="right">
          <ul>
            <li>
              <span><img src="/assets/icon/icon_phone.png">01682197651</span>
            </li>
            <li>
              <span class="ellipsis"><img src="/assets/icon/icon_mail.png">muanhaonline@yahoo.comasdasd</span>
            </li>
            <li>
              <span><img src="/assets/icon/icon_skype.png">Penguinblue.chip</span>
            </li>
            <li>
              <span><img src="/assets/icon/icon_contact.png">53 Cô Giang, Phường Cầu Ông Lãnh, Quận 1</span>
            </li>
            <li>
              <button class="btn btn-primary btn-xs">Nhắn tin</button>
              <button class="btn btn-primary btn-xs">Xem tất cả BĐS</button>
            </li>
          </ul>
        </article>
      </section>
    </article>
<% end %>

<!-- #start general infos -->
<section class="block-box highlight">
  <section class="block-title" data-after="Thời gian đăng: <%= @project.created_at.strftime('%d/%m/%Y %H:%M') %>">
    <span><%= @project.title %></span>
  </section>
  <section class="block-content general-infos row">
    <section class="image">
      <img alt="Hình ảnh <%= @project.name %>" title="Hình ảnh <%= @project.name %>" src="<%= @project.images.length != 0 ? "/images/#{@project.images[0].id}" : '/assets/product/Project01.jpg' %>" class="img-responsive">
    </section>
    <section class="infos">
      <ul class="image-infos">
        <% (1...@project.images.length).each do |i| %>
            <li class="item">
              <img alt="Hình ảnh <%= @project.name %>" title="Hình ảnh <%= @project.name %>" src="<%= "/images/#{@project.images[i].id}" %>">
            </li>
        <% end %>
      </ul>
    </section>
  </section>
</section>
<!-- #end general infos -->
<!-- #start address info -->
<section class="address-info">
  <span>Địa chỉ: <b><%= "#{@project.address_number}, quận #{@project.district.name}, #{@project.province.name} " %></b></span>
</section>
<!-- #end address infos -->
<!-- #start share box -->
<section class="share-box row">
  <div class="col-sm-6">
    <span class="description">Chia sẻ trên:</span>
    <a href="#" class="button"><img src="/assets/logo/facebook.png" /></a>
    <a href="#" class="button"><img src="/assets/logo/google.png" /></a>
    <a href="#" class="button"><img src="/assets/logo/youtube.png" /></a>
    <a href="#" class="button"><img src="/assets/logo/twitter.png" /></a>
  </div>
  <div class="col-sm-6">
    <button class="btn btn-primary show-product pull-right">Xem tất cả BĐS</button>
  </div>
</section>
<!-- #end share box -->
<!-- #start detail infos -->
<section class="block-box">
  <section class="block-title">
    Thông tin dự án
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row">
      <li class="col-sm-6">
        Ngang: <b><%= @project.width_x %>m</b>
      </li>
      <li class="col-sm-6">
        Dài: <b><%= @project.width_y %>m</b>
      </li>
      <li class="col-sm-6">
        Diện tích: <b><%= @project.campus_area %>m<sup>2</sup></b>
      </li>
      <li class="col-sm-6">
        Tỉ lệ sử dụng: <b><%= @project.using_ratio %>%</b>
      </li>
      <li class="col-sm-6">
        Thời gian khởi công (dự kiến): <b><%= @project.estimate_starting_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Thời gian hoàn thành (dự kiến): <b><%= @project.estimate_finishing_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Ngày khởi công: <b><%= @project.starting_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Ngày hoàn thành móng: <b><%= @project.finished_base_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Ngày bàn giao: <b><%= @project.transfer_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Ngày cấp sổ: <b><%= @project.docs_issue_date.strftime('%d/%m/%Y') %></b>
      </li>
      <li class="col-sm-6">
        Chủ đầu tư: <b><%= @project.investor.name %></b>
      </li>
      <li class="col-sm-6">
        Đơn vị thi công: <b><%= @project.execute_unit %></b>
      </li>
      <li class="col-sm-6">
        Đơn vị thiết kế: <b><%= @project.design_unit %></b>
      </li>
      <li class="col-sm-6">
        Đơn vị quản lý dự án: <b><%= @project.manage_unit %></b>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Mô tả
  </section>
  <section class="block-content content-detail-infos">
    <p>
      <%= @project.description %>
    </p>
  </section>
</section>
<!-- <section class="block-box">
  <section class="block-title">
    Tiện ích khu vực
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4 check">
        <span>Gần trung tâm mua sắm</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Gần bệnh viện</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Gần chợ</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Gần siêu thị</span>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Tiện nghi
  </section>
  <section class="block-content content-detail-infos">
    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4 check">
        <span>Máy nước nóng</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Quầy rượu</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Hồ bơi</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Sân vườn</span>
      </li>
      <li class="item col-xs-6 col-sm-4 check">
        <span>Cây xanh</span>
      </li>
    </ul>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Vị trí trên bản đồ
  </section>
  <section class="block-content map-infos">
    <img class="img-responsive" src="/assets/product/icon_Bando.png">
  </section>
</section> -->
<!-- #end detail infos -->