<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/projects/view.css" />
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<script type="text/javascript" src="/assets/projects/view.js"></script>
<% end %>

<% 
=begin
	@project	
=end
 
%>

<!--start Search Box -->
<%= render partial: 'shared/front_end_search_box' %>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/">Dự án căn hộ cao cấp</a></li>
		<li class="active"><%= @project.display_id %></li>
	</ol>
</section>
<!-- end navigator -->

<section id="project_info" data-value="<%= @project.id %>">

	<!-- #start image infos -->
	<section class="block container highlight">
		<article class="block-title">
			<a>			
				<span><%= @project.project_name %></span>			
			</a>
		</article>
		<article class="block-content block-content-empty">
			<section class="image-info">
				<div class="main-image">
					<%= project_avatar @project, style: 'slide', attribute: "data-src=#{@project.images.count > 0 ? @project.images[0].image.url : '/assets/projects/original/default.png'}", open_gallery: true %>
				</div>
				<% if @project.images.count > 1 %>
					<div class="other-image">
						<ul>
							<% @project.images.drop(1).each do |p_image| %>
								<li>
									<img aria-gallery="project" data-value="<%= @project.id %>" data-id="<%= p_image.id %>" src="<%= p_image.image.url('thumb') %>" class="img-thumbnail">
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</section>
		</article>
	</section>
	<!-- #end image infos -->

	<!-- #start standard-info -->
	<section class="standard-info container">
		<div class="row">
			<div class="col-sm-4 col-sm-push-8" style="text-align: center;">
				<div class="price" id="price_box">
					<div>
						<!-- Nav tabs -->
						<ul class="nav nav-tabs price-tab" role="tablist">
							<li role="SalePrice" class="active"><a href="#price-sale" aria-controls="price-sale" role="tab" data-toggle="tab">Giá bán</a></li>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade in active" id="price-sale">
								<p style="margin: 5px 0;">
									Giá rao: 
									<span style="color: #ff6511; font-size: 18px;"><%= @project.display_unit_price %>
									</span>
									<!-- <select>
										<option>VNĐ</option>
										<option>USD</option>
										<option>SJC</option>
									</select>/ <%= t 'unit.text.' + @project.price_unit.name %> -->
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="function">
					<button aria-click="favorite" class="btn-icon-top btn-favor">
						<i class="icon-favor <%= 'active' if @project.is_current_user_favorite %>"></i>
						<span>Yêu thích</span>
					</button>
					<button data-popup="coming-soon" class="btn-icon-top">
						<i class="icon-buy"></i>
						<span>Đăng ký mua</span>
					</button>
				</div>
			</div>
			<div class="col-sm-8 col-sm-pull-4">
				<ul class="detail">				
					<li>
						<button class="btn btn-primary">Xem các Bất động sản thuộc dự án</button>
					</li>
					<li>
						<i class="icon icon-facebook"></i>
						<i class="icon icon-googleplus"></i>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- #end standard-info -->

	<!-- start info-project -->
	<section class="info-project line-block container">
		<article class="title">
			<span>Thông tin dự án</span>
		</article>
		<article class="content">
			<ul style="text-align: left">
				<li>
					<i class="fa fa-circle"></i>
					<span>Địa chỉ: <b><%= @project.display_address %></b></span>
				</li>
			</ul>

			<div class="row">
				<div class="col-sm-6">
					<ul style="text-align: left">
						<li>
							<i class="fa fa-circle"></i>
							<span><%= t 'project.attribute.project_type' %>: <b><%= t 'project_type.text.' + @project.project_type.name %></b></span>
						</li>
						<li>
							<i class="fa fa-circle"></i>
							<span><%= t 'project.attribute.campus_area' %>: <b><%= @project.campus_area %>m<sup>2</sup></b></span>
						</li>
						<% if @project.using_ratio.present? && @project.using_ratio != 0 %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.using_ratio' %>: <b><%= @project.using_ratio %>%</b></span>
							</li>
						<% end %>
						<% if @project.investor.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.investor' %>: <b><%= @project.investor.name %></b></span>
							</li>
						<% end %>
					</ul>
				</div>
				<div class="col-sm-6">
					<ul style="text-align: left">
						<% if @project.estimate_starting_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.estimate_starting_date' %>: <b><%= @project.get_string_date @project.estimate_starting_date %></b></span>
							</li>
						<% end %>
						<% if @project.estimate_finishing_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.estimate_finishing_date' %>: <b><%= @project.get_string_date @project.estimate_finishing_date %></b></span>
							</li>
						<% end %>
						<% if @project.starting_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.starting_date' %>: <b><%= @project.get_string_date @project.starting_date %></b></span>
							</li>
						<% end %>
						<% if @project.finished_base_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.finished_base_date' %>: <b><%= @project.get_string_date @project.finished_base_date %></b></span>
							</li>
						<% end %>
						<% if @project.transfer_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.transfer_date' %>: <b><%= @project.get_string_date @project.transfer_date %></b></span>
							</li>
						<% end %>
						<% if @project.docs_issue_date.present? %>
							<li>
								<i class="fa fa-circle"></i>
								<span><%= t 'project.attribute.docs_issue_date' %>: <b><%= @project.get_string_date @project.docs_issue_date %></b></span>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</article>
	</section>
	<!-- end -->

	<!-- start describe -->
	<section class="description line-block container">
		<article class="title">
			<span>Mô tả</span>
		</article>
		<article class="content">
			<div class="title">
				<h5><%= @project.title %></h5>
			</div>
			<div class="details"><%= @project.description.html_safe %></div>
			<% if @project.payment_method.present? %>
				<hr />
				<div class="details"><%= @project.payment_method.html_safe %></div>
			<% end %>
		</article>
	</section>
	<!-- end -->

	<!-- start convenient -->
	<!-- <section class="convenient line-block container">
		<article class="title">
			<span>Tiện nghi</span>
		</article>
		<article class="content">
			<div class="row">
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần trung tâm mua sắm</span>
				</div>
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần bệnh viện</span>
				</div>
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần coop mart</span>
				</div>
			</div>
		</article>
	</section> -->
	<!-- end -->

	<!-- start utility -->
	<!-- <section class="utility line-block container">
		<article class="title">
			<span>Tiện ích khu vực</span>
		</article>
		<article class="content">
			<div class="row">
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần trung tâm mua sắm</span>
				</div>
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần bệnh viện</span>
				</div>
				<div class="col-sm-4 item">
					<i class="fa fa-check"></i>
					<span>Gần coop mart</span>
				</div>
			</div>
		</article>
	</section> -->
	<!-- end -->

	<!-- start map -->
	<section class="line-block map container">
		<article class="title">
			<span>Vị trí trên bản đồ</span>
		</article>
	  <article class="content map">
	  	<div id="map" tabindex="0" style="outline: 0;" data-lat="<%= @project.lat %>" data-long="<%= @project.long %>">
	  		
	  	</div>
	  </article>
	</section>
	<!-- end -->

	<!-- start contact -->
	<section class="line-block contact container">
		<article class="title">
			<span>Thông tin liên lạc</span>
		</article>
		<article class="content information" style="padding: 0;">
			<div class="user-info row">
				<div class="col-xs-4 col-sm-2 avatar">
					<%= user_avatar @project.user, style: 'big' %>
					<span><%= @project.user.full_name %></span>
				</div>
				<div class="col-xs-8 col-sm-10">
					<ul class="info">
						<% if @project.user.phone_number.present? %>
							<li>
								<i class="icon-phone"></i>
								<span><%= @project.user.phone_number %></span>
							</li>
						<% end %>
						<% if @project.user.email.present? %>
						<li>
							<i class="icon-mail"></i>
							<span><%= @project.user.email %></span>
						</li>
						<% end %>
						<% if @project.user.address.present? %>
						<li>
							<i class="icon-address"></i>
							<span><%= @project.user.address %></span>
						</li>
						<% end %>
						<li>
							<button class="btn btn-default btn-sm">Xem thêm BĐS khác</button>
						</li>
					</ul>
					<div class="btn-contact">
						
					</div>
				</div>
			</div>
			<div class="request-box">
				<form>
					<div class="form-group">
						<textarea class="form-control" placeholder="Điền thông tin bạn cần yêu cầu"></textarea>
						<button type="submit" class="btn btn-sm btn-primary">Gửi yêu cầu</button>
					</div>
				</form>
			</div>
		</article>
	</section>
	<!-- end -->

</section>

<!-- start other project -->
<section class="container other-project block">
	<article class="title">
		<a class="link" href="#">
			<i class="fa fa-link"></i>
			<span>Gợi ý cho bạn</span>
		</a>
	</article>
	<article class="content">
		<% 
			per = get_value_by_width_type [1, 2, 3, 4] 
		%>
		<div aria-pagination data-url="/projects/search" data-data='{"per":<%= per %>}' data-list="#suggest_property > .row" data-pagination="#suggest_property > .paging" data-init_list="_initItemList($list)" id="suggest_property">
			<% 
				projects = Project.search_with_params
			%>
			<div class="row">
				<%= render partial: 'projects/item_list', locals: { projects: projects.take(per) } %>
			</div>
			<div class="paging">
				<%= render partial: 'shared/pagination_2', locals: { per: per, total: projects.count, page: 1 } %>						
			</div>
		</div>
	</article>
</section>
<!-- end other project -->