<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<title><%= @title.blank? ? '' : @title + ' - ' %> Mua nhà online</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" Contents="MuaNhaOnline - Giá trị thực trong tầm tay">

	<link rel="shortcut icon" href="/assets/shared/mini_icon.ico">

	<!-- Bootstrap 3.3.4 -->
	<link href="/assets/layout_back/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- FontAwesome 4.3.0 -->
	<link href="/assets/shared/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<!-- Date Picker -->
	<link href="/assets/layout_back/plugins/datepicker/datepicker3.css" rel="stylesheet" type="text/css" />
	
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<link rel="stylesheet" type="text/css" href="/assets/projects/view_2.css">
</head>
<body style="font-family: Segoe UI" data-width="<%= current_width_type %>" class="skin-blue sidebar-mini <%= 'sidebar-collapse' if cookies[:sidebar_collapse] != '0' %>">
	<div id="loading_page" style="
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: #ffffff;
			z-index: 9999;
			text-align: center;
	">
		<i class="fa fa-refresh fa-spin"></i>
	</div>

	<article class="wrapper">

		<header>
			<div class="container">

				<h1 class="page-name">MuanhaOnline - Giá trị thực trong tầm tay</h1>

				<!-- Logo -->
				
					<section class="logo">
						<img src="/assets/logo/logo.png">
					</section>
				
				<!-- / Logo -->

				<!-- Navigator -->
				
					<section class="navigator">
						
						<!-- Top -->
						
							<section class="top">
								
								<!-- User infos -->
								
									<section class="user-info">
										<section class="text">
											<span class="fa fa-sign-in"></span> Đăng nhập
										</section>
									</section>
								
								<!-- / User infos -->

							</section>
						
						<!-- / Top -->

						<!-- Bottom -->
						
							<section class="bottom">

								<nav>
									<ul>
										<li>
											<a href="#">Bất động sản</a>
											<ul class="col-2">
												<li>
													<a href="#">Nhà phố</a>
												</li>
												<li>
													<a href="#">Biệt thự</a>
												</li>
												<li>
													<a href="#">Căn hộ chung cư</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Dự án</a>
										</li>
										<li>
											<a href="#">Nhà định giá</a>
										</li>
										<li>
											<a href="#">Doanh nghiệp</a>
										</li>
										<li>
											<a href="#">Tin tức</a>
										</li>
									</ul>
								</nav>

							</section>
						
						<!-- / Bottom -->

					</section>
				
				<!-- / Navigator -->

			</div>
		</header>

		<article class="container-fluid">

			<section class="cover-content row">
				<section class="cover-image" style="background-image: url('/assets/temporary/pttt.jpg');"></section>
				<!-- <img src="#"> -->
			</section>

			<section class="row">

				<!-- Side bar -->
				
					<section id="side_bar" class="col-md-3 side-bar hidden-sm hidden-xs">
						<section class="cover-image"><article class="background-bottom" style="background-image: url('/assets/temporary/pttt.jpg');"></article><article class="background-top"></article></section>
						<section class="content">
							<section class="logo" style="margin: 15px 0px;"></section>
							<nav class="navigator">
								<ul>
									<li>
										<a aria-name="description" href="#">Giới thiệu</a>
									</li>
									<li>
										<a aria-name="position" href="#">Vị trí</a>
									</li>
									<li>
										<a aria-name="info" href="#">Thông tin dự án</a>
									</li>
									<li>
										<a aria-name="utilities" href="#">Tiện ích - Tính năng</a>
									</li>
									<li>
										<a aria-name="ground" href="#">Mặt bằng tổng thể</a>
									</li>
									<li>
										<a aria-name="products" href="#">Sản phẩm</a>
									</li>
									<li>
										<a aria-name="payment_method" href="#">Phương thức thanh toán</a>
									</li>
									<li>
										<a aria-name="progress" href="#">Tiến độ</a>
									</li>
									<li>
										<a aria-name="investor" href="#">Chủ đầu tư</a>
									</li>
									<li>
										<a aria-name="contact" href="#">Liên hệ</a>
									</li>
								</ul>
							</nav>
						</section>
					</section>
				
				<!-- / Side bar -->

				<!-- Content -->
				
					<section id="content_panel" class="col-md-9 col-md-offset-3 content-panel">

						<!-- Description -->
						
							<article class="box" aria-name="description">
								<section class="box-header">
									<h2 class="box-title">
										Giới thiệu
									</h2>
								</section>
								<section class="box-body">
									<p>
										<%= @project.display_description %>
									</p>
								</section>
							</article>
						
						<!-- / Description -->

						<!-- Position -->
						
							<article class="box" aria-name="position">
								<section class="box-header">
									<h2 class="box-title">
										Vị trí
									</h2>
								</section>
								<section class="box-body">
									<p>
										<span style="background-color: #666; color: #fff; padding: 5px 10px;"><span class="fa fa-map-marker fa-lg margin-right-5"></span> <b>Địa chỉ</b></span> <%= @project.display_address %>
									</p>
									<p>
										<article id="map" style="height: 50vh" data-lat="<%= @project.lat %>" data-long="<%= @project.long %>"></article>
									</p>
									<p>
										<%= @project.display_position_description %>
									</p>
								</section>
							</article>
						
						<!-- / Position -->

						<!-- Info -->
						
						
							<article class="box" aria-name="info">
								<section class="box-header">
									<h2 class="box-title">
										Thông tin dự án
									</h2>
								</section>
								<section class="box-body">
								</section>
							</article>
						
						<!-- / Info -->
							
						<!-- Utilities -->
						
							<article class="box" aria-name="utilities">
								<section class="box-header">
									<h2 class="box-title">
										Tiện ích - Tính năng
									</h2>
								</section>
								<section class="box-body">
									<article class="utilities row">
										<% @project.utilities.each do |utility| %>
											<%
												gallery_data = {
													data: {
														images: []
													}
												}
												utility.images.each do |image_info|
													gallery_data[:data][:images] << {
														thumb: image_info.image.url('thumb'),
														original: image_info.image.url
													}
												end
											%>
											<article class="col-md-4 col-ss-6 col-xs-12">
												<article class="item" data-gallery="<%= gallery_data.to_json %>">
													<section class="line" style="background-color: <%= utility.icon_color %>"></section>
													<section class="icon" style="border-color: <%= utility.icon_color %>">
														<span class="fa <%= utility.icon_key %>" style="color: <%= utility.icon_color %>"></span>
													</section>
													<section class="content">
														<section class="title">
															<%= utility.title %>
														</section>
														<section class="manual-horizontal-list descriptions-container">
															<article class="list-wrapper">
																<article class="list">
																	<article class="col">
																		<article class="description text">
																			<%= utility.display_description %>
																		</article>
																	</article>
																	<% utility.images.each do |image_info| %>
																		<article class="col">
																			<article class="description image">
																				<img src="<%= image_info.image.url('thumb') %>" />
																			</article>
																		</article>
																	<% end %>
																</article>
															</article>
														</section>
													</section>
												</article>
											</article>
										<% end %>
									</article>
									<article class="utilities row">
										<% @project.region_utilities.each do |utility| %>
											<%
												gallery_data = {
													data: {
														images: []
													}
												}
												utility.images.each do |image_info|
													gallery_data[:data][:images] << {
														thumb: image_info.image.url('thumb'),
														original: image_info.image.url
													}
												end

												gallery_data[:data][:description] = 
													'<section style="font-size: 20px; font-weight: bold">' +
														utility.title +
													'</section>' +
													'<section>' +
														'<p>' +
															utility.description +
														'</p>' +
													'</section>'
											%>
											<article class="col-md-4 col-ss-6 col-xs-12">
												<article class="item" data-gallery="<%= gallery_data.to_json %>">
													<section class="line" style="background-color: <%= utility.icon_color %>"></section>
													<section class="icon" style="border-color: <%= utility.icon_color %>">
														<span class="fa <%= utility.icon_key %>" style="color: <%= utility.icon_color %>"></span>
													</section>
													<section class="content">
														<section class="title">
															<%= utility.title %>
														</section>
														<section class="manual-horizontal-list descriptions-container">
															<article class="list-wrapper">
																<article class="list">
																	<article class="col">
																		<article class="description text">
																			<%= utility.display_description %>
																		</article>
																	</article>
																	<% utility.images.each do |image_info| %>
																		<article class="col">
																			<article class="description image">
																				<img src="<%= image_info.image.url('thumb') %>" />
																			</article>
																		</article>
																	<% end %>
																</article>
															</article>
														</section>
													</section>
												</article>
											</article>
										<% end %>
									</article>
								</section>
							</article>
						
						<!-- / Utilities -->
							
						<!-- Ground -->
						
							<article class="box" aria-name="ground">
								<section class="box-header">
									<h2 class="box-title">
										Mặt bằng tổng thể
									</h2>
								</section>
								<section class="box-body">
									<article id="ground_interact" class="ground-description interact-image">
										<section class="image-panel">
											<svg>
												<pattern aria-object="pattern-image" patternunits="userSpaceOnUse"><image></image></pattern>
												<g>
													<g aria-object="g">
													</g>
												</g>
											</svg>
											<article class="info-button button-in-panel">
												<a class="fa fa-info fa-fw fa-lg" title="Thông tin" aria-click="active_info_panel"></a>
											</article>
											<article class="back-button button-in-panel">
												<a class="fa fa-arrow-left fa-fw fa-lg" title="Quay lại" aria-click="back_to_prev"></a>
											</article>
											<section aria-object="info-panel-interact" class="info-panel">
												<article class="content">
													
												</article>
											</section>
										</section>
										<section class="navigator">
										</section>
										<section class="images-list">
											<ul aria-object="image-list">
											</ul>
										</section>
									</article>
								</section>
							</article>
						
						<!-- / Ground -->
						
						<!-- Products -->
						
							<article class="box" aria-name="products">
								<section class="box-header">
									<h2 class="box-title">
										Sản phẩm
									</h2>
								</section>
								<section  class="box-body" id="products_container">

									<%
										# Get all real-estate type in project
										# If types > 1 => Using tab else not
										types = []
										groups_by_type = {}
										# Get all types
											@project.blocks.each do |block|
												block.real_estate_groups.each do |group|
													# If not exist create new and 
													unless types.include? group.real_estate_type_id
														types << group.real_estate_type_id
														groups_by_type[group.real_estate_type_id] = []
													end

													# Add group to
													groups_by_type[group.real_estate_type_id] << group
												end
											end
										# / Get all types
										types = RealEstateType.find(types)
									%>
									
									<% if true #types.count > 1 %>
										<article class="free-style-tab-container">
											<section class="tab-list horizontal-list-container text-left">
												<ul class="horizontal-list">

													<!-- Show all types -->
													
														<% types.each do |type| %>

															<li class="horizontal-item" aria-name="<%= type.name %>">
																<a href="javascript:void(0)" aria-click="change_tab"><%= t "real_estate_type.text.#{type.name}" %></a>
															</li>

														<% end %>
													
													<!-- / Show all types -->

												</ul>
											</section>
											<section class="tab-content-list re-group-list">

												<!-- Show all real-estate of each type -->
											
													<% types.each do |type| %>

														<article class="tab-content row" aria-name="<%= type.name %>">

															<% groups_by_type[type.id].each do |group| %>

																<%
																	available_count = 0
																	count = 0
																	group.real_estates.each do |re|
																		available_count += re.available_in_floors.count
																		count += re.in_floors.count
																	end
																%>

																<article class="col-md-4 col-ss-6 item-container" data-value="<%= group.id %>">
																	<article class="item">
																		<section class="image">
																			<%= block_real_estate_group_avatar group %>
																		</section>
																		<section class="content">
																			<h3 class="title"><%= group.name %></h3>
																			<section class="properties">
																				<% if group.bedroom_number.present? %>
																					<section class="node">
																						<span class="text">Phòng ngủ</span><span class="value"><%= group.bedroom_number %></span>
																					</section>
																				<% end %>
																				<% if group.restroom_number.present? %>
																					<section class="node">
																						<span class="text">Phòng vệ sinh</span><span class="value"><%= group.restroom_number %></span>
																					</section>
																				<% end %>
																				<% if group.area.present? %>
																					<section class="node">
																						<span class="text">Diện tích</span><span class="value"><%= display_decimal group.area %>m<sup>2</sup></span>
																					</section>
																				<% end %>
																			</section>
																		</section>
																		<section class="footer">
																			Còn <b><%= available_count %>/<%= count %></b>
																		</section>
																	</article>
																</article>
															<% end %>

														</article>

													<% end %>
											
												<!-- / Show all real-estate of each type -->

											</section>
										</article>
									<% end %>
								</section>
								<article id="product_interact" class="col-xs-12" style="display: none">
									<article class="product-description interact-image">
										<section class="arrow"></section>
										<section class="image-panel">
											<svg>
												<pattern aria-object="pattern-image" patternunits="userSpaceOnUse"><image></image></pattern>
												<g>
													<g aria-object="g">
													</g>
												</g>
											</svg>
											<article class="info-button button-in-panel">
												<a class="fa fa-info fa-fw fa-lg" title="Thông tin" aria-click="active_info_panel"></a>
											</article>
											<article class="back-button button-in-panel">
												<a class="fa fa-arrow-left fa-fw fa-lg" title="Quay lại" aria-click="back_to_prev"></a>
											</article>
											<section aria-object="info-panel-interact" class="info-panel">
												<article class="content">
													
												</article>
											</section>
										</section>
										<section class="navigator">
										</section>
										<section class="images-list">
											<ul aria-object="image-list">
											</ul>
										</section>
									</article>
								</article>
							</article>
						
						<!-- / Products -->

						<!-- Payment method -->
						
							<article class="box" aria-name="payment_method">
								<section class="box-header">
									<h2 class="box-title">
										Phương thức thanh toán
									</h2>
								</section>
								<section class="box-body payment_method">
									<section class="description">
										<%= @project.display_payment_method %>
									</section>
									<section class="attachments">
										<h3 class="title">Tập tin đính kèm</h3>
										<% @project.payment_attachments.each do |attachment| %>
											<article class="item">
												<%= file_download_image({ url: attachment.file.url, description: attachment.description.present? ? attachment.description : attachment.file_file_name }) %>
											</article>
										<% end %>
									</section>
								</section>
							</article>
						
						<!-- / Payment method -->

						<!-- Progress -->
						
							<article class="box" aria-name="progress">
								<section class="box-header">
									<h2 class="box-title">
										Tiến độ
									</h2>
								</section>
								<section class="box-body">
								</section>
							</article>
						
						<!-- / Progress -->

						<!-- Investor -->
							
							<article class="box" aria-name="investor">
								<section class="box-header">
									<h2 class="box-title">
										Chủ đầu tư
									</h2>
								</section>
								<section class="box-body">
								</section>
							</article>

						<!-- / Investor -->

						<!-- Contact -->
						
							<article class="box" aria-name="contact">
								<section class="box-header">
									<h2 class="box-title">
										Liên hệ
									</h2>
								</section>
								<section class="box-body">
								</section>
							</article>
						
						<!-- / Contact -->
										
					</section>
				
				<!-- / Content -->

			</section>

		</article>

	</article>

	<!-- jQuery -->
	<script src="/assets/layout_back/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<!-- Bootstrap 3.3.2 JS -->
	<script src="/assets/layout_back/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<!-- Datepicker -->
	<script src="/assets/layout_back/plugins/datepicker/bootstrap-datepicker.js" type="text/javascript"></script>

	<script type="text/javascript" src="/assets/shared/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/shared/<%= I18n.locale %>.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.dotdotdot.min.js"></script>
	<script type="text/javascript" src="/assets/shared/layout.js"></script>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>

	<script type="text/javascript" src="/assets/projects/view_2.js"></script>
	<script type="text/javascript">
		projectId = <%= @project.id %>;
	</script>
</body>
</html>