<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/projects/view_2.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<script type="text/javascript" src="/assets/shared/tinycolor.js"></script>
	<script type="text/javascript" src="/assets/projects/view_2.js"></script>
	<script type="text/javascript">
		projectId = <%= @project.id %>;
		mainColor = '<%= @project.main_color %>';
	</script>
<% end %>

<%
=begin
	@project
=end
	
	@_title = @project.project_name

%>

<section class="cover-content">
	<article id="cover_image" class="cover-image" style="background-image: url('<%= @project.images[0].image.url if @project.images.present? %>');"></article>
	<article id="cover_content" class="content">
		<article class="logo">
			<img src="<%= @project.full_logo.present? ? @project.full_logo.url(:medium) : @project.logo.url(:medium) %>">
		</article>
	</article>
</section>


<div class="row no-horizontal-padding">

	<!-- Side bar -->

		<div class="hidden-xs hidden-sm col-md-3 col-lg-3">
		</div>

		<section id="side_bar" class="side-bar hidden-xs hidden-sm col-md-3 col-lg-3">

			<section class="cover-image-container">
				<section class="cover-image" style="background-image: url('<%= @project.cover_image.url if @project.cover_image.present? %>');"></section>
			</section>

			<section class="content">
				<section class="project-name">
					<h2>
						<%= @project.project_name %>
					</h2>
				</section>
				<% if @project.logo.present? %>
					<section class="logo">
						<img src="<%= @project.logo.url(:medium) %>" />
					</section>
				<% end %>
				<nav class="navigator">
					<ul>
						<li>
							<a aria-name="description" href="#">Giới thiệu</a>
						</li>
						<li>
							<a aria-name="position" href="#">Vị trí</a>
						</li>
						<li>
							<a aria-name="utilities" href="#">Tiện ích - Tính năng</a>
						</li>
						<li>
							<a aria-name="products" href="#">Sản phẩm</a>
						</li>
						<li>
							<a aria-name="ground" href="#">Mặt bằng tổng thể</a>
						</li>
						<li>
							<a aria-name="payment_method" href="#">Phương thức thanh toán</a>
						</li>
						<!-- <li>
							<a aria-name="progress" href="#">Tiến độ</a>
						</li>
						<li>
							<a aria-name="investor" href="#">Chủ đầu tư</a>
						</li> -->
						<li>
							<a aria-name="contact" href="#">Liên hệ</a>
						</li>
					</ul>
				</nav>
			</section>
		
		</section>
			
	<!-- / Side bar -->

	<!-- Content -->

		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
	
			<section id="content_panel" class="content-panel">

				<!-- Description -->

					<article class="box white-box" aria-name="description">
						<section class="box-header">
							<h2 class="box-title">
								Giới thiệu
							</h2>
						</section>
						<section class="box-body">
							<p>
								<%= @project.display_description %>
							</p>
						</section>
					</article>

				<!-- / Description -->

				<!-- Position -->
				
					<article class="box white-box" aria-name="position">
						<section class="box-header">
							<h2 class="box-title">
								Vị trí
							</h2>
						</section>
						<section class="box-body">
							<p class="address" style="font-size: 15px;">
								<span class="name">
									<span class="fa fa-map-marker fa-lg margin-right-5"></span>Địa chỉ
								</span>
								<span class="value">
									<%= @project.display_address %>
								</span>
							</p>
							<article id="map" style="height: 50vh; margin: 0 -20px" data-lat="<%= @project.lat %>" data-long="<%= @project.long %>"></article>
							<% if @project.display_position_description.present? %>
								<article style="margin-top: 15px">
									<%= @project.display_position_description %>
								</article>
							<% end %>
						</section>
					</article>
				
				<!-- / Position -->
					
				<!-- Utilities -->
				
					<article class="box" aria-name="utilities">
						<section class="box-header">
							<h2 class="box-title">
								Tiện ích - Tính năng
							</h2>
						</section>
						<section class="box-body">
							<article class="utilities row no-horizontal-padding">
								<section class="list-panel col-xs-12 col-md-4 col-lg-3">
									<article class="list">
										<% @project.utilities.each do |utility| %>
											<%
												images = utility.images.map{ |utility_image| { url: utility_image.image.url } }.to_json
											%>
											<article class="item" data-images="<%= images %>" data-color="#4A525D">
												<article class="arrow" style="border-right-color: #4A525D"></article>
												<article class="content">
													<section class="icon">
													</section>
													<h3 class="title">
														<%= utility.title %>
													</h3>
													<section class="description hidden-md hidden-lg">
														<%= utility.display_description %>
													</section>
													<% if utility.images.count > 0 %>
														<section class="image hidden-md hidden-lg">
															<img src="<%= utility.images[0].image.url %>">
														</section>
													<% end %>
												</article>
											</article>
										<% end %>
										<% @project.region_utilities.each do |utility| %>
											<%
												images = utility.images.map{ |utility_image| { url: utility_image.image.url } }.to_json
											%>
											<article class="item" data-images="<%= images %>" data-color="#4A525D">
												<article class="arrow" style="border-right-color: #4A525D"></article>
												<article class="content">
													<section class="icon">
													</section>
													<h3 class="title">
														<%= utility.title %>
													</h3>
													<section class="description hidden-md hidden-lg">
														<%= utility.display_description %>
													</section>
													<% if utility.images.count > 0 %>
														<section class="image hidden-md hidden-lg">
															<img src="<%= utility.images[0].image.url %>">
														</section>
													<% end %>
												</article>
											</article>
										<% end %>
									</article>
								</section>
								<section class="image-panel hidden-xs hidden-sm col-xs-12 col-md-8 col-lg-9">
									<section class="image">
										<img src="#">
										<section class="images-list">
											<ul class="image-list">
											</ul>
										</section>
									</section>
									<section class="description">
									</section>
								</section>
							</article>
						</section>
					</article>
				
				<!-- / Utilities -->
				
				<!-- Products -->
				
					<article class="box" aria-name="products">
						<section class="box-header">
							<h2 class="box-title">
								Sản phẩm
							</h2>
						</section>
						<section  class="box-body" id="products_container">

							<%
								# Get all real-estate type in project
								# If types > 1 => Using tab else not
								types = []
								groups_by_type = {}
								# Get all types & store groups of type
									@project.blocks.each do |block|
										block.real_estate_groups.each do |group|
											# If not exist create new and 
											unless types.include? group.real_estate_type_id
												types << group.real_estate_type_id
												groups_by_type[group.real_estate_type_id] = []
											end

											# Add group to
											groups_by_type[group.real_estate_type_id] << group
										end
									end
								# / Get all types & store groups of type
								types = RealEstateType.find(types)
							%>
							
							<% if types.count > 1 %>
								<article class="free-style-tab-container">
									<section class="tab-list horizontal-list-container text-left">
										<ul class="horizontal-list">

											<!-- Show all types -->
											
												<% types.each do |type| %>

													<li class="horizontal-item" aria-name="<%= type.name %>">
														<a href="javascript:void(0)" aria-click="change_tab"><%= t "real_estate_type.text.#{type.name}" %></a>
													</li>

												<% end %>
											
											<!-- / Show all types -->

										</ul>
									</section>
									<section class="tab-content-list re-group-list">

										<!-- Show all real-estate of each type -->
									
											<% types.each do |type| %>

												<article class="tab-content row" aria-name="<%= type.name %>">

													<% groups_by_type[type.id].each do |group| %>

														<%
															available_count = 0
															count = 0
															group.real_estates.each do |re|
																available_count += re.available_in_floors.count
																count += re.in_floors.count
															end
														%>

														<article class="col-xs-12 col-sm-4 item-container" data-value="<%= group.id %>">
															<article class="item">
																<section class="image">
																	<%= block_real_estate_group_avatar group %>
																</section>
																<section class="content">
																	<h3 class="title"><%= group.name %></h3>
																	<section class="properties">
																		<% if group.bedroom_number.present? %>
																			<section class="node">
																				<span class="text">Phòng ngủ</span><span class="value"><%= group.bedroom_number %></span>
																			</section>
																		<% end %>
																		<% if group.restroom_number.present? %>
																			<section class="node">
																				<span class="text">Phòng vệ sinh</span><span class="value"><%= group.restroom_number %></span>
																			</section>
																		<% end %>
																		<% if group.area.present? %>
																			<section class="node">
																				<span class="text">Diện tích</span><span class="value"><%= display_decimal group.area %>m<sup>2</sup></span>
																			</section>
																		<% end %>
																	</section>
																</section>
																<section class="footer">
																	Còn <b><%= available_count %>/<%= count %></b>
																</section>
															</article>
														</article>

													<% end %>

												</article>

											<% end %>
									
										<!-- / Show all real-estate of each type -->

									</section>
								</article>
							<% else %>
								<section class="re-group-list">
									<div class="row">
										<%
											groups = groups_by_type[groups_by_type.keys[0]]
										%>
										<% groups.each do |group| %>
											<%

												available_count = 0
												count = 0
												group.real_estates.each do |re|
													available_count += re.available_in_floors.count
													count += re.in_floors.count
												end
											%>

											<article class="col-xs-12 col-sm-4 item-container" data-value="<%= group.id %>">
												<article class="item">
													<section class="image">
														<%= block_real_estate_group_avatar group %>
													</section>
													<section class="content">
														<h3 class="title"><%= group.name %></h3>
														<section class="properties">
															<% if group.bedroom_number.present? %>
																<section class="node">
																	<span class="text">Phòng ngủ</span><span class="value"><%= group.bedroom_number %></span>
																</section>
															<% end %>
															<% if group.restroom_number.present? %>
																<section class="node">
																	<span class="text">Phòng vệ sinh</span><span class="value"><%= group.restroom_number %></span>
																</section>
															<% end %>
															<% if group.area.present? %>
																<section class="node">
																	<span class="text">Diện tích</span><span class="value"><%= display_decimal group.area %>m<sup>2</sup></span>
																</section>
															<% end %>
														</section>
													</section>
													<section class="footer">
														Còn <b><%= available_count %>/<%= count %></b>
													</section>
												</article>
											</article>
										<% end %>
									</div>
								</section>
							<% end %>
						</section>
						<article id="product_interact" class="col-xs-12" style="display: none">
							<article class="product-description interact-image">
								<section class="arrow"></section>
								<section class="navigator">
									<ul>
										<li aria-name="project" class="active">
											<a aria-click="interact" data-type="project" data-value="<%= @project.id %>"><%= @project.project_name %></a>
										</li>
										<li aria-name="block">
											<a aria-click="interact" data-type="block">Xem block</a>
										</li>
										<li aria-name="group">
											<a aria-click="interact" data-type="real_estates/group">Xem nhóm</a>
										</li>
										<li aria-name="floor">
											<a aria-click="interact" data-type="blocks/floors">Xem sàn</a>
										</li>
										<li aria-name="real_estate">
											<a aria-click="interact" data-type="real_estates">Xem sản phẩm</a>
										</li>
										<li aria-name="position">
											<a aria-click="interact" data-type="real_estates/floor">Xem vị trí</a>
										</li>
									</ul>
								</section>
								<section class="image-panel">
									<svg>
										<pattern aria-object="pattern-image" patternunits="userSpaceOnUse"><image></image></pattern>
										<g>
											<g aria-object="g">
											</g>
										</g>
									</svg>
									<article class="back-button button-in-panel">
										<a class="fa fa-arrow-left fa-fw fa-lg" title="Quay lại" aria-click="back_to_prev"></a>
									</article>
									<section aria-object="info-panel-interact" class="info-panel">
										<article class="content">
											
										</article>
									</section>
								</section>
								<section class="images-list">
									<ul aria-object="image-list">
									</ul>
								</section>
							</article>
						</article>
					</article>
				
				<!-- / Products -->
					
				<!-- Ground -->
				
					<article class="box" aria-name="ground">
						<section class="box-header">
							<h2 class="box-title">
								Mặt bằng tổng thể
							</h2>
						</section>
						<section class="box-body">
							<article id="ground_interact" class="ground-description interact-image">
								<section class="navigator">
									<ul>
										<li aria-name="project" class="active">
											<a aria-click="interact" data-type="project" data-value="<%= @project.id %>"><%= @project.project_name %></a>
										</li>
										<li aria-name="block">
											<a aria-click="interact" data-type="block">Xem block</a>
										</li>
										<li aria-name="group">
											<a aria-click="interact" data-type="real_estates/group">Xem nhóm</a>
										</li>
										<li aria-name="floor">
											<a aria-click="interact" data-type="blocks/floor">Xem sàn</a>
										</li>
										<li aria-name="real_estate">
											<a aria-click="interact" data-type="real_estate">Xem sản phẩm</a>
										</li>
										<li aria-name="position">
											<a aria-click="interact" data-type="real_estates/floor">Xem vị trí</a>
										</li>
									</ul>
								</section>
								<section class="image-panel">
									<svg>
										<pattern aria-object="pattern-image" patternunits="userSpaceOnUse"><image></image></pattern>
										<g>
											<g aria-object="g">
											</g>
										</g>
									</svg>
									<article class="back-button button-in-panel">
										<a class="fa fa-arrow-left fa-fw fa-lg" title="Quay lại" aria-click="back_to_prev"></a>
									</article>
									<section aria-object="info-panel-interact" class="info-panel">
										<article class="content">
											
										</article>
									</section>
								</section>
								<section class="images-list">
									<ul aria-object="image-list">
									</ul>
								</section>
							</article>
						</section>
					</article>
				
				<!-- / Ground -->

				<!-- Payment method -->
				
					<article class="box white-box" aria-name="payment_method">
						<section class="box-header">
							<h2 class="box-title">
								Phương thức thanh toán
							</h2>
						</section>
						<section class="box-body payment_method">
							<section class="description">
								<%= @project.display_payment_method %>
							</section>
							<section class="attachments">
								<h3 class="title">Tập tin đính kèm</h3>
								<% @project.payment_attachments.each do |attachment| %>
									<article class="item">
										<%= file_download_image({ url: attachment.file.url, description: attachment.description.present? ? attachment.description : attachment.file_file_name }) %>
									</article>
								<% end %>
							</section>
						</section>
					</article>
				
				<!-- / Payment method -->

				<!-- Progress -->
				
					<!-- <article class="box" aria-name="progress">
						<section class="box-header">
							<h2 class="box-title">
								Tiến độ
							</h2>
						</section>
						<section class="box-body">
						</section>
					</article> -->
				
				<!-- / Progress -->

				<!-- Investor -->
					
					<!-- <article class="box" aria-name="investor">
						<section class="box-header">
							<h2 class="box-title">
								Chủ đầu tư
							</h2>
						</section>
						<section class="box-body">
						</section>
					</article> -->

				<!-- / Investor -->

				<!-- Contact -->
				
					<article class="box" aria-name="contact">
						<section class="box-header">
							<h2 class="box-title">
								Liên hệ
							</h2>
						</section>
						<section class="box-body">
							<form>
								<div class="row">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<article class="form-group">
											<input class="form-control" placeholder="Email" />
										</article>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<article class="form-group">
											<input class="form-control" placeholder="Điện thoại" />
										</article>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<article class="form-group">
											<textarea class="form-control" placeholder="Lời nhắn"></textarea>
										</article>
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 10px">
										<article class="text-center">
											<button class="btn" style="padding-left: 25px; padding-right: 25px">
												Gửi
											</button>
										</article>
									</div>
								</div>
							</form>
						</section>
					</article>
				
				<!-- / Contact -->
								
			</section>
			
		</div>
	
	<!-- / Content -->

</div>

