<% 
	# Use in create details

	# params: @block, @re, @selected_group

	general_type = @block.block_type.present? ? (@block.block_type.options['parent'] || @block.block_type.name) : (@block.project.project_type.options['parent'] || @block.project.project_type.name)

	# Unit options
	sell_unit_options = rent_unit_options = ''
	Unit.get_options.each do |u|
		case u.options_hash['group']
		when 'sell'
			sell_unit_options += "<option value='#{u.id}' #{'selected' if u.id == @re.sell_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.sell_unit_id.blank?)}>#{t 'unit.text.' + u.name}</option>"
		when 'rent'
			rent_unit_options += "<option value='#{u.id}' #{'selected' if u.id == @re.rent_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.rent_unit_id.blank?)}>#{t 'unit.text.' + u.name}</option>"
		end
	end

	# Image
	image_init_value = ''
	unless @re.new_record?
		_images = []
		@re.images.each do |re_image|
			_images << { 'id'=> re_image.id, 'url'=> re_image.image.url, 'description'=> re_image.description, 'is_avatar'=> re_image.is_avatar }
		end
		image_init_value = _images.to_json
	end
%>

<style type="text/css">
	.re-form .unit-label:before {
		content: attr(data-currency) ' / ';
	}
</style>

<form class="form re-form">
	<article class="box box-primary no-margin">
		<section class="box-header with-border">
			<h2 class="box-title">
				Thông tin sản phẩm - <b><%= @selected_group.name %></b>
			</h2>
		</section>
		<section class="box-body bg-light-gray">

			<% if @re.new_record? %>

				<!-- Block -->

					<input type="hidden" name="real_estate[block][block_id]" value="<%= @block.id %>" />

				<!-- / Block -->

				<!-- Group -->

					<input type="hidden" name="real_estate[block][block_real_estate_group_id]" value="<%= @selected_group.id %>" />

				<!-- / Group -->

			<% else %>

				<!-- Id -->

					<input type="hidden" name="real_estate[id]" value="<%= @re.id %>" />

				<!-- / Id -->

			<% end %>

			<div class="row">
				<div class="col-md-6">

					<div class="row">

						<!-- Label -->

							<article class="form-group col-ss-6">
								<label class="control-label" for="label">
									Mã
									<sup class="required-label"></sup>
								</label>
								<a tabindex="-1" class="pull-right helper-label fa fa-question text-muted" data-content="<p><b>{f}</b>: Sàn tương ứng<br />Ví dụ: <b>CH-{f}01</b></p>"></a>
								<input data-constraint="required" class="form-control" name="real_estate[block][label]" id="label" value="<%= @re.label %>" aria-object="label" data-old_value="<%= @re.label %>" />
							</article>

						<!-- / Label -->

						<!-- Area -->

							<article class="form-group col-ss-6">
								<label class="control-label" for="campus_area">
									Diện tích
									<% unless @selected_group.area.present? %>
										<sup class="required-label"></sup>
									<% end %>
								</label>
								<div class="input-group">
									<% if @selected_group.area.present? %>
										<input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="real_estate[campus_area]" id="campus_area" value="<%= @selected_group.area %>" readonly="true" />
									<% else %>
										<input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="real_estate[campus_area]" id="campus_area" value="<%= @re.campus_area %>" />
									<% end %>
									<div class="input-group-addon">m<sup>2</sup></div>
								</div>
							</article>

						<!-- / Area -->
						
					</div>

					<!-- Width -->

					<!-- <div class="row">
						<article class="form-group col-ss-6">
							<label class="control-label" for="width_x">
								Chiều ngang
							</label>
							<div class="input-group">
								<input data-constraint="real range" data-maxvalue="100000" class="form-control separate-number" name="real_estate[width_x]" id="width_x" value="<%= @re.width_x %>" />
								<div class="input-group-addon">m</div>
							</div>
						</article>

						<article class="form-group col-ss-6">
							<label class="control-label" for="width_y">
								Chiều dài
							</label>
							<div class="input-group">
								<input data-constraint="real range" data-maxvalue="100000" class="form-control separate-number" name="real_estate[width_y]" id="width_y" value="<%= @re.width_y %>" />
								<div class="input-group-addon">m</div>
							</div>
						</article>
					</div> -->

					<!-- / Width -->

					<% if ['apartment', 'complex_apartment', 'adjacent_house'].include? general_type %>

						<div class="row">
						
							<% if @selected_group.real_estate_type.name != 'office' %>

								<!-- Num of rooms -->

									<article class="form-group col-ss-4">
										<label class="control-label" for="bedroom_number">
											Phòng ngủ
											<% unless @selected_group.bedroom_number.present? %>
												<sup class="required-label"></sup>
											<% end %>
										</label>
										<div class="input-group">
											<% if @selected_group.bedroom_number.present? %>
												<input data-constraint="required integer" class="form-control" name="real_estate[bedroom_number]" id="bedroom_number" value="<%= @selected_group.bedroom_number %>" readonly="true" />
											<% else %>
												<input data-constraint="required integer" class="form-control" name="real_estate[bedroom_number]" id="bedroom_number" value="<%= @re.bedroom_number %>" />
											<% end %>
											<div class="input-group-addon">phòng</div>
										</div>
									</article>
									<article class="form-group col-ss-4">
										<label class="control-label" for="restroom_number">
											Phòng tắm
											<% unless @selected_group.restroom_number.present? %>
												<sup class="required-label"></sup>
											<% end %>
										</label>
										<div class="input-group">
											<% if @selected_group.restroom_number.present? %>
												<input data-constraint="required integer" class="form-control" name="real_estate[restroom_number]" id="restroom_number" value="<%= @selected_group.restroom_number %>" readonly="true" />
											<% else %>
												<input data-constraint="required integer" class="form-control" name="real_estate[restroom_number]" id="restroom_number" value="<%= @re.restroom_number %>" />
											<% end %>
											<div class="input-group-addon">phòng</div>
										</div>
									</article>
							
								<!-- / Num of rooms -->

							<% end %>

							<!-- Direction -->

								<article class="form-group col-ss-4" data-toggled-element="un-land house apartment space">
									<label class="control-label" for="direction_id">
										Hướng
									</label>
									<select data-constraint="required" class="form-control" name="real_estate[direction_id]" id="direction_id">
										<% Direction.get_options.each do |d| %>
											<option <%= 'selected' if @re.direction_id.blank? ? d.options.has_key?('default') : d.id == @re.direction_id %> value="<%= d.id %>"><%= t 'direction.text.' + d.name %></option>
										<% end %>
									</select>
								</article>

							<!-- / Direction -->

						</div>

					<% end %>

					<article class="form-group">
						<label class="control-label" for="description">
							Mô tả
						</label>
						<textarea class="form-control" name="real_estate[description]" id="description" aria-input-type="editor"><%= @re.description %></textarea>
					</article>

				</div>
				<div class="col-md-6">

					<!-- Purpose -->

						<% 
							# Default
							default_purpose_name = ''
							if !@re.new_record? && @re.purpose.present?
								default_purpose_name = @re.purpose.name
							else
								if general_type == 'office'
									default_purpose_name = 'rent'
								else
									default_purpose_name = 'sell'
								end
							end
						%>
						
						<article class="form-group">
							<label class="control-label" for="purpose">
								Loại giao dịch
								<sup class="required-label"></sup>
							</label>
							<select data-constraint="required" name="real_estate[purpose_id]" class="form-control input-toggle" id="purpose">
								<option data-off="sell rent" value hidden>Chọn mục đích</option>
								<% Purpose.get_options.each do |p| %>
									<% next if p.code == 'transfer' %>
									<option value="<%= p.id %>" <%= 'selected' if p.name == default_purpose_name %> <%= p.options_hash['html']['attributes'].html_safe if defined? p.options_hash['html']['attributes'] %>><%= t 'purpose.text.' + p.name %></option>
								<% end %>
							</select>
						</article>

					<!-- / Purpose -->

					<!-- Unit -->

						<article class="form-group" data-toggled-element="sell un-rent">
							<label class="control-label">
								Bán theo
								<sup class="required-label"></sup>
							</label>
							<select data-contraint="required" class="form-control" name="real_estate[sell_unit_id]">
								<option hidden value>Chọn loại</option>
								<%= sell_unit_options.html_safe %>
							</select>
						</article>

						<article class="form-group" data-toggled-element="rent un-sell">
							<label class="control-label">
								Cho thuê theo
								<sup class="required-label"></sup>
							</label>
							<select data-contraint="required" class="form-control" name="real_estate[rent_unit_id]">
								<option hidden value>Chọn loại</option>
								<%= rent_unit_options.html_safe %>
							</select>
						</article>

					<!-- / Unit -->

					<!-- Floor -->

						<article class="form-group">
							<label class="control-label" for="block_floor">
								Sàn phân bố
								<sup class="required-label"></sup>
							</label>
							<select data-constraint="required" name="real_estate[block][block_floor_id]" class="form-control" id="block_floor">
								<option value hidden>Chọn sàn phân bố</option>
								<% @block.floors.each do |floor| %>
									<% next unless floor.is_dynamic %>
									<option <%= 'selected' if floor.id == @re.block_floor_id %> value="<%= floor.id %>" data-value="<%= floor.floors_text %>"><%= floor.name %> (<%= floor.floors_text %>)</option>
								<% end %>
							</select>
						</article>

					<!-- / Floor -->

					<article class="tab-container input" data-relative_inputs="real_estate[purpose_id]">
						<section class="tab-list">
							<section class="list horizontal-list-container text-left">
								<ul class="horizontal-list">
								</ul>
							</section>
							<section class="add-button">
								<a href="javascript:void(0)" aria-click="add_tab" class="fa fa-plus"></a>
							</section>
						</section>
						<section class="tab-content-list">

							<% if @re.new_record? %>

								<article class="tab-content" aria-name="new">

									<!-- Floors -->

										<article class="form-group">
											<label class="control-label">
												Các tầng / vị trí
												<sup class="required-label"></sup>
											</label>
											<input aria-object="floors" data-constraint="required" name="real_estate[block][floors][tab_name][floors]" class="form-control" />
										</article>

									<!-- / Floors -->
								
									<!-- Sell price -->

										<div class="row" data-toggled-element="sell un-rent">

											<article class="form-group col-ss-4">
												<label class="control-label">
													Giá bán cơ bản
													<sup class="required-label"></sup>
												</label>
												<input aria-object="price" data-constraint="required integer range" data-maxvalue="1000000000000" name="real_estate[block][floors][tab_name][sell_price]" class="form-control separate-number read-money">
												<section class="money-text font-size-12"></section>
											</article>

											<article class="form-group col-ss-8">
												<label class="control-label">
													Hệ số giá
												</label>
												<a tabindex="-1" class="pull-right helper-label fa fa-question text-muted" data-content="<p><b>{f}</b>: Giá trị tầng</p><p><b>{p}</b>: Giá trị giá cơ bản</p><p><b>Xem trước</b>: Xem bảng giá tính theo hệ số</p>"></a>
												<a tabindex="-1" class="small pull-right text-muted" style="margin-top: 5px" aria-click="price_preview">Xem trước</a>
												<input aria-object="coefficient" name="real_estate[block][floors][tab_name][sell_floor_coefficient]" value="" class="form-control" />
											</article>

										</div>

									<!-- / Sell price -->
								
									<!-- Rent price -->

										<div class="row" data-toggled-element="rent un-sell">

											<article class="form-group col-ss-4">
												<label class="control-label">
													Giá cho thuê cơ bản
													<sup class="required-label"></sup>
												</label>
												<input aria-object="price" data-constraint="required integer range" data-maxvalue="1000000000000" name="real_estate[block][floors][tab_name][rent_price]" class="form-control separate-number read-money">
												<section class="money-text font-size-12"></section>
											</article>

											<article class="form-group col-ss-8">
												<label class="control-label">
													Hệ số giá
												</label>
												<a tabindex="-1" class="pull-right helper-label fa fa-question text-muted" data-content="<p><b>{f}</b>: Giá trị tầng</p><p><b>{p}</b>: Giá trị giá cơ bản</p><p><b>Xem trước</b>: Xem bảng giá tính theo hệ số</p>"></a>
												<a tabindex="-1" class="small pull-right text-muted" style="margin-top: 5px" aria-click="price_preview">Xem trước</a>
												<input aria-object="coefficient" name="real_estate[block][floors][tab_name][rent_floor_coefficient]" class="form-control" />
											</article>

										</div>

									<!-- / Rent price -->

								</article>

							<% else %>

								<% @re.floor_infos_text.each_with_index do |info, index| %>

									<article class="tab-content" aria-name="init_<%= index %>">

										<!-- Floors -->

											<article class="form-group">
												<label class="control-label">
													Các tầng / vị trí
													<sup class="required-label"></sup>
												</label>
												<input aria-object="floors" data-constraint="required" name="real_estate[block][floors][tab_name][floors]" value="<%= info['floors'] %>" class="form-control" />
											</article>

										<!-- / Floors -->
									
										<!-- Sell price -->

											<div class="row" data-toggled-element="sell un-rent">

												<article class="form-group col-ss-4">
													<label class="control-label">
														Giá bán cơ bản
														<sup class="required-label"></sup>
													</label>
													<input aria-object="price" data-constraint="required integer range" data-maxvalue="1000000000000" value="<%= info['sell_price'] %>" name="real_estate[block][floors][tab_name][sell_price]" class="form-control separate-number read-money">
													<section class="money-text font-size-12"></section>
												</article>

												<article class="form-group col-md-8">
													<label class="control-label">
														Hệ số giá
													</label>
													<a tabindex="-1" class="pull-right helper-label fa fa-question text-muted" data-content="<p><b>{f}</b>: Giá trị tầng</p><p><b>{p}</b>: Giá trị giá cơ bản</p><p><b>Xem trước</b>: Xem bảng giá tính theo hệ số</p>"></a>
													<a tabindex="-1" class="small pull-right text-muted" style="margin-top: 5px" aria-click="price_preview">Xem trước</a>
													<input aria-object="coefficient" name="real_estate[block][floors][tab_name][sell_floor_coefficient]" value="<%= info['sell_floor_coefficient'] %>" class="form-control" />
												</article>

											</div>

										<!-- / Sell price -->
									
										<!-- Rent price -->

											<div class="row" data-toggled-element="rent un-sell">

												<article class="form-group col-ss-4">
													<label class="control-label">
														Giá cho thuê cơ bản
														<sup class="required-label"></sup>
													</label>
													<input aria-object="price" data-constraint="required integer range" data-maxvalue="1000000000000" value="<%= info['rent_price'] %>" name="real_estate[block][floors][tab_name][rent_price]" class="form-control separate-number read-money">
													<section class="money-text font-size-12"></section>
												</article>

												<article class="form-group col-ss-8">
													<label class="control-label">
														Hệ số giá
													</label>
													<a tabindex="-1" class="pull-right helper-label fa fa-question text-muted" data-content="<p><b>{f}</b>: Giá trị tầng</p><p><b>{p}</b>: Giá trị giá cơ bản</p><p><b>Xem trước</b>: Xem bảng giá tính theo hệ số</p>"></a>
													<a tabindex="-1" class="small pull-right text-muted" style="margin-top: 5px" aria-click="price_preview">Xem trước</a>
													<input aria-object="coefficient" name="real_estate[block][floors][tab_name][rent_floor_coefficient]" value="<%= info['rent_floor_coefficient'] %>" class="form-control" />
												</article>

											</div>

										<!-- / Rent price -->

									</article>

								<% end %>

							<% end %>

						</section>
					</article>

				</div>
			</div>

			<!-- Button -->

				<section class="box-body">
					<div class="row">
						<div class="margin-top-bottom-5 col-sm-6">
							<button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'form.finish' %></b></button>
						</div>
						<div class="margin-top-bottom-5 col-sm-6">
							<button type="button" aria-click="close-popup" class="btn btn-default btn-block btn-flat"><b><%= t 'form.cancel' %></b></button>
						</div>
					</div>
				</section>

			<!-- / Button -->

		</section>
	</article>
</form>

<section class="form-document-container">
	<section class="close-button">
		<span class="fa fa-question"></span>
	</section>
	<section class="form-document-content">
		<p class="title">
			Hướng dẫn đăng sản phẩm
		</p>
		<p>
			Đây là sản phẩm đại diện cho một nhóm sản phẩm đã quy định ở block. Do đó sản phẩm sẽ kế thừa một số thông của của nhóm sản phẩm như loại sản phẩm, diện tích, phòng ngủ, phòng tắm
		</p>
		<p>
			Mỗi sản phẩm gồm các thông tin cần lưu ý:
		</p>
		<ul>
			<li>
				<p>
					<b>Mã</b>: Mã sản phẩm.
				</p>
				<p>
					Mỗi sản phẩm cần có mã khác nhau.
				</p>
				<p>
					Khi mã bao gồm tầng / vị trí các bạn có thể sử dụng mã nhúng là "{f}" để giúp cho hệ thống thay thế giá trị tầng tương ứng vào.
				</p>
				<p>
					Ví dụ: Một sản phẩm có mã là CH-A-12-1 với 12 là tầng / vị trí, các bạn cần nhập mã sản phẩm là CH-A-{f}-1
				</p>
			</li>
			<li>
				<p>
					<b>Diện tích, phòng ngủ, phòng tắm, hướng</b>: Các thông tin của sản phẩm. Trong trường hợp nhóm đã bao gồm thông tin của diện tích, phòng ngủ, phòng tắm thì sản phẩm sẽ kế thừa thông tin từ nhóm đó.
				</p>
				<p>
					Đối với mỗi loại sản phẩm sẽ có thể có hoặc không các thuộc tính trên.
				</p>
			</li>
			<li>
				<p>
					<b>Sàn phân bố</b>: Sàn mà sản phẩm có phân bố
				</p>
			</li>
			<li>
				<p>
					<b>Thông tin giá của các tầng / vị trí</b>
				</p>
				<p>
					Mỗi tầng / vị trí được phân bố có thể có giá khác nhau tùy thuộc vào nhiều yếu tố. Do đó các bạn có thể tạo ra nhiều phân khúc để có thể quy định giá theo bạn muốn.
				</p>
				<p>
					Thông tin gồm:
				</p>
				<ul>
					<li>
						<p>
							<b>Tầng / vị trí</b>: Các bạn có thể liệt kê 1,2,3,4 hoặc 1-4.
						</p>
					</li>
					<li>
						<p>
							<b>Giá cơ bản</b>: Giá bán cơ bản của sản phẩm được sử dụng để tính toán trong trường hợp sử dụng hệ số giá.
						</p>
					</li>
					<li>
						<p>
							<b>Hệ số giá</b>: Công thức tính toán giá sản phẩm theo từng tầng.
						</p>
						<p>
							Công thức có thể có 2 tham số:
						</p>
						<ul>
							<li>
								<b>{p}</b>: Giá cơ bản
							</li>
							<li>
								<b>{f}</b>: Tầng / vị trí
							</li>
						</ul>
						<p>
							<b>Trương hợp 1</b>
						</p>
						<p>
							Khi bạn muốn quy định sản phẩm của bạn có giá thay đổi theo mỗi tầng / vị trí với công thức
							<br />
							<b>&lt;Giá cơ bản&gt; + &lt;Tầng / vị trí&gt; x 50 triệu</b>
						</p>
						<p>
							Lúc này, bạn có thể nhập hệ số giá là
							<br />
							<b>{p} + {f} * 50000000</b>
						</p>
						<p>
							<b>Trương hợp 2</b>
						</p>
						<p>
							Khi sản phẩm của bạn được phân bố từ tầng 3-15 tuy nhiên sự phân bố được chia làm 3 nhóm (3-5, 6-10, 11-15) với hệ số giá khác nhau và không thể tính toán bằng công thức được.
						</p>
						<p>
							Lúc này bạn có thể nhấn nút "+" bên góc phải của bảng nhập giá để tạo thêm bảng nhập giá (trong trường hợp này sẽ tạo thêm 2 bảng (đã có 1 bảng mặc định)) và nhập các nhóm tầng mà bạn muốn (bảng 1: 3-5, bảng 2: 6-10, bảng 3: 11-15)
						</p>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</section>