<% 
	# Use in create details

	# params: @block, @re

  # Unit options
  sell_unit_options = rent_unit_options = ''
  Unit.get_options.each do |u|
    case u.options_hash['group']
    when 'sell'
    	sell_unit_options += "<option value='#{u.id}' #{'selected' if u.id == @re.sell_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.sell_unit_id.blank?)}>#{t 'unit.text.' + u.name}</option>"
    when 'rent'
    	rent_unit_options += "<option value='#{u.id}' #{'selected' if u.id == @re.rent_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.rent_unit_id.blank?)}>#{t 'unit.text.' + u.name}</option>"
    end
  end

  # Image
  image_init_value = ''
  unless @re.new_record?
    _images = []
    @re.images.each do |re_image|
      _images << { 'id'=> re_image.id, 'url'=> re_image.image.url, 'description'=> re_image.description, 'is_avatar'=> re_image.is_avatar }
    end
    image_init_value = _images.to_json
  end
%>

<style type="text/css">
	.re-form .unit-label:before {
		content: attr(data-currency) ' / ';
	}
</style>

<form class="form re-form">
	<article class="box box-primary no-margin">
		<section class="box-header with-border">
			<h2 class="box-title">
				Thông tin loại bất động sản
			</h2>
		</section>
		<section class="box-body bg-light-gray">

			<!-- Id -->

				<input type="hidden" name="real_estate[id]" value="<%= @re.id %>" />

			<!-- / Id -->

			<!-- Project -->

				<input type="hidden" name="real_estate[block][block_id]" value="<%= @block.id %>" />

			<!-- Project -->

			<div class="row">
				<div class="col-md-6">

					<div class="row">

						<!-- Label -->

							<article class="form-group col-ss-4">
								<label class="control-label" for="label">
									Mã
									<sup class="required-label"></sup>
								</label>
								<input class="form-control" name="real_estate[block][label]" id="label" value="<%= @re.label %>" />
							</article>

						<!-- / Label -->

						<!-- Title -->

							<article class="form-group col-ss-8">
								<label class="control-label" for="title">
									Tiêu đề
									<sup class="required-label"></sup>
								</label>
								<input class="form-control" name="real_estate[title]" id="title" value="<%= @re.title %>" />
							</article>

						<!-- / Title -->

					</div>

					<!-- Area -->

						<div class="row">

							<!-- Using area -->

			          <article class="form-group col-ss-6">
			            <label class="control-label" for="using_area">
			              Diện tích sử dụng
			              <sup class="required-label"></sup>
			            </label>
			            <div class="input-group">
			              <input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="real_estate[using_area]" id="using_area" value="<%= @re.using_area %>" />
			              <div class="input-group-addon">m<sup>2</sup></div>
			            </div>
			          </article>

							<!-- / Using area -->

							<!-- Garden area -->

			          <article class="form-group col-ss-6">
			            <label class="control-label" for="garden_area">
			              Diện tích vườn
			              <sup class="required-label"></sup>
			            </label>
			            <div class="input-group">
			              <input data-constraint="required real range" data-maxvalue="1000000" class="form-control separate-number" name="real_estate[garden_area]" id="garden_area" value="<%= @re.garden_area %>" />
			              <div class="input-group-addon">m<sup>2</sup></div>
			            </div>
			          </article>

							<!-- / Garden area -->

						</div>

					<!-- / Area -->

	        <!-- Width -->

	        <div class="row">
	          <article class="form-group col-ss-6">
	            <label class="control-label" for="width_x">
	              Chiều ngang
	            </label>
	            <div class="input-group">
	              <input data-constraint="real range" data-maxvalue="100000" class="form-control separate-number" name="real_estate[width_x]" id="width_x" value="<%= @re.width_x %>" />
	              <div class="input-group-addon">m</div>
	            </div>
	          </article>

	          <article class="form-group col-ss-6">
	            <label class="control-label" for="width_y">
	              Chiều dài
	            </label>
	            <div class="input-group">
	              <input data-constraint="real range" data-maxvalue="100000" class="form-control separate-number" name="real_estate[width_y]" id="width_y" value="<%= @re.width_y %>" />
	              <div class="input-group-addon">m</div>
	            </div>
	          </article>
	        </div>

	        <!-- / Width -->

		      <!-- Num of rooms -->

			      <div class="row">
			        <article class="form-group col-ss-6">
			          <label class="control-label" for="bedroom_number">
			            Phòng ngủ
			            <sup class="required-label"></sup>
			          </label>
			          <select data-constraint="required" class="form-control" name="real_estate[bedroom_number]" id="bedroom_number">
			            <option value hidden>Chọn số lượng</option>
			            <option <%= 'selected' if @re.bedroom_number == 0 %> value="0">0</option>
			            <option <%= 'selected' if @re.bedroom_number == 1 %> value="1">1</option>
			            <option <%= 'selected' if @re.bedroom_number == 2 %> value="2">2</option>
			            <option <%= 'selected' if @re.bedroom_number == 3 %> value="3">3</option>
			            <option <%= 'selected' if @re.bedroom_number == 4 %> value="4">Hơn 4</option>
			          </select>
			        </article>
			        <article class="form-group col-ss-6">
			          <label class="control-label" for="restroom_number">
			            Phòng vệ sinh
			            <sup class="required-label"></sup>
			          </label>
			          <select data-constraint="required" class="form-control" name="real_estate[restroom_number]" id="restroom_number">
			            <option value hidden>Chọn số lượng</option>
			            <option <%= 'selected' if @re.restroom_number == 0 %> value="0">0</option>
			            <option <%= 'selected' if @re.restroom_number == 1 %> value="1">1</option>
			            <option <%= 'selected' if @re.restroom_number == 2 %> value="2">2</option>
			            <option <%= 'selected' if @re.restroom_number == 3 %> value="3">3</option>
			            <option <%= 'selected' if @re.restroom_number == 4 %> value="4">Hơn 4</option>
			          </select>
			        </article>
			      </div>

		      <!-- / Num of rooms -->

				</div>
				<div class="col-md-6">

	        <!-- Purpose -->
	          
	          <article class="form-group">
	            <label class="control-label" for="purpose">
	            	Loại giao dịch
	            	<sup class="required-label"></sup>
	            </label>
	            <select data-constraint="required" name="real_estate[purpose_id]" class="form-control input-toggle" id="purpose">
	              <option data-off="sell rent" value hidden>Chọn mục đích</option>
	              <% Purpose.get_options.each do |p| %>
	                <option value="<%= p.id %>" <%= 'selected' if (@re.purpose_id.present? && p.id == @re.purpose_id) %> <%= p.options_hash['html']['attributes'].html_safe if defined? p.options_hash['html']['attributes'] %>><%= t 'purpose.text.' + p.name %></option>
	              <% end %>
	            </select>
	          </article>

	        <!-- / Purpose -->

	        <!-- Unit -->

	        	<article class="form-group" data-toggled-element="sell un-rent">
	        		<label class="control-label">
	        			Bán theo
	        			<sup class="required-label"></sup>
	        		</label>
	        		<select data-contraint="required" class="form-control" name="real_estate[sell_unit_id]">
	        			<option hidden value>Chọn loại</option>
	        			<%= sell_unit_options.html_safe %>
	        		</select>
	        	</article>

	        	<article class="form-group" data-toggled-element="rent un-sell">
	        		<label class="control-label">
	        			Cho thuê theo
	        			<sup class="required-label"></sup>
	        		</label>
	        		<select data-contraint="required" class="form-control" name="real_estate[rent_unit_id]">
	        			<option hidden value>Chọn loại</option>
	        			<%= rent_unit_options.html_safe %>
	        		</select>
	        	</article>

	        <!-- / Unit -->

	        <article class="tab-container ">
	        	<section class="tab-list horizontal-list-container">
	        		<ul class="horizontal-list">
	        		</ul>
	        	</section>
	          <section class="tab-content-list">

	          	<% if @re.new_record? %>

		          	<article class="tab-content" aria-name="new">

									<!-- Floors -->

										<article class="form-group">
											<label class="control-label">
												Tại tầng
			              		<sup class="required-label"></sup>
											</label>
											<input data-constraint="required" name="real_estate[block][floors][]" class="form-control" />
										</article>

									<!-- / Floors -->
			          
				          <!-- Sell price -->

				          	<div class="row" data-toggled-element="sell un-rent">

					            <article class="form-group col-md-6">
					              <label class="control-label">
					              	Giá bán
			              			<sup class="required-label"></sup>
				              	</label>
				                <input data-constraint="required integer range" data-maxvalue="1000000000000" name="real_estate[block][sell_price][]" class="form-control separate-number read-money">
					              <section class="money-text font-size-12"></section>
					            </article>

											<article class="form-group col-md-6">
												<label class="control-label">
													Hệ số giá
												</label>
												<input name="real_estate[block][sell_floor_coefficient][]" value="" class="form-control" />
											</article>

				          	</div>

				          <!-- / Sell price -->
			          
				          <!-- Rent price -->

				          	<div class="row" data-toggled-element="rent un-sell">

					            <article class="form-group col-md-6">
					              <label class="control-label">
					              	Giá cho thuê
			              			<sup class="required-label"></sup>
				              	</label>
				                <input data-constraint="required integer range" data-maxvalue="1000000000000" name="real_estate[block][rent_price][]" class="form-control separate-number read-money">
					              <section class="money-text font-size-12"></section>
					            </article>

											<article class="form-group col-md-6">
												<label class="control-label">
													Hệ số giá
												</label>
												<input name="real_estate[block][rent_floor_coefficient][]" class="form-control" />
											</article>

				          	</div>

				          <!-- / Rent price -->

								</article>

							<% else %>

								<% @re.floor_infos_text.each_with_index do |info, index| %>

			          	<article class="tab-content" aria-name="init_<%= index %>">

										<!-- Floors -->

											<article class="form-group">
												<label class="control-label">
													Tại tầng
				              		<sup class="required-label"></sup>
												</label>
												<input data-constraint="required" name="real_estate[block][floors][]" value="<%= info['floors'] %>" class="form-control" />
											</article>

										<!-- / Floors -->
				          
					          <!-- Sell price -->

					          	<div class="row" data-toggled-element="sell un-rent">

						            <article class="form-group col-md-6">
						              <label class="control-label">
						              	Giá bán
			              				<sup class="required-label"></sup>
			              			</label>
					                <input data-constraint="required integer range" data-maxvalue="1000000000000" value="<%= info['sell_price'] %>" name="real_estate[block][sell_price][]" class="form-control separate-number read-money">
						              <section class="money-text font-size-12"></section>
						            </article>

												<article class="form-group col-md-6">
													<label class="control-label">
														Hệ số giá
													</label>
													<input name="real_estate[block][sell_floor_coefficient][]" value="<%= info['sell_floor_coefficient'] %>" class="form-control" />
												</article>

					          	</div>

					          <!-- / Sell price -->
				          
					          <!-- Rent price -->

					          	<div class="row" data-toggled-element="rent un-sell">

						            <article class="form-group col-md-6">
						              <label class="control-label">
						              	Giá cho thuê
			              				<sup class="required-label"></sup>
			              			</label>
					                <input data-constraint="required integer range" data-maxvalue="1000000000000" value="<%= info['rent_price'] %>" name="real_estate[block][rent_price][]" class="form-control separate-number read-money">
						              <section class="money-text font-size-12"></section>
						            </article>

												<article class="form-group col-md-6">
													<label class="control-label">
														Hệ số giá
													</label>
													<input name="real_estate[block][rent_floor_coefficient][]" value="<%= info['rent_floor_coefficient'] %>" class="form-control" />
												</article>

					          	</div>

					          <!-- / Rent price -->

									</article>

								<% end %>

							<% end %>

						</section>
	        </article>

				</div>
			</div>

			<!-- Image -->

				<article class="form-group margin-0">
					<label class="control-label">
						Hình ảnh
						<sup class="required-label"></sup>
					</label>
	        <input class="file-upload" data-constraint="required" type="file" multiple name="real_estate[images][]" aria-name="image_upload" data-amount="5" data-init-value="<%= image_init_value %>" data-has_description data-has_avatar />
	      </article>

	    <!-- / Image -->

	    <!-- Button -->

	      <section class="box-body">
	      	<div class="row">
	          <div class="margin-top-bottom-5 col-sm-6">
	            <button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'form.finish' %></b></button>
	          </div>
	          <div class="margin-top-bottom-5 col-sm-6">
	            <button type="button" aria-click="close-popup" class="btn btn-default btn-block btn-flat"><b><%= t 'form.cancel' %></b></button>
	          </div>
	      	</div>
	      </section>

	    <!-- / Button -->

		</section>
	</article>
</form>
