<% 
=begin
	params: res
=end

%>

<% res.each do |re| %>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<li class="item-sm">
			<div class="picture">
				<%= real_estate_avatar re %>
			</div>
			<a href="/real_estates/<%= re.id %>">
				<div class="title">
					<span><%= re.title %></span>
				</div>						
				<div class="convenient">
					<% if re.fields.include? :restroom_number %>
						<div class="bathroom">
							<i class="icon-bathroom"></i>
							<span><%= re.display_restroom %></span>						
						</div>
					<% end %>
					<% if re.fields.include? :bedroom_number %>
						<div class="bedroom">
							<i class="icon-bedroom"></i>
							<span><%= re.display_bedroom %></span>
						</div>
					<% end %>
					<div class="area">
						<i class="icon-area"></i>
						<span><%= re.display_area %>m<sup>2</sup></span>
					</div>
				</div>
				<div class="address" data-toggle="tooltip" data-placement="top" title="<%= re.display_address %>">
					<i class="icon-16 icon-position"></i>
					<span><%= re.display_address %></span>
				</div>
				<% if current_purpose == 'r' %>
					<% if re.fields.include? :rent_price %>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number rent"><%= re.display_rent_price %></p>
						</div>
					<% end %>	
				<% else %>
					<% if re.fields.include? :sell_price %>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale"><%= re.display_sell_price %></p>
						</div>
					<% end %>	
				<% end %>
			</a>
			<div class="function">
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
				<a href="javascript:void(0)" data-popup="coming-soon" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
			</div>
		</li>
	</div>
<% end %>


