<%
=begin
	params:
		res: (*)
		type: 1
=end
	
	type ||= 1
	scope = 'real_estates._items_list.'
%>

<% case type %>
<% when 1 %>
	<% res.each do |re| %>
		<div class="item-ctn">
			<article class="item" data-value="<%= re.id %>" data-is-favorite="<%= re.is_current_user_favorite %>">
				<div class="top">
					<div class="image">
						<a href="<%= view_re_path full_slug: re.full_slug %>">
							<%= real_estate_avatar re %>
						</a>
					</div>
					<% if signed? %>
						<div class="feature">
							<a href="#" class="favorite <%= 'has-bg' if re.is_current_user_favorite %>" 
							   data-html="true" 
							   title="<%= t(scope + (re.is_current_user_favorite ? 'disfavorite_title_html' : 'favorite_title_html')) %>">
								<span class="text">
									<%= t(scope + 'favorite_text') if re.is_current_user_favorite %>
								</span>
							   	<span class="icon <%= re.is_current_user_favorite ? 'ico-star' : 'ico-star-o' %>"></span>
						   </a>
						</div>
					<% end %>
				</div>
				<div class="grow">
					<div class="title">
						<h3>
							<a href="<%= view_re_path full_slug: re.full_slug %>">
								<%= re.title %>
							</a>
						</h3>
					</div>
					<div class="address">
						<span title="<%= RealEstate.i18n_attribute 'address' %>">
							<span class="ico-location"></span> <%= re.display_short_address %>
						</span>
					</div>
					<div class="type">
						<span title="<%= RealEstate.i18n_attribute 'real_estate_type' %>">
							<span class="ico-home"></span> <%= re.display_real_estate_type %>
						</span>
					</div>
				</div>
				<div>
					<div class="price">
						<% if re.display_sell_price.present? %>
							<article class="sell-price-text">
								<span title="<%= RealEstate.i18n_attribute('sell_price') %>">
									<%= re.display_sell_price %>
								</span>
							</article>
						<% end %>
						<% if re.display_rent_price.present? %>
							<article class="rent-price-text">
								<span title="<%= RealEstate.i18n_attribute('rent_price') %>">
									<%= re.display_rent_price %>	
								</span>
							</article>
						<% end %>
					</div>
					<div class="infos">
						<% if re.display_bedroom.present? %>
							<article>
								<span title="<%= RealEstate.i18n_value('bedroom', re.display_bedroom, 'count') %>">
									<span class="icon ico-bedroom"></span> <span class="text"><%= re.display_bedroom %></span>
								</span>
							</article>
						<% end %>
						<% if re.display_restroom.present? %>
							<article>
								<span title="<%= RealEstate.i18n_value('restroom', re.display_restroom, 'count') %>">
									<span class="icon ico-restroom"></span> <span class="text"><%= re.display_restroom %></span>
								</span>
							</article>
						<% end %>
						<% if re.display_area.present? %>
							<article>
								<span title="<%= RealEstate.i18n_value('area_html', re.display_area, 'count') %>" data-html="true">
									<span class="icon ico-area"></span> <span class="text"><%= re.display_area %><small><%= t 'global.unit.square_meter_html' %></small></span>
								</span>
							</article>
						<% end %>
					</div>
				</div>
			</article>
		</div>
	<% end %>
<% when 2 %>
	<% res.each do |re| %>
		<div class="item-ctn">
			<article class="item item-2">
				<div>
					<div class="image">
						<a href="<%= view_re_path re %>">
							<%= real_estate_avatar re %>
						</a>
					</div>
					<div class="upon-info">
						<div class="title">
							<h3>
								<a href="<%= view_re_path re %>">
									<%= re.title %>
								</a>
							</h3>
						</div>
						<div class="address" title Realestate.i18n_attribute('address') %>">
							<span class="ico-location"></span> <%= re.display_short_address %>
						</div>
						<div class="price">
							<% if re.display_sell_price.present? %>
								<article class="sell-price-text">
									<span title="<%= RealEstate.i18n_attribute('sell_price') %>">
										<%= re.display_sell_price %>
									</span>
								</article>
							<% end %>
							<% if re.display_rent_price.present? %>
								<article class="rent-price-text">
									<span title="<%= RealEstate.i18n_attribute('rent_price') %>">
										<%= re.display_rent_price %>
									</span>
								</article>
							<% end %>
						</div>
					</div>
				</div>
			</article>
		</div>
	<% end %>
<% end %>