<% 
=begin
	params: res
=end

%>

<% res.each do |re| %>
	<div class="col-lg-3 col-md-4 col-sm-6">
		<li class="item-sm">
			<div class="picture">
				<img src="/assets/product/BDS01.jpg">
				<i class="badge-new"></i>
				<div class="promotion">
					<i class="icon icon-gift"></i>
					<span>Tặng bộ bàn ghế cao cấp</span>
				</div>
			</div>
			<a href="#">
				<div class="title">
					<span><%= real_estate_avatar re %></span>
				</div>						
				<div class="convenient">							
					<div class="bathroom">
						<i class="icon-bathroom"></i>
						<span><%= re.display_restroom %></span>						
					</div>
					<div class="bedroom">
						<i class="icon-bedroom"></i>
						<span><%= re.display_bedroom %></span>
					</div>
					<div class="area">
						<i class="icon-area"></i>
						<span><%= re.display_area %>m<sup>2</sup></span>
					</div>
				</div>
				<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
					<i class="icon-16 icon-position"></i>
					<span><%= re.display_address %></span>
				</div>
				<% if re.fields.include? :sell_price %>
					<div class="price">
						<i class="icon icon-price"></i>
						<p class="number sale"><%= re.display_sell_price %></p>
					</div>	
				<% end %>	
			</a>
			<div class="function">
				<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
				<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
				<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
				<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
			</div>
		</li>
	</div>
<% end %>