<%
=begin
	params: log
=end

	if log.real_estate.blank?
		log.delete
		return
	end

	user = case log.user_type
		when 'user'
			if log.interact_user.blank?
				log.delete
				return
			end
			"<a href='/thanh-vien/#{log.interact_user.id}'>#{log.interact_user.full_name}</a>".html_safe
		when 'contact_user'
			if log.interact_contact_user.blank?
				log.delete
				return
			end
			log.interact_contact_user.name
		when 'guess'
			'Khách'
		end
%>

<li>
	<i class="fa fa-home bg-blue"></i>
	<div class="timeline-item">
		<span class="time"><i class="fa fa-clock-o"></i> <%= log.created_at.strftime '%H:%M' %></span>
		<% case log.action %>
		<% when 'create' %>
			<h3 class="timeline-header">
				<%= user %> Đã tạo bất động sản mới
			</h3>
			<div class="timeline-body">
				<a href="/bat-dong-san/<%= log.real_estate.full_slug %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% when 'edit' %>
			<h3 class="timeline-header">
				<%= user %> Đã sửa bất động sản
			</h3>
			<div class="timeline-body">
				<a href="/bat-dong-san/<%= log.real_estate.full_slug %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% when 'approve' %>
			<h3 class="timeline-header">
				<%= user %> Đã duyệt
			</h3>
			<div class="timeline-body">
				<a href="/bat-dong-san/<%= log.real_estate.full_slug %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% end %>
	</div>
</li>