<%
=begin
	params: log
=end

	scope = 'real_estates._log_item.'

	if log.real_estate.blank?
		log.delete
		return
	end

	user_name = case log.user_type
		when 'user'
			if log.interact_user.blank?
				log.delete
				return
			end
			"<a href='#{view_user_path log.interact_user}'>#{log.interact_user.full_name}</a>"
		when 'contact_user'
			if log.interact_contact_user.blank?
				log.delete
				return
			end
			log.interact_contact_user.name
		when 'guess'
			t 'global.text.guess'
		end
%>

<li>
	<i class="fa fa-home bg-blue"></i>
	<div class="timeline-item">
		<span class="time"><i class="fa fa-clock-o"></i> <%= log.created_at.strftime '%H:%M' %></span>
		<% case log.action %>
		<% when 'create' %>
			<h3 class="timeline-header">
				<%= t(scope + 'create', name: user_name).html_safe %>
			</h3>
			<div class="timeline-body">
				<a href="<%= view_re_path log.real_estate %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% when 'edit' %>
			<h3 class="timeline-header">
				<%= t(scope + 'edit', name: user_name).html_safe %>
			</h3>
			<div class="timeline-body">
				<a href="<%= view_re_path log.real_estate %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% when 'approve' %>
			<h3 class="timeline-header">
				<%= t(scope + 'approve', name: user_name).html_safe %>
			</h3>
			<div class="timeline-body">
				<a href="<%= view_re_path log.real_estate %>">
					<b><%= log.real_estate.display_id %></b>
				</a>
				<%= log.real_estate.title %>
			</div>
		<% end %>
	</div>
</li>