<% res.each do |re| %>
  <article class="col-lg-3 col-md-4 col-sm-4 col-ss-6 col-xs-12">
    <article class="item" data-value="<%= re.id %>">
      <section class="top">
        <a href="/bat-dong-san/<%= re.full_slug %>">
          <%= real_estate_avatar re %>
        </a>
        <section class="left">
          <article class="node">
            <span><b><%= re.display_id %></b></span>
          </article>
        </section>
      </section>
      <section class="bottom">
        <p class="title">
          <%= re.title %>
        </p>
        <p>
          <span class="fa fa-fw fa-home"></span> <%= t 'real_estate_type.text.' + re.real_estate_type.name if re.real_estate_type.present? %>
        </p>
        <p>
          <span class="fa fa-fw fa-tag"></span> <%= re.display_purpose %>
        </p>
        <p class="address">
          <span class="fa fa-fw fa-map-marker"></span> <%= re.display_address %>
        </p>
      </section>
      <section class="control">
        <span class="node">
          <a aria-click="unfavorite" href="javascript:void(0)" class="fa fa-heart-o fa-lg"></a>
        </span>
      </section>
    </article>
  </article>
<% end %>