<%
=begin
	params: @re
=end
%>

<ul>
	<% case params[:from] %>
	<% when 'group' %>
		<li>
			<a aria-click="interact" data-type="project" data-value="<%= @re.block_group.block.project.id %>"><%= @re.block_group.block.project.project_name %></a>
		</li>
		<li>
			<a aria-click="interact" data-type="block" data-value="<%= @re.block_group.block.id %>"><%= @re.block_group.block.name %></a>
		</li>
		<li>
			<a aria-click="interact" data-type="real_estates/group" data-value="<%= @re.block_group.id %>"><%= @re.block_group.name %></a>
		</li>
	<% when 'surface' %>
		<li>
			<a aria-click="interact" data-type="project" data-value="<%= @re.block_floor.block.project.id %>"><%= @re.block_floor.block.project.project_name %></a>
		</li>
		<li>
			<a aria-click="interact" data-type="block" data-value="<%= @re.block_floor.block.id %>"><%= @re.block_floor.block.name %></a>
		</li>
		<li>
			<a aria-click="interact" data-type="blocks/floor" data-value="<%= @re.block_floor.id %>"><%= @re.block_floor.name %></a>
		</li>
	<% end %>
	<li>
		<a><%= @re.label %></a>
	</li>
</ul>
