<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/create.css" />
<% end %>

<% content_for :scripts do %>
    <script src="/assets/real_estates/create.js"></script>
<% end %>

<div class="container-fluid">
  <!-- #start nav -->
  <nav class="row">    
    <ul>
      <li><a href="../../index.html"><img src="/assets/icon/home-26.png"></a></li>
      <li><a href="#">Đăng tin</a></li>      
    </ul>
  </nav>
  <!-- #end nav -->
  <!-- #start main-content -->
  <article class="row wrapper">
    <article class="main-content col-md-8">    
      <form class="form-horizontal" id="create_real_estate" role="form" method="post" action="/real_estates/create" accept-charset="UTF-8" enctype="application/x-www-form-urlencoded">
      <section class="main-title">Thông tin rao bán của bạn</section>      
      <ul class="item-wrapper">
        <!-- #Start item "Loại hình giao dịch" -->
        <li class="item">
          <div class="item-title">Loại hình giao dịch</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="col-sm-4 col-sm-offset-3">
                <select name="real_estate[purpose_id]" class="form-control" data-feature="will-change-select" id="purpose">
                  <% @options['purposes'].each do |purpose| %>
                      <% a = purpose.options %>
                      <option value="<%= purpose.id %>" <%= purpose.options_hash['html']['attributes'] if defined? purpose.options_hash['html']['attributes'] %>><%= purpose.name %></option>
                  <% end %>
                </select>
              </div>
            </li>      
          </ul>
        </li>
        <!-- #End item "Loại hình giao dịch" -->
        <!-- #Start item "Giá bán mong muốn" -->
        <li class="item">
          <div class="item-title">
            Giá bán mong muốn
            <a href="#" class="support-button" data-value="#support_price"></a>
            <section class="support-text" id="support_price">
              <b>Giá bán mong muốn:</b> Quý khách có thể sử dụng chức năng <a href="#">"định giá nhà"</a> hoặc <a href="#">"định giá khu vực"</a> để tham khảo giá thị trường nhà đất giao dịch gần nhất.<br>
              <b>Thỏa thuận:</b> Giá bán sẽ được thỏa thuận khi Người mua gặp trực tiếp Người bán.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label for="price" class="control-label col-sm-3">Giá mong muốn:</label>                                
              <div class="col-sm-4">
                <input name="real_estate[price]" class="form-control required only-number" id="price" data-separate='.' data-controlled="price-agree">
              </div>
              <div class="checkbox col-sm-4">
                <label><input name="real_estate[no_price]" value="1" type="checkbox" data-feature="will-change-available-check" data-disable="price-agree"> Giá Thoả thuận</label>
              </div>                 
            </li>
            <li class="form-group">            
              <label for="currency_id" class="control-label col-sm-3">Đơn vị tính:</label>
              <div class="col-sm-3">
                <select name="real_estate[currency_id]" class="form-control" id="currency_id">
                  <% @options['currencies'].each do |currency| %>
                      <option value="<%= currency.id %>" <%= currency.options_hash['html']['attributes'] %>><%= currency.name %></option>
                  <% end %>
                </select>
              </div>
              <label for="unit" class="control-label col-sm-1">trên</label>
              <div class="col-sm-4">

                <%
                   ban = thue = ''
                   @options['units'].each do |unit|
                     case unit.options_hash['group']
                       when 'Ban'
                         ban += "<option value=\"#{unit.id}\">#{unit.name}</options>"
                       when 'Thue'
                         thue += "<option value=\"#{unit.id}\">#{unit.name}</options>"
                     end
                   end
                %>

                <select name="real_estate[unit_id_sell]" class="form-control" id="unit" data-controlled="sell un-rent">
                  <%= ban.html_safe %>
                </select>
                <select name="real_estate[unit_id_rent]" class="form-control" id="unit" data-controlled="rent un-sell" style="display:none;">
                  <%= thue.html_safe %>
                </select>                   
              </div>    
            </li>   
            <li class="form-group">                          
              <div class="col-sm-4 col-sm-offset-3 checkbox">
                <label><input name="real_estate[is_negotiable]" type="checkbox" id="is_negotiable">Có thể thương lượng</label>
              </div>                
            </li>            
          </ul>
        </li>
        <!-- #End item "Giá bán mong muốn" -->
        <!-- #Start item "Vị trí" -->
        <li class="item">
          <div class="item-title">Vị trí</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="province_id">Tỉnh/Thành phố:</label>
              <div class="col-sm-4">
                <select name="real_estate[province_id]" class="form-control" id="province_id">
                  <option value="1">TPHCM</option>
                  <option value="2">Hà Nội</option>
                </select>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="district_id">Quận/Huyện/Thị xã:</label>
              <div class="col-sm-4">
                <select name="real_estate[district_id]" class="form-control" id="district_id">
                  <option value="1">Quận 1</option>
                  <option value="2">Quận 2</option>
                  <option value="3">Quận 3</option>
                  <option value="4">Quận 4</option>
                  <option value="5">Quận 5</option>
                </select>
              </div>
            </li>
            <li class="form-group">
              <label class="control-label col-sm-3" for="ward_id">Phường:</label>
              <div class="col-sm-4">
                <select name="real_estate[ward_id]" class="form-control" id="ward_id">
                  <option value="1">Cầu Ông Lãnh</option>
                  <option value="2">Đakao</option>
                  <option value="3">Cầu Kho</option>
                </select>
              </div>
            </li> 
            <li class="form-group">            
              <label class="control-label col-sm-3" for="street_id">Đường:</label>
              <div class="col-sm-4">
                <select name="real_estate[street_id]" class="form-control" id="street_id">
                  <option value="1">Trần Hưng Đạo</option>
                  <option value="2">Điện Biên Phủ</option>
                  <option value="3">Cô Giang</option>
                </select>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="address_number">Số nhà:</label>
              <div class="col-sm-4">
                <input name="real_estate[address_number]" class="form-control" id="address_number">
              </div>
            </li>
            <li class="form-group">
              <label class="control-label col-sm-3" for="street_type">Loại Đường:</label>
              <div class="col-sm-4">
                <select name="real_estate[street_type_id]" class="form-control" id="street_type">
                  <% @options['street_types'].each do |street_type| %>
                      <option value="<%= street_type.id %>"><%= street_type.name %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group">              
              <div class="col-xs-6 col-sm-2 col-sm-offset-3 radio">
                <label><input type="radio" name="real_estate[is_alley]" value="0" data-feature="will-change-show-check" data-hide="alley" checked> Mặt tiền</label>
              </div>
              <div class="col-xs-6 col-sm-2 radio">  
                <label><input type="radio" name="real_estate[is_alley]" value="1" data-feature="will-change-show-check" data-show="alley"> Hẻm</label>
              </div>
              <div class="col-xs-4 col-xs-offset-7 col-sm-2 input-group" data-controlled="alley" hidden>
                <input name="real_estate[alley_width]" type="text" class="form-control">
                <div class="input-group-addon">m</div>
              </div>                  
            </li>
            <li class="form-group">              
              <div class="col-sm-4 col-sm-offset-3">
                <a href="#" class="expand btn btn-link" data-target="#map">Xem vị trí trên bản đồ</a>
              </div>
              <div class="col-sm-4">
                <a href="#" class="btn btn-link" id="set_price_area">Định giá khu vực</a>                    
              </div>
            </li>
            <li class="form-group">            
              <div class="col-xs-12">
                <img src="/assets/product/icon_Bando.png" class="img-responsive" id="map" style="display:none;">
              </div>
            </li>              
          </ul>
        </li>
        <!-- #End item "Vị trí" -->
        <!-- #Start item "Loại hình bất động sản" -->
        <li class="item">
          <div class="item-title">
            Loại hình bất động sản
            <a href="#" class="support-button" data-value="#support_property_type"></a>
            <section class="support-text" id="support_property_type">                   
              <b>Diện tích xây dựng:</b> Là phần đất có công trình xây dựng.<br>
              <b>Diện tích sử dụng:</b> Là tổng diện tích các sàn xây dựng kể cả ban công, tầng hầm, sân thượng.<br>
              <b>Diện tích khuôn viên:</b> Là tổng diện tích đất bao gồm cả phần diện tích vi phạm lộ giới, quy hoạch không được công nhận.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3" for="property_type">Loại hình:</label>
              <div class="col-sm-4" id="groupLoaiHinh">
                <select name="real_estate[real_estate_type_group]" class="form-control" data-feature="will-change-select" id="property_type">
                  <option value="Dat" data-show="land" data-hide="un-land">Đất</option>
                  <option value="Nha" data-show="house" data-hide="un-house">Nhà</option>
                  <option value="CanHo" data-show="apartment" data-hide="un-apartment">Căn hộ</option>
                  <option value="MatBang" data-show="space" data-hide="un-space">Mặt bằng</option>
                </select>
              </div>
              <label class="control-label col-sm-1" for="property_type_details">&gt;</label>              
              <div class="col-sm-4">

                <%
                   dat = nha = canHo = matBang = ''
                   @options['real_estate_types'].each do |real_estate_type|
                     case real_estate_type.options_hash['group']
                        when 'Dat'
                            dat += "<option #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'Nha'
                            nha += "<option #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'CanHo'
                            canHo += "<option #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'MatBang'
                            matBang += "<option #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                     end
                   end
                %>

                <select name="real_estate[real_estate_type_id_dat]" class="form-control will-change-select" id="property_type_details" data-controlled="land un-house un-apartment un-space">
                  <%= dat.html_safe %>
                </select>
                <select name="real_estate[real_estate_type_id_nha]" class="form-control" data-feature="will-change-select" data-controlled="un-land house un-apartment un-space" style="display:none;">
                  <%= nha.html_safe %>
                </select>
                <select name="real_estate[real_estate_type_id_can_ho]" class="form-control" data-feature="will-change-select" data-controlled="un-land un-house apartment un-space" style="display:none;">
                  <%= canHo.html_safe %>
                </select>
                <select name="real_estate[real_estate_type_id_mat_bang]" class="form-control" data-controlled="un-land un-house un-apartment space" style="display:none;">
                  <%= matBang.html_safe %>
                </select>
              </div>
            </li>
            <li class="form-group sub-item" data-controlled="un-land house un-apartment space" hidden>
              <label class="control-label col-sm-4" for="construction_area">Diện tích xây dựng:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[constructional_area]" id="construction_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="un-land house apartment space" hidden>
              <label class="control-label col-sm-4" for="using_area">Diện tích sử dụng:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[using_area]" id="using_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="land house un-apartment space">
              <label class="control-label col-sm-4" for="campus_area">Diện tích khuôn viên:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[campus_area]" id="campus_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="land house apartment space">
              <label class="control-label col-sm-4" for="width_x">Ngang:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[width_x]" id="width_x">
                <div class="input-group-addon">m</div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="land house apartment space">
              <label class="control-label col-sm-4" for="width_y">Dài:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[width_y]" id="width_y">
                <div class="input-group-addon">m</div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="land house apartment space">
              <label class="control-label col-sm-4" for="shape">Hình dáng:</label>          
              <div class="col-sm-4">
                <select name="real_estate[shape]" class="form-control" data-feature="will-change-select">
                  <option data-hide="normal-shape" value="0">Bình thường</option>
                  <option data-show="normal-shape" value="1">Nở hậu</option>
                  <option data-show="normal-shape" value="2">Tóp hậu</option>
                </select>
              </div>
              <div class="col-sm-2 col-xs-5 col-xs-offset-4 input-group" data-controlled="normal-shape" hidden>
                <input name="real_estate[shape_width]" class="form-control only-number required" size="2" id="shape_width">
                <div class="input-group-addon">m</div>
              </div>              
            </li>
            <li class="form-group sub-item" data-controlled="sell un-rent">
              <div class="col-sm-6 col-sm-offset-4 col-xs-12" id="plan_table"><a href="#" class="btn btn-link">Bảng quy hoạch chi tiết</a></div>
            </li>
            <li class="form-group sub-item" data-controlled="un-land house apartment un-space" hidden>
              <label class="control-label col-sm-4" for="floor_number">Số tầng:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[floor_number]" id="floor_number">
                  <option value="0">Trệt</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">&gt;4</option>
                </select>
              </div>
            </li>                          
            <li class="form-group sub-item" data-controlled="un-land house apartment space" hidden>
              <label class="control-label col-sm-4" for="restroom_number">WC:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[restroom_number]" id="restroom_number">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">&gt;4</option>
                </select>
              </div>                      
            </li>
            <li class="form-group sub-item" data-controlled="un-land house apartment space" hidden>
              <label class="control-label col-sm-4" for="bedroom_number">Phòng ngủ:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[bedroom_number]" id="bedroom_number">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">&gt;4</option>
                </select>
              </div>
            </li>
            <li class="form-group sub-item" data-controlled="un-landhouse apartment space" hidden>
              <label class="control-label col-sm-4" for="direction">Hướng nhà:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[direction_id]" id="direction">
                  <% @options['directions'].each do |direction| %>
                      <option value="<%= direction.id %>"><%= direction.name %></option>
                  <% end %>
                </select>
              </div>                       
            </li>
            <li class="form-group sub-item" data-controlled="un-land house apartment space" hidden>
              <label class="control-label col-sm-4" for="build_year">Năm xây dựng:</label>
              <div class="col-sm-3">
                <select class="form-control" name="real_estate[build_year]" id="build_year">
                  <!-- js Xử lý-->                        
                </select>
              </div>                    
            </li>            
            <li class="form-group sub-item" data-controlled="un-land house apartment space un-villa home-city un-luxury-apartment apartment-building" hidden>
              <label class="control-label col-sm-4" for="construction_level">Phân loại nhà:</label>
              <div class="col-sm-3">
                <select class="form-control" name="real_estate[constructional_level_id]" id="construction_level">
                  <% @options['constructional_levels'].each do |constructional_level| %>
                      <option value="<%= constructional_level.id %>"><%= constructional_level.name %></option>
                  <% end %>
                </select>
              </div>                  
            </li>
            <li class="form-group sub-item" data-controlled="un-land house apartment space" hidden>
              <label class="control-label col-sm-4" for="construction_quality">Chất lượng nhà còn lại:</label>
              <div class="col-sm-3 input-group">
                <input class="form-control only-number required" name="real_estate[constructional_quality]" id="construction_quality">
                <div class="input-group-addon">%</div>
              </div>                  
            </li>            
          </ul>
        </li>
        <!-- #End item "Loại hình bất động sản" -->
        <!-- #Start item "Nội dung tin đăng" -->
        <li class="item">
          <div class="item-title">Nội dung tin đăng</div>
          <ul class="item-content">            
            <li class="form-group">            
              <label class="control-label col-sm-3" for="title">Tiêu đề:</label>
              <div class="col-sm-9">
                <input name="real_estate[title]" class="form-control required" id="title">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="description">Nội dung:</label>
              <div class="col-sm-9">
                <textarea name="real_estate[description]" class="form-control required" id="description"></textarea>
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Nội dung tin đăng" -->
        <!-- #Start item "Hồ sơ pháp lý" -->
        <li class="item continue-composing" data-controlled="sell un-rent" hidden>
          <div class="item-title">Hồ sơ pháp lý</div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3" for="legal_records">Loại:</label>
              <div class="col-sm-4">
                <select name="real_estate[legal_record_type_id]" class="form-control" data-feature="will-change-select" id="legal_records">
                  <% @options['legal_record_types'].each do |legal_record_type| %>
                      <option value="<%= legal_record_type.code != 'Custom' ? legal_record_type.id : 0 %>" <%= legal_record_type.options_hash['html']['attributes'] if defined? legal_record_type.options_hash['html']['attributes']%>><%= legal_record_type.name %></option>
                  <% end %>
                </select>
              </div>               
            </li>
            <li class="form-group" data-controlled="different-legal" hidden>
              <label class="control-label col-sm-3 hidden-xs"></label>
              <div class="col-sm-4">
                <input name="real_estate[custom_legal_record_type]" class="form-control required" id="legal_record_different">
              </div>                      
            </li>            
          </ul>
        </li>
        <!-- #End item "Hồ sơ pháp lý" -->
        <!-- #Start item "Tình trạng quy hoạch" -->
        <li class="item continue-composing" data-controlled="sell un-rent" hidden>
          <div class="item-title">Tình trạng quy hoạch</div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3" for="planning_status">Loại:</label>
              <div class="col-sm-4">
                <select name="real_estate[planning_status_type_id]" class="form-control" data-feature="will-change-select" id="planning_status">
                  <% @options['planning_status_types'].each do |planning_status_type| %>
                      <option value="<%= planning_status_type.code != 'Custom' ? planning_status_type.id : 0 %>" <%= planning_status_type.options_hash['html']['attributes'] if defined? planning_status_type.options_hash['html']['attributes']%>><%= planning_status_type.name %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group" data-controlled="different-planning" hidden>
              <label class="control-label col-sm-3 hidden-xs"></label>
              <div class="col-sm-4">
                <input name="real_estate[custom_planning_status_type]" class="form-control required" id="planning_status_different">
              </div>               
            </li>              
          </ul>
        </li>
        <!-- #End item "Tình trạng quy hoạch" -->
        <!-- #Start item "Tiện nghi khác" -->
        <li class="item continue-composing" hidden>
          <div class="item-title">Tiện nghi khác</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="checkbox">
                <% @options['property_utilities'].each do |property_utility| %>
                    <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox" name="real_estate[property_utility_ids][]" value="<%= property_utility.id %>"><%= property_utility.name %></label>
                <% end %>
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Tiện nghi khác" -->
        <!-- #Start item "Tiện ích khu vực" -->
        <li class="item continue-composing" hidden>
          <div class="item-title">Tiện ích khu vực</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="checkbox">
                <% @options['region_utilities'].each do |region_utility| %>
                    <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input type="checkbox" name="real_estate[region_utility_ids][]" value="<%= region_utility.id %>"><%= region_utility.name %></label>
                <% end %>
              </div>
            </li>           
          </ul>
        </li>
        <!-- #End item "Tiện ích khu vực" -->
        <!-- #Start item "Đánh giá các đặc điểm khác" -->
        <li class="item continue-composing" hidden>
          <div class="item-title">
            Đánh giá các đặc điểm khác
            <a href="#" class="support-button" data-value="#support_characteristic_differents"></a>
            <section class="support-text" id="support_characteristic_differents">                   
              Nhập đặc điểm tốt, xấu (nếu có) để phần mềm định giá được chính xác hơn.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3 left">Điểm tốt</label>              
              <div class="checkbox">
                <% @options['advantages'].each do |advantage| %>
                    <label class="col-sm-12"><input type="checkbox" name="real_estate[advantage_ids][]" value="<%= advantage.id %>"><%= advantage.name %></label>
                <% end %>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="custom_advantages">Điểm tốt khác:</label>
              <div class="col-sm-9">
                <input name="real_estate[custom_advantages]" class="form-control" id="custom_advantages">
              </div>                    
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 left">Điểm xấu</label>
              <div class="checkbox">
                <% @options['disadvantages'].each do |disadvantage| %>
                    <label class="col-sm-12"><input type="checkbox" name="real_estate[disadvantage_ids][]" value="<%= disadvantage.id %>"><%= disadvantage.name %></label>
                <% end %>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="custom_disadvantages">Điểm xấu khác:</label>
              <div class="col-sm-9">
                <input name="real_estate[custom_disadvantages]" class="form-control" id="custom_disadvantages">
              </div>                      
            </li>      
          </ul>
        </li>
        <!-- #End item "Đánh giá các đặc điểm khác" -->
        <!-- #Start item "Hình ảnh" -->
        <li class="item continue-composing" hidden>
          <div class="item-title">Hình ảnh</div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3" for="images">Hình ảnh mô tả BĐS của bạn:</label>
              <div class="col-sm-9">
                <input type="file" name="images" class="form-control required" id="images">
              </div>                  
            </li>      
            <li class="form-group sub-item">            
              <div class="col-sm-7">
                <input type="file" name="images" class="form-control image" id="images" data-name="sub-image">      
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-link" id="btn_add_image" data-add="sub-image">thêm ảnh +</button>
                </div>                    
            </li>        
          </ul>
        </li>
        <!-- #End item "Hình ảnh" -->
        <!-- #Start item "Submit Button" -->
        <li class="item">          
          <ul class="item-content">
            <li class="submit-button">          
              <p class="text-center">Điền tiếp <a href="#" class="expand" id="btn_continue_composing" data-target=".continue-composing">
              thông tin bổ sung</a> bên dưới để đăng tin đầy đủ và được phần mềm hỗ trợ định giá nhà
              </p>                          
              <p class="text-center">
                <button type="submit" class="btn btn-primary">Đăng tin</button>
                <button type="reset" class="btn btn-danger">Xoá hết</button>
                <button type="submit" class="btn btn-default">Xem trước</button>                              
              </p>
            </li>
          </ul>
        </li>
        <!-- #End item "Hình ảnh" -->
      </ul>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
    </article>          
    <article class="col-md-4">
      <h1>Guider</h1>
      <h2>Coming soon...</h2>
    </article>
  </article>
  <!-- #start main-content -->
</div>