<% 
=begin
  params: @re, @is_appraisal
=end
%>

<% content_for :stylesheets do %>
  <link rel="stylesheet" type="text/css" href="/assets/shared/form_back.css">
  <link rel="stylesheet" type="text/css" href="/assets/real_estates/create.css">
  <link rel="stylesheet" type="text/css" href="/assets/shared/cropper.min.css">
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript" src="/assets/shared/form_back.js"></script>
  <script type="text/javascript" src="/assets/real_estates/create.js"></script>
  <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
  <script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
  <script type="text/javascript" src="/assets/shared/cropper.min.js"></script>
<% end %>

<% content_for :content_header do %>
  <%= t 'real_estate.view.create.page_title' %>
<% end %>

<% content_for :navigator do %>
  <li class="active"><%= t 'real_estate.view.create.page_title_nav' %></li>
<% end %>

<% 
  # Unit options
  sell_unit_html = rent_unit_html = ''
  current_sell_unit = current_rent_unit = nil
  Unit.get_options.each do |u|
    case u.options_hash['group']
      when 'sell'
        if u.id == @re.sell_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.sell_unit_id.blank?)
          current_sell_unit = u
        end

        sell_unit_html += "<li><a data-value='#{u.id}' href='javascript:void(0)' aria-click='change-unit'>#{t 'unit.text.' + u.name}</a>"
      when 'rent'
        if u.id == @re.rent_unit_id || (!u.options_hash.nil? && u.options_hash.has_key?('default') && @re.rent_unit_id.blank?)
          current_rent_unit = u
        end

        rent_unit_html += "<li><a data-value='#{u.id}' href='javascript:void(0)' aria-click='change-unit'>#{t 'unit.text.' + u.name}</a>"
    end
  end

  # Real estate options
  current_re_type_group = @re.real_estate_type_id.blank? ? 'land' : @re.real_estate_type.options_hash['group']
  re_type_group_html = 
  "<option #{'selected' if current_re_type_group == 'land'} data-on=land data-off=un-land>#{t 'real_estate_type.text.land_group'}</option>
  <option #{'selected' if current_re_type_group == 'house'} data-on=house data-off=un-house>#{t 'real_estate_type.text.house_group'}</option>
  <option #{'selected' if current_re_type_group == 'apartment'} data-on=apartment data-off=un-apartment>#{t 'real_estate_type.text.apartment_group'}</option>
  <option #{'selected' if current_re_type_group == 'space'} data-on=space data-off=un-space>#{t 'real_estate_type.text.space_group'}</option>"

  land_html = house_html = apartment_html = space_html = ''
  RealEstateType.get_options.each do |t|
    case t.options_hash['group']
      when 'land'
          land_html += "<option #{'selected' if t.id == @re.real_estate_type_id || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.real_estate_type_id.blank?)} #{t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']} value=\"#{t.id}\">#{t 'real_estate_type.text.' + t.name}</option>"
      when 'house'
          house_html += "<option #{'selected' if t.id == @re.real_estate_type_id || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.real_estate_type_id.blank?)} #{t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']} value=\"#{t.id}\">#{t 'real_estate_type.text.' + t.name}</option>"
      when 'apartment'
          apartment_html += "<option #{'selected' if t.id == @re.real_estate_type_id || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.real_estate_type_id.blank?)} #{t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']} value=\"#{t.id}\">#{t 'real_estate_type.text.' + t.name}</option>"
      when 'space'
          space_html += "<option #{'selected' if t.id == @re.real_estate_type_id || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.real_estate_type_id.blank?)} #{t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']} value=\"#{t.id}\">#{t 'real_estate_type.text.' + t.name}</option>"
    end
  end

  # Build year
  current_year = Time.new.year
  build_year_html = ''
  (0...20).each do |i|
    build_year = current_year - i
    build_year_html += "<option #{'selected' if @re.build_year == build_year} value=#{build_year}>#{build_year}</option>"
  end
  build_year_html += "<option #{'selected' if @re.build_year == 20} value=20>Hơn 20 năm</option>"
  build_year_html += "<option #{'selected' if @re.build_year == 50} value=50>Hơn 50 năm</option>"

  # Init image
  image_ids = ''
  @re.images.each do |i|
    image_ids += ',' + i.id.to_s
  end  
  image_ids[0] = '' unless image_ids === ''
%>

<form id="create_re" class="row form create-form-re" data-entertotab <%= 'data-full="true"' unless @re.id.blank? %>>

  <!-- Id (if edit) -->

  <% unless @re.id.blank? %>
    <input type="hidden" name="real_estate[id]" value="<%= @re.id %>" />
  <% end %>

  <!-- / Id (if edit) -->

  <!-- Appraisal -->

  <% if @is_appraisal %>

    <div class="col-md-12">
      <article class="box box-default">
        <section class="box-header with-border">
          <h2 class="box-title">
            <%= t 'real_estate.attribute.appraisal_box' %>
          </h2>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
          </div>
        </section>
        <section class="box-body">

          <div class="row">

            <!-- Appraisal purpose -->
              
            <article class="form-group col-md-6">
              <label for="appraisal_purpose"><%= t 'real_estate.attribute.appraisal_purpose' %></label>
              <select name="real_estate[appraisal_purpose]" class="form-control input-toggle" id="appraisal_purpose">
                <option value="1" <%= 'selected' if @re.new_record? || @re.appraisal_purpose === 1 %>><%= t 'real_estate.attribute.trade' %></option>
                <option value="2" <%= 'selected' if @re.appraisal_purpose === 2 %>><%= t 'real_estate.attribute.borrow' %></option>
                <option value="3" <%= 'selected' if @re.appraisal_purpose === 3 %>><%= t 'real_estate.attribute.valuation' %></option>
              </select>
            </article>

            <!-- / Appraisal purpose -->

            <!-- Appraisal type -->
              
            <article class="form-group col-md-6">
              <label for="appraisal_type"><%= t 'real_estate.attribute.appraisal_type' %></label>
              <select name="real_estate[appraisal_type]" class="form-control input-toggle" id="appraisal_type">
                <option value="1" <%= 'selected' if @re.new_record? || @re.appraisal_type === 1 %>><%= t 'real_estate.attribute.advisory' %></option>
                <option value="2" <%= 'selected' if @re.appraisal_type === 2 %>><%= t 'real_estate.attribute.appraisal' %></option>
              </select>
            </article>

            <!-- / Appraisal type -->

          </div>

        </section>
      </article>
    </div>

  <% end %>

  <!-- / Appraisal -->

  <!-- Purpose -->

  <div class="col-md-6 input-box pull-left-md">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.type_transfer_box' %>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Purpose -->
          
        <article class="form-group">
          <label for="purpose"><%= t 'real_estate.attribute.purpose' %></label>
          <select name="real_estate[purpose_id]" class="form-control input-toggle" id="purpose">
            <% Purpose.get_options.each do |p| %>
                <option value="<%= p.id %>" <%= 'selected' if p.id == @re.purpose_id || (!p.options_hash.nil? && p.options_hash.has_key?('default')  && @re.purpose_id.blank?) %> <%= p.options_hash['html']['attributes'].html_safe if defined? p.options_hash['html']['attributes'] %>><%= t 'purpose.text.' + p.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Purpose -->

      </section>
    </article>
  </div>

  <!-- / Purpose -->

  <!-- Price info -->

  <div class="col-md-6 input-box pull-right-md">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.price_box' %>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Currency -->

        <article class="form-group">
          <label for="currency_id"><%= t 'real_estate.attribute.currency' %></label>
          <select name="real_estate[currency_id]" class="form-control" id="currency_id">
            <% Currency.get_options.each do |c| %>
              <option value="<%= c.id %>" <%= 'selected' if c.id == @re.currency_id || (!c.options_hash.nil? && c.options_hash.has_key?('default') && @re.currency_id.blank?) %> <%= c.options_hash['html']['attributes'] %>><%= c.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Currency -->
        
        <!-- Price -->

        <article class="form-group" data-toggled-element="sell un-rent">
          <label for="sell_price"><%= t 'real_estate.attribute.sell_price' %></label>
          <div class="input-group">
            <input data-constraint="integer" value="<%= @re.sell_price unless @re.sell_price.blank? %>" name="real_estate[sell_price]" class="form-control separate-number" id="sell_price">
            <div class="input-group-btn">
              <input type="hidden" name="real_estate[sell_unit_id]" value="<%= current_sell_unit.id %>" />
              <button type="button" class="btn btn-flat btn-default dropdown-toggle unit-label" data-toggle="dropdown" aria-expanded="false"><%= t 'unit.text.' + current_sell_unit.name %><span class="fa fa-caret-down margin-left-5"></span></button>
              <ul class="dropdown-menu pull-right">
                <%= sell_unit_html.html_safe %>
              </ul>
            </div>
          </div>
        </article>

        <article class="form-group" data-toggled-element="rent un-sell">
          <label for="rent_price"><%= t 'real_estate.attribute.rent_price' %></label>
          <div class="input-group">
            <input data-constraint="integer" value="<%= @re.rent_price unless @re.rent_price.blank? %>" name="real_estate[rent_price]" class="form-control separate-number" id="rent_price">
            <div class="input-group-btn">
              <input type="hidden" name="real_estate[rent_unit_id]" value="<%= current_rent_unit.id %>" />
              <button type="button" class="btn btn-flat btn-default dropdown-toggle unit-label" data-toggle="dropdown" aria-expanded="false"><%= t 'unit.text.' + current_rent_unit.name %><span class="fa fa-caret-down margin-left-5"></span></button>
              <ul class="dropdown-menu pull-right">
                <%= rent_unit_html.html_safe %>
              </ul>
            </div>
          </div>
        </article>

        <!-- / Price -->

        <!-- Negotiable -->

        <article class="form-group">
          <label class="checkbox-inline">
              <input <%= 'checked' if @re.is_negotiable %> name="real_estate[is_negotiable]" type="checkbox" id="is_negotiable">
              <%= t 'real_estate.attribute.negotiable' %>
          </label>
        </article>

        <!-- / Negotiable -->

      </section>
    </article>
  </div>

  <!-- / Price info -->
    
  <!-- Position -->

  <div class="col-md-6 input-box pull-left-md clearleft">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title"><%= t 'real_estate.attribute.position_box' %></h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Location -->

        <article class="form-group">
          <label for="address_number"><%= t 'real_estate.attribute.address_number' %></label>
          <input value="<%= @re.address_number %>" class="form-control" name="real_estate[street_number]" type="text" id="address_number" />
        </article>

        <article class="form-group">
          <label for="location"><%= t 'real_estate.attribute.address' %></label>
          <sup class="required-label"></sup>
          <input data-constraint="required" class="form-control" id="location" type="text" /> 
          <input value="<%= @re.street.name unless @re.street.nil? %>" name="real_estate[street]" type="hidden" id="street" />
          <input value="<%= @re.ward.name unless @re.ward.nil? %>" name="real_estate[ward]" type="hidden" id="ward" />
          <input value="<%= @re.district.name unless @re.district.nil? %>" name="real_estate[district]" type="hidden" id="district" />
          <input value="<%= @re.province unless @re.province.nil? %>" name="real_estate[province]" type="hidden" id="province" />
          <input value="<%= @re.lat || '10.771528380460218' %>" name="real_estate[lat]" type="hidden" id="lat" />
          <input value="<%= @re.long || '106.69838659487618' %>" name="real_estate[long]" type="hidden" id="long" />
        </article>

        <!-- / Location -->

        <!-- Street type -->

        <article class="form-group">
          <label for="street_type_id">
            <%= t 'real_estate.attribute.street_type' %>
          </label>
          <article class="form-group">
            <label class="radio-inline">
              <input type="radio" name="real_estate[street_type]" value="2" <%= 'checked' if @re.street_type.blank? || @re.street_type == 1 %> /><%= t 'real_estate.attribute.public_street' %>
            </label>
            <label class="radio-inline">
              <input type="radio" name="real_estate[street_type]" value="1" <%= 'checked' if @re.street_type == 2 %> /><%= t 'real_estate.attribute.private_street' %>
            </label>
          </article>
        </article>

        <!-- / Street type -->

        <!-- Alley -->

        <article class="form-group">
          <div class="input-group">
            <section class="input-group-addon" style="padding: 10px 10px 10px 0px; border: 0; background-color: transparent; text-align: left">
              <label class="radio-inline" style="color: #333">
                <input class="input-toggle" data-off="alley" type="radio" name="real_estate[is_alley]" value="0" <%= 'checked' if @re.is_alley.blank? || @re.is_alley == 0 %> /><%= t 'real_estate.attribute.facade' %>
              </label>
              <label class="radio-inline">
                 <input class="input-toggle" data-on="alley" type="radio" name="real_estate[is_alley]" value="1" <%= 'checked' if @re.is_alley == 1 %> /><%= t 'real_estate.attribute.alley' %>
              </label>                  
            </section>
            <article class="form-group">
              <input type="text" data-constraint="required" name="real_estate[alley_width]" value="<%= @re.alley_width %>" class="form-control" style="padding: 17px 12px;" data-toggled-element="alley" placeholder="<%= t 'real_estate.attribute.alley_width' %>">
            </article>
            <section class="input-group-addon" data-toggled-element="alley">m</section>
          </div>
        </article>

        <!-- / Alley -->

        <!-- Map -->

        <article class="form-group">
          <div id="map" tabindex="0" style="outline: 0;"></div>
        </article>

        <!-- / Map -->

      </section>
    </article>
  </div>

  <!-- / Position -->

  <!-- Real-estate info -->

  <div class="col-md-6 input-box pull-right-md clearright">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.real_estate_type_box' %>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
        
        <!-- Real-estate type -->

        <div class="row">
          <article class="form-group col-md-5">
            <label for="real_estate_type_group">
              <%= t 'real_estate.attribute.real_estate_type' %>
            </label>
            <select class="form-control input-toggle" id="real_estate_type_group">
              <%= re_type_group_html.html_safe %>
            </select>
          </article>

          <article class="form-group col-md-7">
            <label class="visible-md visible-lg">&nbsp;</label>
            <select data-toggled-element="land un-house un-apartment un-space" name="real_estate[real_estate_type_id]" class="form-control input-toggle">
              <%= land_html.html_safe %>
            </select>
            <select data-toggled-element="un-land house un-apartment un-space" name="real_estate[real_estate_type_id]" class="form-control input-toggle">
              <%= house_html.html_safe %>
            </select>
            <select data-toggled-element="un-land un-house apartment un-space" name="real_estate[real_estate_type_id]" class="form-control input-toggle">
              <%= apartment_html.html_safe %>
            </select>
            <select data-toggled-element="un-land un-house un-apartment space" name="real_estate[real_estate_type_id]" class="form-control input-toggle">
              <%= space_html.html_safe %>
            </select>
          </article>
        </div>

        <!-- / Real-estate type -->

        <!-- Area -->

        <article class="form-group" data-toggled-element="un-land house un-apartment space">
          <label for="contructional_area">
            <%= t 'real_estate.attribute.constructional_area' %>
            <sup class="required-label"></sup>
          </label>
          <div class="input-group">
            <input data-constraint="required real" class="form-control" name="real_estate[constructional_area]" id="constructional_area" value="<%= @re.constructional_area %>" />
            <div class="input-group-addon">m<sup>2</sup></div>
          </div>
        </article>

        <article class="form-group" data-toggled-element="un-land house apartment space">
          <label for="using_area">
            <%= t 'real_estate.attribute.using_area' %>
            <sup class="required-label"></sup>
          </label>
          <div class="input-group">
            <input data-constraint="required real" class="form-control" name="real_estate[using_area]" id="using_area" value="<%= @re.using_area %>" />
            <div class="input-group-addon">m<sup>2</sup></div>
          </div>
        </article>

        <article class="form-group" data-toggled-element="land house un-apartment space">
          <label for="campus_area">
            <%= t 'real_estate.attribute.campus_area' %>
            <sup class="required-label"></sup>
          </label>
          <div class="input-group">
            <input data-constraint="required real" class="form-control" name="real_estate[campus_area]" id="campus_area" value="<%= @re.campus_area %>" />
            <div class="input-group-addon">m<sup>2</sup></div>
          </div>
        </article>

        <!-- / Area -->

        <!-- Width -->

        <div class="row">
          <article class="form-group col-md-6">
            <label for="width_x">
              <%= t 'real_estate.attribute.width_x' %>
              <sup class="required-label"></sup>
            </label>
            <div class="input-group">
              <input data-constraint="required real custom" class="form-control" name="real_estate[width_x]" id="width_x" value="<%= @re.width_x %>" />
              <div class="input-group-addon">m</div>
            </div>
          </article>

          <article class="form-group col-md-6">
            <label for="width_y">
              <%= t 'real_estate.attribute.width_y' %>
              <sup class="required-label"></sup>
            </label>
            <div class="input-group">
              <input data-constraint="required real" class="form-control" name="real_estate[width_y]" id="width_y" value="<%= @re.width_y %>" />
              <div class="input-group-addon">m</div>
            </div>
          </article>

          <article class="col-md-12" id="area_alert">
            <article class="callout callout-warning">
              <%= t 'real_estate.view.create.area_alert' %>
            </article>
          </article>
        </div>

        <!-- / Width -->

        <!-- Shape -->

        <div class="row" data-toggled-element="land house un-apartment space">
          <article class="form-group col-md-6">
            <label for="shape">
              <%= t 'real_estate.attribute.shape' %>
            </label>
            <select data-constraint="custom" name="real_estate[shape]" class="form-control input-toggle" id="shape">
              <option <%= 'selected' if @re.shape == 0 %> data-off="shape" value="0"><%= t 'real_estate.attribute.shape_normal' %></option>
              <option <%= 'selected' if @re.shape == 1 %> data-on="shape" value="1"><%= t 'real_estate.attribute.shape_greater' %></option>
              <option <%= 'selected' if @re.shape == 2 %> data-on="shape" value="2"><%= t 'real_estate.attribute.shape_less' %></option>
            </select>
          </article>
          <article class="form-group col-md-6 disabled-only" data-toggled-element="shape">
            <label for="shape_width">
              <%= t 'real_estate.attribute.shape_width' %>
              <sup class="required-label"></sup>
            </label>
            <div class="input-group">
              <input data-constraint="required real custom" class="form-control" name="real_estate[shape_width]" id="shape_width" value="<%= @re.shape_width %>" />
              <div class="input-group-addon">m</div>
            </div>
          </article>
        </div>

        <!-- / Shape -->

        <!-- Num of floor -->

        <article class="form-group" data-toggled-element="un-land house apartment un-space">
          <label data-toggled-element="house un-apartment" for="floor_number"><%= t 'real_estate.attribute.floor_number_1' %></label>
          <label data-toggled-element="un-house apartment" for="floor_number"><%= t 'real_estate.attribute.floor_number_2' %></label>
          <sup class="required-label"></sup>
          <input data-constraint="required integer" class="form-control" name="real_estate[floor_number]" id="floor_number" value="<%= @re.floor_number %>" />
        </article>

        <!-- / Num of floor -->

        <!-- Num of rooms -->

        <div class="row">
          <article class="form-group col-md-6" data-toggled-element="un-land house apartment space">
            <label for="restroom_number"><%= t 'real_estate.attribute.restroom' %></label>
            <select class="form-control" name="real_estate[restroom_number]" id="restroom_number">
              <option <%= 'selected' if @re.restroom_number == 0 %> value="0">0</option>
              <option <%= 'selected' if @re.restroom_number == 1 %> value="1">1</option>
              <option <%= 'selected' if @re.restroom_number == 2 %> value="2">2</option>
              <option <%= 'selected' if @re.restroom_number == 3 %> value="3">3</option>
              <option <%= 'selected' if @re.restroom_number == 4 %> value="4">&gt;4</option>
            </select>
          </article>
          <article class="form-group col-md-6" data-toggled-element="un-land house apartment space">
            <label for="bedroom_number"><%= t 'real_estate.attribute.bedroom' %></label>
            <select class="form-control" name="real_estate[bedroom_number]" id="bedroom_number">
              <option <%= 'selected' if @re.bedroom_number == 0 %> value="0">0</option>
              <option <%= 'selected' if @re.bedroom_number == 1 %> value="1">1</option>
              <option <%= 'selected' if @re.bedroom_number == 2 %> value="2">2</option>
              <option <%= 'selected' if @re.bedroom_number == 3 %> value="3">3</option>
              <option <%= 'selected' if @re.bedroom_number == 4 %> value="4">&gt;4</option>
            </select>
          </article>
        </div>

        <!-- / Num of rooms -->

        <!-- Direction -->

        <article class="form-group" data-toggled-element="un-land house apartment space">
          <label for="direction_id">
            <%= t 'real_estate.attribute.direction' %>
          </label>
          <select class="form-control" name="real_estate[direction_id]" id="direction_id">
            <% Direction.get_options.each do |d| %>
              <option <%= 'selected' if d.id == @re.direction_id || (!d.options_hash.nil? && d.options_hash.has_key?('default') && @re.direction_id.blank?) %> value="<%= d.id %>"><%= t 'direction.text.' + d.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Direction -->

        <!-- Contructional level -->

        <article class="form-group" data-toggled-element="un-land house apartment space un-villa town-house un-luxury-apartment building-apartment">
          <label for="contructional_level_id">
            <%= t 'real_estate.attribute.constructional_level' %>
          </label>
          <select class="form-control" name="real_estate[constructional_level_id]" id="contructional_level_id">
            <% ConstructionalLevel.get_options.each do |l| %>
                <option <%= 'selected' if l.id == @re.constructional_level_id || (!l.options_hash.nil? && l.options_hash.has_key?('default') && @re.constructional_level_id.blank?) %> value="<%= l.id %>"><%= t 'constructional_level.text.' + l.name %></option>
            <% end %>
          </select>
        </article>

        <!-- / Contructional level -->

        <div class="row">
          
          <!-- Build year -->

          <article class="form-group col-md-6" data-toggled-element="un-land house apartment space">
            <label for="build_year">
              <%= t 'real_estate.attribute.build_year' %>
            </label>
            <select class="form-control">
              <%= build_year_html.html_safe %>
            </select>
          </article>

          <!-- / Build year -->

          <!-- Contructional quatity -->

          <article class="form-group col-md-6" data-toggled-element="un-land house apartment space">
            <label for="constructional_quality">
              <%= t 'real_estate.attribute.constructional_quality' %>
              <sup class="required-label"></sup>
            </label>
            <div class="input-group">
              <input data-constraint="required integer range" data-minvalue="0" data-maxvalue="100" value="<%= @re.constructional_quality %>" class="form-control" name="real_estate[constructional_quality]" id="constructional_quality">
              <div class="input-group-addon">%</div>
            </div>
          </article>

          <!-- / Contructional quatity -->

        </div>

      </section>
    </article>
  </div>

  <!-- / Real-estate info -->

  <!-- Docs info -->

  <div class="col-md-12 input-box" data-toggled-element="sell un-rent">
    
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.docs_box' %>
        </h2>        
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
        <div class="row">

          <!-- Legal record type -->

          <div class="col-md-6">
            <article class="form-group">
              <label for="legal_record_type_id">
                <%= t 'real_estate.attribute.legal_record_type' %>
                <sup class="required-label" data-toggled-element="custom-legal-record-type"></sup>
              </label>
              <select name="real_estate[legal_record_type_id]" class="form-control input-toggle" id="legal_record_type_id">
                <% LegalRecordType.get_options.each do |t| %>
                    <option <%= 'selected' if t.id == @re.legal_record_type_id || (t.code == 'Custom' && @re.legal_record_type_id == 0) || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.legal_record_type_id.blank?) %> value="<%= t.code != 'Custom' ? t.id : 0 %>" <%= t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']%>><%= t 'legal_record_type.text.' + t.name %></option>
                <% end %>
              </select>
            </article>

            <article class="form-group" data-toggled-element="custom-legal-record-type">
              <input data-constraint="required" value="<%= @re.custom_legal_record_type %>" name="real_estate[custom_legal_record_type]" class="form-control" id="custom_legal_record_type" placeholder="<%= t 'real_estate.view.create.other_legal_record_type_placeholder' %>" />
            </article>
          </div>

          <!-- / Legal record type -->

          <!-- Planning status -->

          <div class="col-md-6">
            <article class="form-group">
              <label for="planning_status_type_id">
                <%= t 'real_estate.attribute.planning_status_type' %>
                <sup class="required-label" data-toggled-element="custom-planning-status-type"></sup>
              </label>
              <select name="real_estate[planning_status_type_id]" class="form-control input-toggle" id="planning_status_type_id">
                <% PlanningStatusType.get_options.each do |t| %>
                  <option <%= 'selected' if t.id == @re.planning_status_type_id || (t.code == 'Custom' && @re.planning_status_type_id == 0) || (!t.options_hash.nil? && t.options_hash.has_key?('default') && @re.planning_status_type_id.blank?) %> value="<%= t.code != 'Custom' ? t.id : 0 %>" <%= t.options_hash['html']['attributes'] if defined? t.options_hash['html']['attributes']%>><%= t 'planning_status_type.text.' + t.name %></option>
                <% end %>
              </select>
            </article>

            <article class="form-group" data-toggled-element="custom-planning-status-type">
              <input data-constraint="required" value="<%= @re.custom_planning_status_type %>" name="real_estate[custom_planning_status_type]" class="form-control" id="custom_planning_status_type" placeholder="<%= t 'real_estate.view.create.other_planning_status_type_placeholder' %>">
            </article>
          </div>

          <!-- / Planning status -->

        </div>
      </section>
    </article>
  </div>

  <!-- / Docs info -->

  <!-- Description -->

  <div class="col-md-6 input-box">

    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.content_box' %>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
        <article class="form-group">
          <label for="title">
            <%= t 'real_estate.attribute.title' %>
            <sup class="required-label"></sup>
          </label>
          <input data-constraint="required" class="form-control" name="real_estate[title]" id="title" value="<%= @re.title %>" />
        </article>
        <article class="form-group">
          <label for="description">
            <%= t 'real_estate.attribute.description' %>
            <sup class="required-label"></sup>
          </label>
          <textarea data-constraint="required" class="form-control" name="real_estate[description]" id="description"><%= @re.description %></textarea>
        </article>
      </section>
    </article>

  </div>

  <div class="col-md-6">
    <article class="box" style="background-color: transparent; box-shadow: none; border: 0;">
      <section class="box-body text-center">
        <a href="javascript:void(0)" aria-click="turn-on-until-full" style="display: inline-block; padding: 10px; text-align: center; background-color: #fff;border: 1px solid #ddd;border-radius: 3px;box-shadow: 0 1px 1px rgba(0,0,0,0.1)">
          <div class="fa fa-plus-square" style="font-size: 40px;"></div>
          <div>Đăng hình ảnh và thông tin chi tiết khác</div>
        </a>
      </section>
    </article>
  </div>
    
  <!-- / Description -->

  <div class="clearfix"></div>

  <!-- Utilities -->

  <div class="col-md-6 input-box until-full" data-toggled-element="un-land house apartment space">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.property_utility' %>
        </h2>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" aria-click="uncheck"><%= t 'real_estate.view.create.uncheck' %></a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
          
        <!-- Property utilities -->

        <article class="form-group">
          <% PropertyUtility.get_options.each do |u| %>
            <div class="checkbox">
              <label><input <%= 'checked' if @re.property_utilities.exists?(id: u.id) %> type="checkbox" name="real_estate[property_utility_ids][]" value="<%= u.id %>"><%= t 'property_utility.text.' + u.name %></label>
            </div>
          <% end %>
        </article>

        <!-- / Property utilities -->

      </section>
    </article>
  </div>

  <div class="col-md-6 input-box until-full until-full">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.region_utility' %>
        </h2>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" aria-click="uncheck"><%= t 'real_estate.view.create.uncheck' %></a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
          
        <!-- Region utilities -->
        
        <article class="form-group">
          <% RegionUtility.get_options.each do |u| %>
            <div class="checkbox">
              <label><input <%= 'checked' if @re.region_utilities.exists?(id: u.id) %> type="checkbox" name="real_estate[region_utility_ids][]" value="<%= u.id %>"><%= t 'region_utility.text.' + u.name %></label>
            </div>
          <% end %>
        </article>

        <!-- / Region utilities -->

      </section>
    </article>
  </div>

  <!-- / Utilities -->

  <div class="clearfix until-full"></div>

  <!-- Featured -->

  <div class="col-md-6 input-box until-full">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.advantage' %>
        </h2>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" aria-click="uncheck"><%= t 'real_estate.view.create.uncheck' %></a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Advantage -->

        <article class="form-group">
          <% Advantage.get_options.each do |a| %>
            <div class="checkbox">
              <label><input <%= 'checked' if @re.advantages.exists?(id: a.id) %> type="checkbox" name="real_estate[advantage_ids][]" value="<%= a.id %>"><%= t 'advantage.text.' + a.name %></label>
            </div>
          <% end %>
          <input value="<%= @re.custom_advantages %>" name="real_estate[custom_advantages]" class="form-control" placeholder="Tiện ích khác" />
        </article>
        
        <!-- / Advantage -->

      </section>
    </article>
  </div>

  <div class="col-md-6 input-box until-full">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.disadvantage' %>
        </h2>
        <div class="box-tools pull-right">
          <a class="btn btn-box-tool" aria-click="uncheck"><%= t 'real_estate.view.create.uncheck' %></a>
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">

        <!-- Disadvantage -->
        
        <article class="form-group">
          <% Disadvantage.get_options.each do |d| %>
            <div class="checkbox">
              <label><input <%= 'checked' if @re.disadvantages.exists?(id: d.id) %> type="checkbox" name="real_estate[disadvantage_ids][]" value="<%= d.id %>"><%= t 'disadvantage.text.' + d.name %></label>
            </div>
          <% end %>
          <input value="<%= @re.custom_disadvantages %>" name="real_estate[custom_disadvantages]" class="form-control" placeholder="Tiện ích khác">
        </article>
        
        <!-- / Disadvantage -->

      </section>
    </article>
  </div>

  <!-- / Featured -->

  <!-- Images -->

  <div class="col-md-12 input-box until-full">
    <article class="box box-default">
      <section class="box-header with-border">
        <h2 class="box-title">
          <%= t 'real_estate.attribute.image' %>
          <sup class="required-label"></sup>
        </h2>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
      </section>
      <section class="box-body">
        <p>Hình ảnh bất động sản của bạn. Bạn có thể cung cấp 5 hình với kích thước 3Mb.</p>
        <article class="form-group margin-0">
          <input class="file-upload" data-constraint="required" type="file" multiple name="real_estate[image_ids]" data-amount="7" data-size="3145728" data-type="jpg jpeg png" data-ratio="<%= 1.25 %>" data-init-value="<%= image_ids %>" />
        </article>
      </section>
    </article>
  </div>

  <!-- / Images -->

  <!-- Button -->

  <div class="col-md-12">
    <article class="box box-solid">
      <section class="box-body row">
        <div class="margin-top-bottom-5 col-sm-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat"><b><%= t 'real_estate.view.create.finish' %></b></button>
        </div>
        <div class="margin-top-bottom-5 col-sm-6">
          <button type="button" class="btn btn-default btn-block btn-flat" aria-click="save-draft"><b><%= t 'real_estate.view.create.save_draft_preview' %></b></button>
        </div>
      </section>
    </article>
  </div>

  <!-- / Button -->

</form>