<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/create.css" />
<% end %>

<% content_for :scripts do %>
    <script src="/assets/real_estates/create.js"></script>
<% end %>

<div class="container-fluid">
  <!-- #start main-content -->
  <article class="row wrapper">
    <article class="main-content col-md-8">    
      <form class="form-horizontal form-es <%= 'full' unless @real_estate.id.blank? %>" id="create_real_estate">
        <% unless @real_estate.id.blank? %>
            <input type="hidden" name="real_estate[id]" value="<%= @real_estate.id %>" />
        <% end %>
      <section class="main-title">Thông tin rao bán của bạn</section>      
      <ul class="item-wrapper">
        <!-- #Start item "Loại hình giao dịch" -->
        <li class="item">
          <div class="item-title">Loại hình giao dịch</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="col-sm-4 col-sm-offset-3">
                <select name="real_estate[purpose_id]" class="form-control" data-toggle-input="select-show" id="purpose">
                  <% Purpose.get_options.each do |purpose| %>
                      <option value="<%= purpose.id %>" <%= 'selected' if purpose.id == @real_estate.purpose_id %> <%= purpose.options_hash['html']['attributes'] if defined? purpose.options_hash['html']['attributes'] %>><%= purpose.name %></option>
                  <% end %>
                </select>
              </div>
            </li>      
          </ul>
        </li>
        <!-- #End item "Loại hình giao dịch" -->
        <!-- #Start item "Giá bán mong muốn" -->
        <li class="item">
          <div class="item-title">
            Giá bán mong muốn
            <a href="#" class="support-button" data-value="#support_price"></a>
            <section class="support-text" id="support_price">
              <b>Giá bán mong muốn:</b> Quý khách có thể sử dụng chức năng <a href="#">"định giá nhà"</a> hoặc <a href="#">"định giá khu vực"</a> để tham khảo giá thị trường nhà đất giao dịch gần nhất.<br>
              <b>Thỏa thuận:</b> Giá bán sẽ được thỏa thuận khi Người mua gặp trực tiếp Người bán.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label for="price" class="control-label col-sm-3">Giá mong muốn:</label>                                
              <div class="col-sm-4">
                <input value="<%= @real_estate.price.blank? ? '' : @real_estate.price.round %>" <%= 'disabled' if @real_estate.price == 0 %> name="real_estate[price]" class="form-control only-number" data-validate="required" id="price" data-separate='.' data-toggle-input-object="price-agree">
              </div>
              <div class="checkbox col-sm-4">
                <label class="label-non-margin"><input <%= 'checked' if @real_estate.price == 0 %> name="real_estate[no_price]" value="1" type="checkbox" data-toggle-input="check-disable" data-disable="price-agree"> Giá Thoả thuận</label>
              </div>
            </li>
            <li class="form-group">            
              <label for="currency_id" class="control-label col-sm-3">Đơn vị tính:</label>
              <div class="col-sm-3">
                <select name="real_estate[currency_id]" class="form-control" id="currency_id">
                  <% Currency.get_options.each do |currency| %>
                      <option value="<%= currency.id %>" <%= 'selected' if currency.id == @real_estate.currency_id %> <%= currency.options_hash['html']['attributes'] %>><%= currency.name %></option>
                  <% end %>
                </select>
              </div>
              <label for="unit" class="control-label col-sm-1">trên</label>
              <div class="col-sm-4">

                <%
                   ban = thue = ''
                   Unit.get_options.each do |unit|
                     case unit.options_hash['group']
                       when 'Ban'
                         ban += "<option #{'selected' if unit.id == @real_estate.unit_id} value=\"#{unit.id}\">#{unit.name}</options>"
                       when 'Thue'
                         thue += "<option #{'selected' if unit.id == @real_estate.unit_id} value=\"#{unit.id}\">#{unit.name}</options>"
                     end
                   end
                %>

                <select style="<%= 'display:none;' if !@real_estate.purpose.blank? && @real_estate.purpose.code != 'Ban' %>" name="real_estate[unit_id_sell]" class="form-control" id="unit" data-toggle-input-object="sell un-rent">
                  <%= ban.html_safe %>
                </select>
                <select style="<%= 'display:none;' if @real_estate.purpose.blank? || @real_estate.purpose.code != 'Thue' %>" name="real_estate[unit_id_rent]" class="form-control" id="unit" data-toggle-input-object="rent un-sell">
                  <%= thue.html_safe %>
                </select>                   
              </div>    
            </li>   
            <li class="form-group">                          
              <div class="col-sm-4 col-sm-offset-3 checkbox">
                <label><input <%= 'checked' if @real_estate.is_negotiable %> name="real_estate[is_negotiable]" type="checkbox" id="is_negotiable">Có thể thương lượng</label>
              </div>                
            </li>            
          </ul>
        </li>
        <!-- #End item "Giá bán mong muốn" -->
        <!-- #Start item "Vị trí" -->
        <li class="item">
          <div class="item-title">Vị trí</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="province_id">Tỉnh/Thành phố:</label>
              <div class="col-sm-4">
                <select name="real_estate[province_id]" class="form-control" id="province">
                  <%
                    if @real_estate.province_id.blank?
                       Province.get_options.each do |province|
                  %>
                          <option <%= 'selected' if province.id == 1 %> value="<%= province.id %>"><%= province.name.html_safe %></option>
                  <%
                       end
                    else
                       Province.get_options.each do |province|
                  %>
                          <option <%= 'selected' if province.id == @real_estate.province_id %> value="<%= province.id %>"><%= province.name.html_safe %></option>
                  <%
                       end
                    end
                  %>
                </select>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="district_id">Quận/Huyện/Thị xã:</label>
              <div class="col-sm-4">
                <select name="real_estate[district_id]" class="form-control" id="district">
                  <% District.get_options(1).each do |district| %>
                      <option <%= 'selected' if district.id == @real_estate.district_id %> value="<%= district.id %>"><%= district.name.html_safe %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group">
              <label class="control-label col-sm-3" for="ward_id">Phường:</label>
              <div class="col-sm-4">
                <select name="real_estate[ward_id]" class="form-control" id="ward">
                  <% temp = '' %>
                  <% Ward.get_options(1).each do |ward| %>
                      <% next if ward.name == temp %>
                      <option <%= 'selected' if ward.id == @real_estate.ward_id %> value="<%= ward.id %>"><%= ward.name.html_safe %></option>
                      <% temp = ward.name %>
                  <% end %>
                </select>
              </div>
            </li> 
            <li class="form-group">            
              <label class="control-label col-sm-3" for="street_id">Đường:</label>
              <div class="col-sm-4">
                <select name="real_estate[street_id]" class="form-control" id="street">
                  <% Street.get_options(1).each do |street| %>
                    <option <%= 'selected' if street.id == @real_estate.street_id %> value="<%= street.id %>"><%= street.name.html_safe %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="address_number">Số nhà:</label>
              <div class="col-sm-4">
                <input value="<%= @real_estate.address_number %>" name="real_estate[address_number]" class="form-control" id="address_number">
              </div>
            </li>
            <li class="form-group">
              <label class="control-label col-sm-3" for="street_type">Loại Đường:</label>
              <div class="col-sm-4">
                <select name="real_estate[street_type_id]" class="form-control" id="street_type">
                  <% StreetType.get_options.each do |street_type| %>
                      <option <%= 'selected' if street_type.id == @real_estate.street_type_id %> value="<%= street_type.id %>"><%= street_type.name %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group">              
              <div class="col-xs-6 col-sm-2 col-sm-offset-3 radio">
                <label><input <%= 'checked' if @real_estate.is_alley != 1 %> type="radio" name="real_estate[is_alley]" value="0" data-toggle-input="check-show" data-hide="alley" checked> Mặt tiền</label>
              </div>
              <div class="col-xs-6 col-sm-2 radio">  
                <label><input <%= 'checked' if @real_estate.is_alley == 1 %> type="radio" name="real_estate[is_alley]" value="1" data-toggle-input="check-show" data-show="alley"> Hẻm</label>
              </div>
              <div class="col-xs-4 col-xs-offset-7 col-sm-2 input-group" data-toggle-input-object="alley">
                <input value="<%= @real_estate.alley_width %>" name="real_estate[alley_width]" type="text" class="form-control">
                <div class="input-group-addon">m</div>
              </div>                  
            </li>
            <li class="form-group">              
              <div class="col-sm-4 col-sm-offset-3">
                <a href="#" class="expand btn btn-link" data-target="#map">Xem vị trí trên bản đồ</a>
              </div>
              <div class="col-sm-4">
                <a href="#" class="btn btn-link" id="set_price_area">Định giá khu vực</a>                    
              </div>
            </li>
            <li class="form-group">            
              <div class="col-xs-12">
                <img src="/assets/product/icon_Bando.png" class="img-responsive" id="map" style="display:none;">
              </div>
            </li>              
          </ul>
        </li>
        <!-- #End item "Vị trí" -->
        <!-- #Start item "Loại hình bất động sản" -->
        <li class="item">
          <div class="item-title">
            Loại hình bất động sản
            <a href="#" class="support-button" data-value="#support_property_type"></a>
            <section class="support-text" id="support_property_type">                   
              <b>Diện tích xây dựng:</b> Là phần đất có công trình xây dựng.<br>
              <b>Diện tích sử dụng:</b> Là tổng diện tích các sàn xây dựng kể cả ban công, tầng hầm, sân thượng.<br>
              <b>Diện tích khuôn viên:</b> Là tổng diện tích đất bao gồm cả phần diện tích vi phạm lộ giới, quy hoạch không được công nhận.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3" for="property_type">Loại hình:</label>
              <div class="col-sm-4" id="groupLoaiHinh">
                <select class="form-control" data-toggle-input="select-show" id="property_type">
                  <% temp = @real_estate.real_estate_type.blank? ? '' : @real_estate.real_estate_type.options_hash['group'] %>
                  <option <%= 'selected' if temp == 'Dat' %> value="Dat" data-show="land" data-hide="un-land">Đất</option>
                  <option <%= 'selected' if temp == 'Nha' %> value="Nha" data-show="house" data-hide="un-house">Nhà</option>
                  <option <%= 'selected' if temp == 'CanHo' %> value="CanHo" data-show="apartment" data-hide="un-apartment">Căn hộ</option>
                  <option <%= 'selected' if temp == 'MatBang' %> value="MatBang" data-show="space" data-hide="un-space">Mặt bằng</option>
                </select>
              </div>
              <label class="control-label col-sm-1" for="property_type_details">&gt;</label>              
              <div class="col-sm-4">

                <%
                   dat = nha = canHo = matBang = ''
                   RealEstateType.get_options.each do |real_estate_type|
                     case real_estate_type.options_hash['group']
                        when 'Dat'
                            dat += "<option #{'selected' if real_estate_type.id == @real_estate.real_estate_type_id} #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'Nha'
                            nha += "<option #{'selected' if real_estate_type.id == @real_estate.real_estate_type_id} #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'CanHo'
                            canHo += "<option #{'selected' if real_estate_type.id == @real_estate.real_estate_type_id} #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                        when 'MatBang'
                            matBang += "<option #{'selected' if real_estate_type.id == @real_estate.real_estate_type_id} #{real_estate_type.options_hash['html']['attributes'] if defined? real_estate_type.options_hash['html']['attributes']} value=\"#{real_estate_type.id}\">#{real_estate_type.name}</option>"
                     end
                   end
                %>

                <select style="<%= temp.blank? || temp == 'Dat' ? '' : 'display:none;' %>" name="real_estate[real_estate_type_id]" class="form-control" data-toggle-input="select-show" data-toggle-input-object="land un-house un-apartment un-space">
                  <%= dat.html_safe %>
                </select>
                <select style="<%= 'display:none;' if temp != 'Nha' %>" name="real_estate[real_estate_type_id]" class="form-control" data-toggle-input="select-show" data-toggle-input-object="un-land house un-apartment un-space">
                  <%= nha.html_safe %>
                </select>
                <select style="<%= 'display:none;' if temp != 'CanHo' %>" name="real_estate[real_estate_type_id]" class="form-control" data-toggle-input="select-show" data-toggle-input-object="un-land un-house apartment un-space">
                  <%= canHo.html_safe %>
                </select>
                <select style="<%= 'display:none;' if temp != 'MatBang' %>" name="real_estate[real_estate_type_id]" class="form-control" data-toggle-input-object="un-land un-house un-apartment space">
                  <%= matBang.html_safe %>
                </select>
              </div>
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house un-apartment space">
              <label class="control-label col-sm-4" for="construction_area">Diện tích xây dựng:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.constructional_area %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[constructional_area]" id="construction_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="using_area">Diện tích sử dụng:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.using_area %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[using_area]" id="using_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-toggle-input-object="land house un-apartment space">
              <label class="control-label col-sm-4" for="campus_area">Diện tích khuôn viên:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.campus_area %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[campus_area]" id="campus_area">
                <div class="input-group-addon">m<sup>2</sup></div>
              </div>              
            </li>
            <li class="form-group sub-item" data-toggle-input-object="land house apartment space">
              <label class="control-label col-sm-4" for="width_x">Ngang:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.width_x %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[width_x]" id="width_x">
                <div class="input-group-addon">m</div>
              </div>              
            </li>
            <li class="form-group sub-item" data-toggle-input-object="land house apartment space">
              <label class="control-label col-sm-4" for="width_y">Dài:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.width_y %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[width_y]" id="width_y">
                <div class="input-group-addon">m</div>
              </div>              
            </li>
            <li class="form-group sub-item" data-toggle-input-object="land house un-apartment space">
              <label class="control-label col-sm-4" for="shape">Hình dáng:</label>          
              <div class="col-sm-4">
                <select name="real_estate[shape]" class="form-control" data-toggle-input="select-show">
                  <option <%= 'selected' if @real_estate.shape == 0 %> data-hide="normal-shape" value="0">Bình thường</option>
                  <option <%= 'selected' if @real_estate.shape == 1 %> data-show="normal-shape" value="1">Nở hậu</option>
                  <option <%= 'selected' if @real_estate.shape == 2 %> data-show="normal-shape" value="2">Tóp hậu</option>
                </select>
              </div>
              <div class="col-sm-2 col-xs-5 col-xs-offset-4 input-group" data-toggle-input-object="normal-shape">
                <input value="<%= @real_estate.shape_width %>" name="real_estate[shape_width]" class="form-control" data-constraint="only-number" data-validate="required" size="2" id="shape_width">
                <div class="input-group-addon">m</div>
              </div>
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment un-space">
              <label class="control-label col-sm-4" for="floor_number">Số tầng:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[floor_number]" id="floor_number">
                  <option <%= 'selected' if @real_estate.floor_number == 0 %> value="0">Trệt</option>
                  <option <%= 'selected' if @real_estate.floor_number == 1 %> value="1">1</option>
                  <option <%= 'selected' if @real_estate.floor_number == 2 %> value="2">2</option>
                  <option <%= 'selected' if @real_estate.floor_number == 3 %> value="3">3</option>
                  <option <%= 'selected' if @real_estate.floor_number == 4 %> value="4">&gt;4</option>
                </select>
              </div>
            </li>                          
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="restroom_number">WC:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[restroom_number]" id="restroom_number">
                  <option <%= 'selected' if @real_estate.restroom_number == 1 %> value="1">1</option>
                  <option <%= 'selected' if @real_estate.restroom_number == 2 %> value="2">2</option>
                  <option <%= 'selected' if @real_estate.restroom_number == 3 %> value="3">3</option>
                  <option <%= 'selected' if @real_estate.restroom_number == 4 %> value="4">&gt;4</option>
                </select>
              </div>                      
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="bedroom_number">Phòng ngủ:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[bedroom_number]" id="bedroom_number">
                  <option <%= 'selected' if @real_estate.bedroom_number == 0 %> value="0">0</option>
                  <option <%= 'selected' if @real_estate.bedroom_number == 1 %> value="1">1</option>
                  <option <%= 'selected' if @real_estate.bedroom_number == 2 %> value="2">2</option>
                  <option <%= 'selected' if @real_estate.bedroom_number == 3 %> value="3">3</option>
                  <option <%= 'selected' if @real_estate.bedroom_number == 4 %> value="4">&gt;4</option>
                </select>
              </div>
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="direction">Hướng nhà:</label>
              <div class="col-sm-3 col-xs-12">
                <select class="form-control" name="real_estate[direction_id]" id="direction">
                  <% Direction.get_options.each do |direction| %>
                      <option <%= 'selected' if direction.id == @real_estate.direction_id %> value="<%= direction.id %>"><%= direction.name %></option>
                  <% end %>
                </select>
              </div>                       
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="build_year">Năm xây dựng:</label>
              <div class="col-sm-3">
                <select class="form-control" name="real_estate[build_year]" id="build_year" data-value="<%= @real_estate.build_year %>">
                  <!-- js Xử lý-->                        
                </select>
              </div>                    
            </li>            
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space un-villa home-city un-luxury-apartment apartment-building">
              <label class="control-label col-sm-4" for="construction_level">Phân loại nhà:</label>
              <div class="col-sm-3">
                <select class="form-control" name="real_estate[constructional_level_id]" id="construction_level">
                  <% ConstructionalLevel.get_options.each do |constructional_level| %>
                      <option <%= 'selected' if constructional_level.id == @real_estate.constructional_level_id %> value="<%= constructional_level.id %>"><%= constructional_level.name %></option>
                  <% end %>
                </select>
              </div>                  
            </li>
            <li class="form-group sub-item" data-toggle-input-object="un-land house apartment space">
              <label class="control-label col-sm-4" for="construction_quality">Chất lượng nhà còn lại:</label>
              <div class="col-sm-3 input-group">
                <input value="<%= @real_estate.constructional_quality %>" class="form-control" data-constraint="only-number" data-validate="required" name="real_estate[constructional_quality]" id="construction_quality">
                <div class="input-group-addon">%</div>
              </div>                  
            </li>            
          </ul>
        </li>
        <!-- #End item "Loại hình bất động sản" -->
        <!-- #Start item "Hồ sơ pháp lý" -->
        <li class="item" data-toggle-input-object="sell un-rent">
          <div class="item-title">Hồ sơ pháp lý</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="legal_records">Loại:</label>
              <div class="col-sm-4">
                <select name="real_estate[legal_record_type_id]" class="form-control" data-toggle-input="select-show" id="legal_records">
                  <% LegalRecordType.get_options.each do |legal_record_type| %>
                      <option <%= 'selected' if legal_record_type.id == @real_estate.legal_record_type_id || (legal_record_type.code == 'Custom' && @real_estate.legal_record_type_id == 0) %> value="<%= legal_record_type.code != 'Custom' ? legal_record_type.id : 0 %>" <%= legal_record_type.options_hash['html']['attributes'] if defined? legal_record_type.options_hash['html']['attributes']%>><%= legal_record_type.name %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group" data-toggle-input-object="different-legal">
              <label class="control-label col-sm-3 hidden-xs"></label>
              <div class="col-sm-4">
                <input value="<%= @real_estate.custom_legal_record_type %>" name="real_estate[custom_legal_record_type]" class="form-control" data-validate="required" id="legal_record_different">
              </div>
            </li>
          </ul>
        </li>
        <!-- #End item "Hồ sơ pháp lý" -->
        <!-- #Start item "Tình trạng quy hoạch" -->
        <li class="item" data-toggle-input-object="sell un-rent">
          <div class="item-title">Tình trạng quy hoạch</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="planning_status">Loại:</label>
              <div class="col-sm-4">
                <select name="real_estate[planning_status_type_id]" class="form-control" data-toggle-input="select-show" id="planning_status">
                  <% PlanningStatusType.get_options.each do |planning_status_type| %>
                      <option <%= 'selected' if planning_status_type.id == @real_estate.planning_status_type_id || (planning_status_type.code == 'Custom' && @real_estate.planning_status_type_id == 0) %> value="<%= planning_status_type.code != 'Custom' ? planning_status_type.id : 0 %>" <%= planning_status_type.options_hash['html']['attributes'] if defined? planning_status_type.options_hash['html']['attributes']%>><%= planning_status_type.name %></option>
                  <% end %>
                </select>
              </div>
            </li>
            <li class="form-group" data-toggle-input-object="different-planning">
              <label class="control-label col-sm-3 hidden-xs"></label>
              <div class="col-sm-4">
                <input value="<%= @real_estate.custom_planning_status_type %>" name="real_estate[custom_planning_status_type]" class="form-control" data-validate="required" id="planning_status_different">
              </div>
            </li>
            <li class="form-group" data-toggle-input-object="sell un-rent">
              <div class="col-sm-6 col-sm-offset-3 col-xs-12" id="plan_table"><a href="#" class="btn btn-link">Bảng quy hoạch chi tiết</a></div>
            </li>
          </ul>
        </li>
        <!-- #End item "Tình trạng quy hoạch" -->
        <!-- #Start item "Nội dung tin đăng" -->
        <li class="item">
          <div class="item-title">Nội dung tin đăng</div>
          <ul class="item-content">            
            <li class="form-group">            
              <label class="control-label col-sm-3" for="title">Tiêu đề:</label>
              <div class="col-sm-9">
                <input value="<%= @real_estate.title %>" name="real_estate[title]" class="form-control" data-validate="required" id="title">
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="description">Nội dung:</label>
              <div class="col-sm-9">
                <textarea name="real_estate[description]" class="form-control" data-validate="required" id="description"><%= @real_estate.description %></textarea>
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Nội dung tin đăng" -->
        <!-- #Start item "Tiện nghi khác" -->
        <li class="item until-full">
          <div class="item-title">Tiện nghi khác</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="checkbox">
                <% PropertyUtility.get_options.each do |property_utility| %>
                    <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input <%= 'checked' if @real_estate.property_utilities.exists?(id: property_utility.id) %> type="checkbox" name="real_estate[property_utility_ids][]" value="<%= property_utility.id %>"><%= property_utility.name %></label>
                <% end %>
              </div>
            </li>            
          </ul>
        </li>
        <!-- #End item "Tiện nghi khác" -->
        <!-- #Start item "Tiện ích khu vực" -->
        <li class="item until-full">
          <div class="item-title">Tiện ích khu vực</div>
          <ul class="item-content">
            <li class="form-group">            
              <div class="checkbox">
                <% RegionUtility.get_options.each do |region_utility| %>
                    <label class="col-xs-6 col-sm-3 col-md-4 col-lg-3"><input <%= 'checked' if @real_estate.region_utilities.exists?(id: region_utility.id) %> type="checkbox" name="real_estate[region_utility_ids][]" value="<%= region_utility.id %>"><%= region_utility.name %></label>
                <% end %>
              </div>
            </li>           
          </ul>
        </li>
        <!-- #End item "Tiện ích khu vực" -->
        <!-- #Start item "Đánh giá các đặc điểm khác" -->
        <li class="item until-full">
          <div class="item-title">
            Đánh giá các đặc điểm khác
            <a href="#" class="support-button" data-value="#support_characteristic_differents"></a>
            <section class="support-text" id="support_characteristic_differents">                   
              Nhập đặc điểm tốt, xấu (nếu có) để phần mềm định giá được chính xác hơn.
            </section>
          </div>
          <ul class="item-content">
            <li class="form-group">            
              <label class="control-label col-sm-3 left">Điểm tốt</label>              
              <div class="checkbox">
                <% Advantage.get_options.each do |advantage| %>
                    <label class="col-sm-12"><input <%= 'checked' if @real_estate.advantages.exists?(id: advantage.id) %> type="checkbox" name="real_estate[advantage_ids][]" value="<%= advantage.id %>"><%= advantage.name %></label>
                <% end %>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="custom_advantages">Điểm tốt khác:</label>
              <div class="col-sm-9">
                <input value="<%= @real_estate.custom_advantages %>" name="real_estate[custom_advantages]" class="form-control" id="custom_advantages">
              </div>                    
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3 left">Điểm xấu</label>
              <div class="checkbox">
                <% Disadvantage.get_options.each do |disadvantage| %>
                    <label class="col-sm-12"><input <%= 'checked' if @real_estate.disadvantages.exists?(id: disadvantage.id) %> type="checkbox" name="real_estate[disadvantage_ids][]" value="<%= disadvantage.id %>"><%= disadvantage.name %></label>
                <% end %>
              </div>
            </li>
            <li class="form-group">            
              <label class="control-label col-sm-3" for="custom_disadvantages">Điểm xấu khác:</label>
              <div class="col-sm-9">
                <input value="<%= @real_estate.custom_disadvantages %>" name="real_estate[custom_disadvantages]" class="form-control" id="custom_disadvantages">
              </div>                      
            </li>      
          </ul>
        </li>
        <!-- #End item "Đánh giá các đặc điểm khác" -->
        <!-- #Start item "Hình ảnh" -->
        <li class="item until-full">
          <div class="item-title">Hình ảnh</div>
          <ul class="item-content">
            <li class="form-group">
              <label class="control-label col-sm-3" for="images">Hình ảnh mô tả BĐS của bạn:</label>
              <div class="col-sm-9">
                <% @real_estate.images.each do |image| %>
                    <div class="image-upload has-file">
                      <input value="<%= image.id %>" type="hidden" name="real_estate[image_ids][]" />
                      <label>
                        <input type="file" />
                      </label>
                      <img src="/images/<%= image.id %>" />
                      <u></u>
                      <i></i>
                    </div>
                <% end %>
                <% (@real_estate.images.length...5).each do %>
                    <div class="image-upload">
                      <input type="hidden" name="real_estate[image_ids][]" />
                      <label>
                        <input type="file" />
                      </label>
                      <img />
                      <u></u>
                      <i></i>
                    </div>
                <% end %>
              </div>                  
            </li>
          </ul>
        </li>
        <!-- #End item "Hình ảnh" -->
        <!-- #Start item "Submit Button" -->
        <li class="item">          
          <ul class="item-content">
            <li class="submit-button">
              <p class="text-center">
                <button type="submit" class="btn btn-primary"><%= @real_estate.id.blank? ? 'Đăng tin' : 'Cập nhật' %></button>
                <% if @real_estate.id.blank? || @real_estate.name == 'draft' %>
                    <button name="real_estate[draft]" type="button" class="btn btn-default" data-feature="save-draft">Lưu tạm</button>
                <% end %>
                <button type="button" class="btn btn-default" data-feature="preview">Xem trước</button>
              </p>
              <p id="errors" class="text-center">

              </p>
            </li>
          </ul>
        </li>
        <!-- #End item "Hình ảnh" -->
      </ul>
      </form>
      <br>
      <br>
      <br>
      <br>
      <br>
    </article>          
    <article class="col-md-4">
      <h1>Guider</h1>
      <h2>Coming soon...</h2>
    </article>
  </article>
  <!-- #start main-content -->
</div>