<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/index.css" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/real_estates/index.js"></script>
<% end %>

<%
=begin
	@favorite_res, @res
=end
 
	@_title = t '.page_title'
	@_description = t '.page_description'
	@_main_navigator = {
		background: '/assets/shared/main_navigator/main_2.jpeg',
		list: [
			{
				url: res_path,
				text: t('.page_title')
			}
		]
	}
	@_main_class = 're-index'

	page = params[:page].present? ? params[:page].to_i : 1
%>

<% if @favorite_res.present? %>
	<article class="container-box container-box-transparent">
		<section class="container-box-header">
			<h2 class="container-box-title">
				<%= t '.favorite_list_title' %>
			</h2>
		</section>
		<section class="container-box-body">
			<%
				per = 3
			%>
			<%= render partial: 'real_estates/items_list', locals: { type: 2, res: @favorite_res.random.limit(per), list_id: 'favorite_res_list' } %>
		</section>
	</article>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<article class="container-box container-box-transparent">
				<section class="container-box-header">
					<h2 class="container-box-title">
						<%= t '.list_title' %>
					</h2>
				</section>
				<section class="container-box-body">
					<% if @res.count != 0 %>
						<div class="medium-items-list" id="res_list">
							<%=
								render(
									partial: 'real_estates/items_list_2',
									locals: {
										res: @res
									}
								)
							%>
						</div>
						<div id="res_paginator" data-search-params="<%= { conditions: @res_conditions, search_params: @res_search_params }.to_json %>">
							<%= render partial: 'shared/paginator_2', locals: { results: @res } %>
						</div>
					<% else %>
						<div class="alert alert-warning alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<p>
								<%= t '.empty_re_list' %>
							</p>
						</div>
					<% end %>
				</section>
			</article>
		</div>
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3" style="padding-top: 70px;">
			<%= render partial: '/shared/search_box' %>
		</div>
	</div>
</div>