<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/index.css" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/real_estates/index.js"></script>
<% end %>

<%
=begin
	@favorite_res, @res
=end
 
	@_title = t '.page_title'
	@_description = t '.page_description'
	@_main_navigator = {
		background: '/assets/shared/main_navigator/main_2.jpeg',
		list: [
			{
				url: res_path,
				text: t('.page_title')
			}
		]
	}
	@_main_class = 're-index'

	page = params[:page].present? ? params[:page].to_i : 1
%>

<% if @favorite_res.present? %>
	<article class="container-box container-box-transparent">
		<section class="container-box-header">
			<h2 class="container-box-title">
				<%= t '.favorite_list_title' %>
			</h2>
		</section>
		<section class="container-box-body">
			<%
				per = 3
			%>
			<%= render partial: 'real_estates/items_list', locals: { type: 2, res: @favorite_res.random.limit(per), list_id: 'favorite_res_list' } %>
		</section>
	</article>
<% end %>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
			<article class="container-box container-box-transparent">
				<section class="container-box-header">
					<h2 class="container-box-title">
						<%= t '.list_title' %>
					</h2>
				</section>
				<section class="container-box-body">
					<% if @res.count != 0 %>
						<div class="medium-items-list" id="res_list">
							<%=
								render(
									partial: 'real_estates/items_list_2',
									locals: {
										res: @res
									}
								)
							%>
						</div>
						<div id="res_paginator" data-search-params="<%= { conditions: @res_conditions, search_params: @res_search_params }.to_json %>">
							<%= render partial: 'shared/paginator_2', locals: { results: @res } %>
						</div>
					<% else %>
						<div class="alert alert-warning alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
							<p>
								<%= t '.empty_re_list' %>
							</p>
						</div>
					<% end %>
				</section>
			</article>
		</div>
		<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
			<article class="search-box-container">
				<%
					search_scope = 'front_layout.'
				%>
				<div class="search-box">
					<h2 class="box-title">
						<span class="icon ico-search"></span><span class="text"><%= t search_scope + '.search_box.title' %></span>
					</h2>
					<section class="box-content">
						<form class="form" action="<%= search_res_path %>" method="get">
							<div class="row">
								<article class="form-group col-xs-12">
									<input class="form-control" name="search[keyword]" placeholder="<%= t search_scope + 'search_box.keyword_placeholder' %>" />
								</article>
								<%
									purposes = Purpose.all.map { |purpose|
										[
											purpose.display_name,
											purpose.id,
											case purpose.code
											when 'sell', 'sell_rent'
												{
													'data-on': 'sell',
													'data-off': 'rent'
												}
											when 'rent', 'transfer'
												{
													'data-on': 'rent',
													'data-off': 'sell'
												}
											end
										]
									}
								%>
								<article class="form-group col-xs-12 col-lg-6">
									<select class="form-control input-toggle" name="search[purpose]">
										<option data-on="sell" data-off="rent" value="" hidden><%= Purpose.display_name %></option>
										<option data-on="sell" data-off="rent" value=""><%= t 'global.text.all' %></option>
										<%= options_for_select purposes %>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<select class="form-control" name="search[real_estate_type]">
										<option value="" hidden><%= RealEstateType.display_name %></option>
										<option value=""><%= t search_scope + 'search_box.all_types' %></option>
										<%= options_from_collection_for_select RealEstateType.all, :id, :display_name %>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<select class="form-control" name="search[province]">
										<option value="" hidden><%= Province.display_name %></option>
										<option value=""><%= t search_scope + 'search_box.all_provinces' %></option>
										<%= options_from_collection_for_select Province.all, :id, :name %>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<select class="form-control" name="search[district]" disabled>
										<option value="" hidden><%= District.display_name %></option>
										<option value=""><%= t search_scope + 'search_box.all_districts' %></option>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<%
										prices = [
											[
												t(search_scope + 'search_box.from_billion', count: 1),
												1000
											],
											[
												t(search_scope + 'search_box.from_billion', count: 1.5),
												1500
											],
											[
												t(search_scope + 'search_box.from_billion', count: 2),
												2000
											],
											[
												t(search_scope + 'search_box.from_billion', count: 3),
												3000
											],
											[
												t(search_scope + 'search_box.from_billion', count: 5),
												5000
											],
											[
												t(search_scope + 'search_box.from_billion', count: 10),
												10000
											]
										]
									%>
									<select data-toggled-element="sell" class="form-control" name="search[price_from]">
										<option value=""><%= t search_scope + 'search_box.from_price_text' %></option>
										<%= options_for_select prices %>
									</select>
									<%
										prices = [
											[
												t(search_scope + 'search_box.from_million', count: 1),
												1
											],
											[
												t(search_scope + 'search_box.from_million', count: 1.5),
												1.5
											],
											[
												t(search_scope + 'search_box.from_million', count: 2),
												2
											],
											[
												t(search_scope + 'search_box.from_million', count: 3),
												3
											],
											[
												t(search_scope + 'search_box.from_million', count: 5),
												5
											],
											[
												t(search_scope + 'search_box.from_million', count: 10),
												10
											]
										]
									%>
									<select data-toggled-element="rent" class="form-control" name="search[price_from]">
										<option value=""><%= t search_scope + 'search_box.from_price_text' %></option>
										<%= options_for_select prices %>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<%
										prices = [
											[
												t(search_scope + 'search_box.to_billion', count: 1),
												1000
											],
											[
												t(search_scope + 'search_box.to_billion', count: 1.5),
												1500
											],
											[
												t(search_scope + 'search_box.to_billion', count: 2),
												2000
											],
											[
												t(search_scope + 'search_box.to_billion', count: 3),
												3000
											],
											[
												t(search_scope + 'search_box.to_billion', count: 5),
												5000
											],
											[
												t(search_scope + 'search_box.to_billion', count: 10),
												10000
											]
										]
									%>
									<select data-toggled-element="sell" class="form-control" name="search[price_to]">
										<option value="" hidden><%= t search_scope + 'search_box.to_price_text' %></option>
										<%= options_for_select prices %>
										<option value=""><%= t search_scope + 'search_box.to_price_text' %></option>
									</select>
									<%
										prices = [
											[
												t(search_scope + 'search_box.to_million', count: 1),
												1
											],
											[
												t(search_scope + 'search_box.to_million', count: 1.5),
												1.5
											],
											[
												t(search_scope + 'search_box.to_million', count: 2),
												2
											],
											[
												t(search_scope + 'search_box.to_million', count: 3),
												3
											],
											[
												t(search_scope + 'search_box.to_million', count: 5),
												5
											],
											[
												t(search_scope + 'search_box.to_million', count: 10),
												10
											]
										]
									%>
									<select data-toggled-element="rent" class="form-control" name="search[price_to]">
										<option value="" hidden><%= t search_scope + 'search_box.to_price_text' %></option>
										<%= options_for_select prices %>
										<option value=""><%= t search_scope + 'search_box.to_price_text' %></option>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<%
										areas = [
											[
												t(search_scope + 'search_box.from_square_meter', count: 50),
												50
											],
											[
												t(search_scope + 'search_box.from_square_meter', count: 100),
												100
											],
											[
												t(search_scope + 'search_box.from_square_meter', count: 150),
												150
											],
											[
												t(search_scope + 'search_box.from_square_meter', count: 200),
												200
											],
											[
												t(search_scope + 'search_box.from_square_meter', count: 300),
												300
											],
											[
												t(search_scope + 'search_box.from_square_meter', count: 500),
												500
											]
										]
									%>
									<select class="form-control" name="search[area_from]">
										<option value=""><%= t search_scope + 'search_box.from_area_text' %></option>
										<%= options_for_select areas %>
									</select>
								</article>
								<article class="form-group col-xs-12 col-lg-6">
									<%
										areas = [
											[
												t(search_scope + 'search_box.to_square_meter', count: 50),
												50
											],
											[
												t(search_scope + 'search_box.to_square_meter', count: 100),
												100
											],
											[
												t(search_scope + 'search_box.to_square_meter', count: 150),
												150
											],
											[
												t(search_scope + 'search_box.to_square_meter', count: 200),
												200
											],
											[
												t(search_scope + 'search_box.to_square_meter', count: 300),
												300
											],
											[
												t(search_scope + 'search_box.to_square_meter', count: 500),
												500
											]
										]
									%>
									<select class="form-control" name="search[area_to]">
										<option value="" hidden><%= t search_scope + 'search_box.to_area_text' %></option>
										<%= options_for_select areas %>
										<option value=""><%= t search_scope + 'search_box.to_area_text' %></option>
									</select>
								</article>
							</div>
							<article class="form-group text-center margin-top-15">
								<button type="submit" class="btn btn-green"><%= t 'global.text.search' %></button>
							</article>
						</form>
					</section>
				</div>
			</article>
		</div>
	</div>
</div>