<% content_for :stylesheets do %>
		<link rel="stylesheet" href="/assets/real_estates/index.css" />
		<link rel="stylesheet" href="/assets/shared/ion.rangeSlider.skinFlat.css" />
		<link rel="stylesheet" href="/assets/shared/ion.rangeSlider.css" />
		<link rel="stylesheet" href="/assets/shared/normalize.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/real_estates/index.js"></script>
	<script src="/assets/shared/ion.rangeSlider.min.js"></script>
<% end %>

<% 
	per = nil
	case current_width_type 
	when 'xs'
		per = 1
	when 'sm'
		per = 2
	when 'md'
		per = 3
	when 'lg'
		per = 4
	end
%>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuaNhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-rent"></i><span>Nhà Thuê</span></label>       
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li class="active">Bất động sản đang rao <%= current_purpose == 'r' ? 'cho thuê' : 'bán' %></li>
	</ol>
</section>
<!-- end navigator -->

<!-- start favorite-property -->
<section class="container block">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Bất động sản được yêu thích</span>
		</a>
	</article>
	<article class="content">
		<section class="slick favorite-property">
			<div class="content">
				<%
					res = RealEstate.get_by_current_purpose.search_with_params.limit 3
				%>
				<% res.each do |re| %>
					<div class="item-lg">
						<div class="row">
							<div class="col-sm-8 col-sm-push-4 picture">
								<%= real_estate_avatar re, style_class: 'img-responsive img-thumbnail' %>
							</div>
							<div class="col-sm-4 col-sm-pull-8">
								<div class="name">
									<%= re.title %>
								</div>
								<div class="convenient">
									<% if re.fields.include? :restroom %>
										<div class="bathroom">
											<i class="icon-bathroom"></i>
											<span><%= re.display_restroom %></span>						
										</div>
									<% end %>
									<% if re.fields.include? :bedroom %>
										<div class="bedroom">
											<i class="icon-bedroom"></i>
											<span><%= re.display_bedroom %></span>
										</div>
									<% end %>
									<div class="area">
										<i class="icon-area"></i>
										<span><%= re.display_area.to_i %>m<sup>2</sup></span>
									</div>
								</div>
								<div class="address">
									<i class="icon-16 icon-position"></i>
									<span><%= re.display_address %></span>
								</div>
								<div class="price">
									<i class="icon-16 icon-dollar"></i>
									<% if current_purpose == 'r' %>
										<p class="number rent"><%= re.display_rent_price_text %></p>
									<% else %>
										<p class="number sale"><%= re.display_sell_price_text %></p>
									<% end %>
								</div>
								<div class="function">
									<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
									<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
									<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
									<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá dự án này"></a>
								</div>
								<div class="detail" data-dot>
									<%= re.description %>
								</div>
								<div class="btn-more">
									<a href="/real_estates/<%= re.id %>">Xem chi tiết</a>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
			<button class="slider-control prev" id="favor-prev"></button>
			<button class="slider-control next" id="favor-next"></button>
		</section>
		<section class="user-property">		
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a href="#suggest_property" role="tab" data-toggle="tab">
						Có thể bạn quan tâm
					</a>
				</li>
				<li>
					<a href="#new_property" role="tab" data-toggle="tab">
						Căn hộ mới rao bán
					</a>
				</li>
			</ul>
			<!-- end -->

			<!-- Tab panes -->
			<div class="tab-content">
				<div aria-pagination data-url="/real_estates/search" data-data='{"per":<%= per %>}' data-list="#suggest_property > .row" data-pagination="#suggest_property > .paging" class="tab-pane fade in active" id="suggest_property">
					<%
						res = RealEstate.search_with_params
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"per":<%= per %>}' data-list="#new_property > .row" data-pagination="#new_property > .paging" class="tab-pane fade" id="new_property">
					<%
						res = RealEstate.search_with_params
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
			</div>
			<!-- end -->
		</section>
	</article>
</section>
<!-- end favorite-property -->

<!-- start structure-property -->
<section class="container structure-property block">
	<article class="content">
		<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li class="active">
					<a href="#property" role="tab" data-toggle="tab">
						Nhà phố
					</a>
				</li>
				<li>
					<a href="#villa" role="tab" data-toggle="tab">
						Villa - Biệt thự
					</a>
				</li>
				<li>
					<a href="#apartment" role="tab" data-toggle="tab">
						Căn hộ
					</a>
				</li>
				<li>
					<a href="#ground" role="tab" data-toggle="tab">
						Mặt bằng
					</a>
				</li>
				<li>
					<a href="#land" role="tab" data-toggle="tab">
						Đất
					</a>
				</li>
			</ul>
			<!-- end -->

			<!-- Tab panes -->
			<div class="tab-content">
				<div aria-pagination data-url="/real_estates/search" data-data='{"real_estate_type":"town_house","per":<%= per %>}' data-list="#property > .row" data-pagination="#property > .paging" class="tab-pane fade in active" id="property">
					<%
						res = RealEstate.search_with_params real_estate_type: 'town_house'
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"real_estate_type":"villa","per":<%= per %>}' data-list="#villa > .row" data-pagination="#villa > .paging" class="tab-pane fade" id="villa">
					<%
						res = RealEstate.search_with_params real_estate_type: 'villa'
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"real_estate_type":"apartment","per":<%= per %>}' data-list="#apartment > .row" data-pagination="#apartment > .paging" class="tab-pane fade" id="apartment">
					<%
						res = RealEstate.search_with_params real_estate_type: 'apartment'
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"real_estate_type":"space","per":<%= per %>}' data-list="#ground > .row" data-pagination="#ground > .paging" class="tab-pane fade" id="ground">
					<%
						res = RealEstate.search_with_params real_estate_type: 'space'
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
				<div aria-pagination data-url="/real_estates/search" data-data='{"real_estate_type":"land","per":<%= per %>}' data-list="#land > .row" data-pagination="#land > .paging" class="tab-pane fade" id="land">
					<%
						res = RealEstate.search_with_params real_estate_type: 'land'
					%>
					<div class="row">
						<%= render partial: 'real_estates/item_list', locals: { res: res.take(per) } %>
					</div>
					<div class="paging">
						<%= render partial: 'shared/pagination_2', locals: { per: per, total: res.count, page: 1 } %>						
					</div>
				</div>
			</div>
			<!-- end -->
	</article>
</section>
<!-- end -->

<!-- start position property --><!--
<section class="container position-property block">
	<article class="sub-title">
		<div class="row">
			<div class="col-sm-10">
				<span>Danh sách bất động sản tại </span>
				<div class="btn-group">
					<div class="btn-group">
						<a class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							Thành phố Hồ Chí Minh<span class="caret" style="margin-left: 5px; vertical-align: 2px"></span>
						</a>
						<ul class="dropdown-menu">
							<div>
								<div class="country">Thành phố Hồ Chí Minh</div>
								<div class="district">
									<div class="row">
										<div class="col-md-3">Quận 1</div>
										<div class="col-md-3">Quận 2</div>
										<div class="col-md-3">Quận 3</div>
										<div class="col-md-3">Quận 4</div>
									</div>
								</div>
							</div>							
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="link">
					<a class="btn btn-default btn-sm btn-custom-default">Xem nhiều hơn</a>
				</div>
			</div>
		</div>
	</article>
	<article class="content">		
		<div class="row">			
			<div class="col-lg-3 col-md-4 col-sm-6">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
						<i class="badge-new"></i>
						<div class="promotion">
							<i class="icon icon-gift"></i>
							<span>Tặng bộ bàn ghế cao cấp</span>
						</div>
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
						<i class="badge-new"></i>
						<div class="promotion">
							<i class="icon icon-gift"></i>
							<span>Tặng bộ bàn ghế cao cấp</span>
						</div>
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 hidden-md hidden-sm hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
		</div>
		<div class="paging">
			<div class="left">
				<i class="pe-7s-angle-left"></i>
			</div>
			<div class="number">
				<span>5/10</span>
			</div>
			<div class="right">
				<i class="pe-7s-angle-right"></i>
			</div>
		</div>
	</article>
</section>
--><!-- end position property -->

<!-- start price property -->
<section class="container price-property block">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Tìm kiếm theo giá</span>
		</a>
	</article>
	<article class="content">
		<input type="text" id="slider" name="example_name" value="" />
		<% 
			res = RealEstate.search_with_params price: '1000000000;3000000000'
		%>
		<ul id="list" class="row" style="margin-top: 15px;">			
			<%= render partial: 'real_estates/item_list', locals: { res: res.take(4) } %>
		</ul>
		<div id="pagination">
			<%= render partial: 'shared/pagination_2', locals: { per: 4, total: res.count } %>
		</div>
	</article>
</section>
<!-- end -->

<!-- start short property -->
<section class="container short-property block">
	<article class="title">
		<a href="#" class="link">
			<i class="fa fa-link"></i>
			<span>Tin nhanh</span>
		</a>
	</article>
	<article class="content">
		<%
			res = RealEstate.search_with_params(is_full: 'false').limit(6)
		%>
		<% res.each_with_index do |re, i| %>
			<% if i % 2 == 0 %>
				<ul class="row">
			<% end %>

			<div class="col-md-6">
				<li class="item-xs">
					<div class="title" data-toggle-object="short_re_<%= re.id %>">
						<div class="date">Hôm nay</div>
						<div class="text"><%= re.title %></div>
					</div>
					<div data-object="short_re_<%= re.id %>" style="display: none;">
						<div class="details">
							<div class="button">
								<a href="/real_estates/<%= re.id %>" class="btn btn-primary btn-sm">Xem</a>
							</div>
							<div class="text">
								<%= re.description %>
							</div>
						</div>
					</div>
				</li>
			</div>

			<% if i % 2 == 1 %>
				</ul>
			<% end %>			
		<% end %>
		<% if res.count % 2 == 1 %>
			</ul>
		<% end %>
	</article>
</section>
<!-- end short property -->

<!-- start propensity property -->
<section class="propensity-property container block">
	<article class="title">
		<a>
			<span>Gợi ý tìm nhà</span>
		</a>
	</article>
	<div class="row">
		<div class="col-lg-6">
			<div class="title">
				<a href="#">Nhà vừa mở bán</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params.search_with_params.limit 3
				%>
				<a href="#">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="#">Danh sách mới</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(newest: nil).limit(3)
				%>
				<a href="#">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="#">Biệt thự giá rẻ</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(real_estate_type: 'villa', cheapest: nil).limit 3
				%>
				<a href="#">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
		<div class="col-lg-6">
			<div class="title">
				<a href="#">Nhà ở xã hội</a>
			</div>
			<ul class="content">
				<%
					res = RealEstate.search_with_params(real_estate_type: 'town_house').limit 3
				%>
				<a href="#">
					<% if res.count > 0 %>
						<li class="col1">
							<%= real_estate_avatar res[0] %>
							<div class="wrapper">
								<span class="price"><%= res[0].display_sell_price_text %></span>
								<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[0].display_address %>"><%= res[0].display_address %></span>
							</div>
						</li>
						<% if res.count > 1 %>
						<div class="col2">
							<li>
								<%= real_estate_avatar res[1] %>
								<div class="wrapper">
									<span class="price"><%= res[1].display_sell_price_text %></span>
									<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[1].display_address %>"><%= res[1].display_address %></span>
								</div>
							</li>
							<% if res.count > 2 %>
								<li>
									<%= real_estate_avatar res[2] %>
									<div class="wrapper">
										<span class="price"><%= res[2].display_sell_price_text %></span>
										<span class="address" data-toggle="tooltip" data-placement="bottom" title="<%= res[2].display_address %>"><%= res[2].display_address %></span>
									</div>
								</li>
							<% end %>
						</div>
						<% end %>
					<% end %>
				</a>
			</ul>
		</div>
	</div>
</section>
<!-- end propensity property -->

<!-- start contact -->
<section class="contact block container">
	<article class="title">
		<a class="link" href="#">
			<i class="fa fa-link"></i>
			<span>Liên hệ MuaNhaOnline.vn</span>
		</a>
	</article>
	<article class="content">
		<div class="row">
			<div class="col-md-2 col-sm-3">
				<img src="/assets/contact/contact01.jpg" class="img-responsive">
			</div>
			<div class="col-md-3 col-sm-3">
				<ul>
					<li class="name">Tên nhân viên phụ trách</li>
					<li>Chức vụ</li>
					<li>Số điện thoại liên hệ</li>
					<li>Email</li>
					<li>Liên lạc khác (Zalo, Viber, Skype, ...)</li>
					<li>
						<input class="form-control input-sm" placeholder="Tiêu đề câu hỏi">
					</li>
					<li>
						<textarea class="form-control input-sm" rows="3" placeholder="Nội dung bạn muốn hỏi"></textarea>
					</li>
					<li>
						<button class="btn btn-sm">Gửi</button>
					</li>
				</ul>
			</div>
			<div class="col-md-7 question col-sm-6">
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Câu hỏi 1</a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse in">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Câu hỏi 2</a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Câu hỏi 3</a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Câu hỏi 4</a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse">
							<div class="panel-body">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
<!-- end contact -->