<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/index.css" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/real_estates/index.js"></script>
<% end %>

<%
=begin
	@favorite_res, @res
=end
 
	@_title = 'Bất động sản'
	@_description = 'Danh sách bất động sản'
	@_main_navigator = {
		background: '/assets/shared/main_navigator/main_2.jpeg',
		list: [
			{
				url: '/bat-dong-san',
				text: 'Bất động sản'
			}
		]
	}
	@_main_class = 're-index'

	page = params[:page].present? ? params[:page].to_i : 1
%>

<% if @favorite_res.present? %>
	<article class="container-box container-box-transparent">
		<section class="container-box-header">
			<h2 class="container-box-title">
				Bất động sản đang được yêu thích
			</h2>
		</section>
		<section class="container-box-body">
			<%
				per = 3
			%>
			<%= render partial: 'real_estates/items_list', locals: { type: 2, res: @favorite_res.random.limit(per), list_id: 'favorite_res_list' } %>
		</section>
	</article>
<% end %>

<article class="container-box container-box-transparent">
	<section class="container-box-header">
		<h2 class="container-box-title">
			Bất động sản dành cho bạn
		</h2>
	</section>
	<section class="container-box-body">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<%
						per = 12
						
						page_href = Proc.new do |page| 
							request.GET['page'] = page
							'?' + request.GET.to_query
						end
					%>
					<%=
						render(
							partial: 'real_estates/items_list',
							locals: {
								res: @res.page(page, per),
								paging: (@res.count / per.to_f).ceil,
								list_id: 'res_list',
								page_href: page_href,
								current_page: page
							}
						)
					%>
				</div>
				<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
					<article class="search-box-container">
						<div class="search-box">
							<h2 class="box-title">
								<span class="icon ico-search"></span><span class="text">Tìm kiếm</span>
							</h2>
							<section class="box-content">
								<form class="form" action="/tim_kiem" method="get">
									<div class="row">
										<article class="form-group col-sm-12 col-md-12 col-lg-12">
											<input class="form-control" name="search[keyword]" placeholder="Mã, tên, mô tả" />
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[purpose]">
												<option value="">Hình thức giao dịch</option>
												<option value="sell">Đang bán</option>
												<option value="rent">Đang cho thuê</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[real_estate_type]">
												<option value="">Loại bất động sản</option>
												<% RealEstateType.all.each do |type| %>
													<option value="<%= type.id %>"><%= type.display_name %></option>
												<% end %>
											</select>
										</article>
										<%
											hcm_province = Province.where(name: 'Tp. Hồ Chí Minh').first_or_initialize
										%>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[province]">
												<option value="">Tỉnh/thành phố</option>
												<% Province.all.each do |province| %>
													<option value="<%= province.id %>" <%= 'selected' if province.id == hcm_province.id %>><%= province.name %></option>
												<% end %>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[district]">
												<option value="">Quận/huyện</option>
												<% District.where(province_id: hcm_province.id).each do |district| %>
													<option value="<%= district.id %>"><%= district.name %></option>
												<% end %>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[price_from]">
												<option value="">Giá tối thiểu</option>
												<option value="1">Từ 1 tỷ</option>
												<option value="1.5">Từ 1.5 tỷ</option>
												<option value="2">Từ 2 tỷ</option>
												<option value="3">Từ 3 tỷ</option>
												<option value="5">Từ 5 tỷ</option>
												<option value="10">Từ 10 tỷ</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">

											<select class="form-control" name="search[price_to]">
												<option value="">Giá tối đa</option>
												<option value="1">Đến 1 tỷ</option>
												<option value="1.5">Đến 1.5 tỷ</option>
												<option value="2">Đến 2 tỷ</option>
												<option value="3">Đến 3 tỷ</option>
												<option value="5">Đến 5 tỷ</option>
												<option value="10">Đến 10 tỷ</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[area_from]">
												<option value="">Diện tích tối thiểu</option>
												<option value="50">Từ 50m2</option>
												<option value="100">Từ 100m2</option>
												<option value="150">Từ 150m2</option>
												<option value="200">Từ 200m2</option>
												<option value="300">Từ 300m2</option>
												<option value="500">Từ 500m2</option>
											</select>
										</article>
										<article class="form-group col-sm-12 col-md-12 col-lg-6">
											<select class="form-control" name="search[area_to]">
												<option value="">Diện tích tối đa</option>
												<option value="50">Đến 50m2</option>
												<option value="100">Đến 100m2</option>
												<option value="150">Đến 150m2</option>
												<option value="200">Đến 200m2</option>
												<option value="300">Đến 300m2</option>
												<option value="500">Đến 500m2</option>
											</select>
										</article>
									</div>
									<article class="form-group text-center margin-top-15">
										<button type="submit" class="btn btn-green">Tìm kiếm</button>
									</article>
								</form>
							</section>
						</div>
					</article>
				</div>
			</div>
		</div>
	</section>
</article>