<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/list.css" />
<% end %>

<% content_for :javascripts do %>
	<script src="/assets/real_estates/list.js"></script>
<% end %>

<%
=begin
	@search_params, @favorite_res, @res
=end
 
	@_title = @search_params[:search_name] || t('.page_title')
	@_main_navigator = {
		list: [
			{
				url: res_path,
				text: t('real_estates.index.page_title')
			},
			{
				text: @search_params[:search_name] || t('.page_title')
			}
		]
	}
	@_main_class = 're-list'
	@_hide_search_box = true

	page = params[:page].present? ? params[:page].to_i : 1
%>

<div class="container-box container-box-transparent">
	<div class="container-box-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 <%= 'col-sm-9 col-md-9 col-lg-9' if @favorite_res.blank? && @res.present? %>">
					<h2 class="container-box-title">
						<%= @search_params[:search_name] || t('.page_title') %>
					</h2>
				</div>
			</div>
		</div>
	</div>
	<% if @favorite_res.present? %>
		<div class="container-box-body" style="margin-bottom: 70px">
			<%= render partial: 'real_estates/items_list', locals: { type: 2, res: @favorite_res, list_id: 'favorite_res_list' } %>
		</div>
	<% end %>
	<% if @res.present? %>
		<div class="container-box-body">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
						<div class="medium-items-list" id="res_list">
							<%=
								render(
									partial: 'real_estates/items_list_2',
									locals: {
										res: @res
									}
								)
							%>
						</div>
						<div id="res_paginator" data-search-params="<%= @search_params.slice(:conditions, :search_params).to_json %>">
							<%= render partial: 'shared/paginator_2', locals: { results: @res } %>
						</div>
					</div>
					<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
						<%= render partial: '/shared/search_box' %>
					</div>
				</div>
			</div>
		</div>
	<% else %>
		<div class="container-box-body">
			<div class="alert alert-danger" role="alert">
				<div class="container">
					<%= t 'global.text.empty_callout' %>
				</div>
			</div>
		</div>
	<% end %>
</div>