<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/list.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/real_estates/list.js"></script>
<% end %>

<% 
	per = 8 
%>

<!--start Search Box -->
<%= render partial: 'shared/front_end_search_box' %>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/real_estates">Danh sách BĐS</a></li>
		<% 
			title = ''
			if params[:search][:search_name]
				case params[:search][:search_name]
				when 'noxh'
					title = 'Nhà ở xã hội'
				when 'noxh'
					title = 'bt'
				when 'chhb'
					title = 'Căn hộ có hồ bơi'
				when 'nt1t'
					title = 'Nhà nát dưới 1 tỷ'
				when 'nt'
					title = 'Nhà tạm'
				end
			elsif params[:search][:real_estate_type].present?
				title = t('real_estate_type.text.' + RealEstateType.where("code LIKE '%|#{params[:search][:real_estate_type]}|%'").first.name)
			else
				title = 'Tìm kiếm'
			end
		%>
		<li class="active"><%= title %></li>
	</ol>
</section>
<!-- end navigator -->

<!-- start list -->
<section class="block container list-block">
	<!-- <div class="function">
		<div class="form-group">
			<div class="form-group">
				<label>Chọn diện tích</label>
				<select class="form-control input-sm" name="search[area]" style="width: 135px;">
					<option value="0-50">Dưới 50m2</option>
					<option value="50-100">50m2 - 100m2</option>
					<option value="100-150">100m2 - 150m2</option>
					<option value="150-200">150m2 - 200m2</option>
					<option value="200-0">Trên 200m2</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>Số item hiển thị trên trang: </label>
			<select class="form-control input-sm">
				<option>8</option>
				<option>16</option>
				<option>32</option>
				<option>Tất cả</option>
			</select>
		</div>
	</div> -->

	<% if @res.count == 0 %>
		<section class="result-real container">
			<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4 class="no-margin"><i class="icon fa fa-exclamation fa-lg"></i> Xin lỗi</h4><p>Rất tiếc. Không tìm thấy kết quả phù hợp</p></div>
		</section>
	<% end %>
	<div aria-pagination data-url="/real_estates/_list_list" data-data='<%= { search: params[:search] }.to_json %>' data-list="#real_estate_list > .row" data-pagination="#real_estate_list > .paging" data-init_list="_initItemList($list)" class="tab-pane fade in active" id="real_estate_list">
		<div class="row">
			<%= render partial: 'real_estates/item_list', locals: { res: @res.take(per) } %>
		</div>
		<div class="paging">
			<%= render partial: 'shared/pagination_2', locals: { per: per, total: @res.count, page: 1 } %>						
		</div>
	</div>
</section>
<!-- end -->