<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/list.css" />
<% end %>

<% content_for :scripts do %>
	<script src="/assets/real_estates/list.js"></script>
<% end %>

<% 
	@title = @search_params[:search_name] || 'Bất động sản'

	data_params = {
		search: @search_params
	}
%>

<!--start Search Box -->
<%= render partial: 'shared/front_end_search_box' %>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/bat-dong-san">Danh sách BĐS</a></li>
		<li class="active"><%= @search_params[:search_name] || 'Tiêu đề' %></li>
	</ol>
</section>
<!-- end navigator -->

<!-- start list -->
<section class="block container list-block">
	<!-- <div class="function">
		<div class="form-group">
			<div class="form-group">
				<label>Chọn diện tích</label>
				<select class="form-control input-sm" name="search[area]" style="width: 135px;">
					<option value="0-50">Dưới 50m2</option>
					<option value="50-100">50m2 - 100m2</option>
					<option value="100-150">100m2 - 150m2</option>
					<option value="150-200">150m2 - 200m2</option>
					<option value="200-0">Trên 200m2</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label>Số item hiển thị trên trang: </label>
			<select class="form-control input-sm">
				<option>8</option>
				<option>16</option>
				<option>32</option>
				<option>Tất cả</option>
			</select>
		</div>
	</div> -->

	<section class="block-title">
		<%= @search_params[:search_name] || 'Tiêu đề' %>
	</section>
	<% if @full_res.count == 0 && @short_res.count == 0 %>
		<section class="block-content block-content-empty" style="margin-bottom: 40px">
			<section class="result-real container">
				<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4 class="no-margin"><i class="icon fa fa-exclamation fa-lg"></i> Xin lỗi</h4><p>Rất tiếc. Không tìm thấy kết quả phù hợp</p></div>
			</section>
		</section>
	<% end %>
	<% unless @full_res.count == 0 %>
		<section class="block-content block-content-empty" style="margin-bottom: 40px">
			<%
				per = 8
				data_params[:per] = per
				data_params[:type] = 1
				data_params[:search][:is_full] = 'true'
			%>
			<div aria-pagination data-url="/real_estates/_list_list" data-data='<%= data_params.to_json %>' data-list="#real_estate_list > .row" data-pagination="#real_estate_list > .paging" data-init_list="_initItemList($list)" class="tab-pane fade in active" id="real_estate_list">
				<div class="row">
					<%= render partial: 'real_estates/item_list', locals: { res: @full_res.take(per) } %>
				</div>
				<div class="paging">
					<%= render partial: 'shared/pagination_2', locals: { per: per, total: @full_res.count, page: 1 } %>						
				</div>
			</div>
		</section>
	<% end %>
	<% unless @short_res.count == 0 %>
		<section class="block-content block-content-empty short-re-container" style="margin-bottom: 40px">
			<%
				per = 6
				data_params[:per] = per
				data_params[:type] = 4
				data_params[:search][:is_full] = 'false'
			%>
			<div aria-pagination data-url="/real_estates/_list_list" data-data='<%= data_params.to_json %>' data-list="#short > .list" data-pagination="#short > .paging" data-init_list="_initShortRealEstateList($list)" id="short">
				<div class="list">
					<%= render partial: 'real_estates/item_list', locals: { res: @short_res.take(per), type: 4 } %>
				</div>
				<div class="paging">
					<%= render partial: 'shared/pagination_2', locals: { per: per, total: @short_res.count, page: 1 } %>
				</div>
			</div>
		</section>
	<% end %>
	
</section>
<!-- end -->