<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/manager.css" />
<% end %>

<% content_for :scripts do %>
    <script src="/assets/real_estates/manager.js"></script>
<% end %>
	
<!-- #start content -->
<div class="table-responsive" >
	<table class="table">
		<thead>
			<tr>
				<td>Mã tin</td>
				<td>Tên BĐS</td>
				<td>Dành cho</td>
				<td>Loại</td>
				<td>Giá</td>
				<td>Ngày còn lại</td>
				<td>Tình trạng</td>
				<td>Lượt truy cập</td>
				<td>Điều khiển</td>															
			</tr>								
		</thead>	
		<tbody id="real_estates_list">
            <% @real_estates.each do |real_estate| %>
                <tr data-value="<%= real_estate.id %>">
                    <td>
                        <span><%= ApplicationHelper.id_format real_estate.id, 'RE'%></span>
                        <img src="<%= real_estate.images.length != 0 ? "/images/#{real_estate.images[0].id}" : '/assets/product/BDS01.jpg' %>" width="100px" height="100px">
                    </td>
                    <td><%= real_estate.name %></td>
                    <td><%= real_estate.purpose.name %></td>
                    <td><%= real_estate.real_estate_type.name %></td>
                    <td><%= real_estate.price.to_s + ' ' + real_estate.currency.name %></td>
                    <td>Chưa xử lý</td>
                    <td><%= real_estate.is_pending ? 'Chờ duyệt' : (!real_estate.is_paid ? 'Chưa thanh toán' : (real_estate.is_show ? 'Hiển thị' : 'Ẩn')) %></td>
                    <td>Chưa xử lý</td>
                    <td>
                        <button class="btn btn-default" id="btnDangTin" data-function="post">Đăng tin</button>
                        <a href="/real_estates/create/<%= real_estate.id %>" class="btn btn-default" id="btnSuaTin" data-function="edit">Sửa tin</a>
                        <button class="btn btn-danger" id="btnXoaTin" data-function="delete">Xoá tin</button>
                    </td>
                </tr>
            <% end %>
		</tbody>
	</table>
</div>
<!-- #end content -->									