<% 
	@title = 'Bất động sản của tôi'
%>

<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/my.css" />
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/real_estates/my.js"></script>
<% end %>

<% content_for :content_header do %>
	<%= t 'real_estate.view.my.form_title' %>
<% end %>

<%
	total = @res.count
	per = Rails.application.config.item_per_page
%>

<section class="box box-solid">
	<section class="box-body">
		<form id="search_form">
			<article class="form-group">
				<div class="input-group margin">
					<input data-nonvalid name="keyword" type="text" class="form-control" placeholder="<%= t 'form.search_placeholder' %>" />
					<span class="input-group-btn">
						<button data-nonvalid class="btn btn-default" type="submit"><%= t 'form.search' %></button>
					</span>
				</div>
			</article>
			<article class="form-group no-margin text-center">
				<a href="javascript:void(0)" aria-click="order" data-name="id" data-sort="asc" class="no-underline text-muted" title="Mã">
					<span class="font-bold">#</span>
					<i class="fa fa-sort" aria-name="sort"></i>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" aria-click="order" data-name="view" data-sort="desc" class="no-underline text-muted" title="Lượt xem">
					<i class="fa fa-eye"></i>
					<i class="fa fa-sort" aria-name="sort"></i>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" aria-click="order" data-name="interact" data-sort="desc" data-now class="no-underline text-muted" title="Có tương tác">
					<i class="fa fa-mail-reply-all"></i>
					<i class="fa fa-sort-desc" aria-name="sort"></i>
				</a>
			</article>
		</form>
	</section>
</section>

<section class="re-content">
	<article id="re_list" class="row item-list">
		<% if total != 0 %>
			<%= render partial: 'real_estates/my_list', locals: { res: @res.page(1, per) } %>
		<% else %>
			<div class="alert alert-warning alert-dismissible" style="width: 80%; margin: 0 auto;"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4 class="no-margin"><i class="icon fa fa-warning"></i> Chưa có tin nào</h4></div>
		<% end %>
	</article>
	<nav class="text-center" id="pagination">
		<% if total != 0 %>
			<%= render partial: 'shared/pagination', locals: { total: total, per: per } %>
		<% end %>
	</nav>
</section>

<article class="box box-primary" aria-popupcontent="re_owner">
	<section class="box-header with-border">
		<h3 class="box-title">
			Thông tin quản lý
		</h3>
	</section>
	<section class="box-body">
		<p class="text-right"><small>Thông tin này được bảo mật</small></p>
		<form class="form">
			<input type="hidden" name="owner_info[id]" />
			<article class="form-group">
				<label class="control-label">
					Tình trạng sở hữu
				</label>
				<section>
					<label class="radio-inline">
						<input class="input-toggle" data-off="owner" type="radio" name="owner_info[type]" value="owner" /> Chính chủ
					</label>
					<label class="radio-inline">
						<input class="input-toggle" data-on="owner" type="radio" name="owner_info[type]" value="agency" /> Môi giới
					</label>
					<label class="radio-inline">
						<input class="input-toggle" data-on="owner" type="radio" name="owner_info[type]" value="other" /> Khác
					</label>
				</section>
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Tên chủ sở hữu
				</label>
				<input class="form-control" name="owner_info[name]" />
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Email
				</label>
				<input data-constraint="email" class="form-control" name="owner_info[email]" />
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Số điện thoại
				</label>
				<input data-constraint="integer" class="form-control" name="owner_info[phone]" />
			</article>
			<article class="text-center">
				<button type="submit" class="btn btn-primary">Hoàn tất</button>
				<button type="button" aria-click="close-popup" class="btn btn-default">Hủy</button>
			</article>
		</form>
	</section>
</article>