<%
=begin
	params: res(*), page(1), per(12)
=end

	@_title 			= 	'Của tôi - Bất động sản'
	@_content_header	= 	'Bất động sản của tôi'

	page 				||= 1
	per 				||= 12
	res_in_page			=	res.page page, per
%>

<section class="box box-solid">
	<section class="box-body">
		<form id="search_form">
			<article class="form-group">
				<div class="input-group margin">
					<input data-nonvalid name="keyword" type="text" class="form-control" placeholder="Nhập từ khóa để tìm kiếm" value="<%= params[:search][:keyword] if defined? params[:search][:keyword] %>" />
					<span class="input-group-btn">
						<button data-action="reset" data-nonvalid class="btn btn-default" type="button">Mặc định</button>
						<button data-nonvalid class="btn btn-primary" type="submit">Tìm kiếm</button>
					</span>
				</div>
			</article>
			<article class="form-group no-margin text-center">
				<a href="javascript:void(0)" aria-click="order" data-name="id" data-sort="asc" class="no-underline text-muted" title="Mã">
					<span class="font-bold">#</span>
					<i class="fa fa-sort" aria-name="sort"></i>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" aria-click="order" data-name="view" data-sort="desc" class="no-underline text-muted" title="Lượt xem">
					<i class="fa fa-eye"></i>
					<i class="fa fa-sort" aria-name="sort"></i>
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="javascript:void(0)" aria-click="order" data-name="interact" data-sort="desc" data-now class="no-underline text-muted" title="Có tương tác">
					<i class="fa fa-mail-reply-all"></i>
					<i class="fa fa-sort" aria-name="sort"></i>
				</a>
			</article>
		</form>
	</section>
</section>

<% if res_in_page.count == 0 %>
	<section id="re_list" class="row item-list">
	</section>
	<section id="alert">
		<article class="alert alert-warning alert-dismissible">
			<h4>
				Không có kết quả
			</h4>
			<p>
				Không tìm thấy kết quả phù hợp, vui lòng thử lại sau
			</p>
		</article>
	</section>
	<nav class="text-center" id="paginator">
	</nav>
<% else %>
	<section id="re_list" class="row item-list">
		<%= render partial: 'my', locals: { res: res_in_page } %>
	</section>
	<section id="alert">
	</section>
	<nav class="text-center" id="paginator">
		<%= render partial: '/shared/pagination', locals: { total: res.count, page: page, per: per } %>
	</nav>
<% end %>

<article class="box box-primary" aria-popupcontent="re_owner">
	<section class="box-header with-border">
		<h3 class="box-title">
			Thông tin quản lý
		</h3>
	</section>
	<section class="box-body">
		<p class="text-right"><small>Thông tin này được bảo mật</small></p>
		<form class="form">
			<input type="hidden" name="owner_info[id]" />
			<article class="form-group">
				<label class="control-label">
					Tình trạng sở hữu
				</label>
				<section>
					<label class="radio-inline">
						<input class="input-toggle" data-off="owner" type="radio" name="owner_info[type]" value="owner" /> Chính chủ
					</label>
					<label class="radio-inline">
						<input class="input-toggle" data-on="owner" type="radio" name="owner_info[type]" value="agency" /> Ký gửi
					</label>
					<label class="radio-inline">
						<input class="input-toggle" data-on="owner" type="radio" name="owner_info[type]" value="other" /> Khác
					</label>
				</section>
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Tên chủ sở hữu
				</label>
				<input class="form-control" name="owner_info[name]" />
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Email
				</label>
				<input data-constraint="email" class="form-control" name="owner_info[email]" />
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Số điện thoại
				</label>
				<input data-constraint="integer" class="form-control" name="owner_info[phone]" />
			</article>
			<article class="form-group" data-toggled-element="owner">
				<label class="control-label">
					Địa chỉ
				</label>
				<textarea class="form-control" name="owner_info[address]"></textarea>
			</article>
			<article class="text-center">
				<button type="submit" class="btn btn-primary">Hoàn tất</button>
				<button type="button" aria-click="close-popup" class="btn btn-default">Hủy</button>
			</article>
		</form>
	</section>
</article>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/real_estates/my.js"></script>
	<script type="text/javascript">
		<% if params[:order].present? %>
			order = {
				<%= params[:order].first[0] %>: '<%= params[:order].first[1] %>'
			}
		<% end %>
		page = <%= page %>;
	</script>
<% end %>