<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/search.css" />
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?key=AIzaSyBsMB8D8mBgDcBqGCyOii1Kgu-BJmfNAvQ&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
	<script type="text/javascript" src="/assets/real_estates/search.js"></script>
<% end %>

<%
=begin
	@res
=end
 
	@_title = 'Kết quả tìm kiếm'
	@_description = ''
	@_main_navigator = {
		background: '/assets/shared/main_navigator/main_2.jpeg',
		list: [
			{
				text: t('.page_title')
			}
		]
	}
	@_main_class = 'res-search'
	@_hide_search_box = true if @res.present?

	page = params[:page].present? ? params[:page].to_i : 1

	search_scope = 'front_layout.search_box.'

	# if per.blank? || !per.is_a Hash

	search_params = params[:search]
	search_params = {} if search_params.blank? || !search_params.is_a?(Hash)

	res_in_page = @res.page(@page, @per)
%>

<div class="container-fluid">
	<div class="container-fluid">
		<article class="container-box container-box-transparent">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
					<section class="container-box-header">
						<h2 class="container-box-title">
							<%= t '.box_title' %>
						</h2>
					</section>
				</div>
			</div>
			<section class="container-box-body">
				<div class="row">
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
						<% if res_in_page.blank? %>
							<div class="alert alert-danger" role="alert">
								<div class="container">
									<%= t 'global.text.empty_callout' %>
									<br />
									<a data-action="create_reg" href="<%= create_registration_path(search: search_params) %>">
										<%= t search_scope + 'register' %>
									</a>
								</div>
							</div>
						<% else %>
							<div class="medium-items-list" id="res_list">
								<% if res_in_page != 0 %>
									<%=
										render(
											partial: 'real_estates/items_list_2',
											locals: {
												res: @res.page(@page, @per)
											}
										)
									%>
								<% else %>
									<div class="alert alert-warning alert-dismissible">
										<%= t '.empty_re_list' %>
									</div>
								<% end %>
							</div>
							<div id="res_paginator" data-search-params="<%= { conditions: @conditions, search_params: @search_params }.to_json %>">
								<%= render partial: 'shared/paginator', locals: { page: @page, per: @per, total: @res.count } %>
							</div>
						<% end %>
					</div>
					<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
						<%= render partial: '/shared/search_box' %>
					</div>
				</div>
			</section>
		</article>
	</div>
</div>