<% content_for :stylesheets do %>
    <link rel="stylesheet" href="/assets/real_estates/view.css" />
<% end %>

<% content_for :scripts do %>

<% end %>

<% content_for :aside do %>
    <article class="block-box highlight">
      <section class="block-title">
        <span>Thông tin người đăng</span>
      </section>
      <section class="block-content poster">
        <article class="left">
          <div class="picture">
            <img src="/assets/product/avatar.JPG">
          </div>
          <span>Mrs.Chi</span>
        </article>
        <article class="right">
          <ul>
            <li>
              <span><img src="/assets/icon/icon_phone.png">01682197651</span>
            </li>
            <li>
              <span class="ellipsis"><img src="/assets/icon/icon_mail.png">muanhaonline@yahoo.comasdasd</span>
            </li>
            <li>
              <span><img src="/assets/icon/icon_skype.png">Penguinblue.chip</span>
            </li>
            <li>
              <span><img src="/assets/icon/icon_contact.png">53 Cô Giang, Phường Cầu Ông Lãnh, Quận 1</span>
            </li>
            <li>
              <button class="btn btn-primary btn-xs">Nhắn tin</button>
              <button class="btn btn-primary btn-xs">Xem tất cả BĐS</button>
            </li>
          </ul>
        </article>
      </section>
    </article>
<% end %>

<!-- #start general infos -->
<section class="block-box highlight">
  <section class="block-title" data-after="Thời gian đăng: <%= @real_estate.created_at.strftime('%F %H:%M') %>">
    <span><%= @real_estate.name %></span>
  </section>
  <section class="block-content general-infos row">
    <section class="image">
      <a href="#" class="favorite-button"></a>
      <img src="/assets/product/BDS05.jpg">
    </section>
    <section class="infos">
      <ul class="image-infos">
        <li class="item">
          <img src="/assets/product/BDS01.jpg">
        </li>
        <li class="item">
          <img src="/assets/product/BDS02.jpg">
        </li>
        <li class="item">
          <img src="/assets/product/BDS03.jpg">
        </li>
        <li class="item">
          <img src="/assets/product/BDS04.jpg">
        </li>
      </ul>
      <ul class="text-infos">
        <li>
          <span class="title">Mã tin:</span>
									<span class="value" style="
                                    border: 1px solid #286090;
                                            border-radius: 4px;
                                            padding: 3px 6px;
                                            background-color: #286090;
                                            color: white;
                                    "><%= ApplicationHelper.id_format(@real_estate.id, 'RE') %></span>
        </li>
        <li>
          <span class="title">Loại:</span>
          <span class="value"><%= @real_estate.real_estate_type.name %></span>
        </li>
        <li>
          <span class="title">Diện tích:</span>
          <span class="value"><%= @real_estate.width_x * @real_estate.width_y %>m<sup>2</sup></span>
        </li>
        <li>
          <span class="title">Địa chỉ:</span>
          <span class="value"><%= "#{@real_estate.address_number}, ..." %></span>
        </li>
      </ul>
    </section>
    <section class="cost">
      <div>
        <% if @real_estate.price != 0 %>
            <section class="money">
              <%= @real_estate.price.to_s %>
            </section>
            <section class="currency">
              <%= @real_estate.currency.name %>
            </section>
        <% else %>
            <section class="currency">
              Giá thỏa thuận
            </section>
        <% end %>
      </div>
    </section>
  </section>
</section>
<!-- #end general infos -->
<!-- #start share box -->
<section class="share-box">
  <span class="description">Chia sẻ trên:</span>
  <a href="#" class="button"><img src="/assets/logo/facebook.png" /></a>
  <a href="#" class="button"><img src="/assets/logo/google.png" /></a>
  <a href="#" class="button"><img src="/assets/logo/youtube.png" /></a>
  <a href="#" class="button"><img src="/assets/logo/twitter.png" /></a>
</section>
<!-- #end share box -->
<!-- #start detail infos -->
<section class="block-box">
  <section class="block-title">
    Nội dung
  </section>
  <section class="block-content content-detail-infos">
    <h2 class="title">
      <%= @real_estate.title %>
    </h2>
    <p>
      <%= @real_estate.description %>
    </p>
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Thông tin chi tiết
  </section>
  <section class="block-content content-detail-infos">

    <% fields = RealEstate.get_real_estate_type_fields @real_estate.real_estate_type_id %>

    <ul class="row infos-list">
      <li class="item col-xs-6 col-sm-4 circle">
      <span>
        Hồ sơ pháp lý:
        <b><%= @real_estate.legal_record_type_id != 0 ?
                       @real_estate.legal_record_type.name :
                       @real_estate.custom_legal_record_type %></b>
      </span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
      <span>
        Tình trạng quy hoạch:
        <b><%= @real_estate.planning_status_type_id != 0 ?
                       @real_estate.planning_status_type.name :
                       @real_estate.custom_planning_status_type %></b>
      </span>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <% if @real_estate.is_alley %>
            <span>Hẻm: <b><%= @real_estate.alley_width %>m</b></span>
        <% else %>
            <span>Mặt tiền</span>
        <% end %>
      </li>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Kích thước: <b><%= "#{@real_estate.width_x} x #{@real_estate.width_y}" %>m</b></span>
      </li>
      <% if fields.include? :constructional_area %>
          <li class="item col-xs-6 col-sm-4 circle">
            <span>Diện tích xây dựng: <b><%= @real_estate.constructional_area %>m</b></span>
          </li>
      <% end %>
      <% if fields.include? :using_area %>
          <li class="item col-xs-6 col-sm-4 circle">
            <span>Diện tích sử dụng: <b><%= @real_estate.using_area %>m</b></span>
          </li>
      <% end %>
      <% if fields.include? :campus_area %>
          <li class="item col-xs-6 col-sm-4 circle">
            <span>Diện tích khuôn viên: <b><%= @real_estate.campus_area %>m</b></span>
          </li>
      <% end %>
      <% if @real_estate.shape %>
          <li class="item col-xs-6 col-sm-4 circle">
            <span><%= @real_estate.shape == 1 ? 'Nở hậu' : 'Tóp hậu' %>: <b><%= @real_estate.shape_width %>m</b></span>
          </li>
      <% end %>
      <% if fields.include? :floor_number %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Số tầng: <b><%= case @real_estate.floor_number; when 0; 'Trệt'; when 4; 'Hơn 4'; else; @real_estate.floor_number end %></b></span>
      </li>
      <% end %>
      <% if fields.include? :restroom_number %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>WC: <b><%= @real_estate.restroom_number != 4 ? @real_estate.restroom_number : 'Hơn 4' %></b></span>
      </li>
      <% end %>
      <% if fields.include? :bedroom_number %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Phòng ngủ: <b><%= @real_estate.bedroom_number != 4 ? @real_estate.bedroom_number : 'Hơn 4' %></b></span>
      </li>
      <% end %>
      <% if fields.include? :build_year %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Năm xây dựng: <b><%= @real_estate.build_year %></b></span>
      </li>
      <% end %>
      <% if fields.include? :constructional_level_id %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Phân loại: <b><%= @real_estate.constructional_level.name %></b></span>
      </li>
      <% end %>
      <% if fields.include? :constructional_quality %>
      <li class="item col-xs-6 col-sm-4 circle">
        <span>Chất lượng nhà: <b><%= @real_estate.constructional_quality %>%</b></span>
      </li>
      <% end %>
    </ul>
  </section>
</section>
<% if @real_estate.property_utilities.length > 0 %>
    <section class="block-box">
      <section class="block-title">
        Tiện ích khu vực
      </section>
      <section class="block-content content-detail-infos">
        <ul class="row infos-list">
          <% @real_estate.region_utilities.each do |region_utility| %>
              <li class="item col-xs-6 col-sm-4">
                <span><%= region_utility.name %></span>
              </li>
          <% end %>
        </ul>
      </section>
    </section>
<% end %>
<% if @real_estate.property_utilities.length > 0 %>
    <section class="block-box">
      <section class="block-title">
        Tiện nghi
      </section>
      <section class="block-content content-detail-infos">
        <ul class="row infos-list">
          <% @real_estate.property_utilities.each do |property_utility| %>
              <li class="item col-xs-6 col-sm-4">
                <span><%= property_utility.name %></span>
              </li>
          <% end %>
        </ul>
      </section>
    </section>
<% end %>
<section class="block-box">
  <section class="block-title">
    Vị trí trên bản đồ
  </section>
  <section class="block-content map-infos">
    <img class="img-responsive" src="/assets/product/icon_Bando.png">
  </section>
</section>
<section class="block-box">
  <section class="block-title">
    Bất động sản liên quan
  </section>
  <section class="block-content">
    <article class="relative-filter">
      <span>Xem theo</span>
      <ul class="dropdown-search">
        <li>Nhà phố</li>
        <li>Dưới 500 triệu</li>
      </ul>
    </article>
    <!-- #start relative-product-list -->
    <ul class="relative-products-list row">
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="/assets/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="/assets/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
      <!-- #start product item -->
      <li class="col-md-4 col-sm-6 col-xs-12">
        <section class="product-item">
          <a class="favorite-button"></a>
          <a class="top-section" href="ChiTietSanPham.html">
            <h1 class="title">
              Nhà phố quận 9
            </h1>
            <section class="picture">
              <img src="/assets/product/BDS01.jpg">
            </section>
            <section class="property">
              <section class="bedroom">4</section>
              <section class="bathroom">5</section>
              <section class="area">100 m<sup>2</sup></section>
            </section>
          </a>
          <section class="bottom-section">
            <span>$ 2 tỷ</span>
            <div class="button">
              <a href="#" class="muathuebds-button"></a>
              <a href="#" class="share-button"></a>
              <a href="#">Định giá</a>
            </div>
          </section>
        </section>
      </li>
      <!-- #end product item -->
    </ul>
    <!-- #end relative-product-list -->
    <!-- #start pagination -->
    <section class="pagination-block">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- #end pagination -->
  </section>
</section>
<!-- #end detail infos -->