<% 
=begin
	params: @re(*)
=end
%>

<% content_for :stylesheets do %>
	<link rel="stylesheet" href="/assets/real_estates/view.css" />
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/real_estates/view.js"></script>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
<% end %>

<!--start Search Box -->
<section class="search">
	<div class="search-box">
		<div class="title">
			<h3>Hãy để MuanhaOnline tìm nhà giúp bạn.</h3>
		</div>
		<form>
			<div class="tab">
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-sale"></i><span>Nhà Bán</span></label>
				<label><input type="radio" name="typeTab"><i class="icon-32 icon-home-rent"></i><span>Nhà Thuê</span></label>       
			</div>
			<div class="form-group-custom">
				<input type="text" class="form-control search-keyword" placeholder="... nhà phố quận 2">
				<div class="btn-group history-search">
					<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						từ khóa
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Từ khóa 01</a></li>
						<li><a href="#">Từ khóa 02</a></li>
						<li><a href="#">Từ khóa 03</a></li>
					</ul>
				</div>
				<div class="separator">
					<span>|</span>
				</div>
				<div class="btn-search">
					<button type="submit"></button>
					<div class="btn-more" data-function="show-search-plus">
						<span class="caret"></span>
					</div>
				</div>
			</div>			
			<section class="more-search" id="more_search" style="display:none">
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
						<select class="form-control input-sm">
						<option>--Chọn thành phố/Tỉnh--</option>
						<option>Thành phố Hồ Chí Minh</option>
						<option>Hà Nội</option>
						<option>Bà Rịa - Vũng Tàu</option>
						</select>
						</div>
						<div class="col-md-6">
						<select class="form-control input-sm">
						<option>--Chọn quận/huyện--</option>
						<option>Quận 1</option>
						<option>Quận 5</option>
						</select>
						</div>
					</div>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn giá tiền--</option>
						<option>1 tỷ - 3 tỷ</option>
						<option>3 tỷ - 5 tỷ</option>
						<option>trên 5 tỷ</option>
					</select>
				</div>
				<div class="form-group-custom">
					<select class="form-control input-sm">
						<option>--Chọn diện tích--</option>
						<option>50m2 - 100m2</option>
						<option>100m2 - 200m2</option>
						<option>trên 200m2</option>
					</select>
				</div>
				<div class="form-group-custom container-fluid">
					<div class="row">
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn loại dự án--</option>
								<option>Dự án căn hộ liên kế</option>
								<option>Dự án biệt thự cao cấp</option>
								<option>Dự án nhà ở xã hội</option>
							</select>
						</div>
						<div class="col-md-6 input-inline">
							<select class="form-control input-sm">
								<option>--Chọn tình trạng dự án--</option>
								<option>Dự án đã hoàn thành</option>
								<option>Dự án đang hoàn thành</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					
				</div>
			</section>
			<div class="btn-plus">
				<button type="submit" class="btn btn-success btn-sm btn-search-plus">
					<img src="/assets/icon/search-plus.png">
					Tìm nâng cao
				</button>
				<button type="button" class="btn btn-success btn-sm" data-function="zestimate">Định giá khu vực này</button>
			</div>
		</form>
	</div>
</section>
<!-- end Search Box-->

<!-- start navigator -->
<section class="navigator container">
	<ol class="breadcrumb">
		<li><a href="/">Trang chủ</a></li>
		<li><a href="/real_estates">Bất động sản đang rao bán</a></li>
		<li class="active"><%= ApplicationHelper.id_format @re.id, 'RE'%></li>
	</ol>
</section>
<!-- end navigator -->

<!-- start details of Property -->
<section class="container details-property block-info">
	<article class="title">
		<div class="text"><%= @re.title %></div>
	</article>
	<article class="content">
		<section class="standard-info row">
			<div class="col-md-4">
				<div class="picture-info">
					<%= real_estate_avatar @re, attribute: "data-src=#{@re.images.count > 0 ? @re.images[0].image.url : '/assets/real_estates/original/default.png'}" %>
				</div>
			</div>
			<div class="col-md-4">
				<ul class="basic-info">
					<% if @re.fields.include? :real_estate_type %>
						<li>Loại: <b><%= @re.display_real_estate_type %></b></li>
					<% end %>
					<% if @re.fields.include? :building_name %>
						<li>Tòa nhà: <b><%= @re.building_name %></b></li>
					<% end %>
					<li>Diện tích: <b><%= @re.display_area %>m<sup>2</sup></b></li>
					<li>Địa chỉ: <b><%= @re.display_address %></b></li>
					<li><i>Thời gian đăng: <%= @re.created_at.strftime '%d/%m/%Y %H:%M' %></i></li>
					<% if @re.images.count > 1 %>
						<li class="slide-picture">
							<ul>
								<% 
								(1...@re.images.count).each do |i|
									%>
									<li><img data-popup="show-image" data-src="<%= @re.images[i].image.url %>" src="<%= @re.images[i].image.url('thumb') %>"></li>
								<% end %>
							</ul>
						</li>
					<% end %>
					<li class="share">
						<p>
							<span>Chia sẻ: </span>
							<a href="#"><i class="icon icon-facebook"></i></a>
							<a href="#"><i class="icon icon-youtube"></i></a>
							<a href="#"><i class="icon icon-googleplus"></i></a>
						</p>
					</li>
					<!-- <li class="function">
						<button class="btn-icon-top btn-favor">
							<i class="icon-favor"></i>
							<span>Quan tâm</span>
						</button>
						<button class="btn-icon-top">
							<i class="icon-buy"></i>
							<span>Đăng ký mua</span>
						</button>
					</li> -->
				</ul>
			</div>
			<div class="col-md-4" style="text-align: center;">
				<div class="price" id="price_box">
					<div>
						<!-- Nav tabs -->
						<ul class="nav nav-tabs price-tab" role="tablist">
							<% if @re.fields.include? :sell_price %>
								<li role="SalePrice" class="active"><a href="#price-sale" aria-controls="price-sale" role="tab" data-toggle="tab">Giá bán</a></li>
							<% end %>
							<% if @re.fields.include? :rent_price %>
								<li role="RentPrice" class="<%= 'active' unless @re.fields.include? :sell_price %>"><a href="#price-rent" aria-controls="price-rent" role="tab" data-toggle="tab">Giá cho thuê</a></li>
							<% end %>
						</ul>

						<!-- Tab panes -->
						<div class="tab-content">
							<% if @re.fields.include? :sell_price %>
								<div role="tabpanel" class="tab-pane fade in active" id="price-sale">
									<% if @re.sell_price %>
										<p style="margin: 5px 0;">
											Giá rao: <span style="color: #ff6511; font-size: 18px;"><%= @re.display_sell_price %></span> 
											<!-- <select>
												<% Currency.get_options.each do |c| %>
						              <option value="<%= c.id %>" <%= 'selected' if c.id == @re.currency_id || (!c.options_hash.nil? && c.options_hash.has_key?('default') && @re.currency_id.blank?) %> <%= c.options_hash['html']['attributes'] %>><%= c.name %></option>
						            <% end %>
											</select>/<%= t 'unit.text.' + @re.sell_unit.name %> -->
										</p>
										<% if @re.is_negotiable %>
											<div>
												<i class="icon-16 icon-checker"></i>
												<span>Còn thương lượng</span>
											</div>
										<% end %>
									<% else %>
										<p style="margin: 5px 0;"><span style="color: #ff6511; font-size: 18px;">Giá thỏa thuận</span></p>
									<% end %>
									<!-- <p style="margin: 5px 0;">Định giá: <span style="color: #ff6511;">2,2 tỷ</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select></p> -->
								</div>
							<% end %>
							<% if @re.fields.include? :rent_price %>
								<div role="tabpanel" class="tab-pane fade <%= 'in active' unless @re.fields.include? :sell_price %>" id="price-rent">
									<% if @re.rent_price %>
										<p style="margin: 5px 0;">
											Giá thuê: <span style="color: #038ed1; font-size: 18px;"><%= @re.display_rent_price %></span> 
											<!-- <select>
												<% Currency.get_options.each do |c| %>
						              <option value="<%= c.id %>" <%= 'selected' if c.id == @re.currency_id || (!c.options_hash.nil? && c.options_hash.has_key?('default') && @re.currency_id.blank?) %> <%= c.options_hash['html']['attributes'] %>><%= c.name %></option>
						            <% end %>
											</select>/<%= t 'unit.text.' + @re.rent_unit.name %> -->
										</p>
										<% if @re.is_negotiable %>
											<div>
												<i class="icon-16 icon-checker"></i>
												<span>Còn thương lượng</span>
											</div>
										<% end %>
									<% else %>
										<p style="margin: 5px 0;"><span style="color: #038ed1; font-size: 18px;">Giá thỏa thuận</span></p>
									<% end %>
									<!-- <p style="margin: 5px 0;">Định giá: <span style="color: #038ed1;">12 triệu</span> <select><option>VNĐ</option><option>USD</option><option>SJC</option></select>/tháng</p> -->				
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<div class="function">
					<button class="btn-icon-top btn-favor">
						<i class="icon-favor"></i>
						<span>Quan tâm</span>
					</button>
					<button class="btn-icon-top">
						<i class="icon-buy"></i>
						<span>Đăng ký mua</span>
					</button>
				</div>				
			</div>
		</section>
		<section class="line-block description">
			<article class="title">
				<span>Mô tả</span>
			</article>
			<article class="content">
				<div class="title">
					<h5><%= @re.name %></h5>
				</div>
				<div class="details pre">
					<%= @re.description %>
				</div>
			</article>
		</section>
		<section class="line-block">
			<article class="title">
				<span>Thông tin chi tiết</span>
			</article>
			<article class="content detail-info">
				<div class="row">
					<div class="col-md-3">
						<i class="icon-check"></i>
						<span>Mục đích: <b><%= @re.display_purpose %></b></span>
					</div>
					<% if @re.fields.include? :real_estate_type %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Loại: <b><%= @re.display_real_estate_type %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :campus_area %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Diện tích khuôn viên: <b><%= @re.campus_area %>m<sup>2</sup></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :constructional_area %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Diện tích xây dựng: <b><%= @re.constructional_area %>m<sup>2</sup></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :using_area %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Diện tích sử dụng: <b><%= @re.using_area %>m<sup>2</sup></b></span>
						</div>
					<% end %>
					<% if @re.fields.include?(:width_x) && @re.width_x.present? %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Chiều rộng: <b><%= @re.width_x %>m</b></span>
						</div>
					<% end %>
					<% if @re.fields.include?(:width_y) && @re.width_y.present? %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Chiều dài: <b><%= @re.width_y %>m</b></span>
						</div>
					<% end %>
					<% if @re.fields.include?(:shape) && @re.shape != 0 %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span><%= @re.shape == 1 ? t('real_estate.attribute.shape_greater') : t('real_estate.attribute.shape_less') %>: <b><%= @re.shape_width %>m</b></span>
						</div>
					<% end %>
					<% if @re.fields.include?(:floor_number) && @re.floor_number.present? %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Tầng: <b><%= @re.floor_number %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :restroom_number %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Phòng tắm: <b><%= @re.restroom_number == 4 ? 'Hơn 4' : @re.restroom_number %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :bedroom_number %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Phòng ngủ: <b><%= @re.bedroom_number == 4 ? 'Hơn 4' : @re.bedroom_number %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :direction_id %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Hướng: <b><%= t 'direction.text.' + @re.direction.name %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :constructional_level_id %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Hướng: <b><%= t 'constructional_level.text.' + @re.constructional_level.name %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :build_year %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Năm xây: <b><%= @re.build_year > 50 ? @re.build_year : (@re.build_year == 20 ? 'Hơn 20 năm' : 'Hơn 50 năm') %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :constructional_quality %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Chất lượng xây dựng: <b><%= @re.display_constructional_quality %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :legal_record_type %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Hồ sơ: <b><%= @re.display_legal_record_type %></b></span>
						</div>
					<% end %>
					<% if @re.fields.include? :planning_status_type %>
						<div class="col-md-3">
							<i class="icon-check"></i>
							<span>Tình trạng quy hoạch: <b><%= @re.display_planning_status_type %></b></span>
						</div>
					<% end %>
				</div>
			</article>
		</section>
		<% if @re.region_utilities.count > 0 %>
			<section class="line-block">
				<article class="title">
					<span>Tiện ích khu vực</span>
				</article>
				<article class="content utility">
					<div class="row">
						<% @re.region_utilities.each do |u| %>
							<div class="col-md-3">
								<i class="icon-check"></i>
								<span><%= t 'region_utility.text.' + u.name %></span>
							</div>
						<% end %>
					</div>
				</article>
			</section>
		<% end %>
		<% if @re.property_utilities.count > 0 %>
			<section class="line-block">
				<article class="title">
					<span>Tiện nghi</span>
				</article>
				<article class="content convenient-lg">
					<div class="row">
						<% @re.property_utilities.each do |u| %>
							<div class="col-md-3">
								<i class="icon-check"></i>
								<span><%= t 'property_utility.text.' + u.name %></span>
							</div>
						<% end %>
					</div>
				</article>
			</section>
		<% end %>
		<section class="line-block">
			<article class="title">
				<span>Vị trí trên bản đồ</span>
			</article>
      <article class="content map">
      	<div id="map" tabindex="0" style="outline: 0;" data-lat="<%= @re.lat %>" data-long="<%= @re.long %>">
      		
      	</div>
      </article>
		</section>
<!-- start contact -->
<section class="line-block contact container">
	<article class="title">
		<span>Thông tin liên lạc</span>
	</article>
	<article class="content information" style="padding: 0;">
		<div class="user-info row">
			<div class="col-xs-4 col-sm-2 avatar">
				<%= user_avatar @re.user, style: 'big' %>
				<span><%= @re.user.full_name %></span>
			</div>
			<div class="col-xs-8 col-sm-10">
				<ul class="info">
					<% if @re.user.phone_number.present? %>
						<li>
							<i class="icon-phone"></i>
							<span><%= @re.user.phone_number %></span>
						</li>
					<% end %>
					<% if @re.user.email.present? %>
					<li>
						<i class="icon-mail"></i>
						<span><%= @re.user.email %></span>
					</li>
					<% end %>
					<% if @re.user.address.present? %>
					<li>
						<i class="icon-address"></i>
						<span><%= @re.user.address %></span>
					</li>
					<% end %>
					<li>
						<button class="btn btn-default btn-sm">Xem thêm BĐS khác</button>
					</li>
				</ul>
				<div class="btn-contact">
					
				</div>
			</div>
		</div>
		<div class="request-box">
			<form>
				<div class="form-group">
					<textarea class="form-control" placeholder="Điền thông tin bạn cần yêu cầu"></textarea>
					<button type="submit" class="btn btn-sm btn-primary">Gửi yêu cầu</button>
				</div>
			</form>
		</div>
	</article>
</section>
<!-- end -->
	</article>
</section>
<!-- end details of Property -->

<!-- start other property -->
<section class="container other-property block">
	<article class="title">
		<a class="link" href="#">
			<i class="icon-link"></i>
			<span>Các bất động sản tương tự khác</span>
		</a>
	</article>
	<article class="content">
		<ul class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
						<i class="badge-new"></i>
						<div class="promotion">
							<i class="icon icon-gift"></i>
							<span>Tặng bộ bàn ghế cao cấp</span>
						</div>
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
						<i class="badge-new"></i>
						<div class="promotion">
							<i class="icon icon-gift"></i>
							<span>Tặng bộ bàn ghế cao cấp</span>
						</div>
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 col-md-4 hidden-sm hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
			<div class="col-lg-3 hidden-md hidden-sm hidden-xs">
				<li class="item-sm">
					<div class="picture">
						<img src="/assets/product/BDS01.jpg">
					</div>
					<a href="#">
						<div class="title">
							<span>RIVERGATE</span>
						</div>						
						<div class="convenient">							
							<div class="bathroom">
								<i class="icon-bathroom"></i>
								<span>4</span>						
							</div>
							<div class="bedroom">
								<i class="icon-bedroom"></i>
								<span>3</span>
							</div>
							<div class="area">
								<i class="icon-area"></i>
								<span>80m<sup>2</sup></span>
							</div>
						</div>
						<div class="address" data-toggle="tooltip" data-placement="top" title="Số 360 đường Nguyễn Văn Linh, Phường 10, Quận 7">
							<i class="icon-16 icon-position"></i>
							<span>Nguyễn Văn Linh, Quận 7</span>
						</div>
						<div class="price">
							<i class="icon-16 icon-dollar"></i>
							<p class="number sale">900 triệu / căn</p>
						</div>	
					</a>
					<div class="function">
						<a href="#" class="icon-favor" data-toggle="tooltip" data-placement="top" title="Lưu vào danh sách yêu thích"></a>
						<a href="#" class="icon-buy" data-toggle="tooltip" data-placement="top" title="Đăng ký mua"></a>
						<a href="#" class="icon-share" data-toggle="tooltip" data-placement="top" title="Chia sẽ tin này lên mạng xã hội"></a>
						<a href="#" class="icon-zestimate" data-toggle="tooltip" data-placement="top" title="Định giá căn nhà này"></a>
					</div>
				</li>
			</div>
		</ul>
		<div class="paging">
			<div class="left">
				<i class="pe-7s-angle-left"></i>
			</div>
			<div class="number">
				<span>5/10</span>
			</div>
			<div class="right">
				<i class="pe-7s-angle-right"></i>
			</div>
		</div>
	</article>
</section>
<!-- end other property -->