<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/real_estates/view_2.css">
<% end %>

<% content_for :javascript  do %>
	<script type="text/javascript" src="/assets/real_estates/view_2.js"></script>
	<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
	<script type="text/javascript" src="/assets/shared/locationpicker.js"></script>
<% end %>

<%
=begin
	@re
=end
%>

<div class="row no-horizontal-padding">

	<!-- Images -->
		
		<% if @re.images.present? %>
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<section class="images-container">
					<section class="image">
						<img src="<%= @re.images[0].image.url(:slide) %>" />
					</section>
					<section class="images-list">
						<article class="list">
							<% @re.images.each_with_index do |re_image, index| %>
								<%
									data = {
										original: re_image.image.url,
										slide: re_image.image.url(:slide)
									}
								%>
								<a class="item <%= 'active' if index == 0 %>" data-data="<%= data.to_json %>">
									<span></span>
								</a>
							<% end %>
						</article>
					</section>
				</section>
			</div>
		<% end %>

	<!-- / Images -->

	<!-- Info -->
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: right">
			<section class="infos-container">
				<article class="content">
					<section class="title">
						<h2>
							<%= @re.title %>
						</h2>						
					</section>
					<section>
						<% if @re.fields.include? :sell_price %>
							<section class="price sell-price">
								<%= @re.display_sell_price %>
							</section>
						<% end %>
						<% if @re.fields.include? :rent_price %>
							<section class="price rent-price">
								<%= @re.display_rent_price %>
							</section>
						<% end %>
					</section>
					<section class="infos">
						<div class="row no-horizontal-padding">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<section class="info-item">
									<section class="icon">
										<span class="ico-location"></span>
									</section>
									<section class="text">
										<section class="name">
											Địa chỉ <span class="ico-info"></span>
										</section>
										<section class="value">
											<%= @re.display_address %>
										</section>
									</section>
									<section class="more">
										<% if @re.fields.include? :building_name %>
											<article class="text">
												<span class="name">
													Tòa nhà
												</span>
												<span class="value">
													<%= "Tầng #{@re.floor_number}" if @re.fields.include? :floor_number %> <%= @re.building_name %>
												</span>
											</article>
										<% end %>
										<% if @re.fields.include?(:is_alley) && @re.fields.include?(:street_type) %>
											<article class="text">
												<span class="name">
													Vị trí
												</span>
												<span class="value">
													<%= @re.display_is_alley %> - <%= @re.display_street_type %>
												</span>
											</article>
										<% end %>
									</section>
								</section>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
								<article class="info-item">
									<section class="icon">
										<span class="ico-hash"></span>
									</section>
									<section class="text">
										<section class="name">
											Mã
										</section>
										<section class="value">
											<%= @re.display_id %>
										</section>
									</section>
								</article>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
								<article class="info-item">
									<section class="icon">
										<span class="ico-clock"></span>
									</section>
									<section class="text">
										<section class="name">
											Thời gian đăng
										</section>
										<section class="value" aria-time="<%= @re.created_at %>">
										</section>
									</section>
								</article>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
								<article class="info-item">
									<section class="icon">
										<span class="ico-home"></span>
									</section>
									<section class="text">
										<section class="name">
											Loại
										</section>
										<section class="value">
											<%= @re.display_real_estate_type %>
										</section>
									</section>
								</article>
							</div>
							<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
								<article class="info-item">
									<section class="icon">
										<span class="ico-area"></span>
									</section>
									<section class="text">
										<section class="name">
											Diện tích <span class="ico-info"></span>
										</section>
										<section class="value">
											<%= @re.display_area %><span class="unit">m<sup>2</sup></span>
										</section>
									</section>
									<section class="more">
										<% if @re.fields.include?(:width_x) && @re.fields.include?(:width_y) %>
											<article class="text">
												<span class="name">
													Kích thước
												</span>
												<span class="value">
													<%= @re.display_width_x %><span class="unit">x</span><%= @re.display_width_y %><span class="unit">m</span>
												</span>
												<% if @re.fields.include?(:shape) && @re.display_shape(false).present? %>
													<span class="value">
														<span class="unit">-</span> <%= @re.display_shape(false) %> <%= @re.display_shape_width %><span class="unit">m</span>
													</span>
												<% end %>
											</article>
										<% end %>
										<% if @re.fields.include? :campus_area %>
											<article class="text">
												<span class="name">
													DT khuôn viên
												</span>
												<span class="value">
													<%= @re.display_campus_area %><span class="unit">m<sup>2</sup></span>
												</span>
											</article>
										<% end %>
										<% if @re.fields.include? :constructional_area %>
											<article class="text">
												<span class="name">
													DT xây dựng
												</span>
												<span class="value">
													<%= @re.display_constructional_area %><span class="unit">m<sup>2</sup></span>
												</span>
											</article>
										<% end %>
										<% if @re.fields.include? :using_area %>
											<article class="text">
												<span class="name">
													DT sử dụng
												</span>
												<span class="value">
													<%= @re.display_using_area %><span class="unit">m<sup>2</sup></span>
												</span>
											</article>
										<% end %>
									</section>
								</article>
							</div>
							<% if @re.fields.include? :bedroom_number %>
								<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
									<article class="info-item">
										<section class="icon">
											<span class="ico-bedroom"></span>
										</section>
										<section class="text">
											<section class="name">
												Phòng ngủ
											</section>
											<section class="value">
												<%= @re.display_bedroom %>
											</section>
										</section>
									</article>
								</div>
							<% end %>
							<% if @re.fields.include? :restroom_number %>
								<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
									<article class="info-item">
										<section class="icon">
											<span class="ico-restroom"></span>
										</section>
										<section class="text">
											<section class="name">
												Phòng tắm
											</section>
											<section class="value">
												<%= @re.display_restroom %>
											</section>
										</section>
									</article>
								</div>
							<% end %>
							<% if @re.fields.include? :direction %>
								<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
									<article class="info-item">
										<section class="icon">
											<span class="ico-compass"></span>
										</section>
										<section class="text">
											<section class="name">
												Hướng
											</section>
											<section class="value">
												<%= @re.display_direction %>
											</section>
										</section>
									</article>
								</div>
							<% end %>
							<% if @re.fields.include? :legal_record_type %>
								<div class="col-xs-6 col-sm-3 col-md-6 col-lg-6">
									<article class="info-item">
										<section class="icon">
											<span class="ico-newspaper"></span>
										</section>
										<section class="text">
											<section class="name">
												Giấy tờ <span class="ico-info"></span>
											</section>
											<section class="value">
												<%= @re.display_legal_record_type %>
											</section>
										</section>
										<section class="more">
											<% if @re.fields.include? :constructional_level %>
												<article class="text">
													<span class="name">
														Loại
													</span>
													<span class="value">
														<%= @re.display_constructional_level %>
													</span>
												</article>
											<% end %>
											<% if @re.fields.include? :constructional_quality %>
												<article class="text">
													<span class="name">
														Tình trạng
													</span>
													<span class="value">
														<%= @re.display_constructional_quality %>
													</span>
												</article>
											<% end %>
											<% if @re.fields.include? :planning_status_type %>
												<article class="text">
													<span class="name">
														Tình trạng quy hoạch
													</span>
													<span class="value">
														<%= @re.display_planning_status_type %>
													</span>
												</article>
											<% end %>
										</section>
									</article>
								</div>
							<% end %>
						</div>
					</section>
				</article>
			</section>
		</div>

	<!-- / Info -->

	<!-- Description -->

		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
			<section class="description-container">
				<article class="info-box">
					<section class="info-box-header">
						<article class="info-box-title">
							Mô tả
						</article>
					</section>
					<section class="info-box-body">
						<%= @re.display_description %>
					</section>
				</article>
				<article class="info-box">
					<section class="info-box-header">
						<article class="info-box-title">
							Bản đồ vị trí
						</article>
					</section>
					<section class="info-box-body">
						<section class="address">
							<span class="name">
								<span class="ico-location"></span> Địa chỉ
							</span>
							<span class="value">
								<%= @re.display_address %>
							</span>							
						</section>
						<section id="map" tabindex="0" style="outline: 0; height: 300px; width: 100%" data-lat="<%= @re.lat %>" data-long="<%= @re.long %>">
							
						</section>
					</section>
				</article>
				<% if (@re.fields.include?(:property_utility) && @re.property_utilities.present?) || (@re.fields.include?(:region_utility) && @re.region_utilities.present?)  %>
					<article class="info-box">
						<section class="info-box-header">
							<article class="info-box-title">
								Tiện ích
							</article>
						</section>
						<section class="info-box-body">
							<% if @re.fields.include?(:property_utility) && @re.property_utilities.present? %>
								<article class="content-box">
									<section class="content-box-header">
										<aricle class="content-box-title">
											Tiện ích bất động sản
										</aricle>
									</section>
									<section class="content-box-body">
										<article class="items-list">
											<% @re.property_utilities.each do |utility| %>
												<article class="item">
													<%= utility.display_name %>
												</article>
											<% end %>
										</article>
									</section>
								</article>
							<% end %>
							<% if @re.fields.include?(:region_utility) && @re.region_utilities.present? %>
								<article class="content-box">
									<section class="content-box-header">
										<aricle class="content-box-title">
											Tiện ích khu vực
										</aricle>
									</section>
									<section class="content-box-body">
										<article class="items-list">
											<% @re.region_utilities.each do |utility| %>
												<article class="item">
													<%= utility.display_name %>
												</article>
											<% end %>
										</article>
									</section>
								</article>
							<% end %>
						</section>
					</article>
				<% end %>
				<% if (@re.fields.include?(:advantage) && @re.advantages.present?) || (@re.fields.include?(:disadvantage) && @re.disadvantages.present?) %>
					<article class="info-box">
						<section class="info-box-header">
							<article class="info-box-title">
								Đánh giá
							</article>
						</section>
						<section class="info-box-body">
							<% if @re.fields.include?(:advantage) && @re.advantages.present? %>
								<article class="content-box">
									<section class="content-box-header">
										<aricle class="content-box-title">
											Điểm tốt
										</aricle>
									</section>
									<section class="content-box-body">
										<article class="items-list">
											<% @re.advantages.each do |advantage| %>
												<article class="item">
													<%= advantage.display_name %>
												</article>
											<% end %>
										</article>
									</section>
								</article>
							<% end %>
							<% if @re.fields.include?(:disadvantage) && @re.disadvantages.present? %>
								<article class="content-box">
									<section class="content-box-header">
										<aricle class="content-box-title">
											Điểm xấu
										</aricle>
									</section>
									<section class="content-box-body">
										<article class="items-list">
											<% @re.disadvantages.each do |disadvantage| %>
												<article class="item">
													<%= disadvantage.display_name %>
												</article>
											<% end %>
										</article>
									</section>
								</article>
							<% end %>
						</section>
					</article>
				<% end %>
			</section>
		</div>

	<!-- / Description -->

	<!-- Contact -->
		
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="float: right">
			<section class="contact-container">
				<article class="info-box">
					<section class="info-box-header">
						<article class="info-box-title">
							Người đăng
						</article>
					</section>
					<section class="info-box-body user-info">
						<% if @re.user.present? %>
							<section class="avatar">
								<%= user_avatar @re.user, style: :big %>
							</section>
							<section class="info">
								<article class="text name">
									<%= @re.user.full_name %>
								</article>
								<% if @re.user.email.present? %>
									<article class="text">
										<span class="icon ico-envelop"></span>
										<%= @re.user.email %>
									</article>
								<% end %>
								<% if @re.user.phone_number.present? %>
									<article class="text">
										<span class="icon ico-phone"></span>
										<%= @re.user.phone_number %>
									</article>
								<% end %>
								<% if @re.user.address.present? %>
									<article class="text">
										<span class="icon ico-location"></span>
										<%= @re.user.address %>
									</article>
								<% end %>
							</section>
						<% else %>
							<section class="avatar">
								<img src="/assets/users/big/default.png" alt="<%= @re.user_full_name %>">
							</section>
							<section class="info">
								<article class="text name">
									<%= @re.user_full_name %>
								</article>
								<% if @re.user_email.present? %>
									<article class="text">
										<span class="icon ico-envelop"></span>
										<%= @re.user_email %>
									</article>
								<% end %>
								<% if @re.user_phone_number.present? %>
									<article class="text">
										<span class="icon ico-phone"></span>
										<%= @re.user_phone_number %>
									</article>
								<% end %>
							</section>
						<% end %>
					</section>
				</article>
				<article class="info-box">
					<section class="info-box-header">
						<article class="info-box-title">
							Liên hệ
						</article>
					</section>
					<section class="info-box-body contact-request">
						<form>
							<div class="row">
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<article class="form-group">
										<input class="form-control" placeholder="Tên" />
									</article>
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
									<article class="form-group">
										<input class="form-control" placeholder="Email hoặc điện thoại" />
									</article>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<article class="form-group">
										<textarea class="form-control" placeholder="Lời nhắn"></textarea>
									</article>
								</div>
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<article class="text-center">
										<button class="btn btn-green">
											Gửi
										</button>
									</article>
								</div>
							</div>
						</form>
					</section>
				</article>
			</section>
		</div>

	<!-- / Contact -->

</div>