<%
=begin
	params: @group
=end
%>

<section class="heading">
	<h3 class="title">
		<%= @group.display_name %>
		<span class="sub">
			<%= t "real_estate_type.name.#{@group.real_estate_type.name}" %>
		</span>
	</h3>
</section>

<section class="body">
	<article class="info list">
		<% if @group.bedroom_number.present? %>
			<article class="list-item">
				<span class="text">Phòng ngủ</span>
				<span class="value"><%= @group.bedroom_number %></span>
			</article>
		<% end %>
		<% if @group.restroom_number.present? %>
			<article class="list-item">
				<span class="text">Phòng tắm</span>
				<span class="value"><%= @group.restroom_number %></span>
			</article>
		<% end %>
		<% if @group.area.present? %>
			<article class="list-item">
				<span class="text">Diện tích</span>
				<span class="value"><%= @group.display_area %>m<sup>2</sup></span>
			</article>
		<% end %>
	</article>

	<article class="info">
		Sản phẩm
		<ul>
			<% @group.real_estates.each do |re| %>
				<li>
					<a aria-click="interact" data-type="real_estate" data-value="<%= re.id %>"><%= re.short_label %></a> <small><b>(<%= re.available_in_floors.count %>/<%= re.in_floors.count %>)</b></small>
				</li>
			<% end %>
		</ul>
	</article>

	<% if @group.block.has_floor %>
		<article class="info">
			Các tầng có nhóm
			<ul>
				<% BlockFloor.find(@group.real_estates.group_by{ |re| re.block_floor_id }.keys).each do |floor| %>
					<li>
						<% if floor.is_dynamic %>
							<%
								available_count = 0
								count = 0
								floor.real_estates.each do |re|
									available_count += re.available_in_floors.count
									count += re.in_floors.count
								end
							%>
							<a class="link" aria-click="interact" data-type="blocks/floor" data-value="<%= floor.id %>"><%= floor.display_name %></a> <small><b>(<%= available_count %>/<%= count %>)</b></small>
						<% else %>
							<%= floor.display_name %>
						<% end %>
					</li>
				<% end %>
			</ul>
		</article>
	<% end %>

	<% if @group.block.real_estate_groups.count > 1 %>
		<article class="info">
			Các nhóm khác
			<ul>
				<% @group.block.real_estate_groups.each do |group| %>
					<%
						next if group.id == @group.id

						available_count = 0
						count = 0
						group.real_estates.each do |re|
							available_count += re.available_in_floors.count
							count += re.in_floors.count
						end
					%>
					<li>
						<a class="link" aria-click="interact" data-type="real_estates/group" data-value="<%= group.id %>"><%= group.display_name %></a> <small><b>(<%= available_count %>/<%= count %>)</b></small>
					</li>
				<% end %>
			</ul>
		</article>
	<% end %>

</section>