<% contacts.each do |contact| %>
  <article class="col-md-3 col-sm-4 col-ss-6 col-xs-12">
    <article class="item" data-value="<%= contact.id %>">
      <section class="bottom">
        <p class="title">
          <span class="fa fa-fw fa-user"></span> <%= contact.name %>
        </p>
        <p>
          <span class="fa fa-fw fa-phone"></span> <%= contact.phone_number %>
        </p>
        <p>
          <span class="fa fa-fw fa-envelope"></span> <%= contact.email %>
        </p>
        <p class="small text-muted">
          <span class="pull-right" aria-time="<%= contact.created_at %>">
          </span>
        </p>
      </section>
      <section class="control">
        <% if contact.session_id.present? %>
          <span class="node">
            <a aria-click="view_history" href="javascript:void(0)" class="fa fa-lg fa-history"></a>
          </span>
        <% end %>
      </section>
    </article>
  </article>
<% end %>