<% 
=begin
  params: @contact, @sessions
=end

%>

<article class="box box-primary">
  <section class="box-header with-border">
    <h2 class="box-title">
      Lịch sử truy cập
    </h2>
  </section>
  <section class="box-body text-center no-padding">
    <table class="table table-striped width-auto inline-block">
      <thead>
        <tr>
          <th>
            &nbsp;
          </th>
          <th>
            Đến từ
          </th>
          <th>
            Tên chiến dịch
          </th>
          <th>
            Nội dung chiến dịch
          </th>
          <th>
            Từ khóa chiến dịch
          </th>
          <th>
            Phương tiện chiến dịch
          </th>
          <th>
            Nguồn chiến dịch
          </th>
        </tr>
      </thead>
      <tbody>
        <% @sessions.each_with_index do |s, index| %>
          <tr>
            <% if index == 0 %>
              <td><%= s.created_at.strftime '%d/%m/%Y lúc %H:%M' %></td>
            <% else %>
              <td data-time-range="<%= @session[index - 1].created_at %>;<%= s.created_at %>"></td>
            <% end %>
            <td>
              <%= s.referrer_host_name %>
            </td>
            <td>
              <%= s.utm_campaign %>
            </td>
            <td>
              <%= s.utm_content %>
            </td>
            <td>
              <%= s.utm_term %>
            </td>
            <td>
              <%= s.utm_medium %>
            </td>
            <td>
              <%= s.utm_source %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>Tổng thời gian: <b aria-time-range="<%= @sessions[0].created_at %>;<%= @contact.created_at %>"></b></p>
  </section>
</article>