<h3>Chào <b><%= @re.user_full_name %></b>, chúc mừng bạn đã đăng tin thành công tại MuaNhaOnline.vn</h3>

<% 
	query = { secure_code: @re.params['secure_code'] }.to_query
%>

<ol>
	<li>
		<%
			url = "#{Rails.application.config.base_url}bat-dong-san/active/#{@re.id}?#{query}"
		%>
		Kích hoạt tin tại <a href="<%= url %>">đây</a>.
		<p><small>(<a href="<%= query %>"><%= query %></a>)</small></p>
	</li>
	<li>
		<%
			url = "#{Rails.application.config.base_url}bat-dong-san/#{@re.full_slug}?#{query}"
		%>
		Xem tin tại <a href="<%= url %>">đây</a>.
		<p><small>(<a href="<%= query %>"><%= query %></a>)</small></p>
	</li>
	<li>
		<%
			url = "#{Rails.application.config.base_url}bat-dong-san/chinh-sua/#{@re.id}?#{query}"
		%>
		Sửa tin tại <a href="<%= url %>">đây</a>.
		<p><small>(<a href="<%= query %>"><%= query %></a>)</small></p>
	</li>
	<li>
		<%
			url = "#{Rails.application.config.base_url}bat-dong-san/delete/#{@re.id}?#{query}"
		%>
		Xóa tin tại <a href="<%= url %>">đây</a>.
		<p><small>(<a href="<%= query %>"><%= query %></a>)</small></p>
	</li>
</ol>
