<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/investors/view.css">
<% end %>

<% content_for :scripts do %>
	<script type="text/javascript" src="/assets/investors/view.js"></script>
<% end %>

<%
=begin
	params: @investor
=end

	@_title = @investor.name;
	@_description = "Chủ đầu tư #{@investor.name}";
%>

<div class="row">
	<article class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-ss-6 col-ss-offset-3">
		<div class="box box-widget widget-user">
			<!-- Add the bg color to the header using any of the bg-* classes -->
			<div class="widget-user-header bg-aqua-active">
				<h3 class="widget-user-username"><%= @investor.name %></h3>
				<div class="widget-user-desc"><span class="fa fa-fw fa-envelope"></span> <%= @investor.email %></div>
				<% if @investor.phone.present? %>
					<div class="widget-user-desc"><span class="fa fa-fw fa-phone"></span> <%= @investor.phone %></div>
				<% end %>
				<% if @investor.address.present? %>
					<div class="widget-user-desc"><span class="fa fa-fw fa-map-marker"></span> <%= @investor.address %></div>
				<% end %>
			</div>
			<div class="box-footer padding-10">
				<a href="/chu-dau-tu/cap-nhat/<%= @investor.id %>" class="btn btn-primary btn-block"><b>Cập nhật thông tin</b></a>
			</div>
		</div>
	</article>
</div>