<p id="notice"><%= notice %></p>

<p>
  <strong>Real estate:</strong>
  <%= @real_estate_region_utility.real_estate_id %>
</p>

<p>
  <strong>Region utility:</strong>
  <%= @real_estate_region_utility.region_utility_id %>
</p>

<%= link_to 'Edit', edit_real_estate_region_utility_path(@real_estate_region_utility) %> |
<%= link_to 'Back', real_estate_region_utilities_path %>
