<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @legal_record_type.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @legal_record_type.code %>
</p>

<p>
  <strong>Options:</strong>
  <%= @legal_record_type.options %>
</p>

<%= link_to 'Edit', edit_legal_record_type_path(@legal_record_type) %> |
<%= link_to 'Back', legal_record_types_path %>
