<p id="notice"><%= notice %></p>

<p>
  <strong>Real estate:</strong>
  <%= @real_estate_disadvantage.real_estate_id %>
</p>

<p>
  <strong>Disadvantage:</strong>
  <%= @real_estate_disadvantage.disadvantage_id %>
</p>

<%= link_to 'Edit', edit_real_estate_disadvantage_path(@real_estate_disadvantage) %> |
<%= link_to 'Back', real_estate_disadvantages_path %>
