<!DOCTYPE html>
<html>
<head>
	<title><%= @_title.blank? ? '' : @_title + ' - ' %> Mua nhà online</title>

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="MuaNhaOnline - Giá trị thực trong tầm tay">
	<meta name="keyword" content="<%= @_keyword %>">

	<link rel="shortcut icon" href="/assets/shared/mini_icon.ico">

	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/icomoon.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/front_layout.css">
	<%= yield :stylesheets %>
</head>
<body>

	<article class="content-wrapper">

		<!-- Header -->
		
			<header>

				<section class="top-header-container">
					<article class="top-header container">
						<a href="/dang-nhap" class="sign-in" title="Đăng nhập">
							<span class="text">hoặc</span>
							<span class="ico-sign-in"></span>
						</a>
						<a aria-click="facebook_login" class="facebook-login" title="Đăng nhập bằng Facebook">
							<span class="text">Đăng nhập bằng</span>
							<span class="ico-facebook"></span>
						</a>
						<a href="/bat-dong-san/dang-tin" class="new-post" title="Đăng tin miễn phí">
							<span class="text">Đăng tin miễn phí</span>
							<span class="ico-upload"></span>
						</a>
					</article>
				</section>

				<section class="bottom-header-container">
					<article class="bottom-header container">
						<h1 class="page-name">MuanhaOnline - Giá trị thực trong tầm tay</h1>

						<!-- Logo -->
							
							<section class="logo">
								<a href="/">
									<img src="/assets/shared/logo/logo.png">
									<section class="slogan">
										Giá trị thực trong tầm tay
									</section>
								</a>
							</section>
						
						<!-- / Logo -->

						<!-- Navigator -->
						
							<nav>
								<ul>
									<li>
										<a href="#">Bất động sản</a>
										<ul class="col-2">
											<li><a href="/bat-dong-san/danh-sach-nha-pho">Nhà phố</a></li>
											<li><a href="/bat-dong-san/danh-sach-biet-thu">Biệt thự</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-cao-cap">Căn hộ cao cấp</a></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-trung-binh">Căn hộ trung bình</a></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-thap">Căn hộ thu nhập thấp</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-o-xa-hoi">Nhà ở xã hội</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-nha-cap-4">Nhà cấp 4</a></li>
											<li><a href="/bat-dong-san/danh-sach-phong-tro">Phòng trọ</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-van-phong">Văn phòng</a></li>
											<li><a href="/bat-dong-san/danh-sach-mat-bang-cua-hang">Mặt bằng - Cửa hàng</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-hang-khach-san">Nhà hàng - Khách sạn</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-kho-xuong">Nhà kho - Xưởng</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-dat-tho-cu">Đất thổ cư</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-nong-nghiep">Đất nông nghiệp</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-lam-nghiep">Đất lâm nghiệp</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-san-xuat">Đất cho sản xuất</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-du-an">Đất dự án</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Dự án</a>
									</li>
									<li>
										<a href="#">Nhà định giá</a>
									</li>
									<li>
										<a href="#">Doanh nghiệp</a>
									</li>
									<li>
										<a href="#">Tin tức</a>
									</li>
								</ul>
							</nav>
						
						<!-- / Navigator -->
						
					</article>
				</section>
			</header>
		
		<!-- / Header -->

		<!-- Navigator -->

			<% if @_main_navigator.present? %>
				<nav class="main-navigator" style="background-image: url(<%= @_main_navigator[:background] || '/assets/shared/main_navigator/main_2.png' %>)">
					<article class="list-container">
						<article class="container">
							<% if @_main_navigator[:list].present? %>
								<article class="list">
									<% @_main_navigator[:list].each do |item| %>
										<article class="item">
											<a href="<%= item[:url] %>"><%= item[:text] %></a>
										</article>
									<% end %>
								</article>
							<% end %>
						</article>
					</article>
				</nav>
			<% end %>
		
		<!-- / Navigator -->

		<!-- Main -->
		
			<main>
				<%= yield %>
			</main>
		
		<!-- / Main -->

		<!-- Footer -->
		
			<footer>
				<div class="container no-horizontal-padding">
					<div style="padding: 0 20px;">
						<div class="row no-horizontal-padding">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="row no-horizontal-padding">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<article class="box box-1">
											<section class="title">
												Chính sách
											</section>
											<section class="content">
												<ul>
													<li>
														Giới thiệu
													</li>
													<li>
														Điều khoản sử dụng
													</li>
													<li>
														Hướng dẫn sử dụng
													</li>
												</ul>
											</section>
										</article>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<article class="box box-2">
											<section class="title">
												Từ khóa được tìm kiếm nhiều
											</section>
											<section class="content">
												<ul>
													<li>
														Nhà phố quận 1
													</li>
													<li>
														Novaland
													</li>
													<li>
														Căn hộ giá rẻ
													</li>
													<li>
														Nhà ở trung tâm thành phố
													</li>
													<li>
														Xem thêm
													</li>
												</ul>
											</section>
										</article>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
								<div class="row no-horizontal-padding">
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<article class="box box-3">
											<section class="title">
												Sơ đồ website
											</section>
											<section class="content">
												<ul>
													<li>
														Trang chủ
													</li>
													<li>
														Bất động sản
													</li>
													<li>
														Dự án
													</li>
													<li>
														Tin tức
													</li>
													<li>
														Doanh nghiệp
													</li>
													<li>
														Liên hệ
													</li>
												</ul>
											</section>
										</article>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<article class="box box-4">
											<section class="title">
												Liên kết
											</section>
											<section class="content">
												<ul>
													<li>
														<span class="icon ico-facebook"></span> Facebook
													</li>
													<li>
														<span class="icon ico-google-plus"></span> Google+
													</li>
													<li>
														<span class="icon ico-youtube"></span> Youtube
													</li>
												</ul>
											</section>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="contact-info">
					Công ty TNHH tư vấn BĐS Thịnh An
					<br />
					Tầng 7, số 60 Nguyễn Văn Thủ, phường Đa Kao, quận 1, tp. Hồ Chí Minh
					<br />
					ĐT: (+84) 939 262 426
					Email: info@muanhaonline.com.vn
					Mã số thuế: 0311281970
				</p>
			</footer>
		
		<!-- / Footer -->
		
	</article>

	<script type="text/javascript" src="/assets/shared/jquery.js"></script>
	<script type="text/javascript" src="/assets/shared/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.mobile.custom.min.js"></script>
	<script type="text/javascript" src="/assets/shared/layout.js"></script>
	<script type="text/javascript" src="/assets/shared/front_layout.js"></script>
	<%= yield :javascripts %>

	<!-- Facebook -->
		<script type="text/javascript">

			$(function () {
				$('[aria-click="facebook_login"]').on('click', function () {
					request();
				});

				function request() {
					FB.login(function (response) {
					if (response.status == 'connected') {
						FB.api('/me/permissions', function(response) {
						var valid = true;
						$(response.data).each(function () {
							if (this.status != 'granted') {
							valid = false;
							alert('Vui lòng chấp nhận các đề xuất từ MuanhaOnline');
							return false;
							}
						});
						if (valid) {
							$.ajax({
								url: '/auth/facebook/callback'
							}).done(function () {
								window.location = '/';
							}).fail(function () {
								alert('Đăng nhập thất bại, vui lòng thử lại');
							});
						}
						}); 
					}
					}, {
					scope: 'public_profile,email',
					auth_type: 'rerequest'
					});
				}
			});

			window.fbAsyncInit = function() {
				FB.init({
					appId      : '1456463541347476',
					xfbml      : true,
					cookie     : true,
					version    : 'v2.4'
				});
			};

			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "//connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		</script>
	<!-- / Facebook -->

	<!-- Google analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-70839803-1', 'auto');
			ga('send', 'pageview');
		</script>
	<!-- / Google analytics -->
	<!-- Zoho -->
		<script type="text/javascript" src='https://crm.zoho.com/crm/javascript/zcga.js'></script>
		<script type="text/javascript">
			var $zoho= $zoho || {salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";
			s.defer=true;s.src="https://salesiq.zoho.com/chinguyen1/float.ls?embedname=chinguyen1";
			t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);
			// $zoho.salesiq.ready=function(embedinfo){$zoho.salesiq.floatbutton.visible("hide");}
		</script>
	<!-- / Zoho -->
</body>
</html>