<!DOCTYPE html>
<html>
<head>
	<title><%= @_title.blank? ? '' : @_title + ' - ' %> Mua nhà online</title>

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="MuaNhaOnline - Giá trị thực trong tầm tay">
	<meta name="keyword" content="<%= @_keyword %>">

	<link rel="shortcut icon" href="/assets/shared/mini_icon.ico">

	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/icomoon.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/front_layout.css">
	<%= yield :stylesheets %>
</head>
<body>

	<article class="content-wrapper">

		<!-- Header -->
		
			<header>

				<section class="top-header-container">
					<article class="top-header container">
						<a class="sign-in" title="Đăng nhập">
							<span class="text">hoặc</span>
							<span class="ico-sign-in"></span>
						</a>
						<a class="facebook-login" title="Đăng nhập bằng Facebook">
							<span class="text">Đăng nhập bằng</span>
							<span class="ico-facebook"></span>
						</a>
						<a class="new-post" title="Đăng tin miễn phí">
							<span class="text">Đăng tin miễn phí</span>
							<span class="ico-upload"></span>
						</a>
					</article>
				</section>

				<section class="bottom-header-container">
					<article class="bottom-header container">
						<h1 class="page-name">MuanhaOnline - Giá trị thực trong tầm tay</h1>

						<!-- Logo -->
						
							<section class="logo">
								<img src="/assets/shared/logo/logo.png">
								<section class="slogan">
									Giá trị thực trong tầm tay
								</section>
							</section>
						
						<!-- / Logo -->

						<!-- Navigator -->
						
							<nav>
								<ul>
									<li>
										<a href="#">Bất động sản</a>
										<ul class="col-2">
											<li><a href="/bat-dong-san/danh-sach-nha-pho">Nhà phố</a></li>
											<li><a href="/bat-dong-san/danh-sach-biet-thu">Biệt thự</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-cao-cap">Căn hộ cao cấp</a></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-trung-binh">Căn hộ trung bình</a></li>
											<li><a href="/bat-dong-san/danh-sach-can-ho-thap">Căn hộ thu nhập thấp</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-o-xa-hoi">Nhà ở xã hội</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-nha-cap-4">Nhà cấp 4</a></li>
											<li><a href="/bat-dong-san/danh-sach-phong-tro">Phòng trọ</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-van-phong">Văn phòng</a></li>
											<li><a href="/bat-dong-san/danh-sach-mat-bang-cua-hang">Mặt bằng - Cửa hàng</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-hang-khach-san">Nhà hàng - Khách sạn</a></li>
											<li><a href="/bat-dong-san/danh-sach-nha-kho-xuong">Nhà kho - Xưởng</a></li>
											<li class="line"></li>
											<li><a href="/bat-dong-san/danh-sach-dat-tho-cu">Đất thổ cư</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-nong-nghiep">Đất nông nghiệp</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-lam-nghiep">Đất lâm nghiệp</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-san-xuat">Đất cho sản xuất</a></li>
											<li><a href="/bat-dong-san/danh-sach-dat-du-an">Đất dự án</a></li>
										</ul>
									</li>
									<li>
										<a href="#">Dự án</a>
									</li>
									<li>
										<a href="#">Nhà định giá</a>
									</li>
									<li>
										<a href="#">Doanh nghiệp</a>
									</li>
									<li>
										<a href="#">Tin tức</a>
									</li>
								</ul>
							</nav>
						
						<!-- / Navigator -->
						
					</article>
				</section>
			</header>
		
		<!-- / Header -->

		<!-- Navigator -->
			
			<% if @_main_navigator.present? %>
				<nav class="main-navigator">
					<article class="container">
						<article class="list">
							<% @_main_navigator.each do |item| %>
								<article class="item">
									<a href="<%= item[:url] %>"><%= item[:text] %></a>
								</article>
							<% end %>
						</article>
					</article>
				</nav>
			<% end %>
		
		<!-- / Navigator -->

		<!-- Main -->
		
			<main>
				<%= yield %>
			</main>
		
		<!-- / Main -->

		<!-- Footer -->
		
			<footer>
				
			</footer>
		
		<!-- / Footer -->
		
	</article>

	<script type="text/javascript" src="/assets/shared/jquery.js"></script>
	<script type="text/javascript" src="/assets/shared/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.mobile.custom.min.js"></script>
	<script type="text/javascript" src="/assets/shared/layout.js"></script>
	<script type="text/javascript" src="/assets/shared/front_layout.js"></script>
	<%= yield :javascripts %>
</body>
</html>