<!DOCTYPE html>
<html>
<head>
	<title><%= @_title.blank? ? '' : @_title + ' - ' %> Mua nhà online</title>

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="MuaNhaOnline - Giá trị thực trong tầm tay">
	<meta name="keyword" content="<%= @_keyword %>">

	<link rel="shortcut icon" href="/assets/shared/mini_icon.ico">

	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/icomoon.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/front_layout.css">
	<%= yield :stylesheets %>
</head>
<body>

	<article class="content-wrapper">

		<!-- Header -->
		
			<header>
				<div class="container">

					<h1 class="page-name">MuanhaOnline - Giá trị thực trong tầm tay</h1>

					<!-- Logo -->
					
						<section class="logo">
							<img src="/assets/logo/logo.png">
						</section>
					
					<!-- / Logo -->

					<!-- Navigator -->
					
						<section class="navigator">
							
							<!-- Top -->
							
								<section class="top">
									<article class="item upload">
										<section class="icon ico-upload">
										</section>
										<section class="text">
											Đăng tin
										</section>
									</article>
									<article class="item facebook">
										<section class="icon ico-facebook">
										</section>a
									</article>
									<article class="item sign-in">
										<section class="icon ico-sign-in">
										</section>
										<section class="text">
											Đăng nhập
										</section>
									</article>
								</section>
							
							<!-- / Top -->

							<!-- Bottom -->
							
								<section class="bottom">
									<nav>
										<ul>
											<li>
												<a href="#">Bất động sản</a>
												<ul class="col-2">
													<li>
														<a href="#">Nhà phố</a>
													</li>
													<li>
														<a href="#">Biệt thự</a>
													</li>
													<li>
														<a href="#">Căn hộ chung cư</a>
													</li>
												</ul>
											</li>
											<li>
												<a href="#">Dự án</a>
											</li>
											<li>
												<a href="#">Nhà định giá</a>
											</li>
											<li>
												<a href="#">Doanh nghiệp</a>
											</li>
											<li>
												<a href="#">Tin tức</a>
											</li>
										</ul>
									</nav>
								</section>
							
							<!-- / Bottom -->

						</section>
					
					<!-- / Navigator -->

				</div>
			</header>
		
		<!-- / Header -->

		<!-- Navigator -->
			
			<% if @_main_navigator.present? %>
				<nav class="main-navigator">
					<article class="container">
						<article class="list">
							<% @_main_navigator.each do |item| %>
								<article class="item">
									<a href="<%= item[:url] %>"><%= item[:text] %></a>
								</article>
							<% end %>
						</article>
					</article>
				</nav>
			<% end %>
		
		<!-- / Navigator -->

		<!-- Main -->
		
			<main>
				<%= yield %>
			</main>
		
		<!-- / Main -->

		<!-- Footer -->
		
			<footer>
				
			</footer>
		
		<!-- / Footer -->
		
	</article>

	<script type="text/javascript" src="/assets/shared/jquery.js"></script>
	<script type="text/javascript" src="/assets/shared/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/shared/jquery.mobile.custom.min.js"></script>
	<script type="text/javascript" src="/assets/shared/layout.js"></script>
	<script type="text/javascript" src="/assets/shared/front_layout.js"></script>
	<%= yield :javascripts %>
</body>
</html>