<!DOCTYPE html>
<html>
<head>
	<title><%= @title.blank? ? '' : @title + ' - ' %> Mua nhà online</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="MuaNhaOnline - Giá trị thực trong tầm tay">
	<meta name="keyword" content="<%= @keyword %>">

	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout_front.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/icon.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/form_custom.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/Pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/font-awesome.css">	
	<link rel="stylesheet" type="text/css" href="/assets/shared/slick.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/slick-theme.css">
	<%= yield :stylesheets %>
</head>

<body>
<!-- #start header -->
<header>
	<section class="navbar-fixed-top header-fixed" style="background-color: #fff">
		<div class="container header">
			 <!-- start logo -->
			<article class="logo">
				<a href="/">
					<img src="/assets/logo/logo.png">
				</a>
			</article>
			 <!-- end logo -->

			<!-- start sitemap -->
			<article class="sitemap hidden-xs">
				<ul>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Bất động sản <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/real_estates">Xem tất cả</a></li>
								<li class="divider"></li>
								<li>
									<div class="row-fluid" style="width: 400px">
										<div class="col-sm-6">
											<ul class="unstyled span4">
												<li><a href="/real_estates">Nhà phố</a></li>
												<li><a href="/real_estates">Villa - Biệt thự</a></li>
												<li><a href="/real_estates">Nhà tạm</a></li>
												<li><a href="/real_estates">Căn hộ cao cấp</a></li>
												<li><a href="/real_estates">Căn hộ chung cư</a></li>
												<li><a href="/real_estates">Đất dự án - Quy hoạch</a></li>
												<li><a href="/real_estates">Đất ở - Đất thổ cư</a></li>
												<li><a href="/real_estates">Đất lâm nghiệp</a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="unstyled span4">
												<li><a href="/real_estates">Đất nông nghiệp</a></li>
												<li><a href="/real_estates">Đất cho sản xuất</a></li>
												<li><a href="/real_estates">Văn phòng</a></li>
												<li><a href="/real_estates">Phòng trọ</a></li>
												<li><a href="/real_estates">Mặt bằng - Cửa hàng</a></li>
												<li><a href="/real_estates">Nhà hàng - Khách sạn</a></li>
												<li><a href="/real_estates">Nhà kho - Xưởng</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dự án <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/projects">Xem tất cả</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/projects">Cao ốc văn phòng</a></li>
								<li><a href="/projects">Khu căn hộ</a></li>
								<li><a href="/projects">Khu dân cư - đô thị mới</a></li>
								<li><a href="/projects">Khu phức hợp - thương mại</a></li>
								<li><a href="/projects">Khu du lịch - nghĩ dưỡng</a></li>
								<li><a href="/projects">Khu công nghiệp</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link">
								Doanh nghiệp
							</button>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link">
							Tin tức
							</button>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link">
							Nhà định giá
							</button>
						</div>
					</li>
				</ul>
			</article>
			<!-- end sitemap -->
			
			<!-- start switch button -->
			<article class="switch-button hidden-md hidden-sm hidden-xs">
				<label>
					<% if current_purpose != 's' %>
						<% 
							request.GET['purpose'] = 's'
						%>
						<input type="radio" name="switchType" id="sale">
						<span><a href="?<%= request.GET.map { |k,v| "#{k}=#{v}" }.join('&') %>">Bán</a></span>
					<% else %>
						<input type="radio" name="switchType" id="sale" checked>
						<span><a>Bán</a></span>
					<% end %>
				</label>
				<label>
					<% if current_purpose != 'r' %>
						<% 
							request.GET['purpose'] = 'r'
						%>
						<input type="radio" name="switchType" id="rent">
						<span><a href="?<%= request.GET.map { |k,v| "#{k}=#{v}" }.join('&') %>">Cho thuê</a></span>
					<% else %>
						<input type="radio" name="switchType" id="rent" checked>
						<span><a>Cho thuê</a></span>
					<% end %>
				</label>
			</article>
			<!-- end -->

			<!-- start mini menu -->
			<article class="mini-menu hidden-lg hidden-sm hidden-xs">
				<div class="btn-group">
					<a href="#" class="mini-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="icon-16 icon-menu"></i>
					</a>
					<ul class="dropdown-menu hidden-lg hidden-sm hidden-xs">
						<div style="text-align: center">
							<article class="switch-button">
								<label>
									<input type="radio" name="switchType1" id="sale" checked>
									<span>Bán</span>
								</label>
								<label>
									<input type="radio" name="switchType1" id="rent">
									<span>Cho thuê</span>
								</label>
							</article>
						</div>							
					</ul>				
			</article>

			<article class="mini-menu-1 hidden-lg hidden-md">
				<div class="btn-group">
					<a class="mini-menu" data-toggle-object="mini-menu">
						<i class="icon-16 icon-menu"></i>
					</a>					
			</article>
			<!-- end -->
			 
			 <!-- start function button -->
			<article class="function-button hidden-xs hidden-sm">
				<div class="btn-group">
					<a href="/real_estates/create" class="btn btn-danger btn-sm">Đăng tin</a>
					<button type="button" style="border-left-color:#FF7A12" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">Đăng tin VIP</a></li>
						<li><a href="#">Đăng ký mua/thuê</a></li>                      
						<li role="separator" class="divider"></li>
						<li><a href="#">Đăng ký nhận tin</a></li>
					</ul>
				</div>
			</article>
			 <!-- end function button -->

			<!-- start user-box -->
			<% if signed? %>
				<article class="user-box-login">
					<div class="btn-group">
						<a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<%= user_avatar current_user %>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="/users/<%= current_user.id %>">Thông tin tài khoản</a></li>
							<li><a href="#">Nâng cấp VIP</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/signout">Đăng xuất</a></li>
						</ul>
					</div>
				</article>
			<% else %>
				<article class="user-box hidden-xs hidden-sm">
					<div class="btn-group">
						 <a href="#" class="btn-link dropdown-toggle" data-toggle="dropdown">
							<span>Đăng nhập</span>
						 </a>
						 <ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#signin">Đăng nhập</a></li>
							<li><a href="/signup">Đăng ký</a></li>                      
							<!-- <li role="separator" class="divider"></li>
							<li class="title">Đăng nhập bằng:</li>
							<li class="social-link">
								 <a href="#"><img src="/assets/logo/facebook-32.png"></a>
								 <a href="#"><img src="/assets/logo/google_plus-32.png"></a>	 
							</li> -->
						</ul>
					</div>
				</article>
			<% end %>
			<!-- end user -->
		</div>
	</section>
</header>
<!-- #end header -->

<!-- #start main frame -->
<main>
	<%= yield %>
</main>
<!-- #end main frame -->

<!-- #start footer -->
<footer>
	<div class="container">
		<div class="content row">
			<div class="col-md-3 item">
				<div class="title">Chính sách</div>
				<ul class="details">
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Điều khoản sử dụng</a></li>
					<li><a href="#">Quyền lợi thành viên</a></li>
					<li><a href="#">Chính sách bảo mật</a></li>				
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Từ khóa tìm kiếm nhiều nhất</div>
				<ul class="details">
					<li><a href="#">Nhà phố quận 1</a></li>
					<li><a href="#">Novaland</a></li>
					<li><a href="#">Căn hộ giá rẻ cho công nhân</a></li>
					<li><a href="#">Nhà ở trung tâm Thành phố</a></li>
					<li><a href="#">Xem thêm</a></li>
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Sơ đồ website</div>
				<ul class="details">
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Bất động sản</a></li>
					<li><a href="#">Dự án</a></li>
					<li><a href="#">Tin tức</a></li>
					<li><a href="#">Doanh nghiệp</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Theo dõi chúng tôi trên</div>
				<ul class="social">
					<li>
						<a href="#">
							<i class="icon icon-facebook"></i>
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon icon-googleplus"></i>
							<span>Google+</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon icon-youtube"></i>
							<span>Youtube</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="information">
			<hr>
			<p>
				Công ty TNHH Tư Vấn BĐS Thịnh An<br>
				Tầng 1, Tòa nhà Rosana, số 60 Nguyễn Đình Chiểu, phường Đa Kao, Quận 1, TPHCM<br>
				ĐT: (84-8) 2221 1906 - Fax: (84-8) 222 02201<br>
				Email: info@muanhaonline.vn
			</p>			
		</div>
	</div>
	<!-- <div class="information">
			<hr>
			<p>
				Công ty TNHH Tư Vấn BĐS Thịnh An<br>
				Tầng 1, Tòa nhà Rosana, số 60 Nguyễn Đình Chiểu, phường Đa Kao, Quận 1, TPHCM<br>
				ĐT: (84-8) 2221 1906 - Fax: (84-8) 222 02201<br>
				Email: info@muanhaonline.vn
			</p>
			<p>
				theo dõi chúng tôi trên
				<a href="#"><img src="/assets/icon/facebook2.png"></a>
				<a href="#"><img src="/assets/icon/twitter2.png"></a>
				<a href="#"><img src="/assets/icon/youtube2.png"></a>
				<a href="#"><img src="/assets/icon/google2.png"></a>
			</p>
	</div> -->
</footer>
<!-- #end footer -->

<!-- start mini menu -->
<section class="cover-wall hidden-md hidden-lg" data-object="mini-menu">
	<div class="mini-menu-content">
		<% unless signed? %>
			<section class="mini-user-box">			
				<a href="/signin" class="btn btn-primary btn-sm">Đăng nhập</a>
				<a class="btn btn-primary btn-sm">Đăng ký</a>			
				<div class="sign-with-social">
					<span>Đăng nhập với:</span>
					<i class="icon icon-facebook"></i>
					<i class="icon icon-googleplus"></i>
				</div>
			</section>
		<% end %>
		<section class="mini-sitemap hidden-sm">
			<ul>
				<li>
					<a data-toggle-object="bds-dropdownmenu" data-toggle-style="fade">Bất động sản</a>
				</li>
				<li data-object="bds-dropdownmenu" style="display: none">
					<ul>
						<li class="all"><a href="/real_estates">Xem tất cả</a></li>
						<li><a href="/real_estates">Nhà phố</a></li>
						<li><a href="/real_estates">Villa - Biệt thự</a></li>
						<li><a href="/real_estates">Nhà tạm</a></li>
						<li><a href="/real_estates">Căn hộ cao cấp</a></li>
						<li><a href="/real_estates">Căn hộ chung cư</a></li>
						<li><a href="/real_estates">Đất dự án - Quy hoạch</a></li>
						<li><a href="/real_estates">Đất ở - Đất thổ cư</a></li>
						<li><a href="/real_estates">Đất lâm nghiệp</a></li>
						<li><a href="/real_estates">Đất nông nghiệp</a></li>
						<li><a href="/real_estates">Đất cho sản xuất</a></li>
						<li><a href="/real_estates">Văn phòng</a></li>
						<li><a href="/real_estates">Phòng trọ</a></li>
						<li><a href="/real_estates">Mặt bằng - Cửa hàng</a></li>
						<li><a href="/real_estates">Nhà hàng - Khách sạn</a></li>
						<li><a href="/real_estates">Nhà kho - Xưởng</a></li>
					</ul>
				</li>
				<li>
					<a data-toggle-object="du-an-dropdownmenu" data-toggle-style="fade">Dự án</a>
				</li>
				<li data-object="du-an-dropdownmenu" style="display: none">
					<ul>
						<li class="all"><a href="/projects">Xem tất cả</a></li>
						<li><a href="/projects">Cao ốc văn phòng</a></li>
						<li><a href="/projects">Khu căn hộ</a></li>
						<li><a href="/projects">Khu dân cư - đô thị mới</a></li>
						<li><a href="/projects">Khu phức hợp - thương mại</a></li>
						<li><a href="/projects">Khu du lịch - nghĩ dưỡng</a></li>
						<li><a href="/projects">Khu công nghiệp</a></li>
					</ul>
				</li>
				<li>
					<a>Doanh nghiệp</a>
				</li>
				<li>
					<a>Tin tức</a>
				</li>
				<li>
					<a>Liên hệ</a>
				</li>
				<li>
					<a>Nhà định giá</a>
				</li>
			</ul>
		</section>
	</div>	
</section>
<!-- end -->

<!-- start modal -->
<!-- Đăng nhập Modal -->
<div class="modal fade" id="signin">
	<div class="modal-dialog modal-sm">
		<form class="modal-content" action="/signin" method="POST">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Đăng nhập</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="account">Tên tài khoản</label>
					<input name="user[account]" class="form-control" type="text" id="account">
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label>
					<input name="user[password]" class="form-control" type="password" id="password">
				</div>
				<div class="form-group">
					<div class="checkbox">
						 <label><input name="remember" type="checkbox">Ghi nhớ</label>
					</div>
				</div>
				<div style="margin-top: 20px">
					<span>Bạn chưa có tài khoản? <a href="/signup">Đăng ký ngay</a></span>
				</div>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-default">Quên mật khẩu</a>
				<button type="submit" class="btn btn-primary">Đăng nhập</button>
			</div>
		</form><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->
</body>

<script type="text/javascript" src="/assets/shared/jquery.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/shared/layout.js"></script>
<script type="text/javascript" src="/assets/shared/layout_front.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="/assets/shared/slick.min.js"></script>
<%= yield :scripts %>
</html>