<!DOCTYPE html>
<html>
<head>
	<title><%= @title.blank? ? '' : @title + ' - ' %> Mua nhà online</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="MuaNhaOnline - Giá trị thực trong tầm tay">
	<meta name="keyword" content="<%= @keyword %>">

	<link rel="shortcut icon" href="/assets/shared/mini_icon.ico">

	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap-datepicker3.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout_front.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/icon.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/form_custom.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/Pe-icon-7-stroke.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/font-awesome.min.css">	
	<link rel="stylesheet" type="text/css" href="/assets/shared/slick.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/slick-theme.css">
	<%= yield :stylesheets %>
</head>

<body data-spy="scroll" data-target=".scrollspy" data-width="<%= current_width_type %>" <%= 'data-signed' if signed? %>>
<div id="loading_page" style="
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    text-align: center;
">
  <i class="fa fa-refresh fa-spin"></i>
</div>
<section class="notice">
	Website đang trong giai đoạn hoàn thiện
</section>
<!-- #start header -->
<header>
	<section class="header-fixed" style="background-color: #fff">
		<div class="container header">
			 <!-- start logo -->
			<article class="logo">
				<a href="/">
					<img src="/assets/logo/logo.png">
				</a>
			</article>
			 <!-- end logo -->

			<!-- start sitemap -->
			<article class="sitemap hidden-xs">
				<ul>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Bất động sản <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/real_estates">Xem tất cả</a></li>
								<li class="divider"></li>
								<li>
									<div class="row-fluid" style="width: 400px">
										<div class="col-sm-6">
											<ul class="unstyled span4">
												<li><a href="/real_estates/list?<%= { real_estate_type: 'town_house' }.to_query :search %>">Nhà phố</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'villa' }.to_query :search %>">Villa - Biệt thự</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'apartment' }.to_query :search %>">Căn hộ chung cư</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'residential_land' }.to_query :search %>">Đất ở - Đất thổ cư</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'vacant_land' }.to_query :search %>">Đất lâm nghiệp</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'forest_land' }.to_query :search %>">Đất nông nghiệp</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'productive_land' }.to_query :search %>">Đất cho sản xuất</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'project_land' }.to_query :search %>">Đất dự án</a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="unstyled span4">
												<li><a href="/real_estates/list?<%= { search_name: 'nt', constructional_level: 'temporary' }.to_query :search %>">Nhà tạm</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'office' }.to_query :search %>">Văn phòng</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'motel' }.to_query :search %>">Phòng trọ</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'store' }.to_query :search %>">Mặt bằng - Cửa hàng</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'restaurant_hotel' }.to_query :search %>">Nhà hàng - Khách sạn</a></li>
												<li><a href="/real_estates/list?<%= { real_estate_type: 'storage_workshop' }.to_query :search %>">Nhà kho - Xưởng</a></li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Dự án <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="/projects">Xem tất cả</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/projects">Cao ốc văn phòng</a></li>
								<li><a href="/projects">Khu căn hộ</a></li>
								<li><a href="/projects">Khu dân cư - đô thị mới</a></li>
								<li><a href="/projects">Khu phức hợp - thương mại</a></li>
								<li><a href="/projects">Khu du lịch - nghĩ dưỡng</a></li>
								<li><a href="/projects">Khu công nghiệp</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<a type="button" href="/real_estates/estimate" class="btn btn-link">
								Nhà định giá
							</a>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link" data-popup="coming-soon">
								Doanh nghiệp
							</button>
						</div>
					</li>
					<li>
						<div class="btn-group">
							<button type="button" class="btn btn-link" data-popup="coming-soon">
							Tin tức
							</button>
						</div>
					</li>					
				</ul>
			</article>
			<!-- end sitemap -->
			
			<!-- start switch button -->
			<article class="switch-button hidden-md hidden-sm hidden-xs">
				<label>
					<% if current_purpose != 's' %>
						<% 
							request.GET['purpose'] = 's'
						%>
						<input type="radio" name="switchType" id="sale">
						<a href="?<%= request.GET.to_query %>">Bán</a>
					<% else %>
						<input type="radio" name="switchType" id="sale" checked>
						<a>Bán</a>
					<% end %>
				</label>
				<label>
					<% if current_purpose != 'r' %>
						<% 
							request.GET['purpose'] = 'r'
						%>
						<input type="radio" name="switchType" id="rent">
						<a href="?<%= request.GET.to_query %>">Cho thuê</a>
					<% else %>
						<input type="radio" name="switchType" id="rent" checked>
						<a>Cho thuê</a>
					<% end %>
				</label>
			</article>
			<!-- end -->

			<!-- start mini menu -->
			<article class="mini-menu hidden-lg hidden-sm hidden-xs">
				<div class="btn-group">
					<a href="#" class="mini-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="icon-16 icon-menu"></i>
					</a>
					<ul class="dropdown-menu hidden-lg hidden-sm hidden-xs">
						<div style="text-align: center">
							<article class="switch-button">
								<label>
									<input type="radio" name="switchType1" id="sale" checked>
									<span>Bán</span>
								</label>
								<label>
									<input type="radio" name="switchType1" id="rent">
									<span>Cho thuê</span>
								</label>
							</article>
						</div>							
					</ul>				
			</article>

			<article class="mini-menu-1 hidden-lg hidden-md">
				<div class="btn-group">
					<a class="mini-menu" id="mini_menu">
						<i class="icon-16 icon-menu"></i>
					</a>					
			</article>
			<!-- end -->
			 
			 <!-- start function button -->
			<article class="function-button hidden-xs hidden-sm">
				<div class="btn-group">
					<a href="/real_estates/create" class="btn btn-danger btn-sm">Đăng tin</a>
					<button type="button" style="border-left-color:#FF7A12" class="btn btn-danger btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
						<span class="sr-only">Toggle Dropdown</span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void(0)" data-popup="coming-soon">Đăng tin VIP</a></li>
						<li><a href="javascript:void(0)" data-popup="coming-soon">Đăng ký mua/thuê</a></li>                      
						<li role="separator" class="divider"></li>
						<li><a href="javascript:void(0)" data-popup="coming-soon">Đăng ký nhận tin</a></li>
						<li><a href="/blogs">Blog</a></li>
					</ul>
				</div>
			</article>
			 <!-- end function button -->

			<!-- start user-box -->
			<% if signed? %>
				<article class="user-box-login">
					<div class="btn-group">
						<a class="btn btn-link dropdown-toggle" data-toggle="dropdown">
							<%= user_avatar current_user %>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><a href="/users/<%= current_user.id %>">Thông tin tài khoản</a></li>
							<li><a href="javascript:void(0)" data-popup="coming-soon">Nâng cấp VIP</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="/signout">Đăng xuất</a></li>
						</ul>
					</div>
				</article>
			<% else %>
				<article class="user-box hidden-xs hidden-sm">
					<div class="btn-group">
						 <a href="#" class="btn-link dropdown-toggle" data-toggle="dropdown">
							<span>Đăng nhập</span>
						 </a>
						 <ul class="dropdown-menu">
							<li><a href="#" data-toggle="modal" data-target="#signin">Đăng nhập</a></li>
							<li><a href="/signup">Đăng ký</a></li>                      
							<li role="separator" class="divider"></li>
							<li class="title">
								<span>Đăng nhập bằng: </span>
								<i aria-click="facebook_login" class="icon icon-facebook"></i>
							</li>
							<!-- <li class="social-link">
								 <a aria-click="facebook_login" href="javascript:void(0)"><img src="/assets/logo/facebook-32.png"></a>
								 <a href="#"><img src="/assets/logo/google_plus-32.png"></a>
							</li> -->
						</ul>
					</div>
				</article>
			<% end %>
			<!-- end user -->
		</div>
	</section>
</header>
<!-- #end header -->

<!-- #start main frame -->
<main>
	<%= yield %>
</main>
<!-- #end main frame -->

<!-- Contact box -->
	
	<section class="contact-box-container">
		<% if cookies[:was_give_info] %>
			<article class="contact-box" style="width: auto;">
				<section class="box-header">
					<h2 class="box-title">
						<span class="fa fa-phone fa-lg"></span> 0939.26.24.26
					</h2>
				</section>
			</article>
		<% else %>
			<article class="contact-box">
				<section class="box-header">
					<h2 class="box-title">
						Hãy liên hệ với chúng tôi
						<br />
						<span class="fa fa-phone fa-lg"></span> 0939.26.24.26
					</h2>
				</section>
				<section class="box-body">
					<p class="or" style="text-align: center; color: #888; margin-top: -10px; font-weight: bold;">Hoặc gửi</p>
					<form id="contact_form">
						<article class="form-group">
							<input class="form-control" type="text" name="contact[name]" placeholder="Tên của bạn" />
						</article>
						<article class="form-group">
							<input class="form-control" type="text" name="contact[phone_number]" placeholder="Điện thoại của bạn" />
						</article>
						<article class="form-group">
							<input class="form-control" type="text" name="contact[email]" placeholder="Email của bạn" />
						</article>
						<article class="text-center">
							<button type="submit" class="btn btn-primary btn-link">Gửi</button>
						</article>
					</form>
				</section>
			</article>
		<% end %>
	</section>

<!-- / Contact box -->

<!-- #start footer -->
<footer>
	<div class="container">
		<div class="content row">
			<div class="col-md-3 item">
				<div class="title">Chính sách</div>
				<ul class="details">
					<li><a href="#">Giới thiệu</a></li>
					<li><a href="#">Điều khoản sử dụng</a></li>
					<li><a href="#">Hướng dẫn sử dụng</a></li>
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Từ khóa tìm kiếm nhiều nhất</div>
				<ul class="details">
					<li><a href="#">Nhà phố quận 1</a></li>
					<li><a href="#">Novaland</a></li>
					<li><a href="#">Căn hộ giá rẻ cho công nhân</a></li>
					<li><a href="#">Nhà ở trung tâm Thành phố</a></li>
					<li><a href="#">Xem thêm</a></li>
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Sơ đồ website</div>
				<ul class="details">
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Bất động sản</a></li>
					<li><a href="#">Dự án</a></li>
					<li><a href="#">Tin tức</a></li>
					<li><a href="#">Doanh nghiệp</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
			<div class="col-md-3 item">
				<div class="title">Theo dõi chúng tôi trên</div>
				<ul class="social">
					<li>
						<a href="#">
							<i class="icon icon-facebook"></i>
							<span>Facebook</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon icon-googleplus"></i>
							<span>Google+</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon icon-youtube"></i>
							<span>Youtube</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="information">
			<hr>
			<p>
				Công ty TNHH Tư Vấn BĐS Thịnh An<br>
				Tầng 7, số 60 Nguyễn Văn Thủ, P. Đa Kao, Quận 1, Tp. Hồ Chí Minh<br>
				ĐT: (+84) 939 262 426<br>
				Email: info@muanhaonline.com.vn<br>
				Mã số thuế: 0311281970
			</p>			
		</div>
	</div>
	<!-- <div class="information">
			<hr>
			<p>
				Công ty TNHH Tư Vấn BĐS Thịnh An<br>
				Tầng 7, số 60 Nguyễn Văn Thủ, P. Đa Kao, Quận 1, Tp. Hồ Chí Minh<br>
				ĐT: (84-8) 2221 1906 - Fax: (84-8) 222 02201<br>
				Email: info@muanhaonline.com.vn<br>

			</p>
			<p>
				theo dõi chúng tôi trên
				<a href="#"><img src="/assets/icon/facebook2.png"></a>
				<a href="#"><img src="/assets/icon/twitter2.png"></a>
				<a href="#"><img src="/assets/icon/youtube2.png"></a>
				<a href="#"><img src="/assets/icon/google2.png"></a>
			</p>
	</div> -->
</footer>
<!-- #end footer -->

<!-- start mini menu -->
<section class="cover-wall hidden-md hidden-lg" id="content_mini_menu">
	<div class="popup-out"></div>
	<div class="content">
		<% unless signed? %>
			<section class="mini-user-box">			
				<a href="/signin" class="btn btn-primary btn-sm">Đăng nhập</a>
				<a class="btn btn-primary btn-sm">Đăng ký</a>			
				<div class="sign-with-social">
					<span>Đăng nhập với:</span>
					<a aria-click="facebook_login" href="javascript:void(0)"><i class="icon icon-facebook"></i></a>
					<!-- <i class="icon icon-googleplus"></i> -->
				</div>
			</section>
		<% end %>
		<section class="mini-sitemap hidden-sm">
			<ul>
				<li>
					<a data-toggle-object="bds-dropdownmenu" data-toggle-style="fade">Bất động sản</a>
				</li>
				<li data-object="bds-dropdownmenu" style="display: none">
					<ul>
						<li class="all"><a href="/real_estates">Xem tất cả</a></li>
						<li><a href="/real_estates">Nhà phố</a></li>
						<li><a href="/real_estates">Villa - Biệt thự</a></li>
						<li><a href="/real_estates">Nhà tạm</a></li>
						<li><a href="/real_estates">Căn hộ cao cấp</a></li>
						<li><a href="/real_estates">Căn hộ chung cư</a></li>
						<li><a href="/real_estates">Đất dự án - Quy hoạch</a></li>
						<li><a href="/real_estates">Đất ở - Đất thổ cư</a></li>
						<li><a href="/real_estates">Đất lâm nghiệp</a></li>
						<li><a href="/real_estates">Đất nông nghiệp</a></li>
						<li><a href="/real_estates">Đất cho sản xuất</a></li>
						<li><a href="/real_estates">Văn phòng</a></li>
						<li><a href="/real_estates">Phòng trọ</a></li>
						<li><a href="/real_estates">Mặt bằng - Cửa hàng</a></li>
						<li><a href="/real_estates">Nhà hàng - Khách sạn</a></li>
						<li><a href="/real_estates">Nhà kho - Xưởng</a></li>
					</ul>
				</li>
				<li>
					<a data-toggle-object="du-an-dropdownmenu" data-toggle-style="fade">Dự án</a>
				</li>
				<li data-object="du-an-dropdownmenu" style="display: none">
					<ul>
						<li class="all"><a href="/projects">Xem tất cả</a></li>
						<li><a href="/projects">Cao ốc văn phòng</a></li>
						<li><a href="/projects">Khu căn hộ</a></li>
						<li><a href="/projects">Khu dân cư - đô thị mới</a></li>
						<li><a href="/projects">Khu phức hợp - thương mại</a></li>
						<li><a href="/projects">Khu du lịch - nghĩ dưỡng</a></li>
						<li><a href="/projects">Khu công nghiệp</a></li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0)" data-popup="coming-soon">Doanh nghiệp</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-popup="coming-soon">Tin tức</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-popup="coming-soon">Liên hệ</a>
				</li>
				<li>
					<a href="javascript:void(0)" data-popup="coming-soon">Nhà định giá</a>
				</li>
			</ul>
		</section>
	</div>	
</section>
<!-- end -->

<!-- start modal -->
<!-- Đăng nhập Modal -->
<div class="modal fade" id="signin">
	<div class="modal-dialog modal-sm">
		<form class="modal-content" action="/signin" method="POST">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Đăng nhập</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="account">Tên tài khoản</label>
					<input name="user[account]" class="form-control" type="text" id="account">
				</div>
				<div class="form-group">
					<label for="password">Mật khẩu</label>
					<input name="user[password]" class="form-control" type="password" id="password">
				</div>
				<div class="form-group">
					<div class="checkbox">
						 <label><input name="remember" type="checkbox">Ghi nhớ</label>
					</div>
				</div>
				<div style="margin: 20px 0">
					<span>Bạn chưa có tài khoản? <a class="signup-now" href="/signup">Đăng ký ngay</a></span>
				</div>
				<!-- <div>
					<div class="sign-with-social">
						<span>Đăng nhập với:</span>
						<a aria-click="facebook_login" href="javascript:void(0)"><i class="icon icon-facebook"></i></a>
					</div>
				</div> -->
			</div>
			<div class="modal-footer">
				<a href="/users/forgot_password" class="btn btn-default">Quên mật khẩu</a>
				<button type="submit" class="btn btn-primary">Đăng nhập</button>
			</div>
		</form><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->

<!-- start btn-favorite Modal -->
<div class="modal fade" id="coming_soon_popup">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Thông báo</h4>
			</div>
			<div class="modal-body">
				<span>Chức năng này đang hoàn thiện...</span>
			</div>			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->

<!-- start show picture Modal -->
<div class="modal fade modal-show-picture" id="picture_popup">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">			
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<img src="">
			</div>			
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- end modal -->
</body>

<script type="text/javascript" src="/assets/shared/jquery.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap.js"></script>
<script type="text/javascript" src="/assets/shared/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.cookie.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.mobile.custom.min.js"></script>
<script type="text/javascript" src="/assets/shared/layout.js"></script>
<script type="text/javascript" src="/assets/shared/layout_front.js"></script>
<script type="text/javascript" src="/assets/shared/jquery.dotdotdot.min.js"></script>
<script type="text/javascript" src="/assets/shared/slick.min.js"></script>
<%= yield :scripts %>
<% unless signed? %>
	<script type="text/javascript">
	  $(function () {
	  	initFacebook();
	  });

	  /*
	    Facebook
	  */

	    function initFacebook() {
	      $('[aria-click="facebook_login"]').on('click', function () {
	        request();
	      });
	    }
	    
	    function request() {
	      FB.login(function (response) {
	        if (response.status == 'connected') {
	          FB.api('/me/permissions', function(response) {
	            var valid = true;
	            $(response.data).each(function () {
	              if (this.status != 'granted') {
	                valid = false;
	                alert('Vui lòng chấp nhận các đề xuất từ MuanhaOnline');
	                return false;
	              }
	            });
	            if (valid) {
	            	$.ajax({
	            		url: '/auth/facebook/callback'
	            	}).done(function () {
	            		window.location = '/';
	            	}).fail(function () {
	            		alert('Đăng nhập thất bại, vui lòng thử lại');
	            	});
	            }
	          }); 
	        }
	      }, {
	        scope: 'public_profile,email',
	        auth_type: 'rerequest'
	      });
	    }

			window.fbAsyncInit = function() {
			  FB.init({
			    appId      : '1456463541347476',
			    xfbml      : true,
			    cookie     : true,
			    version    : 'v2.4'
			  });
			};

			(function(d, s, id){
			   var js, fjs = d.getElementsByTagName(s)[0];
			   if (d.getElementById(id)) {return;}
			   js = d.createElement(s); js.id = id;
			   js.src = "//connect.facebook.net/en_US/sdk.js";
			   fjs.parentNode.insertBefore(js, fjs);
			 }(document, 'script', 'facebook-jssdk'));

		/*
			/ Facebook
		*/

	</script>
<% end %>
<!-- Google analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-70839803-1', 'auto');
	  ga('send', 'pageview');
	</script>
<!-- / Google analytics -->
</html>